Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Move some includes where they are used and add some const
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Move some includes where they are used and add some const (#837)
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Remove potentially confusing "Data" from generated type list name
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add the Python headers to the system includes to avoid warnings
  src/CMakeLists.txt
Due: none

Change also to SYSTEM PUBLIC for dictionaries
  cmake/podioMacros.cmake
Due: none

Add the Python headers to the system includes to avoid warnings (#839)
  cmake/podioMacros.cmake
  src/CMakeLists.txt
Due: none

Delete extra include_dirs
  cmake/podioMacros.cmake
Due: none

Remove duplicated include directories for generated datamodels (#840)
  cmake/podioMacros.cmake
Due: none

Add a memory limit to schema evolution tests
  .github/workflows/sanitizers.yaml
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add a memory limit to schema evolution tests (#836)
  .github/workflows/sanitizers.yaml
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Unset ROOT_LIBRARY_PATH in tests to better control the environment
  cmake/podioDoxygen.cmake
  cmake/podioTest.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/unittests/CMakeLists.txt
Due: none

Make sure to not consume all available memory on garbage data
  include/podio/CollectionBuffers.h
Due: clang-format, cppcheck, clang-tidy

Always assert on input vectors
  include/podio/CollectionBuffers.h
Due: clang-format, cppcheck, clang-tidy

Add some more clarifying comments highlighting current issues
  include/podio/CollectionBuffers.h
Due: clang-format, cppcheck, clang-tidy

Randomize the test order to detect hidden dependencies
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Fix typo
  .github/workflows/test.yml
Due: none

Add timeouts to test running to fail earlier
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Randomize the test order to detect hidden dependencies (#843)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Make schema evolution changes retrigger code gen
  cmake/podioMacros.cmake
Due: none

Refactor the schema evolution detection to reduce internal state
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Make RootIoRule a dataclass
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out judging of changes from detecting them
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Make sure to load the versioned namespace for components
  python/podio/test_Pythonizations.py
Due: pylint, flake8

Add version namespaces to components as well
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: none

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Do not put latest version in namespace
  python/podio/test_Pythonizations.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add schema evolution test using arrays of components
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add test for schema evolution where nothing changes
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Remove no longer used code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Only generate xml comments if necessary
  python/templates/selection.xml.jinja2
Due: none

Adapt code generation to work with new versioned classes
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Create a dedicated class for reading custom changes
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Use new migration reader and adapt existing tests
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Make ADD_SCHEMA_EVOLUTION_TEST accept multiple old versions
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Make it possible to pass multiple old schema versions
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add test for confirming component member renames are propery detected
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: none

Add machinery and a first test with multiple old versions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy
