Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Use hasID() inside isValid()
  python/templates/Collection.h.jinja2
Due: none

Deprecate `isValid()` for collections and add `hasID()` (#860)
  doc/datamodel_syntax.md
  doc/examples.md
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  src/DataSource.cc
  tests/read_frame.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_collection_base.html
  master/cpp_api/class/classpodio_1_1_link_collection.html
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_collection_base_8h.html
  master/cpp_api/file/_link_collection_impl_8h.html
  master/cpp_api/file/_user_data_collection_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/datamodel_syntax.html
  master/examples.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Add exception for the thread sanitizer
  tests/CTestCustom.cmake
Due: none

Add a [[maybe_unused]] to silence warnings
  python/templates/CollectionData.cc.jinja2
Due: none

Add segmentation fault
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add code to trigger an error when reading garbage data
  python/templates/CollectionData.cc.jinja2
Due: none

Add to exceptions for the address sanitizer
  tests/CTestCustom.cmake
Due: none

Add test
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Use fixtures, add a comment, make errors give more info
  python/templates/CollectionData.cc.jinja2
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Fix reading an RNTuple with a deleted type, add a test to do so
  src/RNTupleReader.cc
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/datatypes_remove_type/check.cpp
  tests/schema_evolution/code_gen/datatypes_remove_type/new.yaml
  tests/schema_evolution/code_gen/datatypes_remove_type/old.yaml
Due: clang-format, cppcheck, clang-tidy

Fix a few spaces
  tests/schema_evolution/code_gen/datatypes_remove_type/check.cpp
  tests/schema_evolution/code_gen/datatypes_remove_type/new.yaml
  tests/schema_evolution/code_gen/datatypes_remove_type/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add a comment
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Ignore new tests for most sanitizer runs
  tests/CTestCustom.cmake
Due: none

Add a check for the ROOT version in RNTupleReader.cc
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Do not load the deprecated pythonization collection_subscript
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

Do not load the deprecated pythonization collection_subscript (#864)
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

Fix reading an RNTuple with a deleted type, add a test to do so (#862)
  src/RNTupleReader.cc
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/datatypes_remove_type/check.cpp
  tests/schema_evolution/code_gen/datatypes_remove_type/new.yaml
  tests/schema_evolution/code_gen/datatypes_remove_type/old.yaml
Due: clang-format, cppcheck, clang-tidy

Make RNTupleReader::getEntries const
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Do not call getEntries when it's not needed
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Make RNTupleReader::getEntries const (#865)
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_r_n_tuple_reader.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_r_n_tuple_reader_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Add ugly code to trigger an error when reading garbage (#846)
  python/templates/CollectionData.cc.jinja2
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Use a handle to a file or stream in the writers to check if we are done
  include/podio/RNTupleWriter.h
  include/podio/ROOTWriter.h
  include/podio/SIOWriter.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/SIOWriter.cc
Due: clang-format, cppcheck, clang-tidy

Improve grammar in a comment
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
Due: clang-format, cppcheck, clang-tidy

Add a policy to calls to Frame::get
  include/podio/Frame.h
  include/podio/FramePolicies.h
Due: clang-format, cppcheck, clang-tidy

Add unittests
  include/podio/FramePolicies.h
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Use a handle to a file or stream in the writers to check if we are done (#867)
  include/podio/RNTupleWriter.h
  include/podio/ROOTWriter.h
  include/podio/SIOWriter.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/SIOWriter.cc
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/file/_r_n_tuple_writer_8h.html
  master/cpp_api/file/_r_o_o_t_writer_8h.html
  master/cpp_api/file/_s_i_o_writer_8h.html
  master/cpp_api/filelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Make test read all collections
  tests/schema_evolution/code_gen/datatypes_remove_type/check.cpp
Due: clang-format, cppcheck, clang-tidy

Add ReadOptions to SIOReader
  include/podio/SIOReader.h
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Make Reader interface understand ReadOptions
  include/podio/Reader.h
Due: clang-format, cppcheck, clang-tidy
