Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Make `RelationRange` a proper view (#727)
  include/podio/RelationRange.h
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

[ci] Switch to LCG_106b for sanitizer workflows
  .github/workflows/sanitizers.yaml
Due: none

Switch to newer versions for LCG builds
  .github/workflows/test.yml
Due: none

[ci] Switch to LCG_106b for sanitizer workflows (#730)
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
Due: none

Make sure to set valid and collectionID for all links
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Make sure to set valid and collectionID for all links (#732)
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Add content checks for roundtripped files with dropped collections
  tests/selected_colls_roundtrip.h
Due: clang-tidy, clang-format

Update docstrings to inform about the exception
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
Due: clang-tidy, clang-format

Remove double return
  tests/root_io/read_interface_rntuple.cpp
Due: clang-tidy, clang-format

Replace a pair with a struct
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Add include guards
  tests/selected_colls_roundtrip.h
Due: clang-tidy, clang-format

Improve error message on failing tests
  tests/read_frame.h
Due: clang-tidy, clang-format

Enable selective reading in Reader interface
  include/podio/Reader.h
  tests/read_frame.h
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/sio_io/read_interface_sio.cpp
Due: clang-tidy, clang-format

Add possibility to select colections to python API
  include/podio/ROOTLegacyReader.h
  include/podio/SIOLegacyReader.h
  python/podio/base_reader.py
  python/podio/frame_iterator.py
  python/podio/test_Reader.py
  src/ROOTLegacyReader.cc
  src/SIOLegacyReader.cc
Due: clang-tidy, clang-format, pylint, flake8

Don't run tests that miss inputs for sanitizers
  tests/CTestCustom.cmake
Due: none

Bump minimum ROOT version for RNTuple support
  CMakeLists.txt
Due: none

Add test case for checking whether reading limited set works
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Make ROOTReader capable of only reading a subset
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Move test function into header and template it
  tests/read_frame.h
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Remove obsolete checks
  include/podio/SIOFrameData.h
  src/SIOFrameData.cc
Due: clang-tidy, clang-format

Throw an exception instead of ignoring non-existant names
  include/podio/SIOFrameData.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Update readme to reflect new ROOT requirements
  README.md
Due: none

Make sure that passing non-existent names doesn't break
  tests/read_frame.h
Due: clang-tidy, clang-format

Add possibility to limit collections to RDataSource
  include/podio/DataSource.h
  src/DataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Add basic checks for roundtripping
  tests/root_io/CMakeLists.txt
  tests/root_io/selected_colls_roundtrip_rntuple.cpp
  tests/root_io/selected_colls_roundtrip_root.cpp
  tests/selected_colls_roundtrip.h
  tests/sio_io/CMakeLists.txt
  tests/sio_io/selected_colls_roundtrip_sio.cpp
Due: clang-tidy, clang-format

Remove no longer necessary special casing
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Add selective collection reading to RNTupleReader
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
  tests/root_io/read_rntuple.cpp
Due: clang-tidy, clang-format

Also check auxiliary information for RNTuple
  tests/root_io/read_rntuple.cpp
Due: clang-tidy, clang-format

Add simple test for reusing collection names
  tests/read_frame.h
Due: clang-tidy, clang-format

Improve formatting
  tests/read_frame.h
Due: clang-tidy, clang-format

Add selective collection reading to SIO
  include/podio/SIOFrameData.h
  include/podio/SIOReader.h
  src/SIOFrameData.cc
  src/SIOReader.cc
  tests/sio_io/read_frame_sio.cpp
Due: clang-tidy, clang-format

add reading multiple files and glob patterns with `get_reader`
  python/podio/reading.py
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_glob.py
Due: pylint, flake8

remove obsolete include
  tests/root_io/read_glob.cpp
Due: clang-tidy, clang-format

add globbing support in `Reader` and `DataSource`
  include/podio/DataSource.h
  include/podio/Reader.h
  src/DataSource.cc
  src/Reader.cc
  src/globUtils.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_datasource.py
  tests/root_io/read_glob.cpp
  tests/root_io/write_frame_root.cpp
Due: clang-tidy, clang-format, pylint, flake8

add docstrings, error handling, throwing on unsupported platforms
  src/globUtils.h
Due: clang-tidy, clang-format

move glob to utils
  include/podio/utilities/Glob.h
  src/CMakeLists.txt
  src/DataSource.cc
  src/Glob.cc
  src/Reader.cc
  src/globUtils.h
Due: clang-tidy, clang-format

fix broken syntax in branch for no-glob platforms
  src/globUtils.h
Due: clang-tidy, clang-format

Revert "add reading multiple files and glob patterns with `get_reader`"
  python/podio/reading.py
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_glob.py
Due: pylint, flake8

exclude test from sanitizers since otherwise its dependencies are not met
  tests/CTestCustom.cmake
Due: none

test standalone glob utility
  tests/root_io/read_glob.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
