Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Forward-declare PyObject not to have to include Python.h
  include/podio/detail/Pythonizations.h
  src/CMakeLists.txt
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary target_include_directories for python
  src/CMakeLists.txt
Due: none

fix: hide Obj, Data, CollectionData in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

docs: podio.core: generalize from ROOT- to I/O-independent functionality
  doc/modules.md
Due: none

fix: cpp_generator._build_type_info -> generator_utils.qualified_for_modules
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

feat: add tests/test_module_import
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/test_module_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: pre-commit
  cmake/podioModules.cmake
  doc/modules.md
  python/podio_gen/generator_utils.py
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: add Threads dependency to podioConfig
  cmake/podioConfig.cmake.in
Due: none

fix: pre-commit with -DPODIO_ENABLE_CXX_MODULES=ON
  .github/workflows/pre-commit.yml
Due: none

fix: clang-format
  src/podio_core_module.ixx
  tests/test_module_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: pylint and flake8 style
  python/podio_gen/generator_utils.py
  tests/scripts/test_module_generation.py
Due: pylint, flake8

fix: style
  python/podio_gen/generator_utils.py
Due: pylint, flake8

fix: remove generation, integration, unit tests
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: disable modules in pre-commit again
  .github/workflows/pre-commit.yml
Due: none

fix: consistently use PODIO_ENABLE_CXX_MODULES (incl. in CI)
  .github/workflows/test.yml
  doc/modules.md
Due: none

fix: update docs to avoid podio_MODULES_AVAILABLE
  doc/modules.md
Due: none

Forward-declare PyObject not to have to include Python.h (#910)
  include/podio/detail/Pythonizations.h
  src/CMakeLists.txt
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

fix: append sys.abiflags to e.g. python3.14 in env.sh
  env.sh
Due: none

fix: support free-threaded python3.14t/site-packages prefixes
  cmake/podioBuild.cmake
Due: none

Update documentation for master
  master/cpp_api/class/classpodio_1_1_datamodel_definition_holder.html
  master/cpp_api/class/classpodio_1_1_generic_parameters.html
  master/cpp_api/class/classpodio_1_1_link_obj.html
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespace/namespacepodio_1_1root__utils.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_relation_names.html
  master/cpp_api/struct/structpodio_1_1_schema_evolution_1_1_map_index.html
Due: none

fix: install into free-threaded python3.14t/site-packages prefixes (#911)
  cmake/podioBuild.cmake
  env.sh
Due: none

Fix missing quotes
  python/podio_gen/generator_base.py
Due: pylint, flake8

Honor TMPDIR env variable if it is set
  python/podio_gen/generator_base.py
Due: pylint, flake8

Add a bytecode cache to speed up jinja template compilation
  python/podio_gen/generator_base.py
Due: pylint, flake8

Use a cache for compiled jinja templates (#913)
  python/podio_gen/generator_base.py
Due: pylint, flake8

Add a test in python and C++ writing a frame with no collections
  tests/root_io/CMakeLists.txt
  tests/root_io/write_empty_collections_root.cpp
  tests/write_empty_collections.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Make the python writers have the same behavior as the C++ writers
  python/podio/base_writer.py
Due: pylint, flake8

Exclude tests for sanitizers
  tests/CTestCustom.cmake
Due: none

Use an std::unique_ptr to guarantee a TFile is deleted
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

Make sure a file is closed after opening it (#917)
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

Make the python writers have the same behavior as the C++ writers (#897)
  python/podio/base_writer.py
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/write_empty_collections_root.cpp
  tests/write_empty_collections.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Add a few NOLINT in unittest.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Remove the llvm-header-guard check for clang-tidy, seems buggy
  .clang-tidy
Due: none

Remove the llvm-header-guard check for clang-tidy (#915)
  .clang-tidy
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Use the result of the binary search call in `checkConsistentColls`
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Fix check and add a test
  src/rootUtils.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add a cppcheck suppression
  .cppcheck-suppressions.txt
Due: none

Use comp
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Update tests/unittests/unittest.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Make test check what it claims to check
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy
