Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Import from the correct place
  python/podio/frame_iterator.py
Due: pylint, flake8

Add a getAvailableCollections method in python
  python/podio/frame.py
Due: pylint, flake8

Deprecated .collections
  python/podio/frame.py
  tools/podio-dump
Due: pylint, flake8

Change the remaining .collections calls
  python/podio/test_Frame.py
Due: pylint, flake8

Fix import order
  python/podio/frame.py
Due: pylint, flake8

Fix line length
  python/podio/test_Frame.py
Due: pylint, flake8

Use warnings from the warnings library
  python/podio/frame.py
Due: pylint, flake8

Add comma
  python/podio/frame.py
Due: pylint, flake8

Add a getAvailableCollections method in python (#536)
  python/podio/frame.py
  python/podio/test_Frame.py
  tools/podio-dump
Due: pylint, flake8

Use getAvailableCollections() instead of the deprecated .collections
  python/podio/base_writer.py
Due: pylint, flake8

Add a class to clean up the writers
  python/podio/root_io.py
Due: pylint, flake8

Add a try - except for the writers without a finish()
  python/podio/root_io.py
Due: pylint, flake8

Fix pre-commit
  python/podio/root_io.py
Due: pylint, flake8

Add a space
  python/podio/root_io.py
Due: pylint, flake8

Move the class to base_writer.py
  python/podio/base_writer.py
  python/podio/root_io.py
Due: pylint, flake8

Run super with SIO too
  python/podio/sio_io.py
Due: pylint, flake8

Fix crash when a writer is in the global namespace (#539)
  python/podio/base_writer.py
  python/podio/root_io.py
  python/podio/sio_io.py
Due: pylint, flake8

Use getAvailableCollections() instead of the deprecated .collections (#538)
  python/podio/base_writer.py
Due: pylint, flake8

Add a check using ROOT_CXX_STANDARD
  CMakeLists.txt
Due: none

Clarify comment
  CMakeLists.txt
Due: none

updated .gitignore
  .gitignore
Due: none

fixed typos
  doc/advanced_topics.md
  doc/datamodel_syntax.md
  doc/examples.md
  doc/templates.md
  include/podio/CollectionBufferFactory.h
  include/podio/FrameCategories.h
  include/podio/GenericParameters.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/SIOFrameReader.h
  include/podio/SIOLegacyReader.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/utilities/MaybeSharedPtr.h
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format, pylint, flake8

Add a check for matching C++ standard
  CMakeLists.txt
Due: none

Add a check using ROOT_CXX_STANDARD (#540)
  CMakeLists.txt
Due: none

Fix some typos (#542)
  .gitignore
  doc/advanced_topics.md
  doc/datamodel_syntax.md
  doc/examples.md
  doc/templates.md
  include/podio/CollectionBufferFactory.h
  include/podio/FrameCategories.h
  include/podio/GenericParameters.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/SIOFrameReader.h
  include/podio/SIOLegacyReader.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/utilities/MaybeSharedPtr.h
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format, pylint, flake8

[doxygen] Make generated pages readable again
  cmake/podioDoxygen.cmake
  doc/Doxyfile.in
  doc/bootdoxy.css
  doc/bootdoxyheader.html
  doc/doxy-boot.js.in
  doc/podio_footer.html
  doc/podio_header.html
  doc/podio_stylesheet.css
Due: none

[wip] Make sphinx pick up doxygen output for c++ API
  cmake/podioDoxygen.cmake
  doc/Doxyfile.in
  doc/api_docs.rst
  doc/conf.py
  doc/index.rst
Due: pylint, flake8

[wip] Add basic sphinx setup
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py
  doc/index.rst
Due: pylint, flake8

[doxygen] Update doxygen config file
  doc/Doxyfile.in
Due: none

[doc] Configure conf.py via cmake
  .gitignore
  cmake/podioDoxygen.cmake
  doc/conf.py.in
Due: none

Avoid installing the build subfolder
  cmake/podioDoxygen.cmake
Due: none

[doc] Remove no longer necessary html and style files
  doc/Doxyfile.in
  doc/podio_footer.html
  doc/podio_header.html
  doc/podio_stylesheet.css
Due: none

[doc] Make sphinx generate API docs for python bindings
  .gitignore
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py.in
  doc/index.rst
Due: none

[wip] First attempt at getting readthedocs setup
  .readthedocs.yml
  cmake/podioDoxygen.cmake
  doc/conf.py
Due: pylint, flake8

Add a workflow for building the docs
  .github/workflows/docs.yml
  doc/requirements.txt
Due: none

[wip] First attempt at running doxygen
  .gitignore
  cmake/podioDoxygen.cmake
  doc/Doxyfile
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
Due: pylint, flake8

Fix minor warning from autodoc
  python/podio/base_writer.py
Due: pylint, flake8

Make the documentation target depend on the necessary libs
  cmake/podioDoxygen.cmake
Due: none

Properly ignore tests and podio_version
  doc/conf.py
Due: pylint, flake8

[wip] More doxygen tuning and addition of python auto generation
  doc/Doxyfile
  doc/api_docs.rst
  doc/conf.py
  doc/cpp_api.rst
  python/podio_gen/generator_base.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
