Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Generalize cmake function to handle multiple old versions
  cmake/podioMacros.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Do not put latest version in namespace
  python/podio/test_Pythonizations.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Only generate xml comments if necessary
  python/templates/selection.xml.jinja2
Due: none

Remove no longer used code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Add test for schema evolution where nothing changes
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add test spanning multiple versions for adding members to datatypes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Add schema evolution test using arrays of components
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Adapt code generation to work with new versioned classes
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add a test case that involves manual intervention
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Adapt ignore list for sanitizers
  tests/CTestCustom.cmake
Due: none

Add code to trigger an error when reading garbage data
  python/templates/CollectionData.cc.jinja2
Due: none

Add a [[maybe_unused]] to silence warnings
  python/templates/CollectionData.cc.jinja2
Due: none

Remove env variable that is meaningless
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Duplicate datamodel path onto ROOT_LIBRARY_PATH
  cmake/podioTest.cmake
  tests/unittests/CMakeLists.txt
Due: none

Unset ROOT_LIBRARY_PATH in tests to better control the environment
  cmake/podioDoxygen.cmake
  cmake/podioTest.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/unittests/CMakeLists.txt
Due: none

Put paths for schema evolution in ROOT_LIBRARY_PATH
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Unset ROOT_LIBRARY_PATH in tests to better control the environment (#841)
  cmake/podioDoxygen.cmake
  cmake/podioTest.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/unittests/CMakeLists.txt
Due: none

Remove support for CPack; building fails when enabling it
  CMakeLists.txt
  cmake/podioCPack.cmake
Due: none

Update documentation for master
  master/py_api/podio_gen.html
Due: none

Remove support for CPack; building fails when enabling it (#849)
  CMakeLists.txt
  cmake/podioCPack.cmake
Due: none

Make schema evolution changes retrigger code gen
  cmake/podioMacros.cmake
Due: none

Refactor the schema evolution detection to reduce internal state
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Make RootIoRule a dataclass
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out judging of changes from detecting them
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Clean up test environment further
  cmake/podioTest.cmake
Due: none

Use full path to load SioBlock libraries
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-format, cppcheck, clang-tidy

Refactor schema evolution detection (#844)
  cmake/podioMacros.cmake
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Make sure SioBlock libraries are properly loaded from PODIO_SIOBLOCK_PATH (#852)
  cmake/podioTest.cmake
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-format, cppcheck, clang-tidy

Add missing docstring
  include/podio/DatamodelRegistry.h
Due: clang-format, cppcheck, clang-tidy

Also extract schema version when reading definitions back
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/DatamodelRegistry.cc
  src/DatamodelRegistryIOHelpers.cc
Due: clang-format, cppcheck, clang-tidy

Homogenize behavior of TTree and RNTuple reader
  include/podio/ROOTReader.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Catch exception in podio-dump-tool to exit more gracefully
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add test that checks that warning is emitted
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Make readers emit a waning in case we encounter a too new EDM version
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOReader.cc
  src/ioUtils.h
Due: clang-format, cppcheck, clang-tidy

Extract the schema version from the datamodel definition
  include/podio/DatamodelRegistry.h
  src/DatamodelRegistry.cc
Due: clang-format, cppcheck, clang-tidy

Add version namespaces to components as well
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: none

Make sure to load the versioned namespace for components
  python/podio/test_Pythonizations.py
Due: pylint, flake8

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
