Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

move to Apache 2.0 license as discussed in #324
  LICENSE
  NOTICE
Due: none

Only install files that are present
  CMakeLists.txt
Due: none

Release Notes for v00-16-01
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-01
  CMakeLists.txt
Due: none

Initialize unique_ptr in initializer list for nvcc
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Explicitly implement default constructor
  include/podio/GenericParameters.h
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Initialize mutex pointers with nullptr in member declaration
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
  src/CollectionIDTable.cc
Due: clang-tidy, clang-format

Initialize unique_ptr in initializer list for nvcc
  include/podio/CollectionIDTable.h
  src/CollectionIDTable.cc
Due: clang-tidy, clang-format

Initialize unique_ptr in initializer list for nvcc
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: none

Properly initialize mutex in non-default constructors
  include/podio/CollectionIDTable.h
  src/CollectionIDTable.cc
Due: clang-tidy, clang-format

Initialize unique_ptr for all collection constructors
  python/templates/Collection.cc.jinja2
Due: none

Set RPATH when building on ubuntu
  .github/workflows/edm4hep.yaml
  .github/workflows/ubuntu.yml
  cmake/podioBuild.cmake
Due: none

Skip tests for podio build in edm4hep workflows
  .github/workflows/edm4hep.yaml
  env.sh
Due: none

Improve the output of the SIOBlocks lib loading
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Initialize unique_ptr in initializer list for nvcc (#333)
  .github/workflows/edm4hep.yaml
  .github/workflows/ubuntu.yml
  cmake/podioBuild.cmake
  env.sh
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  src/CollectionIDTable.cc
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Improve the output of the SIOBlocks lib loading (#360)
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Release Notes for v00-16-02
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-02
  CMakeLists.txt
Due: none

Rename match -> result
  python/podio/podio_config_reader.py
Due: pylint, flake8

Rename match -> result for python > 3.10 (#362)
  python/podio/podio_config_reader.py
Due: pylint, flake8

Use defaultdict instead of essentially hand-rolling one
  python/podio_class_generator.py
Due: pylint, flake8

Fix cmake configure dependencies again after #343
  cmake/podioMacros.cmake
Due: none

Move SIO utilities to existing private utils header
  src/SIOFrameWriter.cc
  src/sioUtils.h
Due: clang-tidy, clang-format

Use sio_utils also for legacy writer
  include/podio/SIOWriter.h
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Fix the pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Fix the pre-commit workflow (#365)
  .github/workflows/pre-commit.yml
Due: none

Generate and build extension model earlier
  tests/CMakeLists.txt
Due: none

Add basic I/O tests for datamodel extensions
  tests/CMakeLists.txt
  tests/datalayout_extension.yaml
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Fix python unittests
  python/podio/test_Frame.py
Due: pylint, flake8

Add extension datamodel to gitignore
  .gitignore
Due: none

Fix typo
  python/podio/test_Frame.py
Due: pylint, flake8

Add all files to the metadata chain to test that they can be opened
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Add missing include
  src/ROOTLegacyReader.cc
  src/SIOLegacyReader.cc
Due: clang-tidy, clang-format

Run clang-format
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  tests/read.cpp
  tests/read_frame.h
  tests/read_frame_legacy_root.cpp
  tests/read_frame_legacy_sio.cpp
  tests/read_sio.cpp
  tests/unittest.cpp
Due: clang-tidy, clang-format

Return a bool if the file(s) could be opened correctly
  include/podio/IReader.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/SIOFrameReader.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
Due: clang-tidy, clang-format

Address PR comments and add unit tests for the readers when the file is missing
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
  src/SIOLegacyReader.cc
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Check for the result of opening a file in the tests
  tests/read.cpp
  tests/read_frame.h
  tests/read_frame_legacy_root.cpp
  tests/read_frame_legacy_sio.cpp
  tests/read_sio.cpp
Due: clang-tidy, clang-format

Add also the legacy readers
  src/ROOTLegacyReader.cc
  src/SIOLegacyReader.cc
Due: clang-tidy, clang-format

Handle the case when the file doesn't exist in the readers
  src/ROOTFrameReader.cc
  src/ROOTReader.cc
  src/SIOFrameReader.cc
  src/SIOReader.cc
Due: clang-tidy, clang-format

Fix return type
  include/podio/SIOFrameReader.h
Due: clang-tidy, clang-format
