Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Remove another header
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Fix
  src/Reader.cc
  tests/extra_code/implementations.cc
  tests/extra_code/mutable_implementations.cc
  tests/read_interface.h
  tests/unittests/unittest.cpp
  tests/write_interface.h
Due: clang-tidy, clang-format

Fix
  tests/extra_code/implementations.cc
  tests/extra_code/mutable_implementations.cc
Due: clang-tidy, clang-format

Fix rebase
  include/podio/GenericParameters.h
  src/rootUtils.h
Due: clang-tidy, clang-format

Fix a few more issues
  include/podio/GenericParameters.h
  src/ROOTLegacyReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Run again
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTFrameData.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/Reader.h
  include/podio/UserDataCollection.h
  include/podio/Writer.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/RootHelpers.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTFrameData.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/Reader.cc
  src/RootHelpers.cc
  src/Writer.cc
  src/rootUtils.h
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/root_io/write_interface_rntuple.cpp
  tests/root_io/write_interface_root.cpp
  tests/unittests/std_interoperability.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Detect more c++ standards and make sure useful message actually appears
  CMakeLists.txt
Due: none

Order c++ standards numerically
  CMakeLists.txt
Due: none

Use a for loop to detect ROOT c++ standard
  CMakeLists.txt
Due: none

Add a bit more logging
  CMakeLists.txt
Due: none

Update documentation for master
  master/ReleaseNotes.html
  master/objects.inv
  master/searchindex.js
Due: none

Detect more c++ standards and make sure useful message actually appears (#635)
  CMakeLists.txt
Due: none

Make ROOT load libraries without the .so extension
  doc/python.md
  tests/write_frame.py
Due: pylint, flake8

Remove .so in error
  doc/python.md
Due: none

Remove .so in an error message
  python/podio/__init__.py
Due: pylint, flake8

Make ROOT load libraries without the .so extension (#638)
  doc/python.md
  python/podio/__init__.py
  tests/write_frame.py
Due: pylint, flake8

Update documentation for master
  master/python.html
  master/searchindex.js
Due: none

Improve readability of objectIDs that are dumped
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Add test for checking JSON output of subset collections
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Don't duplicate information for subset collections in JSON
  include/podio/ObjectID.h
  python/templates/Collection.cc.jinja2
Due: clang-tidy, clang-format

Simplify implementation for persisting relation info in JSON
  python/templates/macros/implementations.jinja2
Due: none

Improve readability of objectIDs that are dumped (#639)
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Remove or change a few headers for objects and collections
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
Due: none

Remove or change a few headers for objects and collections (#641)
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
Due: none

Use a file that has actually been produced with v00-99
  tests/input_files/v00-99-example_frame.root.md5
Due: none

Add tests files for checking compatibility with v01-00
  tests/CMakeLists.txt
  tests/input_files/v01-00-example_frame.root.md5
  tests/input_files/v01-00-example_frame.sio.md5
Due: none

Add test files for compatibility with v01-00 and fix buggy v00-99 file (#643)
  tests/CMakeLists.txt
  tests/input_files/v00-99-example_frame.root.md5
  tests/input_files/v01-00-example_frame.root.md5
  tests/input_files/v01-00-example_frame.sio.md5
Due: none

Switch to el9 for pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Switch to el9 for pre-commit workflow (#644)
  .github/workflows/pre-commit.yml
Due: none

Fix duplicated includes
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Only process non-empty includes
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix duplicated includes (#645)
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Clang format
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Minor adjustments
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
Due: clang-tidy, clang-format

Moving RDataSource closer to Podio/EDM4hep
  CMakeLists.txt
  include/podio/ROOTDataSource.h
  src/CMakeLists.txt
  src/ROOTDataSource.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Moving doc strings to header file
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
Due: clang-tidy, clang-format

Adding podio::ROOTDataSource class to the rootmap
  src/ROOTDataSource.cc
  src/root_selection.xml
Due: clang-tidy, clang-format

Using /// and @ for the doxygen docs
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Update gitignore file to include more generated parts
  .gitignore
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
