Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Make sure podio-dump is installed properly
  CMakeLists.txt
  tools/CMakeLists.txt
Due: none

fix accidentally commited files, add macro for julia_parameters
  python/templates/Collection.jl.jinja2
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/StructCollection.jl.jinja2
  python/templates/macros/params.jinja2
  tests/unittest.jl
Due: none

adding parent namespace code generation
  python/podio_class_generator.py
  python/templates/ParentModule.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Update python/templates/JuliaCollection.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
Due: none

Update python/podio_class_generator.py
  python/podio_class_generator.py
Due: pylint, flake8

fix pyunittest, refactor datatype_component in namespaces
  python/podio_class_generator.py
  python/test_MemberParser.py
Due: pylint, flake8

fix pyunittest
  python/test_MemberParser.py
Due: pylint, flake8

fix missing includes
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
Due: pylint, flake8

add Collection to namespaces
  python/podio_class_generator.py
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

fix flake8
  python/podio_class_generator.py
Due: pylint, flake8

adding namespaces to Julia (#325)
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/params.jinja2
  python/test_MemberParser.py
  tests/unittest.jl
Due: pylint, flake8

adding documentation on templates
  doc/templates.md
Due: none

datamodel_syntax.md: fix a typo
  doc/datamodel_syntax.md
Due: none

add documentation
  doc/templates.md
Due: none

fix
  doc/templates.md
Due: none

Add `podio-dump` tool to dump contents of podio files (#323)
  CMakeLists.txt
  include/podio/CollectionBase.h
  include/podio/EventStore.h
  include/podio/GenericParameters.h
  include/podio/IReader.h
  include/podio/PythonEventStore.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  include/podio/UserDataCollection.h
  include/podio/utilities/IOHelpers.h
  python/EventStore.py
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  python/test_EventStore.py
  python/test_EventStoreRoot.py
  python/test_EventStoreSio.py
  src/CMakeLists.txt
  src/GenericParameters.cc
  src/IOHelpers.cc
  src/PythonEventStore.cc
  src/ROOTReader.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/python_selection.xml
  src/selection.xml
  tests/CMakeLists.txt
  tests/check_benchmark_outputs.cpp
  tests/read.cpp
  tests/read_sio.cpp
  tests/read_test.h
  tools/CMakeLists.txt
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Add ROOTFrameWriter to write frames via ROOT
  include/podio/Frame.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/rootUtils.h
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame.cpp
  tests/unittest.cpp
  tests/write_frame.h
  tests/write_frame_root.cpp
Due: clang-tidy, clang-format

Split buffers into read / write buffers
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTRawData.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  src/ROOTFrameReader.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Fix test environment for Ubuntu CI
  tests/CMakeLists.txt
Due: none

Reintroduce const specifier
  include/podio/SIOWriter.h
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Update documentation
  include/podio/Frame.h
Due: clang-tidy, clang-format

Fix clang-tidy
  src/SIOFrameData.cc
Due: clang-tidy, clang-format

Remove "category" parameter from public interfaces
  include/podio/ROOTFrameReader.h
  include/podio/SIOFrameReader.h
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Make earlier tests also use the name helper function
  tests/frame.cpp
Due: clang-tidy, clang-format

Fix non-movable mutex
  include/podio/Frame.h
Due: clang-tidy, clang-format

Make it possible to write different categories with ROOT
  include/podio/ROOTFrameWriter.h
  src/ROOTFrameWriter.cc
  tests/read_frame.cpp
  tests/write_frame_root.cpp
Due: clang-tidy, clang-format

Fix typos and remove commented code
  include/podio/ROOTFrameReader.h
  include/podio/ROOTReader.h
  python/templates/SIOBlock.h.jinja2
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Reorganize tests slightly to avoid Catch2 thread problem
  tests/frame.cpp
Due: clang-tidy, clang-format

Add RawDataT constructor to Frame
  include/podio/Frame.h
Due: clang-tidy, clang-format

Add basic support for GenericParameters through Frame
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Move test code into header and template it
  tests/write_frame.h
  tests/write_frame_root.cpp
Due: clang-tidy, clang-format

Remove no longer available collection
  tests/write_frame.h
Due: clang-tidy, clang-format

clang-tidy: Move constructor arguments into members
  include/podio/CollectionBuffers.h
Due: clang-tidy, clang-format

Fix clang-tidy warning
  tests/frame.cpp
Due: clang-tidy, clang-format

Make reading frames well behaved for non-existing data
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
  src/SIOBlock.cc
  src/SIOFrameReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Remove no longer necessary const_cast
  include/podio/Frame.h
Due: clang-tidy, clang-format

Add reading of GenericParameters (aka EventMetaData)
  include/podio/Frame.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTRawData.h
  src/ROOTFrameReader.cc
  tests/read_test.h
Due: clang-tidy, clang-format

Make sure to check the size of the user data vectors
  tests/read_test.h
Due: clang-tidy, clang-format

Rename template parameter to be less confusing
  include/podio/Frame.h
Due: clang-tidy, clang-format

Add namespace read/write tests to Frame I/O
  tests/read_test.h
  tests/write_frame.h
  tests/write_frame_root.cpp
Due: clang-tidy, clang-format
