Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Fix typo
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Make sure to not expect a non-generated header for roundtrip tests
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Fix a few minor typos in documentation
  include/podio/detail/Link.h
  include/podio/detail/LinkFwd.h
Due: clang-tidy, clang-format

Make sure cmake runs without ENABLE_SIO=ON
  tests/CMakeLists.txt
Due: none

use enable_if to allow using containers of interfaces with object wrappers (#683)
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Fix comment
  include/podio/detail/PreprocessorMacros.h
Due: clang-tidy, clang-format

Add templated links between arbitrary datatypes (#257)
  CMakeLists.txt
  doc/links.md
  include/podio/LinkCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkCollectionIterator.h
  include/podio/detail/LinkFwd.h
  include/podio/detail/LinkObj.h
  include/podio/detail/LinkSIOBlock.h
  include/podio/detail/PreprocessorMacros.h
  include/podio/utilities/TypeHelpers.h
  python/podio/test_Frame.py
  python/podio_gen/cpp_generator.py
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
  src/CMakeLists.txt
  src/DatamodelRegistry.cc
  tests/CMakeLists.txt
  tests/DatamodelLinks.cc
  tests/datamodel/LinkCollections.h
  tests/frame_test_common.h
  tests/read_frame_auxiliary.h
  tests/read_python_frame.h
  tests/read_test.h
  tests/scripts/dumpModelRoundTrip.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
  tests/unittests/links.cpp
  tests/write_frame.h
  tests/write_frame.py
Due: clang-tidy, clang-format, pylint, flake8

Separate link registration macros
  include/podio/LinkCollection.h
Due: clang-tidy, clang-format

Make sure that SIO backend also works
  python/podio_gen/cpp_generator.py
  python/templates/DatamodelLinksSIOBlock.cc.jinja2
Due: pylint, flake8

Make code generation create necessary link code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
  python/templates/CMakeLists.txt
  python/templates/DatamodelLinks.cc.jinja2
  python/templates/LinkCollection.h.jinja2
  tests/CMakeLists.txt
  tests/DatamodelLinks.cc
  tests/datalayout.yaml
  tests/datamodel/LinkCollections.h
  tests/read_python_frame.h
  tests/read_test.h
  tests/unittests/links.cpp
  tests/write_frame.h
  tests/write_frame.py
Due: clang-tidy, clang-format, pylint, flake8

Make the reader and validator understand links
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
Due: pylint, flake8

Remove special casing from roundtrip tests again
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Make sure to make link collections available
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make sure that all user facing types exist
  python/templates/LinkCollection.h.jinja2
Due: none

Add documentation for new capabilities and links
  doc/datamodel_syntax.md
  doc/index.rst
  doc/links.md
Due: none

Update available templates documentation
  doc/templates.md
Due: none

Remove redundant inline
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Avoid leaking buffers after they have been consumed
  include/podio/detail/LinkCollectionData.h
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Enable RNTuple builds for sanitizer CI workflows
  .github/workflows/sanitizers.yaml
  cmake/podioTest.cmake
  tests/CTestCustom.cmake
  tests/root_io/leak_sanitizer_suppressions.txt
  tests/unittests/CMakeLists.txt
Due: none

Fix leaking of consumed buffers for SIO
  include/podio/SIOBlockUserData.h
  include/podio/SIOFrameData.h
  src/SIOFrameData.cc
  tests/CTestCustom.cmake
Due: clang-tidy, clang-format

Remove tests from ignore list that are no longer present
  tests/CTestCustom.cmake
Due: none

Disable a few tests again for Thread sanitizer
  tests/CTestCustom.cmake
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Disable a few tests for UBSan on clang
  tests/CTestCustom.cmake
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Homogenize test names
  tests/CTestCustom.cmake
  tools/CMakeLists.txt
Due: none

Minor fix from clang-tidy / clang-format
  python/templates/CollectionData.cc.jinja2
Due: none

Fix minor memory leaks and enable more tests in CI with sanitizers (#695)
  .github/workflows/sanitizers.yaml
  cmake/podioTest.cmake
  include/podio/SIOBlockUserData.h
  include/podio/SIOFrameData.h
  include/podio/detail/LinkCollectionData.h
  python/templates/CollectionData.cc.jinja2
  src/SIOFrameData.cc
  src/UserDataCollection.cc
  tests/CTestCustom.cmake
  tests/root_io/leak_sanitizer_suppressions.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
  tools/CMakeLists.txt
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_s_i_o_frame_data.html
  master/cpp_api/file/_s_i_o_frame_data_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
Due: none

Remove redundant inline (#694)
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Rename Association to Link
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Add AssociationNavigator utility class and tests
  include/podio/AssociationNavigator.h
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Default initialize the internal maps
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Set JULIA_DEPOT_PATH to a writable directory
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Set JULIA_DEPOT_PATH to a writable directory (#697)
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Remove some includes and fix a couple of URLs
  include/podio/CollectionBuffers.h
  podioVersion.in.h
  src/ROOTFrameData.cc
  tests/write_frame.h
Due: clang-tidy, clang-format

Remove some includes and fix a couple of URLs (#696)
  include/podio/CollectionBuffers.h
  podioVersion.in.h
  src/ROOTFrameData.cc
  tests/write_frame.h
Due: clang-tidy, clang-format

Require C++20 in podio and ROOT
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

Use consteval when possible and remove checks for C++20
  include/podio/UserDataCollection.h
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Add a few more constevals
  src/rootUtils.h
Due: clang-tidy, clang-format

Use concepts and simplify templates
  include/podio/Frame.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
