Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Suppress Thread sanitizer warnings from ROOT
  cmake/podioTest.cmake
  tests/root_io/thread_sanitizer_suppressions.txt
Due: none

Initialize m_readerEntries
  include/podio/RNTupleReader.h
Due: clang-tidy, clang-format

Improve comment
  include/podio/RNTupleReader.h
Due: clang-tidy, clang-format

add detail function for object rank that can be used for comparison
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: clang-tidy, clang-format

add extension data model with interface
  .gitignore
  tests/CMakeLists.txt
  tests/datalayout_interface_extension.yaml
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Make sure that weights are stored in struct (#710)
  include/podio/detail/LinkCollectionImpl.h
  src/selection.xml
Due: clang-tidy, clang-format

hide rank value in a proxy
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

Fix typo
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix indentation in documentation
  doc/datamodel_syntax.md
Due: none

Fix typo
  doc/links.md
Due: none

Remove special casing from roundtrip tests again
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Update available templates documentation
  doc/templates.md
Due: none

Make the reader and validator understand links
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
Due: pylint, flake8

Fix grammar and typos
  doc/datamodel_syntax.md
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Make sure to make link collections available
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Separate link registration macros
  include/podio/LinkCollection.h
Due: clang-tidy, clang-format

Make sure that all user facing types exist
  python/templates/LinkCollection.h.jinja2
Due: none

Use walrus operator to improve readability
  README.md
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make code generation create necessary link code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
  python/templates/CMakeLists.txt
  python/templates/DatamodelLinks.cc.jinja2
  python/templates/LinkCollection.h.jinja2
  tests/CMakeLists.txt
  tests/DatamodelLinks.cc
  tests/datalayout.yaml
  tests/datamodel/LinkCollections.h
  tests/read_python_frame.h
  tests/read_test.h
  tests/unittests/links.cpp
  tests/write_frame.h
  tests/write_frame.py
Due: clang-tidy, clang-format, pylint, flake8

Make sure that SIO backend also works
  python/podio_gen/cpp_generator.py
  python/templates/DatamodelLinksSIOBlock.cc.jinja2
Due: pylint, flake8

Only generate SIOBlocks if necessary
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add documentation for new capabilities and links
  doc/datamodel_syntax.md
  doc/index.rst
  doc/links.md
Due: none

rename 'Rank' to 'OrderKey'
  include/podio/detail/OrderKey.h
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: clang-tidy, clang-format

Improve wording in documentation and tests
  doc/links.md
  python/podio_gen/test_ClassDefinitionValidator.py
Due: pylint, flake8

Introduce a new `links` category for the YAML definitions (#691)
  README.md
  doc/datamodel_syntax.md
  doc/index.rst
  doc/links.md
  doc/templates.md
  include/podio/LinkCollection.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/templates/CMakeLists.txt
  python/templates/DatamodelLinks.cc.jinja2
  python/templates/DatamodelLinksSIOBlock.cc.jinja2
  python/templates/LinkCollection.h.jinja2
  tests/CMakeLists.txt
  tests/DatamodelLinks.cc
  tests/datalayout.yaml
  tests/datamodel/LinkCollections.h
  tests/read_python_frame.h
  tests/read_test.h
  tests/scripts/dumpModelRoundTrip.sh
  tests/unittests/links.cpp
  tests/write_frame.h
  tests/write_frame.py
Due: clang-tidy, clang-format, pylint, flake8

Rename Association to Link
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Add AssociationNavigator utility class and tests
  include/podio/AssociationNavigator.h
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Avoid depending on an order in the linked objects
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Remove more mentions of assocations
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Make navigator work with links between same types
  include/podio/LinkNavigator.h
  tests/unittests/CMakeLists.txt
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Default initialize the internal maps
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Remove unnecessary include
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Add documentation
  doc/links.md
Due: none

add comments, mention in docs
  doc/datamodel_syntax.md
  include/podio/detail/OrderKey.h
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

Make dependent types usable in c++17
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Documentation fixes as suggested
  doc/links.md
Due: none

Fix small typo
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Make the checking script exit with non-zero for errors
  python/podio_schema_evolution.py
  tests/schema_evolution/CMakeLists.txt
Due: pylint, flake8

Add detection for vector member additions
  python/podio_schema_evolution.py
Due: pylint, flake8
