Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Release Notes for v00-17
  doc/ReleaseNotes.md
Due: none

Updating version to v00-17
  CMakeLists.txt
Due: none

Make id() return an ObjectID since unsigned has become useless
  include/podio/ObjectID.h
  python/templates/macros/declarations.jinja2
  tests/write_frame.h
  tests/write_test.h
Due: clang-tidy, clang-format

Make id() return an ObjectID since unsigned has become useless (#493)
  include/podio/ObjectID.h
  python/templates/macros/declarations.jinja2
  tests/write_frame.h
  tests/write_test.h
Due: clang-tidy, clang-format

Update ROOTFrameWriter.cc
  src/ROOTFrameWriter.cc
Due: clang-tidy, clang-format

Add an operator !=
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Add an operator != to podio::ObjectID (#496)
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Move podio_PYTHON_DIR to the top level CMakeLists
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Move podio_PYTHON_DIR to the top level CMakeLists (#497)
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Add unittest to cover parts the CollectionBufferFactory
  tests/unittests/CMakeLists.txt
  tests/unittests/buffer_factory.cpp
Due: clang-tidy, clang-format

Make sure to cleanup buffers in CollectionData constructor
  python/templates/CollectionData.cc.jinja2
Due: none

fix: install podio-vis
  tools/CMakeLists.txt
Due: none

fix: install podio-vis (#503)
  tools/CMakeLists.txt
Due: none

Make the ROOTFrameData properly cleanup after itself
  include/podio/CollectionBuffers.h
  include/podio/ROOTFrameData.h
  python/templates/macros/collections.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Make it possible to dispose of unconsumed collection buffers (#502)
  include/podio/CollectionBuffers.h
  include/podio/ROOTFrameData.h
  python/templates/CollectionData.cc.jinja2
  python/templates/macros/collections.jinja2
  src/UserDataCollection.cc
  tests/unittests/CMakeLists.txt
  tests/unittests/buffer_factory.cpp
Due: clang-tidy, clang-format

CI: Bump pylint version
  .github/workflows/pre-commit.yml
Due: none

Fix minor pylint issue
  python/podio/EventStore.py
Due: pylint, flake8

CI: Bump pylint version (#505)
  .github/workflows/pre-commit.yml
  python/podio/EventStore.py
Due: pylint, flake8

Release Notes for v00-17-01
  doc/ReleaseNotes.md
Due: none

Updating version to v00-17-01
  CMakeLists.txt
Due: none

Copy .clang-format to the dumpmodel test directory
  tests/dumpmodel/CMakeLists.txt
Due: none

Copy .clang-format to the dumpmodel test directory (#507)
  tests/dumpmodel/CMakeLists.txt
Due: none

Use the cmake ExternalData to manage test data
  tests/CMakeLists.txt
  tests/input_files/v00-13-example.root.md5
  tests/input_files/v00-16-02-example.root.md5
  tests/input_files/v00-16-02-example.sio.md5
  tests/input_files/v00-16-02-example_frame.root.md5
  tests/input_files/v00-16-02-example_frame.sio.md5
  tests/input_files/v00-16-04-example.root.md5
  tests/input_files/v00-16-04-example.sio.md5
  tests/input_files/v00-16-04-example_frame.root.md5
  tests/input_files/v00-16-04-example_frame.sio.md5
  tests/input_files/v00-16-05-example.root.md5
  tests/input_files/v00-16-05-example.sio.md5
  tests/input_files/v00-16-05-example_frame.root.md5
  tests/input_files/v00-16-05-example_frame.sio.md5
  tests/input_files/v00-16-06-example.root.md5
  tests/input_files/v00-16-06-example.sio.md5
  tests/input_files/v00-16-06-example_frame.root.md5
  tests/input_files/v00-16-06-example_frame.sio.md5
  tests/input_files/v00-16-example.root.md5
  tests/input_files/v00-16-example.sio.md5
  tests/input_files/v00-16-example_frame.root.md5
  tests/input_files/v00-16-example_frame.sio.md5
  tests/root_io/CMakeLists.txt
Due: none

Remove the macro and script to download files
  cmake/podioTest.cmake
  tests/scripts/get_test_inputs.sh
Due: none

Remove blank line
  tests/root_io/CMakeLists.txt
Due: none

Add an option for using clang-format and turn it off by default
  CMakeLists.txt
Due: none

Remove comment and fix the path to the right place where files are stored
  tests/root_io/CMakeLists.txt
Due: none

Make the comment more correct
  tests/root_io/CMakeLists.txt
Due: none

Use the cmake ExternalData module to manage test data (#508)
  cmake/podioTest.cmake
  tests/CMakeLists.txt
  tests/input_files/v00-13-example.root.md5
  tests/input_files/v00-16-02-example.root.md5
  tests/input_files/v00-16-02-example.sio.md5
  tests/input_files/v00-16-02-example_frame.root.md5
  tests/input_files/v00-16-02-example_frame.sio.md5
  tests/input_files/v00-16-04-example.root.md5
  tests/input_files/v00-16-04-example.sio.md5
  tests/input_files/v00-16-04-example_frame.root.md5
  tests/input_files/v00-16-04-example_frame.sio.md5
  tests/input_files/v00-16-05-example.root.md5
  tests/input_files/v00-16-05-example.sio.md5
  tests/input_files/v00-16-05-example_frame.root.md5
  tests/input_files/v00-16-05-example_frame.sio.md5
  tests/input_files/v00-16-06-example.root.md5
  tests/input_files/v00-16-06-example.sio.md5
  tests/input_files/v00-16-06-example_frame.root.md5
  tests/input_files/v00-16-06-example_frame.sio.md5
  tests/input_files/v00-16-example.root.md5
  tests/input_files/v00-16-example.sio.md5
  tests/input_files/v00-16-example_frame.root.md5
  tests/input_files/v00-16-example_frame.sio.md5
  tests/root_io/CMakeLists.txt
  tests/scripts/get_test_inputs.sh
Due: none

Fix legacy tests
  tests/root_io/CMakeLists.txt
Due: none

Add a check for argc > 2
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Fix clang-format
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Fix legacy tests (#510)
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Test the non-default clang-format option in CI
  .github/workflows/test.yml
Due: none

Add an option for using clang format and set it to off by default (#509)
  .github/workflows/test.yml
  CMakeLists.txt
Due: none

Decouple generation tools and files from the rest of podio python files
  python/CMakeLists.txt
  python/podio/__init__.py
  python/podio/test_ClassDefinitionValidator.py
  python/podio/test_DataModelJSONEncoder.py
  python/podio/test_MemberParser.py
  python/podio_class_generator.py
  python/podio_gen/__init__.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_schema_evolution.py
  tools/podio-vis
Due: pylint, flake8

Don't install test files
  python/CMakeLists.txt
Due: none

Move some tests to podio_gen
  python/CMakeLists.txt
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/podio_gen/test_MemberParser.py
Due: pylint, flake8

Simplify __init__.py
  python/podio/__init__.py
Due: pylint, flake8

Silence when SIO is missing
  python/podio/sio_io.py
Due: pylint, flake8
