Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Make sure generator also includes old components
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add failing test case
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/drop_component/check.cpp
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/check.cpp
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Make generator generate code for old components
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
Due: pylint, flake8

Do not read ExtraCode for old schemas
  python/podio_gen/cpp_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Add some documentation about subset collections
  doc/advanced_topics.md
Due: none

Add an example in examples.md
  doc/examples.md
Due: none

Add some documentation about subset collections (#885)
  doc/advanced_topics.md
  doc/examples.md
Due: none

Clarify a bit better what is supported
  doc/advanced_topics.md
Due: none

Fix formatting
  python/podio_gen/schema_evolution.py
Due: pylint, flake8

Simplify and streamline grammar
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Create a dedicated class for reading custom changes
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Use textwrap.dedent to improve tests formatting
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Add brief documentation part about schema evolution
  doc/advanced_topics.md
Due: none

Unpack key and value directly
  python/podio_gen/schema_evolution.py
Due: pylint, flake8

Clarify documentation
  doc/advanced_topics.md
Due: none

Use new migration reader and adapt existing tests
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Change the grammar of the schema evolution files (#845)
  doc/advanced_topics.md
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Add a --gdb switch to the podio-dump wrapper script
  tools/podio-dump
Due: none

Add a --gdb switch to the podio-dump wrapper script (#893)
  tools/podio-dump
Due: none

Make sure to generate Collection headers to beginning
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make sure to generate Collection headers to beginning (#894)
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix rpaths in podio, not set correctly because ${LIBDIR} is empty
  cmake/podioBuild.cmake
Due: none

This should also be CMAKE_INSTALL_LIBDIR because that's where we install to
  cmake/podioBuild.cmake
Due: none

Make ADD_SCHEMA_EVOLUTION_TEST accept multiple old versions
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add machinery and a first test with multiple old versions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Make it possible to pass multiple old schema versions
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Update test names for exclusion list
  tests/CTestCustom.cmake
Due: none

Revive older exluded tests
  tests/CTestCustom.cmake
Due: none

Ignore more tests for UBSan
  tests/CTestCustom.cmake
Due: none

Generalize cmake function to handle multiple old versions
  cmake/podioMacros.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Fix issues introduced by rebasing
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Pluralize function names that take multiple versions
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Undo changes to custom exclusion
  tests/CTestCustom.cmake
Due: none

Add test for confirming component member renames are propery detected
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: none

Add test spanning multiple versions for adding members to datatypes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Adapt ignore list for sanitizers
  tests/CTestCustom.cmake
Due: none

More exclusion list cleanup
  tests/CTestCustom.cmake
Due: none

Move back failing tests to TSan exclusion list
  tests/CTestCustom.cmake
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
