Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Change enable_ifs by requires
  include/podio/detail/Link.h
  python/templates/Interface.h.jinja2
Due: clang-tidy, clang-format

Fix the documentation for links
  doc/links.md
Due: none

Remove an unused header and use std::disjunction
  include/podio/Frame.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Use algorithms from std::ranges
  src/CollectionIDTable.cc
  src/DatamodelRegistryIOHelpers.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  src/rootUtils.h
  tests/read_frame_auxiliary.h
Due: clang-tidy, clang-format

Use std::ranges in a couple more places
  src/DatamodelRegistry.cc
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format

Make sure that reader still works with newer ROOT versions
  src/Reader.cc
Due: clang-tidy, clang-format

Make sure that reader still works with newer ROOT versions (#702)
  src/Reader.cc
Due: clang-tidy, clang-format

Specify a version when support for C++17 will be removed
  CMakeLists.txt
Due: none

Set the default to C++20
  CMakeLists.txt
Due: none

Add a deprecation warning when building with C++17
  CMakeLists.txt
Due: none

Return an empty optional in case there are no values
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Add simple reproducer of previous issue as test
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add test for python bindings
  python/podio/test_Frame.py
Due: pylint, flake8

Make accessing single elements in empty parameter vectors return an empty optional (#693)
  include/podio/GenericParameters.h
  python/podio/test_Frame.py
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add a deprecation warning when building with C++17 (#700)
  CMakeLists.txt
Due: none

Add module docstring to fix pylint complaints
  python/podio/utils.py
Due: pylint, flake8

outsource TypeError handling to os.fspath
  python/podio/root_io.py
Due: pylint, flake8

sio_io: only store first path in list returned by convert_to_str_paths
  python/podio/sio_io.py
Due: pylint, flake8

Revert "make ruff import sorting happy"
  python/podio/root_io.py
Due: pylint, flake8

make ruff import sorting happy
  python/podio/root_io.py
Due: pylint, flake8

add compatibility with pathlib.Path to root_io
  python/podio/root_io.py
Due: pylint, flake8

Fix imports to be absolute
  python/podio/root_io.py
  python/podio/sio_io.py
Due: pylint, flake8

outsource convert_to_str_paths
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/utils.py
Due: pylint, flake8

add pathlib compatibility in sio_io as well
  python/podio/sio_io.py
Due: pylint, flake8

Add compatibility with pathlib.Path to python readers (#699)
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/utils.py
Due: pylint, flake8

Fix tests when SIO is OFF
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Fix tests when SIO is OFF (#704)
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Remove unnecessary code in GenericParameters.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove unnecessary code in GenericParameters.h (#706)
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_generic_parameters.html
  master/cpp_api/file/_generic_parameters_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
  master/searchindex.js
Due: none

Add a minimum ROOT version with support for C++20
  CMakeLists.txt
Due: none

Add a few more constevals
  src/rootUtils.h
Due: clang-tidy, clang-format

Add back an ubuntu workflow with C++20
  .github/workflows/ubuntu.yml
Due: none

Require C++20 in podio and ROOT
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

Make sure to also format links.md
  doc/links.md
Due: none

Update the ROOT version
  CMakeLists.txt
  README.md
Due: none

Add missing is_detected_v
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Upper-case the concept collectionType
  include/podio/Frame.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format
