Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Separate c++ and julia code generation into separate classes
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Refactor the code generation and split it into language specific generators (#527)
  doc/templates.md
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Release Notes for v00-17-04
  doc/ReleaseNotes.md
Due: none

Updating version to v00-17-04
  CMakeLists.txt
Due: none

Remove the last few deprecated accessors
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove the last few deprecated accessors (#531)
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove no longer necessary benchmark utilities
  include/podio/BenchmarkRecorder.h
  include/podio/BenchmarkUtil.h
Due: clang-tidy, clang-format

rootUtils: include sstream for stringstream
  src/rootUtils.h
Due: clang-tidy, clang-format

Update rootUtils.h
  src/rootUtils.h
Due: clang-tidy, clang-format

fix rootUtils for macOS 12 / 13 (#533)
  src/rootUtils.h
Due: clang-tidy, clang-format

Remove no longer necessary benchmark utilities (#532)
  include/podio/BenchmarkRecorder.h
  include/podio/BenchmarkUtil.h
Due: clang-tidy, clang-format

Fix contribution attribution in 0.17.4 release notes
  doc/ReleaseNotes.md
Due: none

Switch coverity workflow to run on EL9
  .github/workflows/coverity.yml
Due: none

Try gcc13
  .github/workflows/coverity.yml
Due: none

coverity: use el9 container
  .github/workflows/coverity.yml
Due: none

Try again without explicit container
  .github/workflows/coverity.yml
Due: none

Re-establish running on schedule
  .github/workflows/coverity.yml
Due: none

Use std::move in some places that coverity flagged
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/ROOTFrameData.h
  python/templates/macros/implementations.jinja2
Due: clang-tidy, clang-format

Fix resource leak discovered by coverity
  include/podio/SIOBlock.h
  src/SIOFrameData.cc
Due: clang-tidy, clang-format

Fix copy-paste error discovered by coverity
  tests/read_python_frame.h
Due: clang-tidy, clang-format

Restore ostream state as discovered by coverity
  src/GenericParameters.cc
Due: clang-tidy, clang-format

CI: Update the coverity workflow to use EL9 (#534)
  .github/workflows/coverity.yml
Due: none

Fix a few easy to fix issues flagged by coverity (#535)
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/ROOTFrameData.h
  include/podio/SIOBlock.h
  python/templates/macros/implementations.jinja2
  src/GenericParameters.cc
  src/SIOFrameData.cc
  tests/read_python_frame.h
Due: clang-tidy, clang-format

[wip] Make sphinx pick up doxygen output for c++ API
  cmake/podioDoxygen.cmake
  doc/Doxyfile.in
  doc/api_docs.rst
  doc/conf.py
  doc/index.rst
Due: pylint, flake8

[doc] Remove no longer necessary html and style files
  doc/Doxyfile.in
  doc/podio_footer.html
  doc/podio_header.html
  doc/podio_stylesheet.css
Due: none

[wip] Add basic sphinx setup
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py
  doc/index.rst
Due: pylint, flake8

Integrate generation back into cmake
  .gitignore
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py
  include/podio/SIOBlockUserData.h
Due: clang-tidy, clang-format, pylint, flake8

[doxygen] Make generated pages readable again
  cmake/podioDoxygen.cmake
  doc/Doxyfile.in
  doc/bootdoxy.css
  doc/bootdoxyheader.html
  doc/doxy-boot.js.in
  doc/podio_footer.html
  doc/podio_header.html
  doc/podio_stylesheet.css
Due: none

[doxygen] Update doxygen config file
  doc/Doxyfile.in
Due: none

[doc] Configure conf.py via cmake
  .gitignore
  cmake/podioDoxygen.cmake
  doc/conf.py.in
Due: none

Make pre-commit happy
  doc/conf.py
Due: pylint, flake8

Avoid installing the build subfolder
  cmake/podioDoxygen.cmake
Due: none

[wip] First attempt at running doxygen
  .gitignore
  cmake/podioDoxygen.cmake
  doc/Doxyfile
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
Due: pylint, flake8

[doc] Make sphinx generate API docs for python bindings
  .gitignore
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py.in
  doc/index.rst
Due: none

[wip] More doxygen tuning and addition of python auto generation
  doc/Doxyfile
  doc/api_docs.rst
  doc/conf.py
  doc/cpp_api.rst
  python/podio_gen/generator_base.py
Due: pylint, flake8

[wip] First attempt at getting readthedocs setup
  .gitignore
  .readthedocs.yml
  cmake/podioDoxygen.cmake
  doc/conf.py
Due: pylint, flake8

[wip] Add requirements for readthedocs
  .readthedocs.yml
  doc/requirements.txt
Due: none

Try to stub out some of the python dependencies
  doc/conf.py
  doc/requirements.txt
  doc/stubs/ROOT/__init__.py
  doc/stubs/ROOT/podio/__init__.py
Due: pylint, flake8

Properly ignore tests and podio_version
  doc/conf.py
Due: pylint, flake8

Fix minor warning from autodoc
  python/podio/base_writer.py
Due: pylint, flake8
