Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Make sure clang-format wrapper works with older diffutils (#280)
  .github/scripts/clang-format-hook
Due: none

rntuple: rootntuplewriter compiles
  include/podio/ROOTNTupleWriter.h
  src/CMakeLists.txt
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

rntuple: writer works for event data
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleWriter.cc
  tests/CMakeLists.txt
  tests/read_rntuple.cpp
  tests/write_rntuple.cpp
  tests/write_test_rntuple.h
Due: clang-tidy, clang-format

rebase
  CMakeLists.txt
  cmake/FindVdt.cmake
  src/CMakeLists.txt
  tests/write_test_rntuple.h
Due: clang-tidy, clang-format

Make sure to only read event meta data once per event
  include/podio/GenericParameters.h
  src/EventStore.cc
  tests/read_test.h
Due: clang-tidy, clang-format

fix duplicated test header
  tests/write_rntuple.cpp
  tests/write_test.h
  tests/write_test_rntuple.h
Due: clang-tidy, clang-format

Do not change the ID for objects in subset collections
  python/templates/Collection.h.jinja2
Due: none

Make sure to only read event meta data once per event (#284)
  include/podio/GenericParameters.h
  src/EventStore.cc
  tests/read_test.h
Due: clang-tidy, clang-format

re-activate read test
  tests/CMakeLists.txt
Due: none

Move all usage of detail::GetVectorType into one place
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Add templated access functionality to GenericParameters
  include/podio/GenericParameters.h
  include/podio/UserDataCollection.h
  include/podio/utilities/TypeHelpers.h
  src/GenericParameters.cc
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy, clang-format

Add documentation
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

clang-tidy: Fix accidental copy in range-based for loop
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Mark non-templated access functionality as deprecated
  include/podio/GenericParameters.h
  tests/read_test.h
Due: clang-tidy, clang-format

Unify getValue interface / implementation and add a few tests
  include/podio/GenericParameters.h
  tests/unittest.cpp
Due: clang-tidy, clang-format

Remove no longer necessary code
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

clang-tidy: Silence overzealous warning in tests
  tests/unittest.cpp
Due: clang-tidy, clang-format

clang-tidy: Use auto to avoid duplicating typename
  tests/read_test.h
Due: clang-tidy, clang-format

Add test cases for resetting values
  tests/unittest.cpp
Due: clang-tidy, clang-format

Reserve necessary capacity up front
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

rntuple: save metadata
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
  tests/read_rntuple3.cpp
Due: clang-tidy, clang-format

first lines of rntuple reader
  include/podio/ROOTNTupleReader.h
Due: clang-tidy, clang-format

fix missing fill
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

debug printouts in tests
  tests/read_rntuple.cpp
Due: clang-tidy, clang-format

Make sure remote inputs are only fetched if necessary (#277)
  tests/CMakeLists.txt
Due: none

Add templated get/set functionality for GenericParameters and deprecate non-templated versions (#262)
  include/podio/GenericParameters.h
  include/podio/UserDataCollection.h
  include/podio/utilities/TypeHelpers.h
  src/GenericParameters.cc
  tests/read_test.h
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy, clang-format

Add test to check for setting ID on subset collections
  tests/unittest.cpp
Due: clang-tidy, clang-format

Add documentation for the Jinja2 templates (#274)
  doc/advanced_topics.md
  doc/templates.md
Due: none

Remove trailing whitespaces
  doc/templates.md
Due: none

Remove trailing whitespaces (#289)
  doc/templates.md
Due: none

Replace obj_needs_destructor by more general concept #[288]
  python/podio_class_generator.py
  python/templates/Obj.h.jinja2
Due: pylint, flake8

minor change is_trivial_type updated in files
  doc/templates.md
  python/templates/Obj.cc.jinja2
Due: none

Update doc/templates.md
  doc/templates.md
Due: none

Replace obj_needs_destructor by more general concept (#291)
  doc/templates.md
  python/podio_class_generator.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
Due: pylint, flake8

Python2 compatibility import removed.
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_EventStore.py
  python/test_MemberParser.py
Due: pylint, flake8

Removing obsolete ordered loading of datatypes
  python/podio_config_reader.py
Due: pylint, flake8

fixing yaml loading
  python/podio_config_reader.py
Due: pylint, flake8

Make SIO collection id writing independent of EventStore
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format
