Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Remove debug print output
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Strip empty lines from ExtraCode includes to avoid some warnings during code generation (#670)
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

fix datamodel version typos
  doc/datamodel_syntax.md
  python/podio/test_Frame.py
  tests/read_frame.h
Due: clang-tidy, clang-format, pylint, flake8

fix typos
  doc/templates.md
  include/podio/Reader.h
  python/podio_gen/generator_base.py
  src/ROOTLegacyReader.cc
  src/rootUtils.h
  tests/root_io/param_reading_rdataframe.py
Due: clang-tidy, clang-format, pylint, flake8

Update doc/datamodel_syntax.md
  doc/datamodel_syntax.md
Due: none

Fix a few typos in documentation (#671)
  doc/datamodel_syntax.md
  doc/templates.md
  include/podio/Reader.h
  python/podio/test_Frame.py
  python/podio_gen/generator_base.py
  src/ROOTLegacyReader.cc
  src/rootUtils.h
  tests/read_frame.h
  tests/root_io/param_reading_rdataframe.py
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/class/classpodio_1_1_reader.html
  master/cpp_api/file/_reader_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/datamodel_syntax.html
  master/py_api/podio_gen.html
  master/searchindex.js
  master/templates.html
Due: none

fix CreateDataFrame visibility in python
  python/podio/__init__.py
  python/podio/data_source.py
  tests/root_io/CMakeLists.txt
  tests/root_io/read_datasource.py
Due: pylint, flake8

use load dict to read datasource lib in python
  python/podio/data_source.py
  src/rds_selection.xml
Due: pylint, flake8

fix pylint warnings
  tests/root_io/read_datasource.py
Due: pylint, flake8

make `CreateDataFrame` accessible from python (#674)
  python/podio/__init__.py
  python/podio/data_source.py
  src/rds_selection.xml
  tests/root_io/CMakeLists.txt
  tests/root_io/read_datasource.py
Due: pylint, flake8

Fix a few wrong @params
  include/podio/DataSource.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Fix a few wrong @params (#675)
  include/podio/DataSource.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_writer.html
  master/cpp_api/file/_data_source_8h.html
  master/cpp_api/file/_writer_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/searchindex.js
Due: none

Add an static_assert for the GenericParameters and remove the EnableIf
  include/podio/Frame.h
  python/podio/frame.py
Due: clang-tidy, clang-format, pylint, flake8

Add a static_assert for getParameters
  include/podio/Frame.h
Due: clang-tidy, clang-format

Build podio with all available features for EDM4hep CI workflows
  .github/workflows/edm4hep.yaml
Due: none

Build podio with all available features for EDM4hep CI workflows (#677)
  .github/workflows/edm4hep.yaml
Due: none

Remove other EnableIfs
  include/podio/Frame.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Simplify related python code
  python/podio/frame.py
Due: pylint, flake8

Add a comment about the indexing
  python/podio/frame.py
Due: pylint, flake8

Change the error message
  include/podio/Frame.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Change error message
  include/podio/Frame.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Add an static_assert for the GenericParameters and remove the EnableIf (#676)
  include/podio/Frame.h
  include/podio/GenericParameters.h
  python/podio/frame.py
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/class/classpodio_1_1_generic_parameters.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/file/_generic_parameters_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

fix printout when not built with data source
  python/podio/data_source.py
Due: pylint, flake8

Revert part of #676 because there is no implicit conversion to std::string
  include/podio/Frame.h
Due: clang-tidy, clang-format

Revert part of #676 because there is no implicit conversion to std::string (#680)
  include/podio/Frame.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Add version module that allows to compare versions in python
  python/podio/base_reader.py
  python/podio/test_version.py
  python/podio/version.py
  tools/podio-dump
Due: pylint, flake8

fix printout when not built with data source (#679)
  python/podio/data_source.py
Due: pylint, flake8

Make comparison operators from c++ available in python
  podioVersion.in.h
  python/podio/base_reader.py
  python/podio/test_version.py
  python/podio/version.py
Due: pylint, flake8

Make it an import error if the header cannot be found
  python/podio/version.py
Due: pylint, flake8

Add version module that allows to compare versions in python (#678)
  podioVersion.in.h
  python/podio/test_version.py
  python/podio/version.py
  tools/podio-dump
Due: pylint, flake8

GenericParameters: update comment
  src/GenericParameters.cc
Due: clang-tidy, clang-format

DataSource add missing GetLabel override
  include/podio/DataSource.h
Due: clang-tidy, clang-format

Make comment more generic
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
