Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Reading single event specified by command
  tools/PodioEventOverview.cpp
Due: clang-tidy

added the IReader new functions to TimedReader
  include/podio/TimedReader.h
Due: clang-tidy

removing more whitespaces
  include/podio/IReader.h
  include/podio/TimedReader.h
Due: clang-tidy

Added error from to stoi to PodioEventOverview
  tools/PodioEventOverview.cpp
Due: clang-tidy

Removing PodioReader
  tools/CMakeLists.txt
  tools/PodioReader.cpp
Due: clang-tidy

Update tools/PodioEventOverview.cpp
  tools/PodioEventOverview.cpp
Due: clang-tidy

Last whitespaces
  include/podio/IReader.h
Due: clang-tidy

Improve usage messages from PodioEventOverview
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
Due: clang-tidy

Adding go to record to the goToEvent function
  include/podio/IReader.h
  src/SIOReader.cc
  tools/PodioReader.cpp
Due: clang-tidy

adding some codes to event overviewing
  tools/PodioEventOverview.cpp
Due: clang-tidy

adding line erased
  include/podio/CollectionBase.h
Due: clang-tidy

Changing scope of the events printed to user defined
  tools/PodioEventOverview.cpp
Due: clang-tidy

marked ROOTReader functions with override
  include/podio/ROOTReader.h
Due: clang-tidy

Adding bin
  tools/CMakeLists.txt
Due: none

Make getting reader from filename more robust
  include/podio/tools.h
  include/podio/utilities.h
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
Due: clang-tidy

Adding override to TimedReader
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  include/podio/tools.h
  src/SIOReader.cc
  tools/PodioEventOverview.cpp
Due: clang-tidy

goToEvent function added for SIO files
  include/podio/IReader.h
  include/podio/SIOReader.h
  src/SIOReader.cc
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Removing ascii function from CollectionBase
  include/podio/CollectionBase.h
  python/templates/Collection.h.jinja2
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Added specificity to cmake filter pattern for ROOT sources
  src/CMakeLists.txt
Due: none

Track whether a collection has been prepared
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

Restore TimedReader functionality
  include/podio/TimedReader.h
  tests/check_benchmark_outputs.cpp
Due: clang-tidy

Make it possible to go to arbitrary events in SIOReader
  include/podio/EventStore.h
  include/podio/IReader.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  src/ROOTReader.cc
  src/SIOReader.cc
  tests/read.cpp
  tests/read_sio.cpp
  tests/read_test.h
Due: clang-tidy

Run SIO tests only if SIO is enabled
  python/test_EventStoreSio.py
  tests/CMakeLists.txt
Due: pylint, flake8

Make python event store read sio files
  include/podio/PythonEventStore.h
  src/PythonEventStore.cc
Due: clang-tidy

Make the python event store live in its own lib
  python/EventStore.py
  src/CMakeLists.txt
  src/python_selection.xml
  src/selection.xml
Due: pylint, flake8

Add python script with dump-event functionality
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/EventStore.py
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  tools/CMakeLists.txt
  tools/PodioDumpEvent
Due: clang-tidy, pylint, flake8

Remove globbing for collecting source files
  src/CMakeLists.txt
Due: none

Split python event store tests to easier cover SIO and ROOT
  python/EventStore.py
  python/test_EventStore.py
  python/test_EventStoreRoot.py
  python/test_EventStoreSio.py
Due: pylint, flake8

Rename parameters to conform to podio language
  python/templates/CollectionData.h.jinja2
Due: none

Rename parameters to conform to podio language (#248)
  python/templates/CollectionData.h.jinja2
Due: none

Move RelationRange include to the correct files
  python/podio_class_generator.py
Due: pylint, flake8

Make Object templates produce immutable objects
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/ConstObject.cc.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/utils.jinja2
Due: pylint, flake8

Avoid double includes
  python/podio_class_generator.py
Due: pylint, flake8

Add tempates for Mutable classes
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/utils.jinja2
Due: pylint, flake8

Make filenames the same as class names
  python/podio_class_generator.py
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/utils.jinja2
  tests/ostream_operator.cpp
  tests/relation_range.cpp
  tests/unittest.cpp
Due: clang-tidy, pylint, flake8

Update static_assert messages to new naming scheme
  tests/unittest.cpp
Due: clang-tidy

Update documentation to mention Mutable classes
  doc/design.md
  doc/doc.md
Due: none

Remove no longer necessary relation_type and methods
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/Collection.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: pylint, flake8

Make ExtraCode injection consistent with the rest
  doc/datamodel_syntax.md
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/test_ClassDefinitionValidator.py
  tests/datalayout.yaml
Due: pylint, flake8

Make the clone function return mutable objects
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
