Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

[wip] Add basic test setup for running detection script tests
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/README.md
  tests/schema_evolution/detection/members/dm_float_to_double_new.yaml
  tests/schema_evolution/detection/members/dm_float_to_double_old.yaml
  tests/schema_evolution/detection/members/dm_rename_new.yaml
  tests/schema_evolution/detection/members/dm_rename_old.yaml
  tests/schema_evolution/detection/run_test_case.sh
  tests/schema_evolution/detection/vector_members/dm_add_new_new.yaml
  tests/schema_evolution/detection/vector_members/dm_add_new_old.yaml
Due: none

[wip] Start to generalize schema evolution checking
  python/podio_schema_evolution.py
Due: pylint, flake8

Add more tests for detecting changes to VectorMembers
  python/podio_schema_evolution.py
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/vector_members/dm_add_additional_new.yaml
  tests/schema_evolution/detection/vector_members/dm_add_additional_old.yaml
  tests/schema_evolution/detection/vector_members/dm_rm_one_new.yaml
  tests/schema_evolution/detection/vector_members/dm_rm_one_old.yaml
Due: pylint, flake8

Add detection of relation schema changes
  python/podio_schema_evolution.py
Due: pylint, flake8

Add (failing) tests related to relation schema changes
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/relations/dm_mv_multi_to_single_new.yaml
  tests/schema_evolution/detection/relations/dm_mv_multi_to_single_old.yaml
  tests/schema_evolution/detection/relations/dm_mv_single_to_multi_new.yaml
  tests/schema_evolution/detection/relations/dm_mv_single_to_multi_old.yaml
  tests/schema_evolution/detection/relations/dm_new_multi_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_new_multi_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_new_single_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_new_single_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_rm_multi_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_rm_multi_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_rm_single_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_rm_single_relation_old.yaml
Due: none

Remove unnecessary named variable
  python/podio_schema_evolution.py
Due: pylint, flake8

Make directional overloads take a tag argument
  doc/links.md
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Simplify logic and re-use messages from SchemaChanges
  python/podio_schema_evolution.py
Due: pylint, flake8

Harmonize messages with the YAML grammar
  python/podio_schema_evolution.py
Due: pylint, flake8

Rename overload selection tags and refine docstring wording
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Use correct overload in tests
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Update docs to new naming scheme
  doc/links.md
Due: none

Change import order to make pylint happy
  python/podio_schema_evolution.py
Due: pylint, flake8

compare with `std::less`, remove obsolete typedefs, sprinkle `noexcept`
  include/podio/detail/OrderKey.h
Due: clang-tidy, clang-format

Update include/podio/detail/OrderKey.h
  include/podio/detail/OrderKey.h
Due: clang-tidy, clang-format

fix format
  include/podio/detail/OrderKey.h
Due: clang-tidy, clang-format

Make sure documentation and code are consistent
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Add a LinkNavigator utility (#646)
  doc/links.md
  include/podio/LinkNavigator.h
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/CMakeLists.txt
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

allow cross-model interfaces in relations
  python/podio_gen/cpp_generator.py
  tests/datalayout_interface_extension.yaml
Due: pylint, flake8

add extension data model with interface
  .gitignore
  tests/CMakeLists.txt
  tests/datalayout_interface_extension.yaml
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

add detail function for object rank that can be used for comparison
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: clang-tidy, clang-format

add comments, mention in docs
  doc/datamodel_syntax.md
  include/podio/detail/OrderKey.h
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

test relations IO with cross-edm interface
  python/podio/test_Frame.py
  python/podio/test_Reader.py
  tests/read_frame.h
  tests/root_io/CMakeLists.txt
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

rename 'Rank' to 'OrderKey'
  include/podio/detail/OrderKey.h
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: clang-tidy, clang-format

hide rank value in a proxy
  include/podio/detail/RankType.h
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

Mark the collection destructor with override and remove an array include
  python/templates/Collection.h.jinja2
Due: none

test links IO with cross-edm interfaces
  python/podio/test_Frame.py
  tests/datalayout_interface_extension.yaml
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

fix missing link to extension datamodel in cmake testing function
  cmake/podioTest.cmake
Due: none

Allow types from different data models in interfaces (#714)
  .gitignore
  cmake/podioTest.cmake
  doc/datamodel_syntax.md
  include/podio/detail/OrderKey.h
  python/podio/test_Frame.py
  python/podio/test_Reader.py
  python/podio_gen/cpp_generator.py
  python/templates/Interface.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  tests/CMakeLists.txt
  tests/datalayout_interface_extension.yaml
  tests/read_frame.h
  tests/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/file/_order_key_8h.html
  master/cpp_api/filelist.html
  master/datamodel_syntax.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Mark the collection destructor with override and remove an array include (#716)
  python/templates/Collection.h.jinja2
Due: none

Delete all the non-virtual default destructors
  include/podio/CollectionBufferFactory.h
  include/podio/CollectionIDTable.h
  include/podio/DatamodelRegistry.h
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/LinkNavigator.h
  include/podio/RNTupleReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/Writer.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkObj.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/RootHelpers.h
  python/templates/CollectionData.h.jinja2
  python/templates/Interface.h.jinja2
  python/templates/macros/declarations.jinja2
Due: clang-tidy, clang-format

Fix pre-commit
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Improve the detection of schema changes and add tests (#715)
  python/podio_schema_evolution.py
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/README.md
  tests/schema_evolution/detection/members/dm_float_to_double_new.yaml
  tests/schema_evolution/detection/members/dm_float_to_double_old.yaml
  tests/schema_evolution/detection/members/dm_rename_new.yaml
  tests/schema_evolution/detection/members/dm_rename_old.yaml
  tests/schema_evolution/detection/relations/dm_mv_multi_to_single_new.yaml
  tests/schema_evolution/detection/relations/dm_mv_multi_to_single_old.yaml
  tests/schema_evolution/detection/relations/dm_mv_single_to_multi_new.yaml
  tests/schema_evolution/detection/relations/dm_mv_single_to_multi_old.yaml
  tests/schema_evolution/detection/relations/dm_new_multi_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_new_multi_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_new_single_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_new_single_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_rm_multi_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_rm_multi_relation_old.yaml
  tests/schema_evolution/detection/relations/dm_rm_single_relation_new.yaml
  tests/schema_evolution/detection/relations/dm_rm_single_relation_old.yaml
  tests/schema_evolution/detection/run_test_case.sh
  tests/schema_evolution/detection/vector_members/dm_add_additional_new.yaml
  tests/schema_evolution/detection/vector_members/dm_add_additional_old.yaml
  tests/schema_evolution/detection/vector_members/dm_add_new_new.yaml
  tests/schema_evolution/detection/vector_members/dm_add_new_old.yaml
  tests/schema_evolution/detection/vector_members/dm_rm_one_new.yaml
  tests/schema_evolution/detection/vector_members/dm_rm_one_old.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
