Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

move to tools and rename podio_test_hashes (#881)
  doc/tools.md
  src/CMakeLists.txt
  tools/CMakeLists.txt
  tools/src/podio-test-hashes.cpp
Due: clang-format, cppcheck, clang-tidy

Fix leak in the TTree readers and remove recasting in the buffers
  include/podio/CollectionBuffers.h
  include/podio/ROOTReader.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/macros/collections.jinja2
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/UserDataCollection.cc
  src/rootUtils.h
  tests/CTestCustom.cmake
Due: clang-format, cppcheck, clang-tidy

Fix VERSION_LESS_EQUAL
  tests/CTestCustom.cmake
Due: none

Ignore test with Clang and undefined only for Clang <= 20
  tests/CTestCustom.cmake
Due: none

Bring back recast since it is used downstream
  include/podio/CollectionBuffers.h
  include/podio/ROOTReader.h
  src/UserDataCollection.cc
Due: clang-format, cppcheck, clang-tidy

Remove recast again
  include/podio/CollectionBuffers.h
  src/UserDataCollection.cc
Due: clang-format, cppcheck, clang-tidy

Make the setCollectionAddresses{Reader,Writer} not be templates
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Bump patch version to 99
  CMakeLists.txt
Due: none

Fix (maybe) the version comparison
  tests/CTestCustom.cmake
Due: none

Ignore a few more tests
  tests/CTestCustom.cmake
Due: none

Ignore less tests for the address sanitizer
  tests/CTestCustom.cmake
Due: none

Move the deleted tests to be ignored with the Undefined sanitizer
  tests/CTestCustom.cmake
Due: none

Fix memory leak in the TTree Reader (#882)
  CMakeLists.txt
  include/podio/CollectionBuffers.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/macros/collections.jinja2
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/UserDataCollection.cc
  src/rootUtils.h
  tests/CTestCustom.cmake
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/file/_collection_buffers_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_collection_read_buffers.html
  master/cpp_api/structlist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Make test for renaming member variables more comprehensive
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Make test for renaming member variables more comprehensive (#887)
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add a failing test case
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_add_one_rm_one_new.yaml
  tests/schema_evolution/detection/members/dm_add_one_rm_one_old.yaml
Due: none

Make sure to not misidentify unrelated changes
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix misleading warning in schema evolution detection for unrelated changes (#888)
  python/podio_schema_evolution.py
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_add_one_rm_one_new.yaml
  tests/schema_evolution/detection/members/dm_add_one_rm_one_old.yaml
Due: pylint, flake8

Add unittests for some of the MemberVariable methods
  python/podio_gen/test_MemberVariable.py
Due: pylint, flake8

Fix code generation for arrays
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Add tests to ignore list for UBSan
  tests/CTestCustom.cmake
Due: none

Add test case that fails to compile
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change_array_member/check.cpp
  tests/schema_evolution/code_gen/no_change_array_member/new.yaml
  tests/schema_evolution/code_gen/no_change_array_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Fix code gen for old versions of array members (#886)
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberVariable.py
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change_array_member/check.cpp
  tests/schema_evolution/code_gen/no_change_array_member/new.yaml
  tests/schema_evolution/code_gen/no_change_array_member/old.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Create a dedicated class for reading custom changes
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Use new migration reader and adapt existing tests
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Use textwrap.dedent to improve tests formatting
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Simplify and streamline grammar
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Add test for confirming component member renames are propery detected
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: none

Add test spanning multiple versions for adding members to datatypes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Make ADD_SCHEMA_EVOLUTION_TEST accept multiple old versions
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add machinery and a first test with multiple old versions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Add a test case that involves manual intervention
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Fix issues introduced by rebasing
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Adapt ignore list for sanitizers
  tests/CTestCustom.cmake
Due: none

Make it possible to pass multiple old schema versions
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix referenes to no longer existing member variables
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Generalize cmake function to handle multiple old versions
  cmake/podioMacros.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none
