Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Update python/podio_config_reader.py
  python/podio_config_reader.py
Due: pylint, flake8

Do not change the ID for objects in subset collections (#285)
  python/templates/Collection.h.jinja2
  tests/unittest.cpp
Due: clang-tidy, clang-format

Remove commented remnants of refactor
  src/SIOBlock.cc
Due: clang-tidy, clang-format

clang-format fix
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Remove the CollectionID table member
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Move the build version into a separate block
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

removing ordered_dict
  python/podio_config_reader.py
Due: pylint, flake8

iterating the dictionary directly instead of calling .keys()
  python/podio_class_generator.py
Due: pylint, flake8

Make prepareForWrite thread safe and mark it as const
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Review generator python code (#293)
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_EventStore.py
  python/test_MemberParser.py
Due: pylint, flake8

Fix unused lambda capture
  tests/unittest.cpp
Due: clang-tidy, clang-format

running pre-commit locally
  doc/advanced_topics.md
Due: none

removing trailing whitespace
  doc/advanced_topics.md
Due: none

replace brew with pip
  doc/advanced_topics.md
Due: none

decrease test verbosity while waiting for logging
  tests/write_test.h
Due: clang-tidy, clang-format

Handle cases where LD_LIBRARY_PATH is not set
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Add protected constructors to CollectionBase
  include/podio/CollectionBase.h
Due: clang-tidy, clang-format

Split options into several lines for cleaner diffs
  .github/scripts/pylint.rc
Due: none

Remove no longer available options for disable
  .github/scripts/pylint.rc
Due: none

Fix pylint warnings
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_EventStore.py
Due: pylint, flake8

Remove no longer available options
  .github/scripts/pylint.rc
Due: none

changed readme file
  python/podio_class_generator.py
Due: pylint, flake8

Fix a few smaller issues flagged by newer versions of clang-tidy (#299)
  include/podio/CollectionBase.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Pylint configuration fixes for newer versions of pylint (#300)
  .github/scripts/pylint.rc
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_EventStore.py
Due: pylint, flake8

Make prepareForWrite thread safe and mark it as const (#295)
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Remove redundant tests
  tests/unittest.cpp
Due: clang-tidy, clang-format

Make sure to point vector member buffers to right place
  python/templates/CollectionData.cc.jinja2
Due: none

Add some tests to make sure buffers are OK after moving
  tests/unittest.cpp
Due: clang-tidy, clang-format

running pre-commit locally (#296)
  doc/advanced_topics.md
Due: none

Make sure vector member buffers point to the correct place even if a collection has been moved (#286)
  python/templates/CollectionData.cc.jinja2
  tests/unittest.cpp
Due: clang-tidy, clang-format

Default initialize array
  python/templates/macros/collections.jinja2
Due: none

Fetch the Catch2 3.0.1 release now that it is available
  tests/CMakeLists.txt
Due: none

Default initialize array (#303)
  python/templates/macros/collections.jinja2
Due: none

Fetch the Catch2 3.0.1 release now that it is available (#304)
  tests/CMakeLists.txt
Due: none

Restrict get/put interfaces to only accept collections
  include/podio/Frame.h
  include/podio/utilities/TypeHelpers.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Add the basic structure for the Frame class
  include/podio/Frame.h
  tests/CMakeLists.txt
  tests/frame.cpp
Due: clang-tidy, clang-format

Add basic support for GenericParameters through Frame
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Fix non-movable mutex
  include/podio/Frame.h
Due: clang-tidy, clang-format

Make Frame a move-only type
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format
