Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Fix cloning to behave the same as other generated types
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Switch to different types in association for tests
  tests/DatamodelAssociations.cc
  tests/read_test.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Add json output support for associations
  include/podio/Association.h
  include/podio/AssociationCollection.h
Due: clang-tidy, clang-format

Fix typos in documentation
  doc/associations.md
Due: none

Default initialize weight to 1
  include/podio/detail/AssociationObj.h
Due: clang-tidy, clang-format

Make Association I/O work with python
  tests/CMakeLists.txt
  tests/DatamodelAssociations.cc
Due: clang-tidy, clang-format

[wip] clang-tidy fixes
  include/podio/Association.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Introduce macros for registering associations
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionImpl.h
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

Fix some runtime errors and cleanup code
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
  python/templates/Object.h.jinja2
  src/DatamodelRegistry.cc
Due: clang-tidy, clang-format

Switch to more canonical member type names
  include/podio/detail/AssociationCollectionImpl.h
Due: clang-tidy, clang-format

Make the AssociationSIOBlock public
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format

Add writing of Association collection to Frame I/O tests
  python/podio/test_Frame.py
  tests/frame_test_common.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Fix clang-tidy warning
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Make associations work with Root I/O
  include/podio/AssociationCollection.h
  tests/read_test.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Move all but the public one into detail directory
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Adapt version check
  tests/read_frame_auxiliary.h
  tests/read_test.h
Due: clang-tidy, clang-format

[wip] AssociationColllection implementation
  include/podio/Association.h
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionData.h
  include/podio/AssociationCollectionIterator.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/podio_gen/cpp_generator.py
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format, pylint, flake8

[wip] Add necessary functionality for SIO backend
  include/podio/AssociationCollection.h
  include/podio/AssociationFwd.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Move non public headers to detail folder
  include/podio/Association.h
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionIterator.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/detail/AssociationSIOBlock.h
  include/podio/utilities/DeprecationMacros.h
Due: clang-tidy, clang-format

Switch to podio docstring comment style
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/detail/AssociationFwd.h
Due: clang-tidy, clang-format

Bump patch version and make all tests run
  CMakeLists.txt
  tests/read_frame_auxiliary.h
  tests/read_test.h
Due: clang-tidy, clang-format

Introduce typedefs for consistency with other types
  include/podio/Association.h
Due: clang-tidy, clang-format

Add markdown documentation describing usage and some implemenation details
  doc/associations.md
Due: none

Add definition of inequality operator
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Simplify and fortify some mutability checks
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Remove unnecessary NOLINT from tests
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Make association read tests version dependent
  python/templates/AssociationsSIOBlock.cc.jinja2
  tests/read_test.h
Due: clang-tidy, clang-format

[wip] Proper move semantics
  include/podio/AssociationCollection.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Add tests for inequality operator
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

"fix" legacy sio frame test
  tests/sio_io/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format

Rename Association to Link after EDM4hep discussion
  doc/links.md
  include/podio/AssociationCollection.h
  include/podio/LinkCollection.h
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkCollectionIterator.h
  include/podio/detail/LinkFwd.h
  include/podio/detail/LinkObj.h
  include/podio/detail/LinkSIOBlock.h
  python/podio/test_Frame.py
  src/CMakeLists.txt
  src/DatamodelRegistry.cc
  tests/CMakeLists.txt
  tests/DatamodelAssociations.cc
  tests/DatamodelLinks.cc
  tests/frame_test_common.h
  tests/read_test.h
  tests/unittests/CMakeLists.txt
  tests/unittests/associations.cpp
  tests/unittests/links.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Simplify and fortify SFINAE logic for mutable associations
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Generate all possible combinations for root dicts
  python/podio_gen/cpp_generator.py
  python/templates/Associations.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  src/CMakeLists.txt
Due: pylint, flake8

Add the possibility to specify a version header and variable
  include/podio/DatamodelRegistry.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/templates/DatamodelDefinition.h.jinja2
  src/DatamodelRegistry.cc
  tests/datalayout.yaml
  tests/datamodel/version.h
Due: clang-tidy, clang-format, pylint, flake8

Add reading back version to test
  tests/read_frame.h
Due: clang-tidy, clang-format

Make the readers and writers handle datamodel versions
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tests/read_frame.h
Due: clang-tidy, clang-format

Reuse existing type but give it new block name
  include/podio/SIOBlock.h
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Make sure to not pollute the available categories
  src/ROOTReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Add docstrings
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOReader.h
Due: clang-tidy, clang-format

Add documentation for new version_info section
  doc/datamodel_syntax.md
Due: none
