Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Move black to earlier in the pre-commit config (#903)
  .pre-commit-config.yaml
Due: none

Create a per ref concurrency group for doc building (#904)
  .github/workflows/publish-docs.yml
Due: none

podio-merge-files: add progress bar (#901)
  README.md
  requirements.txt
  tools/podio-merge-files
Due: none

Turn new option on for CI
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Add cmake option to toggle code gen for schema evolution tests
  tests/schema_evolution/CMakeLists.txt
Due: none

Turn option ON by default
  tests/schema_evolution/CMakeLists.txt
Due: none

Add a cmake option to toggle schema evolution tests with code generation (#902)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  tests/schema_evolution/CMakeLists.txt
Due: none

Add a basic cmake preset configuration
  CMakePresets.json
Due: none

Start to use presets for CI workflows
  .github/workflows/edm4eic.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-docs.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Use build and test presets in CI workflows
  .github/workflows/edm4eic.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Add a build and a test preset for CI workflows
  CMakePresets.json
Due: none

Do not use preset for building EDM4eic
  .github/workflows/edm4eic.yml
Due: none

Remove unnecessary argument for linux builds
  .github/workflows/test.yml
Due: none

podio-dump: Make -e -1 dump all of the entries
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add simple test for new option
  tests/CTestCustom.cmake
  tools/CMakeLists.txt
Due: none

podio-dump: Make -e -1 dump all of the entries (#906)
  tests/CTestCustom.cmake
  tools/CMakeLists.txt
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

feat: move Pythonizations implementations to source files
  include/podio/detail/Pythonizations.h
  src/CMakeLists.txt
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

fix: typo in string in src/Pythonizations.cc
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

fix: include cstring in src/Pythonizations.cc
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

Remove docstrings from implementation and re-order headers
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

feat: move Pythonizations implementations to source files (#908)
  include/podio/detail/Pythonizations.h
  src/CMakeLists.txt
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

feat: change exposed TU-local entities to inline
  include/podio/GenericParameters.h
  include/podio/LinkNavigator.h
  include/podio/detail/Link.h
  include/podio/detail/LinkFwd.h
  include/podio/utilities/MaybeSharedPtr.h
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

feat: change exposed TU-local entities to inline (#909)
  include/podio/GenericParameters.h
  include/podio/LinkNavigator.h
  include/podio/detail/Link.h
  include/podio/detail/LinkFwd.h
  include/podio/utilities/MaybeSharedPtr.h
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespace/namespacepodio_1_1utils.html
Due: none

feat: Add C++20 module support infrastructure (prototype)
  CMakeLists.txt
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioModules.cmake
  tests/CMakeLists.txt
  tests/podio_core_module.ixx
Due: none

fix: Correct CollectionIterator naming pattern
  python/templates/datamodel_module.ixx.jinja2
Due: none

fix: Implement namespace-aware module export generation (Strategy 2)
  python/podio_gen/cpp_generator.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

feat: Implement C++20 module template generation (80% complete)
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/templates/CMakeLists.txt
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

refactor: Move Pythonizations implementation to separate compilation unit
  src/CMakeLists.txt
  src/Pythonizations.cc
Due: clang-format, cppcheck, clang-tidy

docs: Add comprehensive C++20 modules user documentation
  doc/modules.md
Due: none

Disable module import test due to compiler stdlib issues
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

feat: Move podio.core module to src/ and enable proper installation
  cmake/podioModules.cmake
  src/podio_core_module.ixx
  tests/CMakeLists.txt
Due: none

Add comprehensive test suite for C++ modules functionality
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Add experimental test for direct module imports in .cpp files
  doc/modules.md
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_direct_import.cpp
Due: clang-format, cppcheck, clang-tidy

test: remove redundant C++ module tests, keep only import test
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_direct_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: Add global namespace prefix for non-namespaced types in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

Clean up license header in podio_core_module.ixx
  src/podio_core_module.ixx
Due: none

Add C++ modules test infrastructure
  tests/unittests/CMakeLists.txt
Due: none

ci: Enable C++ modules in workflow for gcc15 builds
  .github/workflows/test.yml
Due: none

Remove duplicate podio_core_module.ixx from tests directory
  tests/podio_core_module.ixx
Due: none
