Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Another set of small adjustments
  CMakeLists.txt
  include/podio/ROOTDataSource.h
  src/CMakeLists.txt
  src/ROOTDataSource.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

Add docstrings for the Reader interface
  include/podio/Reader.h
Due: clang-tidy, clang-format

Add docstrings for the Writer interface
  include/podio/Writer.h
Due: clang-tidy, clang-format

Make sure subset collections do not duplicate information when dumped to JSON (#640)
  include/podio/ObjectID.h
  python/templates/Collection.cc.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Separating datasource into standalone library
  CMakeLists.txt
  include/podio/DataSource.h
  src/CMakeLists.txt
  src/DataSource.cc
  src/rds_selection.xml
  src/root_selection.xml
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

Implement comments from review
  include/podio/Reader.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Make sure to not silently drop SIO input files
  include/podio/Reader.h
  src/Reader.cc
Due: clang-tidy, clang-format

Adding ON flag to all tests
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
Due: none

Formatting
  include/podio/DataSource.h
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Document I/O interfaces (#648)
  include/podio/Reader.h
  include/podio/Writer.h
  src/Reader.cc
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_reader.html
  master/cpp_api/class/classpodio_1_1_writer.html
  master/cpp_api/file/_reader_8h.html
  master/cpp_api/file/_writer_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
  master/searchindex.js
Due: none

Fix the env.sh script to point to the correct python location
  env.sh
Due: none

Fix the env.sh script to point to the correct python location (#650)
  env.sh
Due: none

Put clang-tidy into thin wrapper script
  .github/scripts/clang-tidy-hook
  .pre-commit-config.yaml
Due: none

Make sure that clang-tidy can find sio headers
  .pre-commit-config.yaml
Due: none

Make clang-tidy work for header only parts that need SIO includes (#649)
  .github/scripts/clang-tidy-hook
  .pre-commit-config.yaml
Due: none

[wip] Make SIO Frame reading (almost) work again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  tests/read_test.h
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add test to make sure structured bindings work in loops
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Fix include guards to comply with clang-tidy
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Make sure to cleanup cloned associations properly
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Code cleanup and addressing review comments
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/utilities/DeprecationMacros.h
  python/templates/MutableObject.h.jinja2
  tests/read_test.h
  tests/unittests/associations.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

Avoid unnecessary string copies, add documentation
  include/podio/detail/AssociationFwd.h
Due: clang-tidy, clang-format

Make templated associations work the same as generated ones
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
Due: clang-tidy, clang-format

[wip] unit tests for subset collection functionality
  include/podio/Association.h
  include/podio/AssociationCollection.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Add templated get/set and structured bindings to Associations
  include/podio/Association.h
  include/podio/detail/AssociationFwd.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Update type requirements to match generated code
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Fix tests after Frame
  tests/read_test.h
Due: clang-tidy, clang-format

Move template helpers to class and introduce a new one
  include/podio/detail/Association.h
  include/podio/detail/AssociationFwd.h
Due: clang-tidy, clang-format

Add missing header
  include/podio/detail/AssociationCollectionIterator.h
Due: clang-tidy, clang-format

[wip] Almost complete implementation of Association
  include/podio/Association.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Bring documentation up-to-date
  doc/associations.md
Due: none

Add test for cloning without relations
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Make things compile again after PR revival
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/utilities/TypeHelpers.h
  tests/read_test.h
Due: clang-tidy, clang-format

[wip] Make everything compile again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Add functionality to be closer to Container named requirement
  include/podio/detail/AssociationCollectionImpl.h
Due: clang-tidy, clang-format

[wip] Start working on templated associations
  include/podio/Association.h
  include/podio/AssociationObj.h
  tests/unittests/CMakeLists.txt
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Silence false-positives from clang-tidy
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Generate SIOBlocks instantiations for associations
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
Due: pylint, flake8

[wip] Scaffolding of AssociationCollection
  include/podio/AssociationCollection.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Make things compile again after rebase
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationSIOBlock.h
  python/templates/CMakeLists.txt
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
