Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

require collection typeName strings in concept
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

use same_as for create and element access methods
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

require to not be copyable
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Rename legacy tool to podio-dump-legacy
  tools/CMakeLists.txt
  tools/podio-dump-legacy
Due: none

Implement podio-dump-tool in c++ and wrap it in thin script
  CMakeLists.txt
  tools/CMakeLists.txt
  tools/json-to-yaml
  tools/podio-dump
  tools/podio-dump.py
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
  tools/src/tabulate.h
Due: clang-tidy, clang-format, pylint, flake8

Remove unnecessary flushing of stdout
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Use ranges where possible
  tools/src/podio-dump-tool.cpp
  tools/src/tabulate.h
Due: clang-tidy, clang-format

Enable more tests for sanitizers
  tests/CTestCustom.cmake
Due: none

Make more things done at compile time
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Fix pre-commit issues
  tools/json-to-yaml
  tools/podio-dump-legacy
  tools/src/argparseUtils.h
  tools/src/tabulate.h
Due: clang-tidy, clang-format

Keep podio-dump.py in set of installed programs for now
  tools/CMakeLists.txt
Due: none

Fix test env and paths for roundtrip tests
  cmake/podioTest.cmake
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Move sortAlphabetically to public header
  include/podio/utilities/MiscHelpers.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Switch to println where possible
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Fix minor differences in output
  tools/src/podio-dump-tool.cpp
  tools/src/tabulate.h
Due: clang-tidy, clang-format

Fix podio::Link::typeName that was wrongly including "Collection"
  include/podio/detail/LinkFwd.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Fix podio::Link::typeName that was wrongly including "Collection" (#762)
  include/podio/detail/LinkFwd.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Expand the documentation for datamodel.h
  doc/templates.md
Due: none

Use UnorderedEquals in the unittests
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add types that can be used to get all the data (or links) types
  python/podio_gen/cpp_generator.py
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Implement list of types instead of collections
  python/podio_gen/cpp_generator.py
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Fix with clang-format
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix the names of the Links
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add the empty string as a utility
  include/podio/utilities/TypeHelpers.h
  python/templates/datamodel.h.jinja2
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Range-ify more of the implementation
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Use ranges and views in some places
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Simplify parse function
  tools/src/argparseUtils.h
Due: clang-tidy, clang-format

Disable some tests still for TSan and UBSan
  tests/CTestCustom.cmake
Due: none

Introduce alias namespace for better readability
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
