Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

add units to generated documentation
  python/podio/generator_utils.py
  python/templates/macros/declarations.jinja2
Due: pylint, flake8

address formating check issues
  python/podio/podio_config_reader.py
Due: pylint, flake8

add unit syntax documentation
  doc/datamodel_syntax.md
Due: none

extend tests for members
  python/podio/test_MemberParser.py
Due: pylint, flake8

add regex to support unit definition
  python/podio/podio_config_reader.py
Due: pylint, flake8

make flake8 happy after last fix made lines too ling
  python/podio/podio_config_reader.py
Due: pylint, flake8

Allow to specify units (#445)
  doc/datamodel_syntax.md
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio/test_MemberParser.py
  python/templates/macros/declarations.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

temporary addition
  python/templates/DictLinkDef.h.jinja2
Due: none

mark members as transient for rootcling
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

update documentation for rootcling dictionaries
  doc/datamodel_syntax.md
  doc/templates.md
Due: none

fix renamed install targets
  src/CMakeLists.txt
Due: none

add missing include guard
  python/templates/DatamodelDefinition.h.jinja2
Due: none

More steps towards rootcling
  cmake/podioMacros.cmake
  doc/templates.md
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  python/podio/test_EventStore.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  src/CMakeLists.txt
  src/RootLinkDef.h
  tests/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

hide SIOBlocks for ROOT
  cmake/podioMacros.cmake
Due: none

apply clang-format suggestions
  src/DictLinkDef.h
  src/RootLinkDef.h
  src/SioLinkDef.h
Due: clang-tidy, clang-format

moving data dictionary generation to rootcling
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/DictLinkDef.h.jinja2
  python/templates/selection.xml.jinja2
  src/DictLinkDef.h
  tests/CMakeLists.txt
  tests/root_io/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

temporarily handle SIO linking for rootcling
  cmake/podioTest.cmake
  src/CMakeLists.txt
  src/SioLinkDef.h
  src/sio_selection.xml
  tests/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

remove compile flags that prevent rootcling dicts to compile in old ROOT versions
  cmake/podioBuild.cmake
Due: none

deprecate more of the selection.xml infrastructure
  src/CMakeLists.txt
  src/RootLinkDef.h
  src/python_selection.xml
  src/root_selection.xml
Due: clang-tidy, clang-format

temporarily remove eff C++ warning flag
  cmake/podioBuild.cmake
Due: none

remove trailing whitespace
  src/CMakeLists.txt
Due: none

remove deprecated macro
  cmake/podioMacros.cmake
Due: none

Update cmake/podioMacros.cmake
  cmake/podioMacros.cmake
Due: none

ignore shadow errors
  .github/workflows/test.yml
Due: none

add missing + in ROOTLinkDef
  src/RootLinkDef.h
Due: clang-tidy, clang-format

python/templates: add references between Objects and Collection types
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
Due: none

bump up required ROOT version in README
  README.md
Due: none

move linkdef to src directory as not to expose it
  python/podio_class_generator.py
  src/SioLinkDef.h
  tests/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

update documentation
  doc/templates.md
Due: none

Resolved Main Scope issue
  python/podio/generator_utils.py
  python/podio_class_generator.py
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Changes related to precommit
  python/podio/test_MemberParser.py
  python/podio_class_generator.py
Due: pylint, flake8

Codify some of the implicitly assumed conventions (#439)
  include/podio/Frame.h
  include/podio/FrameCategories.h
  tests/read_frame.h
  tests/read_frame_auxiliary.h
  tests/write_frame.h
Due: clang-tidy, clang-format

CI: use clang16 nightly builds (#469)
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
Due: none

Backport AUTO option for Catch2
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Avoid putting LinkDef.h files into list of generated headers
  python/podio_class_generator.py
Due: pylint, flake8

Initialize all branches index based for 00-16 series
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Initialize all branches index based for v00-16 series (#471)
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format
