Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

add `std::hash` for datatype objects, interfaces and links (#738)
  include/podio/detail/Link.h
  python/podio/test_CodeGen.py
  python/templates/Interface.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  tests/unittests/interface_types.cpp
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add v01-01 and v01-02 root files for backwards comp tests
  tests/CMakeLists.txt
  tests/input_files/v01-01-example_frame.root.md5
  tests/input_files/v01-02-example_frame.root.md5
  tests/read_frame.h
Due: clang-tidy, clang-format

Add v01-01 and v01-02 root files for backwards comp tests (#744)
  tests/CMakeLists.txt
  tests/input_files/v01-01-example_frame.root.md5
  tests/input_files/v01-02-example_frame.root.md5
  tests/read_frame.h
Due: clang-tidy, clang-format

delete rebinding for temporary datatypes objects
  doc/collections_as_container.md
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add comments to operator=
  python/templates/macros/declarations.jinja2
Due: none

delete rebinding for temporary link objects
  include/podio/detail/Link.h
Due: clang-tidy, clang-format

update comment on using iterators with std algorithms
  doc/collections_as_container.md
Due: none

Prevent assignment to temporary datatype and link objects (#743)
  doc/collections_as_container.md
  include/podio/detail/Link.h
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Work around potential ROOT issue
  python/podio/version.py
Due: pylint, flake8

Change import order to make pylint happy
  python/podio/version.py
Due: pylint, flake8

Make sure to use correct type
  python/podio/version.py
Due: pylint, flake8

Update documentation for master
  master/collections_as_container.html
  master/cpp_api/class/classpodio_1_1_link_t.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_link_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Don't rely on ROOT JIT to define python build_version (#745)
  python/podio/version.py
Due: pylint, flake8

Rename struct to better match naming convention
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  src/root_selection.xml
Due: clang-tidy, clang-format

Add name to CollectionWriteInfo
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

Cleanup and minor refactoring
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Make tuple a proper struct
  include/podio/utilities/RootHelpers.h
  src/root_selection.xml
Due: clang-tidy, clang-format

Make RNTuple output the same as TTree based one
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Keep thte ROOTReader functional for older versions
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Support Unity builds by adding a header guard and changing a few function names
  python/templates/Collection.cc.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  python/templates/macros/collections.jinja2
Due: none

Fix handling of forced python version.
  cmake/podioConfig.cmake.in
Due: none

Support Unity builds by adding a header guard and changing a few function names (#746)
  python/templates/Collection.cc.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  python/templates/macros/collections.jinja2
Due: none

Fix handling of forced python version. (#747)
  cmake/podioConfig.cmake.in
Due: none

add utility for static string_view concatenation
  include/podio/utilities/StaticConcatenate.h
Due: clang-tidy, clang-format

remove `linkCollTypeName` and `linkTypeName`
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

change typename type to string_view
  include/podio/detail/LinkFwd.h
  python/templates/Collection.h.jinja2
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

bring back and deprecate `linkCollTypeName` and `linkTypeName`
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

add LinkCollection typeName static member
  include/podio/LinkCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkFwd.h
  include/podio/detail/LinkSIOBlock.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

allocate space for null-termination after concatenated string
  include/podio/utilities/StaticConcatenate.h
Due: clang-tidy, clang-format

fix typos in testing links in unordered containers
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

fix typos in testing links in unordered containers (#749)
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

add RVec's of podio objects in podio dict
  src/CMakeLists.txt
  src/selection.xml
Due: none

add RVec's in generated datamodel dict
  cmake/podioMacros.cmake
  python/templates/selection.xml.jinja2
Due: none

Add const to void* in OrderKey.h
  include/podio/detail/OrderKey.h
Due: clang-tidy, clang-format

Add const to void* in OrderKey.h (#751)
  include/podio/detail/OrderKey.h
Due: clang-tidy, clang-format

update collection `max_size` to include limit due to `ObjectID` index type
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.cc.jinja2
Due: clang-tidy, clang-format

Add a reusable action to cache ExternalData
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Actually cache external data
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Deduplicate cache keys and stop concurrent runs
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
