Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Revert "[WIP] Make the TTree based ROOT backend store the GenericParameters t…" (#624)
  include/podio/CollectionBranches.h
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/CMakeLists.txt
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
  src/selection.xml
  tests/CMakeLists.txt
  tests/input_files/v00-99-example_frame.root.md5
  tests/input_files/v00-99-example_frame.sio.md5
  tests/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: clang-tidy, clang-format

add value-initialization
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add type aliases, iterators are LegacyIterator
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add postfix operator, iterators are LegacyInputIterators
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Refactor the RNTupleWriter internals and reduce some code duplication (#614)
  include/podio/CollectionBranches.h
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/CMakeLists.txt
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Add tests to make sure that v00-99 files stay readable
  tests/CMakeLists.txt
  tests/input_files/v00-99-example_frame.root.md5
  tests/input_files/v00-99-example_frame.sio.md5
  tests/root_io/CMakeLists.txt
Due: none

Make the ROOTWriter write split GenericParameters
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/selection.xml
Due: clang-tidy, clang-format

Add comment for reasoning about excluding forward decl for CLING
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Make the ROOTReader read the files again
  include/podio/GenericParameters.h
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Make tests work by hiding forward declaration from CLING
  include/podio/GenericParameters.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Make sure to only run SIO legacy tests when input data is available
  tests/sio_io/CMakeLists.txt
Due: none

Make older compilers happy with in place construction
  include/podio/utilities/RootHelpers.h
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

include flake8 changes
  python/podio_schema_evolution.py
Due: pylint, flake8

Rename template to better reflect generated header name
  python/podio_gen/cpp_generator.py
  python/templates/CMakeLists.txt
  python/templates/datamodel.h.jinja2
Due: pylint, flake8

Add new template to the documentation
  doc/templates.md
Due: none

use default member initializers
  python/templates/macros/iterator.jinja2
Due: none

remove obsolete todos
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

make dereference const by not updating local object, iterators are std::input_iterators
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add missing semantic requirements checks for concepts
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

clarify lack of operator-> for std::counted_iterator adapting collection iterators
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Add a header file including all the collections (#606)
  doc/templates.md
  python/podio_gen/cpp_generator.py
  python/templates/CMakeLists.txt
  python/templates/datamodel.h.jinja2
Due: pylint, flake8

Update documentation for master
  master/searchindex.js
  master/templates.html
Due: none

fix default member initializer style
  python/templates/macros/iterator.jinja2
Due: none

Add a schema evolution that triggers failure
  tests/schema_evolution/datalayout_new.yaml
Due: none

Add tests for running the schema evolution script standalone
  tests/schema_evolution/CMakeLists.txt
Due: none

Fix schema evolution script
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix schema evolution when switching component members (#627)
  python/podio_schema_evolution.py
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/datalayout_new.yaml
Due: pylint, flake8

Add documentation to ParamStorage members
  include/podio/utilities/RootHelpers.h
Due: clang-tidy, clang-format

Add a loadFrom method to facilitate usage in RDataFrame
  include/podio/GenericParameters.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Fix potential race condition for writing GenericParameters
  include/podio/GenericParameters.h
  include/podio/utilities/RootHelpers.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

Add utility function to load parameters in RDataFrame
  include/podio/GenericParameters.h
  include/podio/utilities/RootHelpers.h
  src/CMakeLists.txt
  src/RootHelpers.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/param_reading_rdataframe.py
Due: clang-tidy, clang-format, pylint, flake8

Link against all bits of ROOT that are necessary
  src/CMakeLists.txt
Due: none

Fix style issue
  tests/root_io/param_reading_rdataframe.py
Due: pylint, flake8

Ignore RDataFrame based tests in sanitizer builds
  tests/CTestCustom.cmake
Due: none

Simplify writing of parameters in RNTupleWriter slightly
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Use consistent source for branch offsets in reading and writing
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

add new test for impossible schema evolution detection
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/datalayout_notpossible.yaml
Due: none

Marking move from one component type to another one as impossible for schema evolution (#622)
  python/podio_schema_evolution.py
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/datalayout_notpossible.yaml
Due: pylint, flake8

Make the TTree and RNTuple based backends write the GenericParameters the same way (#625)
  include/podio/GenericParameters.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/CMakeLists.txt
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/RootHelpers.cc
  src/rootUtils.h
  src/selection.xml
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/input_files/v00-99-example_frame.root.md5
  tests/input_files/v00-99-example_frame.sio.md5
  tests/root_io/CMakeLists.txt
  tests/root_io/param_reading_rdataframe.py
  tests/sio_io/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
