Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Minor adjustments
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
Due: clang-tidy, clang-format

Formatting
  include/podio/DataSource.h
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Removing exporting of compile commands
  CMakeLists.txt
Due: none

Adding ON flag to all tests
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
Due: none

Cleanup setup code slightly to avoid unnecessary copies
  src/DataSource.cc
Due: clang-tidy, clang-format

Adding podio::ROOTDataSource class to the rootmap
  src/ROOTDataSource.cc
  src/root_selection.xml
Due: clang-tidy, clang-format

Adding missing podioDataSourceDict target
  src/CMakeLists.txt
Due: none

Other suggested adjustment
  include/podio/DataSource.h
  src/DataSource.cc
Due: clang-tidy, clang-format

Add an RDataSource for podio files and collections (#593)
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-docs.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  include/podio/DataSource.h
  src/CMakeLists.txt
  src/DataSource.cc
  src/rds_selection.xml
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Add dependency `graphviz`
  doc/requirements.txt
  requirements.txt
Due: none

Add to requirements.txt
  doc/requirements.in
  doc/requirements.txt
Due: none

Revert "Add dependency `graphviz`"
  doc/requirements.in
  requirements.txt
Due: none

Remove empty line
  requirements.txt
Due: none

[fix] Added graphviz dependency (Resolves #637) (#660)
  requirements.txt
Due: none

Make podio build version accessible from python
  python/podio/__init__.py
  python/podio/base_reader.py
  python/podio/version.py
  tools/podio-dump
Due: pylint, flake8

Use name that is closer to c++ name
  python/podio/base_reader.py
  tools/podio-dump
Due: pylint, flake8

Fix overlong line
  tools/podio-dump
Due: none

Point to the documentation from the top of the README
  README.md
Due: none

Add badge with links to doc
  README.md
Due: none

Make podio build version read from file accessible from python (#659)
  python/podio/__init__.py
  python/podio/base_reader.py
  python/podio/version.py
  tools/podio-dump
Due: pylint, flake8

Point to the documentation from the top of the README (#661)
  README.md
Due: none

Remove the check for non STL filesystem libs
  CMakeLists.txt
  cmake/podioMacros.cmake
  cmake/try_filesystem.cpp
Due: clang-tidy, clang-format

test setting new attributes for objects in python
  python/podio/test_CodeGen.py
  tests/datalayout.yaml
Due: pylint, flake8

add pythonization freezing class for new attribute creation
  python/podio/pythonizations/freeze_class.py
Due: pylint, flake8

Remove the check for non STL filesystem libs (#662)
  CMakeLists.txt
  cmake/podioMacros.cmake
  cmake/try_filesystem.cpp
Due: clang-tidy, clang-format

fix typo in freeze_class.py
  python/podio/pythonizations/freeze_class.py
Due: pylint, flake8

Add pythonization for freezing class attribute and preventing creating new attrubes by mistake (#663)
  python/podio/pythonizations/freeze_class.py
  python/podio/test_CodeGen.py
  tests/datalayout.yaml
Due: pylint, flake8

Update documentation for master
  master/genindex.html
  master/objects.inv
  master/py-modindex.html
  master/py_api/modules.html
  master/py_api/podio.html
  master/py_api/podio.pythonizations.html
  master/searchindex.js
Due: none

Remove no longer necessary pre-processor checks
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Remove no longer necessary pre-processor checks (#664)
  src/SIOBlock.cc
Due: clang-tidy, clang-format

add editorconfig
  .editorconfig
Due: none

Add two checks not to crash when a file doesn't exist or can't be opened
  src/Reader.cc
Due: clang-tidy, clang-format

Add two checks not to crash when a file doesn't exist or can't be opened (#666)
  src/Reader.cc
Due: clang-tidy, clang-format

fix pythonizations trying to import local modules as pythonization.submodule
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

Change C-style casts to static_cast
  podioVersion.in.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  src/RNTupleWriter.cc
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/schema_evolution/read_new_data.h
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove unnecessary semicolons
  include/podio/CollectionIDTable.h
  include/podio/Frame.h
  include/podio/UserDataCollection.h
  podioVersion.in.h
  python/templates/Collection.h.jinja2
  src/MurmurHash3.cpp
  tests/read_frame.h
  tests/root_io/relation_range.cpp
  tests/schema_evolution/read_new_data.h
Due: clang-tidy, clang-format

Change stddef.h and stdint.h to cstddef and cstdint
  include/podio/DatamodelRegistry.h
  include/podio/GenericParameters.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/RootHelpers.h
  src/CollectionBufferFactory.cc
  src/CollectionIDTable.cc
  src/RNTupleReader.cc
  src/ROOTLegacyReader.cc
  src/ROOTWriter.cc
  src/test_hashes.cpp
  tests/root_io/read_frame_legacy_root.cpp
  tests/root_io/read_frame_root_multiple.cpp
  tests/root_io/relation_range.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
