Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

clang format murmurhash3
  src/MurmurHash3.cpp
  src/MurmurHash3.h
Due: clang-tidy, clang-format

fix collectionID in SIOBlock
  include/podio/SIOBlock.h
Due: clang-tidy, clang-format

[clang-tidy] NOLINT murmurhash3 include guards
  src/MurmurHash3.h
Due: clang-tidy, clang-format

include clang-format suggestions
  src/MurmurHash2.cpp
Due: clang-tidy, clang-format

[clang-formt] A few more format fixes
  include/podio/CollectionIDTable.h
  include/podio/Frame.h
Due: clang-tidy, clang-format

Fix clang-tidy warning by explicitly including necessary header
  include/podio/ICollectionProvider.h
Due: clang-tidy, clang-format

protect frame against double insert
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Make unittest environment slightly more robust
  tests/CMakeLists.txt
Due: none

Make catch test discovery skippable
  tests/CMakeLists.txt
Due: none

Specifically use python3 for python unittests
  tests/CMakeLists.txt
Due: none

Make Catch2 setup more robust against podios in environment (#425)
  tests/CMakeLists.txt
Due: none

Make CollectionIDs a 32bit hash value of the collection name (#412)
  include/podio/CollectionBase.h
  include/podio/CollectionIDTable.h
  include/podio/EventStore.h
  include/podio/Frame.h
  include/podio/ICollectionProvider.h
  include/podio/IMetaDataProvider.h
  include/podio/ObjectID.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/SIOBlock.h
  include/podio/UserDataCollection.h
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/implementations.jinja2
  src/CMakeLists.txt
  src/CollectionIDTable.cc
  src/EventStore.cc
  src/MurmurHash3.cpp
  src/MurmurHash3.h
  src/rootUtils.h
  src/selection.xml
  src/sioUtils.h
  src/test_hashes.cpp
  tests/CMakeLists.txt
  tests/frame.cpp
  tests/unittest.cpp
Due: clang-tidy, clang-format

Introduce PODIO_SIOBLOCK_PATH for more robustness
  src/SIOBlock.cc
  tests/CMakeLists.txt
  tools/CMakeLists.txt
Due: clang-tidy, clang-format

Introduce PODIO_SIOBLOCK_PATH for more robustness (#426)
  src/SIOBlock.cc
  tests/CMakeLists.txt
  tools/CMakeLists.txt
Due: clang-tidy, clang-format

Add static constexpr char* names and hand out views for them
  include/podio/CollectionBase.h
  include/podio/SIOBlock.h
  include/podio/UserDataCollection.h
  python/podio/test_Frame.py
  python/templates/Collection.h.jinja2
  src/ROOTFrameWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOWriter.cc
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Work around Catch2 problem in test discovery
  tests/CMakeLists.txt
Due: none

Add AUTO as possible option to USE_EXTERNAL_CATCH2
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Switch key4hep workflows to build Catch2 if necessary
  .github/workflows/key4hep.yml
Due: none

Add static constexpr char* names and hand out views for them (#402)
  .github/workflows/key4hep.yml
  CMakeLists.txt
  include/podio/CollectionBase.h
  include/podio/SIOBlock.h
  include/podio/UserDataCollection.h
  python/podio/test_Frame.py
  python/templates/Collection.h.jinja2
  src/ROOTFrameWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOWriter.cc
  tests/CMakeLists.txt
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Delay library loading as long as possible
  tools/podio-dump
Due: none

Add a --version flag for dumping the podio version
  tools/podio-dump
Due: none

Dump collections in alphabetical order
  tools/podio-dump
Due: none

Use tabulate for easier printing of overview table
  requirements.txt
  tools/podio-dump
Due: none

Upate README with new requirements
  README.md
Due: none

Remove unused fields
  include/podio/CollectionBuffers.h
Due: clang-tidy, clang-format

Add SchemaEvolution singleton to hold evolution functions
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/SchemaEvolution.h
  src/CMakeLists.txt
  src/SchemaEvolution.cc
Due: clang-tidy, clang-format

[wip] Require registration of each evolution function
  include/podio/SchemaEvolution.h
  python/templates/Collection.cc.jinja2
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

[wip] Start populating SchemaEvolution registry
  include/podio/SchemaEvolution.h
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

[wip] Split registration into two steps
  include/podio/SchemaEvolution.h
  python/templates/Collection.cc.jinja2
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Inject type information into collection buffers
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/SchemaEvolution.h
  python/templates/Collection.cc.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Inject current schema version into buffers from buffer factory
  include/podio/CollectionBuffers.h
  python/templates/Collection.cc.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

[format] Fix pylint and flake8 issues
  tools/podio-dump
Due: none

Fix repeated download of test inputs if they are alrady present
  tests/CMakeLists.txt
Due: none

Split tests into subdirectories to declutter things a bit
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  tests/CMakeLists.txt
  tests/legacy_input_download.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read-legacy-files-root.cpp
  tests/root_io/read-multiple.cpp
  tests/root_io/read.cpp
  tests/root_io/read_and_write.cpp
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/read_frame_legacy_root.cpp
  tests/root_io/read_frame_root.cpp
  tests/root_io/read_frame_root_multiple.cpp
  tests/root_io/read_timed.cpp
  tests/root_io/relation_range.cpp
  tests/root_io/write.cpp
  tests/root_io/write_frame_root.cpp
  tests/root_io/write_timed.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_and_write_sio.cpp
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/read_frame_sio.cpp
  tests/sio_io/read_sio.cpp
  tests/sio_io/read_timed_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/sio_io/write_sio.cpp
  tests/sio_io/write_timed_sio.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
  tools/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Move test utility functionality into dedicated file
  CMakeLists.txt
  cmake/podioTest.cmake
  python/CMakeLists.txt
  tests/CMakeLists.txt
  tests/legacy_input_download.cmake
  tests/unittests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Move dumpmodel roundtrip tests into separate subfolder
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
Due: none

[clang-tidy] Mark inputs as const& for now
  include/podio/SchemaEvolution.h
  src/SchemaEvolution.cc
Due: clang-tidy, clang-format

Move commonly used declaration to separate header
  tests/frame_test_common.h
  tests/read_frame_auxiliary.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Improve podio dump (#427)
  README.md
  requirements.txt
  tools/podio-dump
Due: none

Reorganize the CMake configuration for the tests (#428)
  CMakeLists.txt
  cmake/podioTest.cmake
  python/CMakeLists.txt
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/frame_test_common.h
  tests/read_frame_auxiliary.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read-legacy-files-root.cpp
  tests/root_io/read-multiple.cpp
  tests/root_io/read.cpp
  tests/root_io/read_and_write.cpp
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/read_frame_legacy_root.cpp
  tests/root_io/read_frame_root.cpp
  tests/root_io/read_frame_root_multiple.cpp
  tests/root_io/read_timed.cpp
  tests/root_io/relation_range.cpp
  tests/root_io/write.cpp
  tests/root_io/write_frame_root.cpp
  tests/root_io/write_timed.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_and_write_sio.cpp
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/read_frame_sio.cpp
  tests/sio_io/read_sio.cpp
  tests/sio_io/read_timed_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/sio_io/write_sio.cpp
  tests/sio_io/write_timed_sio.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
  tests/write_frame.h
  tools/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8
