Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Remove the method isValid for Collections
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Add a test for the unused method `getN` in GenericParameters
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add a test for the unused method `getN` in GenericParameters (#984)
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Sort categories in getAvailableCategories for RNTuples
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Also sort categories in podio-dump
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Sort categories in getAvailableCategories for RNTuples and in podio-dump (#985)
  src/RNTupleReader.cc
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  tools/podio-merge-files
Due: none

Use NamedTemporaryFile
  python/podio/root_merge.py
Due: pylint, flake8

Add a comment
  python/podio/root_merge.py
Due: pylint, flake8

Remove check for metadata
  python/podio/root_merge.py
Due: pylint, flake8

Use TFileMerger
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8

Don't open any files to find the format, hadd works for TTrees and RNTuples
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8

Drop fmt_name
  python/podio/root_merge.py
Due: pylint, flake8

Use hadd for merging ROOT files with podio-merge-files
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8

Fix pre-commit
  python/podio/base_writer.py
Due: pylint, flake8

Improve comment
  python/podio/root_merge.py
Due: pylint, flake8

Remove comment
  python/podio/root_merge.py
Due: pylint, flake8

Do a few improvements: only open a file for finding metadata
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8

More improvements
  python/podio/root_merge.py
Due: pylint, flake8

Normalize doc strings
  python/podio/root_merge.py
Due: pylint, flake8

Fix extra conversions
  python/podio/root_merge.py
Due: pylint, flake8

Use `TFileMerger` to speed up `podio-merge-files` (#952)
  python/podio/base_writer.py
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8

arrowMapper->Arrow
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: none

pre commit issues with only .h
  include/podio/utilities/ArrowUtils.h
  src/ArrowUtils.cc
  src/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

fixes.
  .github/workflows/pre-commit.yml
  CMakeLists.txt
  cmake/podioMacros.cmake
  python/templates/macros/arrow.jinja2
  src/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: none

Addressing all comments
  CMakeLists.txt
  cmake/podioMacros.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowUtils.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/macros/arrow.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

frame to Table implementation
  .gitignore
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowTypeRegistry.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/macros/arrow.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/ArrowTypeRegistry.cc
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

pre commit and ci/cd pipeline failures
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowTypeRegistry.h
  python/podio_gen/cpp_generator.py
  src/ArrowFrameConverter.cc
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

removing arrowmapper.h
  cmake/podioMacros.cmake
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Addressing comments.
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  src/ArrowFrameConverter.cc
  src/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

removing schema and framparametersType
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

podio_enable_arrow only,
  cmake/podioConfig.cmake.in
Due: none

Apply suggestions from code review
  cmake/podioMacros.cmake
  python/templates/ArrowMapper.cc.jinja2
Due: none

Adding unittest for JSON Equivalence
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

cmake: export podio_ENABLE_ARROW from config
  cmake/podioConfig.cmake.in
Due: none

fixes.
  src/ArrowFrameConverter.cc
Due: clang-format, cppcheck, clang-tidy

clang-tidy
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Ensure Arrow mapper libs are loaded in unit tests
  tests/unittests/CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
