Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

mend
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

move comment
  python/templates/Interface.h.jinja2
Due: none

use enable_if in interface constructor
  python/templates/Interface.h.jinja2
Due: none

fix format
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

check container of interfaces move constructor and direct initialization
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

test elements of moved container of interfaces
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Fix include guards to comply with clang-tidy
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Generate SIOBlocks instantiations for associations
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
Due: pylint, flake8

Add templated get/set and structured bindings to Associations
  include/podio/Association.h
  include/podio/detail/AssociationFwd.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Add json output support for associations
  include/podio/Association.h
  include/podio/AssociationCollection.h
Due: clang-tidy, clang-format

Make Association I/O work with python
  tests/CMakeLists.txt
  tests/DatamodelAssociations.cc
Due: clang-tidy, clang-format

Simplify and fortify SFINAE logic for mutable associations
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

[wip] Scaffolding of AssociationCollection
  include/podio/AssociationCollection.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Make sure to cleanup cloned associations properly
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Make things compile again after PR revival
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/utilities/TypeHelpers.h
  tests/read_test.h
Due: clang-tidy, clang-format

"fix" legacy sio frame test
  tests/sio_io/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format

[wip] Make everything compile again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Add writing of Association collection to Frame I/O tests
  python/podio/test_Frame.py
  tests/frame_test_common.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

[wip] AssociationColllection implementation
  include/podio/Association.h
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionData.h
  include/podio/AssociationCollectionIterator.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/podio_gen/cpp_generator.py
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format, pylint, flake8

[wip] Introduce macros for registering associations
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionImpl.h
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

Generate all possible combinations for root dicts
  python/podio_gen/cpp_generator.py
  python/templates/Associations.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  src/CMakeLists.txt
Due: pylint, flake8

[wip] clang-tidy fixes
  include/podio/Association.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Adapt version check
  tests/read_frame_auxiliary.h
  tests/read_test.h
Due: clang-tidy, clang-format

Fix clang-tidy warning
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Code cleanup and addressing review comments
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/utilities/DeprecationMacros.h
  python/templates/MutableObject.h.jinja2
  tests/read_test.h
  tests/unittests/associations.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

[wip] Add necessary functionality for SIO backend
  include/podio/AssociationCollection.h
  include/podio/AssociationFwd.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Add functionality to be closer to Container named requirement
  include/podio/detail/AssociationCollectionImpl.h
Due: clang-tidy, clang-format

[wip] Make SIO Frame reading (almost) work again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  tests/read_test.h
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format, pylint, flake8

[wip] Make things compile again after rebase
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationSIOBlock.h
  python/templates/CMakeLists.txt
Due: clang-tidy, clang-format

Add markdown documentation describing usage and some implemenation details
  doc/associations.md
Due: none

[wip] Almost complete implementation of Association
  include/podio/Association.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Make things work again (again) with c++17
  include/podio/detail/RelationIOHelpers.h
Due: clang-tidy, clang-format

[wip] Make associations work with Root I/O
  include/podio/AssociationCollection.h
  tests/read_test.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Make the AssociationSIOBlock public
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format

[wip] Proper move semantics
  include/podio/AssociationCollection.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Start working on templated associations
  include/podio/Association.h
  include/podio/AssociationObj.h
  tests/unittests/CMakeLists.txt
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Introduce typedefs for consistency with other types
  include/podio/Association.h
Due: clang-tidy, clang-format

Use more suitable name for header
  include/podio/detail/RelationIOHelpers.h
Due: clang-tidy, clang-format

Avoid unnecessary string copies, add documentation
  include/podio/detail/AssociationFwd.h
Due: clang-tidy, clang-format

Make association read tests version dependent
  python/templates/AssociationsSIOBlock.cc.jinja2
  tests/read_test.h
Due: clang-tidy, clang-format
