Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add missing endif()
  CMakeLists.txt
Due: none

Add a few minor changes
  src/ROOTNTupleReader.cc
Due: clang-tidy, clang-format

Add missing Name at the end
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Add Name at the end of some names
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Add missing changes in the headers
  include/podio/ROOTNTupleReader.h
  include/podio/ROOTNTupleWriter.h
Due: clang-tidy, clang-format

Enable RNTuple I/O in Key4hep CI
  .github/workflows/key4hep.yml
Due: none

Update the RNTuple writer to use a bare model
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Change MakeField to the new signature
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Run clang-format
  src/ROOTNTupleReader.cc
Due: clang-tidy, clang-format

Update the RNTuple reader and writer to use the buffer factory
  include/podio/ROOTNTupleReader.h
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Check if dev3 workflows come with recent enough ROOT
  .github/workflows/ubuntu.yml
Due: none

Add friends for Generic Parameters
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Update changes after the changes in the collectionID and string_view
  include/podio/ROOTNTupleReader.h
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Remove registry from docstrings
  include/podio/SchemaEvolution.h
Due: clang-tidy, clang-format

Add schema evolution hooks to Frame (#413)
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/SchemaEvolution.h
  python/templates/Collection.cc.jinja2
  src/CMakeLists.txt
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Run clang-format
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

removed cmake.yml
  .github/workflows/cmake.yml
Due: none

Create cmake.yml
  .github/workflows/cmake.yml
Due: none

Modified parse function definition to incorporate missing description in member definition error message.
  python/podio/podio_config_reader.py
Due: pylint, flake8

added explanatory comment to parse function
  python/podio/podio_config_reader.py
Due: pylint, flake8

fixed indentation issues of code
  python/podio/podio_config_reader.py
Due: pylint, flake8

fixed pylint warnings
  python/podio/podio_config_reader.py
Due: pylint, flake8

remove + operator
  python/podio/podio_config_reader.py
Due: pylint, flake8

Make error message from parsing more explicit (#437)
  python/podio/podio_config_reader.py
Due: pylint, flake8

move Collection::createBuffers template into macro
  python/templates/Collection.cc.jinja2
  python/templates/macros/collections.jinja2
  tests/CMakeLists.txt
Due: none

creating components and datatypes for explicit schema evolution
  python/podio_class_generator.py
Due: pylint, flake8

add more schema evolution code generation
  python/podio_class_generator.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/macros/collections.jinja2
Due: pylint, flake8

Update the reader and writer to conform to #405
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Reorganize and clean up code in the reader
  src/ROOTNTupleReader.cc
Due: clang-tidy, clang-format

Run clang-format
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Simplify how the references are filled
  src/ROOTNTupleReader.cc
Due: clang-tidy, clang-format

Allow the writers not to call finish()
  include/podio/ROOTFrameWriter.h
  include/podio/SIOWriter.h
  src/ROOTFrameWriter.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Add support for the new RNTuple format (#395)
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  include/podio/CollectionBuffers.h
  include/podio/GenericParameters.h
  include/podio/ROOTNTupleReader.h
  include/podio/ROOTNTupleWriter.h
  include/podio/UserDataCollection.h
  python/templates/CollectionData.cc.jinja2
  src/CMakeLists.txt
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_rntuple.cpp
Due: clang-tidy, clang-format

Allow the writers not to call finish() (#442)
  include/podio/ROOTFrameWriter.h
  include/podio/SIOWriter.h
  src/ROOTFrameWriter.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Make the SIOFrameWriter call to finish non-mandatory
  include/podio/SIOFrameWriter.h
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Make the SIOFrameWriter call to finish non-mandatory (#446)
  include/podio/SIOFrameWriter.h
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Revert "Make the SIOFrameWriter call to finish non-mandatory (#446)"
  include/podio/SIOFrameWriter.h
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Make sure to only run finish once
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Remove the lcio datalayout
  lcio/datalayout.yaml
Due: none

Switch to a newer LCG stack with root 6.28/00
  .github/workflows/pre-commit.yml
Due: none
