Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: 41ad32113ed5abe9c33a01f606b5eacf572b13e0
    hooks:
      - id: clang-format
        args: [--style=file]
        exclude: podioVersion.h
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Fix the tests where necessary
  tests/ostream_operator.cpp
  tests/relation_range.cpp
  tests/unittest.cpp
  tests/write_ascii.cpp
  tests/write_test.h
Due: clang-tidy

Make the default classes immutable and mark mutable classes explictly (#205)
  doc/datamodel_syntax.md
  doc/design.md
  doc/doc.md
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/CMakeLists.txt
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/ConstObject.cc.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/utils.jinja2
  python/test_ClassDefinitionValidator.py
  tests/datalayout.yaml
  tests/ostream_operator.cpp
  tests/relation_range.cpp
  tests/unittest.cpp
  tests/write_ascii.cpp
  tests/write_test.h
Due: clang-tidy, pylint, flake8

Track whether a collection has been prepared (#245)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

Add tests for checking subset collections of types without relations
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

Fix memory leak for certain subset collections
  python/templates/CollectionData.cc.jinja2
Due: none

Make sure that subset collections work for types without relations
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
Due: none

Fix incorrect handling of subset collections of types without relations (#251)
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

Added specificity to cmake filter pattern for ROOT sources (#243)
  src/CMakeLists.txt
Due: none

Remove Python 2 from docs (#209)
  README.md
Due: none

emplace a nullptr to vector if getting fails, use specific implementations; get_collections reverted to original form
  python/templates/macros/collections.jinja2
Due: none

write subset hits collection and try to read them
  tests/read_and_write_associated.cpp
Due: clang-tidy

Change error message for subsets collection not being elements of a collection
  python/templates/Collection.cc.jinja2
Due: none

skip relations if getting them returns false
  python/templates/macros/collections.jinja2
Due: none

add subset collection hits for test. Formatting
  tests/read_and_write_associated.cpp
Due: clang-tidy

Simplify check into one line
  python/templates/macros/collections.jinja2
Due: none

loop over clusters and hits in clusters
  tests/read_and_write_associated.cpp
Due: clang-tidy

add failing test for persisting associated collections
  tests/CMakeLists.txt
  tests/read_and_write_associated.cpp
Due: clang-tidy

Check in constructors if underlying obj is not null
  python/templates/macros/implementations.jinja2
Due: none

Make subset collections behave the same as other relations
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/macros/collections.jinja2
  tests/read_and_write_associated.cpp
Due: clang-tidy

Introduce move constructor/assignment for CollectionData
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
Due: none

Add move constructor/assignment operator to Collection
  python/templates/Collection.h.jinja2
Due: none

Add include that is necessary for gcc8
  python/podio_class_generator.py
  python/templates/CollectionData.h.jinja2
Due: pylint, flake8

Use unique_ptr for CollectionData pointer management
  include/podio/CollectionBuffers.h
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/ROOTWriter.cc
Due: clang-tidy

Add tests for moving subset collections
  tests/unittest.cpp
Due: clang-tidy

Add more tests for moving collections
  tests/unittest.cpp
Due: clang-tidy

Add first tests for move ctors and assignment operators
  tests/unittest.cpp
Due: clang-tidy

Disable tests with known failures and enable CI workflows
  .github/workflows/sanitizers.yaml
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/unittest.cpp
Due: clang-tidy

Add sanitizer build configuration and workflows
  .github/workflows/sanitizers.yml
  CMakeLists.txt
  cmake/podioBuild.cmake
  tests/CMakeLists.txt
Due: none

Make sanitizer workflow triggerable on demand
  .github/workflows/sanitizers.yaml
Due: none

Use Catch2 facilities for static checks
  tests/unittest.cpp
Due: clang-tidy

Label all test cases
  tests/unittest.cpp
Due: clang-tidy

Add documentation
  README.md
Due: none

Add sanitizer build options (#249)
  .github/workflows/sanitizers.yaml
  CMakeLists.txt
  README.md
  cmake/podioBuild.cmake
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/unittest.cpp
Due: clang-tidy

Make UserDataCollections movable
  include/podio/UserDataCollection.h
  tests/unittest.cpp
Due: clang-tidy

Make collections movable (#252)
  include/podio/CollectionBuffers.h
  include/podio/UserDataCollection.h
  python/podio_class_generator.py
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/ROOTWriter.cc
  tests/unittest.cpp
Due: clang-tidy, pylint, flake8

Test and fix for persisting a collection without its associated collections (#235)
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/implementations.jinja2
  tests/CMakeLists.txt
  tests/read_and_write_associated.cpp
Due: clang-tidy

Ignore new test
  tests/CTestCustom.cmake
Due: none

Make ROOT write the current build version
  src/CMakeLists.txt
  src/ROOTWriter.cc
  src/selection.xml
Due: clang-tidy

Make it possible to get the podio version used at write time
  include/podio/IReader.h
  include/podio/ROOTReader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  src/ROOTReader.cc
  src/SIOReader.cc
  tests/read.cpp
  tests/read_sio.cpp
Due: clang-tidy

Do not run legacy files test with sanitizers
  tests/CTestCustom.cmake
Due: none
