Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Defer Frame construction onto thread
  tests/read_frame_multithreaded.h
Due: clang-format, cppcheck, clang-tidy

Add I/O tests that run on multiple threads
  tests/read_frame_multithreaded.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_root_multithreaded.cpp
  tests/root_io/read_rntuple_multithreaded.cpp
  tests/root_io/write_frame_root_multithreaded.cpp
  tests/root_io/write_rntuple_multithreaded.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_frame_sio_multithreaded.cpp
  tests/sio_io/write_frame_sio_multithreaded.cpp
  tests/write_frame_multithreaded.h
Due: clang-format, cppcheck, clang-tidy

Ignore tests for UBSan where they hit a known failure
  tests/CTestCustom.cmake
Due: none

Fix the name of the tests that are excluded in the Undefined
  tests/CTestCustom.cmake
Due: none

Add missing include
  tests/read_frame_multithreaded.h
Due: clang-format, cppcheck, clang-tidy

Add I/O tests that run on multiple threads (#955)
  tests/CTestCustom.cmake
  tests/read_frame_multithreaded.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_root_multithreaded.cpp
  tests/root_io/read_rntuple_multithreaded.cpp
  tests/root_io/write_frame_root_multithreaded.cpp
  tests/root_io/write_rntuple_multithreaded.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_frame_sio_multithreaded.cpp
  tests/sio_io/write_frame_sio_multithreaded.cpp
  tests/write_frame_multithreaded.h
Due: clang-format, cppcheck, clang-tidy

Update tests/unittests/unittest.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Addressing Comments.
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/podioMacros.cmake
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Nullability change.
  python/podio_gen/cpp_generator.py
  python/podio_gen/test_CPPGenerator.py
Due: pylint, flake8

Fix flake8 line length errors in test_CPPGenerator
  python/podio_gen/test_CPPGenerator.py
Due: pylint, flake8

Removing check for ArrowMapper filteration.
  cmake/podioMacros.cmake
Due: none

Arrow handler to generate Arrow schema mapper.
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/test_CPPGenerator.py
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
Due: pylint, flake8

removing old test
  python/podio_gen/test_CPPGenerator.py
Due: pylint, flake8

Frame parameters schema support and metadata capabilities to ArrowMapper
  python/podio_gen/test_CPPGenerator.py
  python/templates/ArrowMapper.h.jinja2
Due: pylint, flake8

Line length pre-commit warning resolution
  python/podio_gen/test_CPPGenerator.py
Due: pylint, flake8

clang formatting errors fix.
  python/podio_gen/test_CPPGenerator.py
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

clang format
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

feat: Add Apache Arrow schema mapper generation to code generator (#966)
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

poc single collection
  tests/unittests/CMakeLists.txt
  tests/unittests/filtering.cpp
Due: clang-format, cppcheck, clang-tidy

poc one to many
  tests/unittests/filtering.cpp
Due: clang-format, cppcheck, clang-tidy

poc multi
  tests/unittests/filtering.cpp
Due: clang-format, cppcheck, clang-tidy

poc links
  tests/unittests/filtering.cpp
Due: clang-format, cppcheck, clang-tidy

poc framefilter
  include/podio/FrameFilter.h
  include/podio/detail/FilterHooks.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/FilterHooks.cc.jinja2
  tests/unittests/CMakeLists.txt
  tests/unittests/frame_filter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

copy vector members
  python/templates/FilterHooks.cc.jinja2
  tests/unittests/frame_filter.cpp
Due: clang-format, cppcheck, clang-tidy

centralize filter hook registry
  include/podio/FrameFilter.h
  include/podio/detail/FilterHookRegistry.h
  include/podio/detail/FilterHooks.h
  python/templates/FilterHooks.cc.jinja2
  src/CMakeLists.txt
  src/FilterHookRegistry.cc
Due: clang-format, cppcheck, clang-tidy

support for interfaces
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/FilterHooks.cc.jinja2
  python/templates/Interface.h.jinja2
  python/templates/InterfaceFilterResolver.cc.jinja2
  tests/unittests/frame_filter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

subset handling
  include/podio/FrameFilter.h
  python/templates/FilterHooks.cc.jinja2
  tests/unittests/frame_filter.cpp
Due: clang-format, cppcheck, clang-tidy

doc
  doc/filtering.md
  doc/index.rst
Due: none

drop helper
  doc/filtering.md
  include/podio/FrameFilter.h
  tests/unittests/frame_filter.cpp
Due: clang-format, cppcheck, clang-tidy

span over vector
  include/podio/detail/FilterHooks.h
  python/templates/FilterHooks.cc.jinja2
Due: clang-format, cppcheck, clang-tidy

drop omits collection
  doc/filtering.md
  include/podio/FrameFilter.h
  tests/unittests/frame_filter.cpp
Due: clang-format, cppcheck, clang-tidy

drop unneeded unit test
  tests/unittests/CMakeLists.txt
  tests/unittests/filtering.cpp
  tests/unittests/frame_filter.cpp
Due: clang-format, cppcheck, clang-tidy

Remove the deprecated getValue() in Interfaces
  python/templates/Interface.h.jinja2
Due: none

Remove the deprecated getter without "get" before the name
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Remove the deprecated getter without "get" before the name (#972)
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Change CI to use Clang22 instead of Clang19, soon unsupported
  .github/workflows/edm4hep.yaml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
Due: none

Bring back clang19 for sanitizers
  .github/workflows/sanitizers.yaml
Due: none

Change CI to use Clang22 instead of Clang19, soon unsupported (#975)
  .github/workflows/edm4hep.yaml
  .github/workflows/test.yml
Due: none

Remove the deprecated getValue() in Interfaces (#971)
  python/templates/Interface.h.jinja2
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
