Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Change the logic to select when to enable RNTuple
  src/Writer.cc
  tests/root_io/CMakeLists.txt
Due: clang-tidy, clang-format

Fix typo
  tests/CTestCustom.cmake
Due: none

Fix pre-commit
  doc/root.md
Due: none

Add exceptions for the sanitizers
  tests/CTestCustom.cmake
Due: none

Use a {note} block
  doc/root.md
Due: none

Change the default of the writer to RNTuple when PODIO_WRITE_RNTUPLE
  doc/advanced_topics.md
  src/Writer.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_interface_root.cpp
Due: clang-tidy, clang-format

Fix env
  tests/root_io/CMakeLists.txt
Due: none

Fix a few comments
  doc/root.md
Due: none

Add missing exception
  tests/CTestCustom.cmake
Due: none

Use PODIO_DEFAULT_WRITE_RNTUPLE instead of PODIO_WRITE_RNTUPLE
  doc/root.md
  src/Writer.cc
  tests/root_io/CMakeLists.txt
Due: clang-tidy, clang-format

Make sure newly written documentation is published
  doc/index.rst
  doc/reading_writing.md
Due: none

Remove old schema components from selection.xml
  python/templates/selection.xml.jinja2
Due: none

Add a few overrides
  include/podio/Frame.h
  include/podio/Reader.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Add missing override to the destructor of UserDataCollection and LinkCollectionImpl (#785)
  .clang-tidy
  include/podio/Frame.h
  include/podio/Reader.h
  include/podio/UserDataCollection.h
  include/podio/Writer.h
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_collection.html
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/file/_link_collection_impl_8h.html
  master/cpp_api/file/_reader_8h.html
  master/cpp_api/file/_user_data_collection_8h.html
  master/cpp_api/file/_writer_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/struct/structpodio_1_1_frame_1_1_frame_model.html
  master/cpp_api/struct/structpodio_1_1_reader_1_1_reader_model.html
  master/cpp_api/struct/structpodio_1_1_writer_1_1_writer_model.html
  master/objects.inv
Due: none

Add that by passing "root" TTrees will be used
  doc/root.md
Due: none

Add documentation
  doc/root.md
Due: none

Mention globbing
  doc/root.md
Due: none

Change the default setting of the generic writer to RNTuple when `PODIO_DEFAULT_WRITE_RNTUPLE` is set (#784)
  doc/advanced_topics.md
  doc/index.rst
  doc/reading_writing.md
  src/Writer.cc
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_interface_root.cpp
Due: clang-tidy, clang-format

Update docstrings to reflect new template names
  include/podio/Frame.h
Due: clang-tidy, clang-format

Update FrameDataType concept and make SIOFrameData match
  include/podio/Frame.h
  include/podio/SIOFrameData.h
Due: clang-tidy, clang-format

Introdue a FrameDataType concept
  include/podio/Frame.h
Due: clang-tidy, clang-format

Introduce a FrameDataType concept (#786)
  include/podio/Frame.h
  include/podio/SIOFrameData.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/class/classpodio_1_1_s_i_o_frame_data.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/file/_s_i_o_frame_data_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Factor out filtering of changes to same datatypes
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out check into dedicated method
  python/podio_schema_evolution.py
Due: pylint, flake8

Make function more general in light of future use
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
