Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Fix typo
  cmake/podioMacros.cmake
Due: none

fix: explicitly use SELECTION_XML in OUTPUT_FOLDER (#318)
  cmake/podioMacros.cmake
Due: none

fix mutual inclusion problem using parameteric types
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
Due: pylint, flake8

Add support for conversion to JSON (#312)
  doc/advanced_topics.md
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

fix precommit
  python/podio_class_generator.py
Due: pylint, flake8

fixing name, adding tests
  python/podio_class_generator.py
  tests/unittest.jl
Due: pylint, flake8

trimming trailing whitespaces
  tests/unittest.jl
Due: none

Release Notes for v00-15
  doc/ReleaseNotes.md
Due: none

Updating version to v00-15
  CMakeLists.txt
Due: none

some fixes
  python/podio_class_generator.py
  python/templates/MutableStruct.jl.jinja2
Due: pylint, flake8

Fix pre-commit
  python/podio_class_generator.py
Due: pylint, flake8

stop clang-format from running julia code generation
  python/podio_class_generator.py
Due: pylint, flake8

add collections
  python/podio_class_generator.py
  python/templates/JuliaCollection.jl.jinja2
Due: pylint, flake8

Forming testsets
  tests/unittest.jl
Due: none

Update tests/unittest.jl
  tests/unittest.jl
Due: none

Update python/templates/Constructor.jl.jinja2
  python/templates/Constructor.jl.jinja2
Due: none

Update python/templates/JuliaCollection.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
Due: none

Update python/templates/MutableStruct.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
Due: none

adding test for collections
  tests/unittest.jl
Due: none

Parsing Julia types from c++ types in yaml description (#310)
  python/generator_utils.py
  python/podio_class_generator.py
  python/test_MemberParser.py
Due: pylint, flake8

Julia preprocessing (#311)
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Make changes in Julia templates trigger cmake again
  python/templates/CMakeLists.txt
  python/templates/MutableStruct.jl.jinja2
  tests/unittest.jl
Due: none

Add Julia unittests to test suite
  cmake/FindJulia.cmake
  tests/CMakeLists.txt
Due: none

[pre-commit] Python formatting
  python/podio_class_generator.py
Due: pylint, flake8

Only check if we find a Julia executable
  cmake/FindJulia.cmake
  tests/CMakeLists.txt
Due: none

Add print function to collections
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
Due: clang-tidy, clang-format

Add podio-dump tool to inspect podio files
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/EventStore.py
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  tools/CMakeLists.txt
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Split python parts into its own shared lib
  python/EventStore.py
  src/CMakeLists.txt
  src/python_selection.xml
  src/selection.xml
Due: pylint, flake8

Make the IReader interface capable of jumping to events
  include/podio/EventStore.h
  include/podio/IReader.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  tests/check_benchmark_outputs.cpp
  tests/read.cpp
  tests/read_sio.cpp
  tests/read_test.h
Due: clang-tidy, clang-format

Make it possible to read SIO files via python
  include/podio/PythonEventStore.h
  include/podio/utilities/IOHelpers.h
  python/test_EventStore.py
  python/test_EventStoreRoot.py
  python/test_EventStoreSio.py
  src/CMakeLists.txt
  src/IOHelpers.cc
  src/PythonEventStore.cc
  tests/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Make podio-dump also dump event meta data
  include/podio/GenericParameters.h
  include/podio/PythonEventStore.h
  python/EventStore.py
  src/GenericParameters.cc
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Add Julia unittests to test suite (#322)
  python/podio_class_generator.py
  tests/CMakeLists.txt
Due: pylint, flake8

Fix pre-commit complaints
  python/test_EventStore.py
  python/test_EventStoreRoot.py
  python/test_EventStoreSio.py
  tools/podio-dump
Due: pylint, flake8

First batch of comments from Andre
  python/EventStore.py
  python/test_EventStore.py
  python/test_EventStoreRoot.py
  python/test_EventStoreSio.py
Due: pylint, flake8

Keep EventStore interface unchanged
  include/podio/EventStore.h
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

More pre-commit fixes
  python/test_EventStore.py
  tools/podio-dump
Due: pylint, flake8

Make comment about ownership correct
  include/podio/SIOReader.h
Due: clang-tidy, clang-format

grouping code into modules
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
Due: pylint, flake8

fix pylint errors
  python/podio_class_generator.py
  python/test_MemberParser.py
Due: pylint, flake8

avoiding name conflicts between Structs and Constructor, including struct in main namespace only
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/Collection.jl.jinja2
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/StructCollection.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
