Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

update collection `max_size` to include limit due to `ObjectID` index type (#752)
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.cc.jinja2
Due: clang-tidy, clang-format

Try to use key4hep-action
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Add external data caching to all workflows
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/ubuntu.yml
Due: none

Silence deprecation warning due to RNTuple API stabilization
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

allow `^` in units in datamodel definitions
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

allow `^` in units in datamodel definitions (#755)
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

add `std::ranges::interfaces_view`-like methods to RelationRange
  include/podio/RelationRange.h
  tests/root_io/relation_range.cpp
Due: clang-tidy, clang-format

Update documentation for master
  master/py_api/podio_gen.html
Due: none

add `std::ranges::interfaces_view`-like methods to RelationRange (#754)
  include/podio/RelationRange.h
  tests/root_io/relation_range.cpp
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_relation_range.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_relation_range_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

add checks to `CollectionType` concept
  include/podio/utilities/TypeHelpers.h
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

add `at` and `create` methods to `UserDataCollection`
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

fix a few more typos
  README.md
  include/podio/SIOReader.h
  include/podio/detail/RelationIOHelpers.h
  tests/read_test.h
  tests/schema_evolution/detection/README.md
Due: clang-tidy, clang-format

fix a few more typos (#759)
  README.md
  include/podio/SIOReader.h
  include/podio/detail/RelationIOHelpers.h
  tests/read_test.h
  tests/schema_evolution/detection/README.md
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_s_i_o_reader.html
  master/cpp_api/file/_s_i_o_reader_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/searchindex.js
Due: none

remove `linkCollTypeName` and `linkTypeName`
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

add utility for static string_view concatenation
  include/podio/utilities/StaticConcatenate.h
Due: clang-tidy, clang-format

add LinkCollection typeName static member
  include/podio/LinkCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkFwd.h
  include/podio/detail/LinkSIOBlock.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

bring back and deprecate `linkCollTypeName` and `linkTypeName`
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

allocate space for null-termination after concatenated string
  include/podio/utilities/StaticConcatenate.h
Due: clang-tidy, clang-format

change typename type to string_view
  include/podio/detail/LinkFwd.h
  python/templates/Collection.h.jinja2
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
Due: clang-tidy, clang-format

Add typeName member to link collections (#748)
  include/podio/LinkCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkFwd.h
  include/podio/detail/LinkSIOBlock.h
  include/podio/utilities/StaticConcatenate.h
  python/templates/Collection.h.jinja2
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Silence deprecation warnings for REntry and RNTupleWriter
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Silence deprecation warnings related to RFieldBase
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Silence warnings related to RNTupleWriter
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Deduplicate cache keys and stop concurrent runs
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Add a reusable action to cache ExternalData
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Actually cache external data
  .github/actions/cache-external-data/action.yml
  .github/workflows/test.yml
Due: none

Switch to main branch of caching action
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Cache the external data that is fetched by CMake for CI (#756)
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Only make directory if it doesn't exist yet
  .github/workflows/key4hep.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/ubuntu.yml
Due: none

Add types that can be used to get all the data (or links) types
  python/podio_gen/cpp_generator.py
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Expand the documentation for datamodel.h
  doc/templates.md
Due: none

Fix with clang-format
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
