Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Add format support for GenericParameters
  include/podio/GenericParameters.h
  src/GenericParameters.cc
Due: clang-format, cppcheck, clang-tidy

Make sure fmt headers can be found by ROOT interactively
  cmake/podioTest.cmake
Due: none

Add brief format specifier to Link for more concise formatting
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add brief format specifier to LinkCollection
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

First version of customization hook
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: clang-format, cppcheck, clang-tidy

First version of tests that use custom formatting hooks
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Use Clang 19 instead of 16
  .github/workflows/edm4hep.yaml
Due: none

Use Clang 19 instead of 16 (#934)
  .github/workflows/edm4hep.yaml
Due: none

Add first version of LinkNavigator python utility
  python/podio/__init__.py
  python/podio/link_navigator.py
  python/podio/test_LinkNavigator.py
Due: pylint, flake8

Add overloads for Mutable handle calls to the navigator
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Fix issue with ROOT reading too many libraries
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  python/podio/link_navigator.py
Due: pylint, flake8

Also extract schema version when reading definitions back
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/DatamodelRegistry.cc
  src/DatamodelRegistryIOHelpers.cc
Due: clang-format, cppcheck, clang-tidy

Make readers emit a waning in case we encounter a too new EDM version
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOReader.cc
  src/ioUtils.h
Due: clang-format, cppcheck, clang-tidy

Extract the schema version from the datamodel definition
  include/podio/DatamodelRegistry.h
  src/DatamodelRegistry.cc
Due: clang-format, cppcheck, clang-tidy

Add missing docstring
  include/podio/DatamodelRegistry.h
Due: clang-format, cppcheck, clang-tidy

Catch exception in podio-dump-tool to exit more gracefully
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add test that checks that warning is emitted
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Homogenize behavior of TTree and RNTuple reader
  src/ROOTReader.cc
Due: clang-format, cppcheck, clang-tidy

Do not access optional if it's empty
  src/ioUtils.h
Due: clang-format, cppcheck, clang-tidy

Keep compatibility with older ROOT versions
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Make it possible to use LinkCollections in python
  python/podio/__init__.py
  python/podio/link_navigator.py
  python/podio/test_LinkCollection.py
Due: pylint, flake8

Use concepts instead of enable_if
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Ensure correct headers are present
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Check if __CLING__ is present in LinkNavigator.h
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Improve usability of LinkNavigator from python (#919)
  include/podio/LinkNavigator.h
  python/podio/__init__.py
  python/podio/link_navigator.py
  python/podio/test_LinkCollection.py
  python/podio/test_LinkNavigator.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Use function names to differentiate instead of tag-dispatch
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for ObjectID
  include/podio/ObjectID.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add compatibility with fmtlib formatting for collections
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for generated components
  python/templates/Component.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmtlib compatibility for Links
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for interface types
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for generated objects
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Fix copy-paste typo
  include/podio/LinkNavigator.h
Due: clang-format, cppcheck, clang-tidy

Draft: prototype TransportFrameData backend for reading side
  include/podio/TransportFrameData.h
  src/CMakeLists.txt
  src/TransportFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Move commonly usable functionality to header
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add a tool to filter events in files
  tools/CMakeLists.txt
  tools/src/podio-filter-frames.cpp
Due: clang-format, cppcheck, clang-tidy

Introduce explicitly named getLinked[From|To] and deprecate tag-dispatch versions (#936)
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_navigator.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
