Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add previously missed OneToOneRelations to validation suite
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
Due: pylint, flake8

Make validator interface slightly more generic
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
Due: pylint, flake8

Print only the DefinitionError message in generator
  python/podio_class_generator.py
Due: pylint, flake8

Make validator catch usage of datatypes as datatype members
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
Due: pylint, flake8

Remove unreacable code from generator
  python/podio_class_generator.py
Due: pylint, flake8

Fix a few smaller issues in the datafile validation (#210)
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
Due: pylint, flake8

Disentangle storage concerns from collection and implement subset collections (#197)
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  include/podio/ROOTReader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  python/podio_class_generator.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/sioblocks.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/rootUtils.h
  src/selection.xml
  tests/read_test.h
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy, pylint, flake8

Create cmake lists file with generated files
  cmake/podioMacros.cmake
  python/podio_class_generator.py
Due: pylint, flake8

Make macro abort cmake if datamodel cannot be generated
  cmake/podioMacros.cmake
Due: none

Make templates and yaml file changes retrigger cmake
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
Due: pylint, flake8

Make changes to the code generator retrigger generation
  cmake/podioMacros.cmake
Due: none

Fix test dependencies to allow running tests in parallel
  tests/CMakeLists.txt
Due: none

adding eventoveview with classes and types
  CMakeLists.txt
  include/podio/ROOTReader.h
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
Due: clang-tidy

Added PodioReader and modified templates
  include/podio/CollectionBase.h
  include/podio/SIOReader.h
  python/templates/Collection.h.jinja2
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Added error message when no input file received
  include/podio/tools.h
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Adding looping through events or reading an specific event
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Error message updated
  tools/PodioReader.cpp
Due: clang-tidy

goToEvent function added for SIO files
  include/podio/IReader.h
  include/podio/SIOReader.h
  src/SIOReader.cc
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

added the IReader new functions to TimedReader
  include/podio/TimedReader.h
Due: clang-tidy

Adding go to record to the goToEvent function
  include/podio/IReader.h
  src/SIOReader.cc
  tools/PodioReader.cpp
Due: clang-tidy

marked ROOTReader functions with override
  include/podio/ROOTReader.h
Due: clang-tidy

Adding override to TimedReader
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  include/podio/tools.h
  src/SIOReader.cc
  tools/PodioEventOverview.cpp
Due: clang-tidy

Changing scope of the events printed to user defined
  tools/PodioEventOverview.cpp
Due: clang-tidy

Added error from to stoi to PodioEventOverview
  tools/PodioEventOverview.cpp
Due: clang-tidy

Removing ascii function from CollectionBase
  include/podio/CollectionBase.h
  python/templates/Collection.h.jinja2
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

first version of UserDataCollection
  include/podio/UserDataCollection.h
  src/CMakeLists.txt
  src/selection.xml
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

some code cleanup
  include/podio/UserDataCollection.h
  tests/write_test.h
Due: clang-tidy

introduce UserDataTypes singleton
  include/podio/UserDataCollection.h
Due: clang-tidy

add SIO I/O for UserDataCollections
  include/podio/UserDataCollection.h
  include/podio/UserDataSIOBlock.h
  src/SIOBlockUserData.cc
Due: clang-tidy

add long/double types
  src/SIOBlockUserData.cc
  src/selection.xml
Due: clang-tidy

add example w/ doubles and some vector wrappers
  include/podio/UserDataCollection.h
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

adding some codes to event overviewing
  tools/PodioEventOverview.cpp
Due: clang-tidy

rm typedefs for doubleData etc for testing
  include/podio/UserDataCollection.h
Due: clang-tidy

fix names for vectors of user types for ROOT
  include/podio/UserDataCollection.h
  src/ROOTWriter.cc
  src/selection.xml
  tests/write_test.h
Due: clang-tidy

rm checks for subsets in UserDataSIOBlock
  include/podio/UserDataSIOBlock.h
Due: clang-tidy

Reading single event specified by command
  tools/PodioEventOverview.cpp
Due: clang-tidy

Fix test dependencies to allow running tests in parallel (#211)
  tests/CMakeLists.txt
Due: none

add CollectionBasee::get[Data]TypeName() methods
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  include/podio/UserDataSIOBlock.h
  python/templates/Collection.h.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-tidy

rm typedefs for UserDataCollection instantiations
  include/podio/UserDataCollection.h
  src/selection.xml
  tests/write_test.h
Due: clang-tidy

Make Obj destructor default if possible
  python/podio_class_generator.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
