Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add a legend and a few fixes
  tools/podio-vis
Due: none

Exchange blue and red
  tools/podio-vis
Due: none

Fix filename
  tools/podio-vis
Due: none

Fix pylint error
  python/podio/sio_io.py
Due: pylint, flake8

Fix pylint issues
  tools/podio-vis
Due: none

Fix linter issues and add some text when saving a file
  tools/podio-vis
Due: none

Add deprecation warning for EventStore based I/O
  include/podio/ASCIIWriter.h
  include/podio/EventStore.h
  include/podio/IMetaDataProvider.h
  include/podio/IReader.h
  include/podio/PythonEventStore.h
  include/podio/ROOTWriter.h
  include/podio/SIOWriter.h
  include/podio/TimedWriter.h
  include/podio/utilities/Deprecated.h
Due: clang-tidy, clang-format

Make CI pass while deprecation warnings are in
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  .pre-commit-config.yaml
Due: none

Add deprecation warning for EventStore python bindings
  python/podio/EventStore.py
Due: pylint, flake8

Address comments
  python/podio/sio_io.py
  python/podio/test_ReaderSio.py
Due: pylint, flake8

Bring back Writer
  python/podio/sio_io.py
Due: pylint, flake8

Fix tests without SIO (#376)
  python/podio/reading.py
  python/podio/sio_io.py
  python/podio/test_ReaderSio.py
Due: pylint, flake8

Address comments; add grouping and change default format to svg
  tools/podio-vis
Due: none

Add information in the README and delete an useless argument
  README.md
  tools/podio-vis
Due: none

Fix linter issues
  tools/podio-vis
Due: none

Simplify code a bit since I wasn't able to align the legend
  tools/podio-vis
Due: none

Fix change in the README too
  README.md
Due: none

Remove renderer
  tools/podio-vis
Due: none

Add comment in the README and check for graphviz being installed
  README.md
  tools/podio-vis
Due: none

Exit if it doesn't exist
  tools/podio-vis
Due: none

Change exit() -> sys.exit()
  tools/podio-vis
Due: none

Remove trailing whitespace
  README.md
Due: none

Add a visualization tool (#377)
  README.md
  tools/podio-vis
Due: none

Add more parameter functionality to Frame interface
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Mark getGenericParamtersForWrite as deprecated
  include/podio/Frame.h
  python/podio/frame.py
  src/ROOTFrameWriter.cc
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format, pylint, flake8

Mark inline defined methods as inline
  include/podio/Frame.h
Due: clang-tidy, clang-format

Expose more of the GenericParameters interface in the Frame (#380)
  include/podio/Frame.h
  python/podio/frame.py
  src/ROOTFrameWriter.cc
  src/SIOFrameWriter.cc
  tests/frame.cpp
Due: clang-tidy, clang-format, pylint, flake8

fix pep8; add SchemaVersionT
  include/podio/CollectionBase.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  python/podio/frame.py
  python/podio_class_generator.py
  python/podio_schema_evolution.py
Due: clang-tidy, clang-format, pylint, flake8

Add double map to GenericParamters
  include/podio/GenericParameters.h
  src/GenericParameters.cc
  src/selection.xml
  tests/unittest.cpp
Due: clang-tidy, clang-format

Make sure to also print double values
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Make python bindings work for double parameters again
  python/podio/frame.py
  python/podio/test_Frame.py
  tests/read_test.h
  tests/unittest.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Make sure to write double params in SIO, add legacy test case
  src/SIOBlock.cc
  tests/write_test.h
Due: clang-tidy, clang-format

Make SIO reading backward compatible
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Add test case for float value retrieval in python
  python/podio/test_Frame.py
Due: pylint, flake8

Fix typos and remove redundant test
  python/podio/frame.py
  python/podio/test_Frame.py
Due: pylint, flake8

Mark EventStore based I/O as deprecated (#378)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  .pre-commit-config.yaml
  include/podio/ASCIIWriter.h
  include/podio/EventStore.h
  include/podio/IMetaDataProvider.h
  include/podio/IReader.h
  include/podio/PythonEventStore.h
  include/podio/ROOTWriter.h
  include/podio/SIOWriter.h
  include/podio/TimedWriter.h
  include/podio/utilities/Deprecated.h
  python/podio/EventStore.py
Due: clang-tidy, clang-format, pylint, flake8

Add `double` to the supported types of `GenericParameters` (#372)
  include/podio/GenericParameters.h
  include/podio/SIOBlock.h
  python/podio/frame.py
  python/podio/test_Frame.py
  src/GenericParameters.cc
  src/SIOBlock.cc
  src/selection.xml
  tests/read_test.h
  tests/unittest.cpp
  tests/write_frame.h
  tests/write_test.h
Due: clang-tidy, clang-format, pylint, flake8

Populate definition registry via static variable initialization
  include/podio/CollectionBase.h
  include/podio/EDMDefinitionRegistry.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/EDMDefinitionRegistry.cc
Due: clang-tidy, clang-format

Split model reading into file reading and parsing
  python/podio/podio_config_reader.py
Due: pylint, flake8

Add registry for datamodel JSON defintions
  include/podio/EDMDefinitionRegistry.h
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/DatamodelDefinition.h.jinja2
  src/CMakeLists.txt
  src/EDMDefinitionRegistry.cc
Due: clang-tidy, clang-format, pylint, flake8
