Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Remove no longer used code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Only generate xml comments if necessary
  python/templates/selection.xml.jinja2
Due: none

Adapt code generation to work with new versioned classes
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/podio_schema_evolution.py
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add schema evolution test using arrays of components
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add test for schema evolution where nothing changes
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Do not construct the full path up-front (#831)
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add types with all the collection types of a datamodel
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

clang-format
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Simplify with map and join
  python/templates/datamodel.h.jinja2
Due: none

Simplify
  python/templates/datamodel.h.jinja2
Due: none

Add types with all the collection types of a datamodel in datamodel.h (#832)
  python/templates/datamodel.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add ASAN_OPTIONS similar to EIC
  cmake/podioTest.cmake
Due: none

Remove unnecessary argument from cmake function
  tools/CMakeLists.txt
Due: none

Remove unnecessary argument from cmake function (#835)
  tools/CMakeLists.txt
Due: none

Add fixtures and cleanup dependencies for python unittests
  python/CMakeLists.txt
Due: none

Remove unnecessary DEPENDS in sio tests
  tests/sio_io/CMakeLists.txt
Due: none

Use fixtures for dumpmodel tests
  tests/dumpmodel/CMakeLists.txt
Due: none

Add fixtures for tests that read and write files
  tests/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: none

Use fixtures for schema evolution tests
  tests/schema_evolution/root_io/CMakeLists.txt
Due: none

Use separate fixtures for SIO python bindings
  tests/sio_io/CMakeLists.txt
Due: none

Use fixtures for podio-dump tests
  tools/CMakeLists.txt
Due: none

Harmonize fixture names to follow some convention
  python/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Add fixtures for tests that read and write files (#834)
  python/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Introduce cmake function to create a full test
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add a single example for a schema evolution test
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/components_new_member/new.yaml
  tests/schema_evolution/code_gen/components_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Move c++ helpers into common header and add documentation
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Only pass the old model if we are not generating it
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Fix typo and whitespcae issues
  tests/schema_evolution/code_gen/README.md
Due: none

Add another test case
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Make it possible to define tests for RNTuple as well
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Properly use RNTuple feature flag
  tests/schema_evolution/code_gen/check_base.h
Due: clang-format, cppcheck, clang-tidy

Use text fixtures for test time dependency management
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Update tests to ignore for sanitizer workflows
  tests/CTestCustom.cmake
Due: none

Try to avoid triggering re-generation too often
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Enable RNTuple based schema evolution tests as support grows
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add test case for implicit floating point evolutions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/implicit_floating_point_change/check.cpp
  tests/schema_evolution/code_gen/implicit_floating_point_change/new.yaml
  tests/schema_evolution/code_gen/implicit_floating_point_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Fix typos in docstrings and comments
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Remove old schema evolution tests and replace with simpler ones
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/README.md
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/datalayout_notpossible.yaml
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_change_component_type_new.yaml
  tests/schema_evolution/detection/members/dm_change_component_type_old.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-format, cppcheck, clang-tidy

Make sure dictionary generation maps are properly moved
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Make macros a bit more generically usable and document
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
Due: clang-format, cppcheck, clang-tidy
