Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Enable more tests for sanitizer builds
  tests/CTestCustom.cmake
Due: none

Update documentation to clarify validity of handles
  doc/examples.md
Due: none

[wip] Make tests compile again
  tests/ostream_operator.cpp
  tests/read_python_frame.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
  tests/unittests/unittest.cpp
  tests/write_ascii.cpp
  tests/write_frame.h
  tests/write_test.h
Due: clang-tidy, clang-format

Expose Mutable classes in python bindings
  python/templates/selection.xml.jinja2
Due: none

Make default handles available from python again
  python/templates/selection.xml.jinja2
Due: none

[wip] Introduce MaybeSharedPtr for Mutable classes
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/iterator.jinja2
Due: none

Make it safe to print empty handles
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

No longer mark tests as not working under sanitizer builds
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make default handles ref-counted as well
  include/podio/utilities/MaybeSharedPtr.h
  python/templates/Collection.cc.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/iterator.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add a MaybeSharedPtr utility smart pointer class
  include/podio/utilities/MaybeSharedPtr.h
Due: clang-tidy, clang-format

Bump patch version to 99 to keep nightlies working afterwards
  CMakeLists.txt
Due: none

Introduce `MaybeSharedPtr` for managing user facing objects (#514)
  CMakeLists.txt
  doc/examples.md
  include/podio/ObjBase.h
  include/podio/utilities/MaybeSharedPtr.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/iterator.jinja2
  python/templates/selection.xml.jinja2
  tests/CTestCustom.cmake
  tests/ostream_operator.cpp
  tests/read_python_frame.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
  tests/write_ascii.cpp
  tests/write_frame.h
  tests/write_test.h
Due: clang-tidy, clang-format

Remove comment
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Remove comment with file name and line number (#523)
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Switch edm4hep workflows to newer LCG releases
  .github/workflows/edm4hep.yaml
Due: none

Fix the tag of Catch2 that we use
  .github/workflows/edm4hep.yaml
Due: none

Do not run catch test discovery
  .github/workflows/edm4hep.yaml
Due: none

Use an Ubuntu environment that works for us
  .github/workflows/edm4hep.yaml
Due: none

Switch edm4hep workflows to newer LCG releases (#526)
  .github/workflows/edm4hep.yaml
Due: none

Make UserData I/O work for components
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  include/podio/utilities/UserDataHelpers.h
  python/podio/test_Frame.py
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/Component.cc.jinja2
  python/templates/UserDataSIOBlock.cc.jinja2
  src/UserDataCollection.cc
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Add possibility of using components to user data doc
  doc/userdata.md
Due: none

Fix formatting
  include/podio/utilities/UserDataHelpers.h
Due: clang-tidy, clang-format

Fix and actually run I/O tests
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Move some helper functionality into detail namespace
  include/podio/UserDataCollection.h
  include/podio/utilities/UserDataHelpers.h
  python/templates/Component.h.jinja2
Due: clang-tidy, clang-format

Use UserData collection statics instead of free functions
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Enable in-memory UserDataCollections of components
  include/podio/UserDataCollection.h
  include/podio/utilities/TypeHelpers.h
  include/podio/utilities/UserDataHelpers.h
  python/templates/Component.h.jinja2
Due: clang-tidy, clang-format

Provide static bool to check for user data support
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

Fix flake8 formatting
  python/podio_class_generator.py
Due: pylint, flake8

Add missing include
  include/podio/utilities/UserDataHelpers.h
Due: clang-tidy, clang-format

Switch test to Frame based I/O
  tests/root_io/relation_range.cpp
Due: clang-tidy, clang-format

Switch test to Frame based I/O (#529)
  tests/root_io/relation_range.cpp
Due: clang-tidy, clang-format

Remove test case that no longer applies
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove no longer existing files from being installed
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Remove unnecessary EventStore
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Move test case to Frame
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove EventStore python bindings
  python/EventStore.py
  python/podio/EventStore.py
  python/podio/__init__.py
  python/podio/test_EventStore.py
Due: pylint, flake8

Remove implementation files and python tests
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  src/EventStore.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOReader.cc
Due: clang-tidy, clang-format, pylint, flake8

Switch relation_range test to Frame based I/O
  tests/root_io/CMakeLists.txt
Due: none

Remove now unused files
  tests/read.py
  tests/write_test.h
Due: clang-tidy, clang-format, pylint, flake8
