Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Switch pyunittests to use downloaded legacy data
  cmake/podioTest.cmake
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
Due: pylint, flake8

Rename store to event
  tests/read_test.h
Due: clang-tidy, clang-format

Update main documentation to remove EventStore
  doc/advanced_topics.md
  doc/examples.md
Due: none

[format]: Fix style comments
  python/podio/__init__.py
Due: pylint, flake8

Adapt test environment based on availability of test data
  cmake/podioTest.cmake
Due: none

Remove EventStore from UserDataCollection doc
  doc/userdata.md
Due: none

Remove even more spurious whitespace
  doc/examples.md
Due: none

Switch to downloaded legacy inputs for podio-dump tests
  tools/CMakeLists.txt
Due: none

Remove test case that is covered in unittests
  tests/read_test.h
Due: clang-tidy, clang-format

Fix clang-tidy complaints
  tests/read_test.h
Due: clang-tidy, clang-format

Skip tests if data not available
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
Due: pylint, flake8

Adapt the legacy tests for sio
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/read_frame_sio.cpp
Due: clang-tidy, clang-format

Remove EventStore remnants from I/O tests
  tests/read_test.h
Due: clang-tidy, clang-format

Update backend documentation to remove EventStore mentions
  doc/advanced_topics.md
Due: none

Remove spurious whitespace
  doc/examples.md
Due: none

Remove nonexistant test again after rebase
  tests/root_io/CMakeLists.txt
Due: none

Adapt legacy reader test for root
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_legacy_root.cpp
Due: clang-tidy, clang-format

Remove more mentions of EventStore
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
Due: clang-tidy, clang-format

Switch podio-dump tests to use ExternalData
  CMakeLists.txt
  tests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Use usual test environment for legacy tests
  tests/CMakeLists.txt
Due: none

Make python unittests work again
  cmake/podioTest.cmake
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
Due: pylint, flake8

Adapt sanitizer ignored test cases after renaming some tests
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: none

Add neessary Frame include
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make SIO legacy tests run
  tests/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format

Guard GenericParameter friend-ness for RNTuple support
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove unnecessary cmake variable
  tools/CMakeLists.txt
Due: none

Fix documentation typo
  doc/advanced_topics.md
Due: none

Move status message to more appropriate place
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Remove the reading of the deprecated component format
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Remove the reading of the deprecated component format (#530)
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Fix flake8 issue
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Simplify handling of fixed width integer types
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Create ClassGeneratorBase and start moving common functionality there
  python/podio_class_generator.py
  python/podio_gen/generator_base.py
Due: pylint, flake8

Make iohandlers optional to ease Julia generation
  python/podio_class_generator.py
Due: pylint, flake8

Make signature a property of MemberVariable
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Remove bits that have moved elsewhere
  python/podio_class_generator.py
Due: pylint, flake8

Make template evaluation stateless
  python/podio_class_generator.py
Due: pylint, flake8

Generalize formatting functionality
  python/podio_class_generator.py
Due: pylint, flake8

Update documentation
  doc/templates.md
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
