Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Remove status badge for mac CI
  README.md
Due: none

Make flag behave as intuition suggests (#315)
  python/podio_class_generator.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
Due: pylint, flake8

Make it possible to define default initialization values in the yaml definition (#283)
  doc/datamodel_syntax.md
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_MemberParser.py
  tests/datalayout.yaml
  tests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Make sure the validation uses the expected options
  python/podio_config_reader.py
Due: pylint, flake8

Remove leftover check from std::string support
  python/generator_utils.py
Due: pylint, flake8

Make the validation accept an upstream datamodel
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
Due: pylint, flake8

Add documentation for extending datamodels
  doc/datamodel_syntax.md
Due: none

Make the generator work with an upstream edm
  python/podio_class_generator.py
Due: pylint, flake8

Add an extension datamodel
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  tests/CMakeLists.txt
  tests/datalayout_extension.yaml
Due: pylint, flake8

Silence pylint
  python/generator_utils.py
Due: pylint, flake8

input_iterator type and unit tests
  python/templates/macros/iterator.jinja2
  tests/CMakeLists.txt
  tests/read_forward_iterators.cpp
  tests/read_input_iterators.cpp
Due: clang-tidy, clang-format

Make checks happy by using all variables
  tests/read_forward_iterators.cpp
Due: clang-tidy, clang-format

Haha, get past the sanitzer checks
  tests/CTestCustom.cmake
Due: none

Add reverse iterators; split tests into iterators and views
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/iterator.jinja2
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_input_iterators.cpp
  tests/read_iterators.cpp
  tests/read_views.cpp
Due: clang-tidy, clang-format

No getter for PDG in read_views test
  tests/read_views.cpp
Due: clang-tidy, clang-format

Const dereference with mutable m_object
  python/templates/macros/iterator.jinja2
Due: none

Add iterator default constructor (index 0, nullptr)
  python/templates/macros/iterator.jinja2
Due: none

Add prefix to iterator types; change to bidirectional_iterator_tag
  python/templates/macros/iterator.jinja2
Due: none

Full(er) set of unit tests (incl c++23 zip)
  CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

static_assert on iterator_traits for bidirectional_iterator_tag
  tests/unittest.cpp
Due: clang-tidy, clang-format

Suggested style change
  python/templates/macros/iterator.jinja2
Due: none

Remove read_iterators.cpp read_views.cpp again; put in unittests
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_iterators.cpp
  tests/read_views.cpp
  tests/unittest.cpp
Due: clang-tidy, clang-format

Single line import of iterator_definitions
  python/templates/Collection.cc.jinja2
Due: none

Remove reserve for sized_range since not available for podio collection
  python/templates/Collection.h.jinja2
Due: none

dereference operator* const to copy without mutable inside iterator
  python/templates/macros/iterator.jinja2
Due: none

shouldfail unit test for std::fill; added for_each to unit test
  tests/unittest.cpp
Due: clang-tidy, clang-format

Examples on using for_each, ranges, etc
  doc/examples.md
Due: none

clang-format fixes
  tests/unittest.cpp
Due: clang-tidy, clang-format

Require input_iterator and nothing more; split off ranges tests
  tests/unittest.cpp
Due: clang-tidy, clang-format

Limit iterator types to input_iterator
  python/templates/macros/iterator.jinja2
Due: none

Fix clang-format on unit tests
  tests/unittest.cpp
Due: clang-tidy, clang-format

fix: add test case tags as suggested
  tests/unittest.cpp
Due: clang-tidy, clang-format

fix: ifdef guard entire test case as suggested
  tests/unittest.cpp
Due: clang-tidy, clang-format

Remove the macOS CI workflow because they will no longer work
  .github/workflows/mac.yml
Due: none

Add documentation for JSON output
  doc/advanced_topics.md
Due: none

Allow for extending datamodels with an upstream datamodel (#317)
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
  tests/CMakeLists.txt
  tests/datalayout_extension.yaml
Due: pylint, flake8

fix: explicitly use SELECTION_XML in OUTPUT_FOLDER
  cmake/podioMacros.cmake
Due: none

Make dict gen macro more flexible for selection.xml
  cmake/podioMacros.cmake
Due: none

Keep messsage at STATUS
  cmake/podioMacros.cmake
Due: none
