Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

More fixes
  include/podio/ROOTReader.h
  tests/root_io/read_frame_root_multithreaded.cpp
  tests/sio_io/read_and_write_frame_sio.cpp
Due: clang-format, cppcheck, clang-tidy

Push a few more fixes
  tests/arrow_io/read_interface_arrow.cpp
  tests/arrow_io/write_frame_arrow.cpp
  tests/arrow_io/write_frame_arrow_multithreaded.cpp
  tests/root_io/read_and_write_frame_root.cpp
Due: clang-format, cppcheck, clang-tidy

Apply suggestions
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-format, cppcheck, clang-tidy

Apply suggestions
  tests/root_io/relation_range.cpp
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Address review comments on include ordering and redundant includes
  src/RNTupleWriter.cc
  tests/ostream_operator.cpp
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Bring back Compression.h include
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

Fix include order for clang-format
  tests/root_io/relation_range.cpp
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

build: address reviewer comments on PR #1023
  python/CMakeLists.txt
  python/podio/__init__.py
  src/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tools/podio-merge-files
Due: pylint, flake8

fix: guard podioArrowDict installation behind ENABLE_ROOT
  src/CMakeLists.txt
Due: none

ci: disable RNTUPLE when ENABLE_ROOT=OFF
  .github/workflows/test.yml
Due: none

test: disable or conditionalize tests relying on ROOT when disabled
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/sio_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

fix: use cmake_dependent_option
  CMakeLists.txt
Due: none

core: conditionally compile ROOT IO classes based on ENABLE_ROOT
  src/Reader.cc
  src/Writer.cc
Due: clang-format, cppcheck, clang-tidy

fix: target_link_libraries against the podioIO target
  tests/unittests/CMakeLists.txt
Due: none

fix: clarify in cmake function where ROOT support is not enabled
  cmake/podioMacros.cmake
Due: none

build: move ENABLE_ROOT gate inside PODIO_ADD_ROOT_IO_DICT
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

test: add comments clarifying why python tests require ENABLE_ROOT
  tests/arrow_io/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: none

test: restore comments removed during refactoring
  python/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

build: make ROOT dictionaries and python dependencies optional
  python/CMakeLists.txt
  python/podio/__init__.py
  python/podio/reading.py
  src/CMakeLists.txt
  tools/CMakeLists.txt
  tools/podio-merge-files
Due: pylint, flake8

ci: configure no-ROOT build without ROOT DataSource
  .github/workflows/test.yml
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: none

build: add ENABLE_ROOT option to optionally disable ROOT dependency
  CMakeLists.txt
  cmake/podioBuild.cmake
  cmake/podioTest.cmake
Due: none

build: add ci-build-no-root CMake preset for ROOT-less builds
  .github/workflows/test.yml
  CMakePresets.json
  README.md
Due: none

ci: add no-ROOT build to test matrix and fix arrow tests
  .github/workflows/test.yml
  tests/arrow_io/CMakeLists.txt
Due: none

fix: remove option checks now that we have cmake_dependent_option
  CMakeLists.txt
Due: none

fix: improve error message on except podio from ROOT
  python/podio/__init__.py
Due: pylint, flake8

Look for zstd quietly when finding Arrow
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

Look for zstd quietly when finding Arrow (#1030)
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

Add a back inserter that preserves handle types
  doc/collections_as_container.md
  include/podio/utilities/BackInsertIterator.h
  tests/unittests/std_interoperability.cpp
Due: clang-format, cppcheck, clang-tidy

Remove redundant standard copy test
  tests/unittests/std_interoperability.cpp
Due: clang-format, cppcheck, clang-tidy

Trim redundant back inserter tests
  tests/unittests/std_interoperability.cpp
Due: clang-format, cppcheck, clang-tidy

Also provide a cppjit pythonization customization point
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Force auto loading to be early enough to have the full definition
  python/podio/root_io.py
Due: pylint, flake8

Do not rely on the module name to detect cppyy objects in Frame.put
  python/podio/frame.py
Due: pylint, flake8

Support older cppyy versions in collection type checks
  python/podio/frame.py
Due: pylint, flake8

Prefer public cppyy type with a fallback for older versions
  python/podio/frame.py
Due: pylint, flake8

Suppress pylint false positive for dynamic cppyy backend
  python/podio/frame.py
Due: pylint, flake8

Apply suggestion from @jmcarcell
  python/podio/root_io.py
Due: pylint, flake8

Remove gInterpreter
  python/podio/root_io.py
Due: pylint, flake8

Do not rely on the module name to detect cppyy objects in Frame.put (#1031)
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/podio/frame.py
  python/templates/Collection.h.jinja2
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
