Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Fix compilation with fmt 12.2.0 by including a missing fmt/ranges.h
  tools/src/tabulate.h
Due: clang-format, cppcheck, clang-tidy

Fix compilation with fmt 12.2.0 by including a missing fmt/ranges.h (#977)
  tools/src/tabulate.h
Due: clang-format, cppcheck, clang-tidy

Exclude the datamodel.h header from being added to ROOT dictionaries
  cmake/podioMacros.cmake
Due: none

Add a ROOT macro to the tests
  tests/root_io/CMakeLists.txt
  tests/root_io/test_root_macro.C
Due: none

Be a bit more restrictive on what is excluded
  cmake/podioMacros.cmake
Due: none

Fix sanitizer tests
  cmake/podioTest.cmake
  tests/root_io/CMakeLists.txt
Due: none

Exclude test from Clang
  tests/CTestCustom.cmake
Due: none

Update the sanitizer workflow to use the latest available compilers
  .github/workflows/sanitizers.yaml
Due: none

Make the test better
  tests/root_io/test_root_macro.C
Due: none

Exclude the datamodel.h header from being added to ROOT dictionaries (#974)
  cmake/podioMacros.cmake
  cmake/podioTest.cmake
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/test_root_macro.C
Due: none

Update the sanitizer workflow to use the latest available compilers, GCC 16 and Clang 22 (#978)
  .github/workflows/sanitizers.yaml
Due: none

Allow subprocess aborted in the read_garbage test
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add the minimum necessary to make the test pass
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Allow subprocess aborted in the read_garbage test (#982)
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add support for renaming datatypes
  python/podio_gen/cpp_generator.py
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
Due: pylint, flake8

Fix pre-commit
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Try fix
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Use copy
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add a failing test case for renaming a datatype
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/rename_datatype/check.cpp
  tests/schema_evolution/code_gen/rename_datatype/new.yaml
  tests/schema_evolution/code_gen/rename_datatype/old.yaml
Due: clang-format, cppcheck, clang-tidy

Compare all fields for equality
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix warning
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Do not deepcopy
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add support for renaming datatypes in schema evolution (#979)
  python/podio_gen/cpp_generator.py
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/rename_datatype/check.cpp
  tests/schema_evolution/code_gen/rename_datatype/new.yaml
  tests/schema_evolution/code_gen/rename_datatype/old.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Update documentation for master
  master/genindex.html
  master/objects.inv
  master/py_api/modules.html
  master/py_api/podio_gen.html
  master/searchindex.js
Due: none

Remove the three star cast and make changes in the SIO code
  include/podio/CollectionBuffers.h
  include/podio/SIOBlock.h
  include/podio/SIOBlockUserData.h
  include/podio/detail/LinkSIOBlock.h
  python/templates/SIOBlock.cc.jinja2
Due: clang-format, cppcheck, clang-tidy

Remove the three star cast and make changes in the SIO code (#983)
  include/podio/CollectionBuffers.h
  include/podio/SIOBlock.h
  include/podio/SIOBlockUserData.h
  include/podio/detail/LinkSIOBlock.h
  python/templates/SIOBlock.cc.jinja2
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_collection_write_buffers.html
  master/cpp_api/structlist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

fixes.
  .github/workflows/pre-commit.yml
  CMakeLists.txt
  cmake/podioMacros.cmake
  python/templates/macros/arrow.jinja2
  src/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: none

Adding unittest for JSON Equivalence
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

Addressing all comments
  CMakeLists.txt
  cmake/podioMacros.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowUtils.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/macros/arrow.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-tidy
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

frame to Table implementation
  .gitignore
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowTypeRegistry.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/macros/arrow.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/ArrowTypeRegistry.cc
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

pre commit and ci/cd pipeline failures
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowTypeRegistry.h
  python/podio_gen/cpp_generator.py
  src/ArrowFrameConverter.cc
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Apply suggestions from code review
  cmake/podioMacros.cmake
  python/templates/ArrowMapper.cc.jinja2
Due: none

pre commit issues with only .h
  include/podio/utilities/ArrowUtils.h
  src/ArrowUtils.cc
  src/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

arrowMapper->Arrow
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: none

removing schema and framparametersType
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
