Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Test for the existence of .clang-format
  python/podio_class_generator.py
Due: pylint, flake8

Fix linter
  python/podio_class_generator.py
Due: pylint, flake8

Check for all the arguments that are going to be used for clang-format (#390)
  python/podio_class_generator.py
Due: pylint, flake8

Fix error
  python/podio_class_generator.py
Due: pylint, flake8

Fix exception handling in clang-format discovery (#391)
  python/podio_class_generator.py
Due: pylint, flake8

Release Notes for v00-16-03
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-03
  CMakeLists.txt
Due: none

add stripped down schema evolution (#341)
  .github/scripts/pylint.rc
  .gitignore
  CMakeLists.txt
  cmake/podioMacros.cmake
  include/podio/ASCIIWriter.h
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  python/CMakeLists.txt
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio_class_generator.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/schemaevolution/EvolvePOD.h.jinja2
  python/templates/selection.xml.jinja2
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
  src/selection.xml
  tests/CMakeLists.txt
  tests/datalayout_old.yaml
  tests/schema_evolution.yaml
Due: clang-tidy, clang-format, pylint, flake8

Do not mark generated files as GENERATED
  python/podio_class_generator.py
Due: pylint, flake8

Do not reject build if ROOT is built with C++20
  CMakeLists.txt
Due: none

Define PODIO_ENABLE_SIO for targets depending on podioSioIO
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Make SIOFrameData work properly with dropped collections
  src/SIOFrameData.cc
  tests/read_frame.cpp
  tests/read_frame_auxiliary.h
  tests/read_frame_sio.cpp
Due: clang-tidy, clang-format

Do not mark generated files as GENERATED (#397)
  python/podio_class_generator.py
Due: pylint, flake8

Change to EXCLUDE_SIO
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Add an enable_sio argument
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Change to true
  tests/CMakeLists.txt
Due: none

Actually check extension model dumping
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Do not reject build if ROOT is built with C++20 (#398)
  CMakeLists.txt
Due: none

Explicitly depend on value also in unittests
  tests/unittest.cpp
Due: clang-tidy, clang-format

Define PODIO_ENABLE_SIO for targets depending on podioSioIO (#399)
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Make SIOFrameData work properly with dropped collections (#400)
  src/SIOFrameData.cc
  tests/read_frame.cpp
  tests/read_frame_auxiliary.h
  tests/read_frame_sio.cpp
Due: clang-tidy, clang-format

Introduce warnings about upcoming signature change
  include/podio/CollectionBase.h
Due: clang-tidy, clang-format

Temporarily ignore deprecation warnings in edm4hep tests
  .github/workflows/edm4hep.yaml
Due: none

fix: use type `size_t` for index in `Collection` element accessors
  python/templates/Collection.h.jinja2
Due: none

fix: `unsigned int` -> `size_t` in `Collection.cc.jinja2`
  python/templates/Collection.cc.jinja2
Due: none

fix: use `size_t` in `macro multi_relation_handling`
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

fix: `unsigned int` -> `size_t` in Data.h `_begin` and `_end`
  python/templates/Data.h.jinja2
Due: none

Revert "fix: `unsigned int` -> `size_t` in Data.h `_begin` and `_end`"
  python/templates/Data.h.jinja2
Due: none

Also check when clang format is used
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Check also for AUTO
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Remove some extra spaces
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Use PODIO_USE_CLANG_FORMAT from the environment
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Add an argument to exclude SIO files from some tests (#387)
  tests/CMakeLists.txt
  tests/scripts/dumpModelRoundTrip.sh
Due: none

fix: `size_t` -> `std::size_t`
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

fix: add `#include <cstddef>` to `{,Mutable}Object.h.jinja2`
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
Due: none

fix: use type `std::size_t` for index in `Collection` element accessors and `size()` (#408)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

[wip] Remove unused method
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: clang-tidy, clang-format

Remove unnecessary attributes
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

[wip] Create buffers as late as possible
  include/podio/SIOBlock.h
  include/podio/SIOBlockUserData.h
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Add basic buffer factory and switch over UserDataCollections
  include/podio/CollectionBufferFactory.h
  include/podio/UserDataCollection.h
  src/CMakeLists.txt
  src/CollectionBufferFactory.cc
  src/UserDataCollection.cc
Due: clang-tidy, clang-format
