Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Make assignment operators use copy-and-swap idiom
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Fully qualify OneToOneRelations in setReferences
  python/templates/macros/collections.jinja2
  tests/datalayout.yaml
Due: none

[wip] Make the validator accept interface types
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
  tests/datalayout.yaml
Due: pylint, flake8

[wip] Add more utility functionality to wrapper
  include/podio/GenericWrapper.h
  tests/unittest.cpp
Due: clang-tidy

Make changes to the code generator retrigger generation
  cmake/podioMacros.cmake
Due: none

Make macro abort cmake if datamodel cannot be generated
  cmake/podioMacros.cmake
Due: none

Create cmake lists file with generated files
  cmake/podioMacros.cmake
  python/podio_class_generator.py
Due: pylint, flake8

[wip] Make the variant accessible by inheriting classes
  include/podio/GenericWrapper.h
Due: clang-tidy

[wip] First version of generic wrapper
  include/podio/GenericWrapper.h
  include/podio/ObjBase.h
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

Make templates and yaml file changes retrigger cmake
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
Due: pylint, flake8

[wip] make non-const wrappers have setter functions
  python/podio_class_generator.py
  python/templates/Wrapped.cc.jinja2
  python/templates/macros/wrappers.jinja2
Due: pylint, flake8

[wip] Cleanup enable_if machinery
  include/podio/GenericWrapper.h
  python/templates/ConstWrapped.h.jinja2
  python/templates/Wrapped.h.jinja2
Due: clang-tidy

[wip] Add simple tests for reading and writing
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

[wip] Make everything compile again
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/CMakeLists.txt
  python/templates/ConstWrapped.cc.jinja2
  python/templates/ConstWrapped.h.jinja2
  python/templates/Wrapped.cc.jinja2
  python/templates/Wrapped.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/wrappers.jinja2
Due: pylint, flake8

[wip] Make CollectionBase return string_view value type names
  include/podio/CollectionBase.h
  python/templates/Collection.h.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOWriter.cc
Due: clang-tidy

Uncomment static_assert since it works in any case
  include/podio/GenericWrapper.h
Due: clang-tidy

[wip] Make wrappers work with Const types as well
  include/podio/GenericWrapper.h
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

[wip] Remove the possibility to use the wrapper for changing constness
  include/podio/GenericWrapper.h
  python/templates/ConstWrapped.h.jinja2
  python/templates/Wrapped.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

Restore access rights to avoid leaking the Obj*
  include/podio/GenericWrapper.h
  include/podio/ObjBase.h
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
Due: clang-tidy

Make naming for enable_if helpes more consistent
  include/podio/GenericWrapper.h
Due: clang-tidy

[wip] fix templates to put Wrapped class into namespace
  python/templates/ConstWrapped.h.jinja2
  python/templates/Wrapped.h.jinja2
  tests/datalayout.yaml
Due: none

Fix a few smaller generation issues (once more) (#217)
  python/podio_class_generator.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

compile time checks for user data types (T.Madlener)
  include/podio/UserDataCollection.h
  tests/write_test.h
Due: clang-tidy

add all fundamental types to UserDataCollection
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  src/SIOBlockUserData.cc
  src/selection.xml
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

fix error: extra ';' [-Werror=pedantic]
  include/podio/UserDataCollection.h
Due: clang-tidy

add missing <algorithm>
  include/podio/SIOBlockUserData.h
Due: clang-tidy

add assertion on equivalence of basic types
  include/podio/UserDataCollection.h
  src/SIOBlockUserData.cc
Due: clang-tidy

fix different size of `long` on MAC and Linux
  include/podio/UserDataCollection.h
Due: clang-tidy

more fixes -sizeof and type equivalence MAC/Linux
  include/podio/UserDataCollection.h
  src/SIOBlockUserData.cc
Due: clang-tidy

Removing PodioReader
  tools/CMakeLists.txt
  tools/PodioReader.cpp
Due: clang-tidy

Update tools/PodioEventOverview.cpp
  tools/PodioEventOverview.cpp
Due: clang-tidy

Adding bin
  tools/CMakeLists.txt
Due: none

Changes to headers and to whitespaces
  include/podio/CollectionBase.h
  include/podio/tools.h
  src/SIOReader.cc
Due: clang-tidy

removing more whitespaces
  include/podio/IReader.h
  include/podio/TimedReader.h
Due: clang-tidy

Last whitespaces
  include/podio/IReader.h
Due: clang-tidy

adding line erased
  include/podio/CollectionBase.h
Due: clang-tidy

Generate an additional cmake lists file containing the generated source files (#143)
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
Due: pylint, flake8

restrict to float, double and fixed size ints
  include/podio/UserDataCollection.h
  src/SIOBlockUserData.cc
  src/selection.xml
Due: clang-tidy

Add user data collections w/ basic types (#213)
  include/podio/CollectionBase.h
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlockUserData.cc
  src/selection.xml
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

Make the generation macro use the python found by CMake
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
