Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Cleanup duplicated information
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove redundant storage of schema version
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Move functionality into separate method
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Rename class to better transport intent
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove unused code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Collection.cc.jinja2
Due: pylint, flake8

Remove some code duplication
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix pylint and flake8 complaints
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove unnecessary branch
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Allow calling finish() multiple times, with no effect after the first
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

Move the check to finish() also for SIOWriter
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Allow calling finish() multiple times, with no effect after the first (#798)
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Remove unnecessary information that is passed to jinja
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add a failing test for a datatype member rename
  python/podio_gen/cpp_generator.py
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Make sure also handle renamed members that are not components
  python/podio_gen/cpp_generator.py
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add clarifying comments
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add a failing test case for renaming a datatype
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Make function more general in light of future use
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Factor out check into dedicated method
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out filtering of changes to same datatypes
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove test that doesn't test anything
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Switch back to docker runtime
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Switch back to docker runtime (#802)
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Fix deprecation warning but updating hook version
  .pre-commit-config.yaml
Due: none

Fix deprecation warning but updating hook version (#804)
  .pre-commit-config.yaml
Due: none
