Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Created _sort_components_and_datatypes function to perform topological sort
  doc/templates.md
  python/podio_class_generator.py
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

Suggested Changes
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/abstracttypes.jinja2
  python/templates/macros/julia_helpers.jinja2
  tests/CMakeLists.txt
  tests/unittests/unittest.jl
Due: pylint, flake8

Added abstract types in default parameters and '-l' language argument
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/test_MemberParser.py
  python/templates/CMakeLists.txt
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/abstracttypes.jinja2
  tests/CMakeLists.txt
  tests/unittest.jl
Due: pylint, flake8

Add Julia unittests to test suite (#322)
  python/podio_class_generator.py
  tests/CMakeLists.txt
Due: pylint, flake8

Fixed pylint issue and documentation + Added tests
  README.md
  doc/templates.md
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberParser.py
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/abstracttypes.jinja2
  python/templates/macros/params.jinja2
  tests/unittest.jl
Due: pylint, flake8

Modified code generation method to cater multiple namespaces
  python/podio_class_generator.py
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

adding namespaces to Julia (#325)
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberParser.py
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/params.jinja2
  tests/unittest.jl
Due: pylint, flake8

Julia preprocessing (#311)
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
  python/templates/Constructor.jl.jinja2
  python/templates/JuliaCollection.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Resolved Main Scope issue
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Corrected the Position of StaticArrays Package Install in CI
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Make changes in Julia templates trigger cmake again
  python/templates/CMakeLists.txt
  python/templates/MutableStruct.jl.jinja2
  tests/unittest.jl
Due: none

Added conditional check for StaticArrays
  tests/unittest.jl
Due: none

Added --upstream-edm code generation support
  python/podio_class_generator.py
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/params.jinja2
  tests/CMakeLists.txt
Due: pylint, flake8

Fixed Julia Code generation Templates
  python/templates/Constructor.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
Due: none

Added ENABLE_JULIA toggle
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  python/templates/CMakeLists.txt
  tests/CMakeLists.txt
Due: none

made cpp_type argument required in get_julia_type
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberParser.py
Due: pylint, flake8

Made suggested changes for julia tests
  .github/workflows/key4hep.yml
  tests/CMakeLists.txt
Due: none

Add a message when there is a bad_function_call
  python/podio/frame_iterator.py
Due: pylint, flake8

Add a message when there is a bad_function_call (#520)
  python/podio/frame_iterator.py
Due: pylint, flake8

Make member getter functions return by value for builtin types (#519)
  python/podio_gen/generator_utils.py
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Fix typo in test name
  tools/CMakeLists.txt
Due: none

Add python bindings for RNTuple writer
  python/podio/root_io.py
  tests/root_io/CMakeLists.txt
  tests/root_io/read_python_frame_rntuple.cpp
  tests/sio_io/CMakeLists.txt
  tests/write_frame.py
Due: clang-tidy, clang-format, pylint, flake8

Complete ROOTNTupleReader interface and expose it in dictionaries
  include/podio/ROOTNTupleReader.h
  src/ROOTNTupleReader.cc
  src/root_selection.xml
Due: clang-tidy, clang-format

Add datamodel dumping roundtrip tests and make sure they work
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
  tests/dumpmodel/CMakeLists.txt
Due: clang-tidy, clang-format

Remove usage of enum class
  python/podio/reading.py
Due: pylint, flake8

Add RNTupleReade to python bindings and file dispatch
  python/podio/reading.py
  python/podio/root_io.py
Due: pylint, flake8

Add test cases for podio-dump on RNTuple files
  tools/CMakeLists.txt
Due: none

Add python bindings for the RNTuple backend (#488)
  include/podio/ROOTNTupleReader.h
  python/podio/reading.py
  python/podio/root_io.py
  src/ROOTNTupleReader.cc
  src/ROOTNTupleWriter.cc
  src/root_selection.xml
  tests/dumpmodel/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/root_io/read_python_frame_rntuple.cpp
  tests/sio_io/CMakeLists.txt
  tests/write_frame.py
  tools/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Add an extra podio_version.py file
  CMakeLists.txt
  python/CMakeLists.txt
  tools/podio-dump
Due: none

Add an extra podio_version.py file (#521)
  CMakeLists.txt
  python/CMakeLists.txt
  tools/podio-dump
Due: none

Incorporating Julia code generation in the existing Python interface (#473)
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/podioMacros.cmake
  doc/templates.md
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberParser.py
  python/templates/CMakeLists.txt
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
  python/templates/macros/julia_helpers.jinja2
  tests/CMakeLists.txt
  tests/unittests/unittest.jl
Due: pylint, flake8

Undo some intermediate changes for a cleaner diff
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Add test case with the Jana2/EIC use case
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format

Make ostream_operator test avoid cyclic refs and enable or sanitizer builds
  tests/CTestCustom.cmake
  tests/ostream_operator.cpp
Due: clang-tidy, clang-format

Bring back default handle constructors
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Add a test case that mimicks the issue in DD4hep
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format

Remove no longer necessary ObjBase
  include/podio/ObjBase.h
Due: clang-tidy, clang-format

Extend test case for equality operator
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix clang-tidy warning
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix location of include statements in templates
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
Due: none
