Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Update to LCG_102 in test lcg based environments
  .github/workflows/coverity.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Fix python formatting for newer pylint version
  python/podio_class_generator.py
  python/test_MemberParser.py
  tools/podio-dump
Due: pylint, flake8

Add workflow that builds EDM4hep after podio
  .github/workflows/edm4hep.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Make the notebook pattern use vectors instead of array
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  tests/unittest.cpp
Due: clang-tidy, clang-format

Update documentation
  doc/examples.md
Due: none

Make the notebook pattern use vectors instead of arrays (#337)
  doc/examples.md
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  tests/unittest.cpp
Due: clang-tidy, clang-format

Release Notes for v00-16
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16
  CMakeLists.txt
Due: none

Adding reading specific enrty through frame
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Update CI workflows and add EDM4hep workflow (#335)
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  python/podio_class_generator.py
  python/test_MemberParser.py
  tools/podio-dump
Due: pylint, flake8

Refactoring frame getEntry
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Adding readEntry also for SIO
  include/podio/SIOFrameReader.h
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Using readNextEntry correctly
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Make sure that EDM4hep is also built with SIO
  .github/workflows/edm4hep.yaml
Due: none

Update include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameReader.h
Due: clang-tidy, clang-format

Moving category info check to private method
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Adding random reading tests
  src/SIOFrameReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Fixing typos
  include/podio/SIOFrameReader.h
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Remove unnecessary check
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Fix typo
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Make tests actually check event contents
  tests/read_frame.h
Due: clang-tidy, clang-format

clang-format fixes
  include/podio/ROOTFrameReader.h
  include/podio/SIOFrameReader.h
Due: clang-tidy, clang-format

Adding reading specific entry from frame (#340)
  include/podio/ROOTFrameReader.h
  include/podio/SIOFrameReader.h
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Migrate to checkout@v3 due to deprecation of v2
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Use checkout to get dependencies instead of explicit cloning
  .github/workflows/edm4hep.yaml
Due: none

Update github checkout action to latest version (#342)
  .github/workflows/coverity.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Add possibility to obtain the available categories
  include/podio/ROOTFrameReader.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameReader.h
  src/ROOTFrameReader.cc
  src/SIOBlock.cc
  src/SIOFrameReader.cc
Due: clang-tidy, clang-format

Make python code a proper module
  .gitignore
  CMakeLists.txt
  python/CMakeLists.txt
  python/EventStore.py
  python/__init__.py.in
  python/podio/EventStore.py
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio/test_ClassDefinitionValidator.py
  python/podio/test_EventStore.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_MemberParser.py
  python/podio_class_generator.py
  tests/CMakeLists.txt
  tests/read.py
  tools/podio-dump
Due: pylint, flake8

Add basic version of python bindings for working with Frames
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/test_Reader.py
  python/podio/test_utils.py
Due: pylint, flake8

Fix test dependency for pyunittests if SIO is enabled
  tests/CMakeLists.txt
Due: none

Refactor library and dict generation in cmake config
  src/CMakeLists.txt
  src/sio_selection.xml
Due: none

Reorganize CMake config for shared libraries
  src/CMakeLists.txt
Due: none

Add untyped Frame::get function
  include/podio/Frame.h
Due: clang-tidy, clang-format

Add dictionary generation for ROOT I/O facilities
  src/CMakeLists.txt
  src/root_selection.xml
Due: none

Add basic version of python bindings for working with Frames
  include/podio/Frame.h
  python/CMakeLists.txt
  python/podio/base_reader.py
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_Reader.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
  tests/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Fix python unittest test environment and dependencies
  tests/CMakeLists.txt
Due: none

datamodel_syntax.md: fix a typo (#327)
  doc/datamodel_syntax.md
Due: none

Convert cppyy strings to python strings
  python/podio/frame.py
Due: pylint, flake8

Fix typos and clarify documentation
  python/podio/base_reader.py
  python/podio/frame.py
  python/podio/test_Frame.py
Due: pylint, flake8

Add test case for valid negative index
  python/podio/test_Reader.py
Due: pylint, flake8
