Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Update documentation
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Enable RNTuple based schema evolution tests as support grows
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add another test case
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Remove old schema evolution tests and replace with simpler ones
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/README.md
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/datalayout_notpossible.yaml
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_change_component_type_new.yaml
  tests/schema_evolution/detection/members/dm_change_component_type_old.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-format, cppcheck, clang-tidy

Fix typo and whitespcae issues
  tests/schema_evolution/code_gen/README.md
Due: none

Only pass the old model if we are not generating it
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add tests that require an explicit evolution file
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/components_rename_member/check.cpp
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/components_rename_member/new.yaml
  tests/schema_evolution/code_gen/components_rename_member/old.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Try to avoid triggering re-generation too often
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Properly use RNTuple feature flag
  tests/schema_evolution/code_gen/check_base.h
Due: clang-format, cppcheck, clang-tidy

Make it possible to define tests for RNTuple as well
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Make sure dictionary generation maps are properly moved
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Make sure to load the versioned namespace for components
  python/podio/test_Pythonizations.py
Due: pylint, flake8

Add a memory limit to schema evolution tests
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add version namespaces to components as well
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: none

[wip] Towards a more flexible schema evolution mechanism
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

[wip] Add code generation for older components
  python/podio_gen/cpp_generator.py
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

[wip] Start to rework and simplify
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

[wip] Claude generated changes for handling multiple versions
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

[wip] Generate all old component and Data POD versions
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/Data.h.jinja2
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Add test for schema evolution where nothing changes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add string representations for better logging
  python/podio_gen/generator_utils.py
Due: pylint, flake8

[wip] Comment unused code
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

[wip] Add generation of old Data versions
  python/podio_gen/cpp_generator.py
  python/templates/Data.h.jinja2
Due: pylint, flake8

[wip] Do not put latest version in namespace
  python/podio/test_Pythonizations.py
  python/podio_schema_evolution.py
  python/templates/Collection.h.jinja2
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Make member renaming work again
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Add an `UserDataCollectionList` with the supported types and a test
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Rename type list to conform to existing convention
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add an `UserDataCollectionList` with the supported types and a test (#829)
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/file/_user_data_collection_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
  master/searchindex.js
Due: none

Only build RNTUPLE schema evolution tests if enabled
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add commas for better readability
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Add a memory limit to schema evolution tests
  .github/workflows/sanitizers.yaml
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Do not put latest version in namespace
  python/podio/test_Pythonizations.py
  python/podio_schema_evolution.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add string representations for better logging to generator utils (#830)
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Do not construct the full path up-front
  python/podio_gen/cpp_generator.py
Due: pylint, flake8
