Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

fix: remove generation, integration, unit tests
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: clang-format
  src/podio_core_module.ixx
  tests/test_module_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: consistently use PODIO_ENABLE_CXX_MODULES (incl. in CI)
  .github/workflows/test.yml
  doc/modules.md
Due: none

fix: update docs to avoid podio_MODULES_AVAILABLE
  doc/modules.md
Due: none

Make `CollectionReadBuffers` movable and move buffers instead of copying them (#944)
  CMakeLists.txt
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/ROOTFrameData.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameData.h
  include/podio/SchemaEvolution.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkSIOBlock.h
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/RNTupleReader.cc
  src/ROOTFrameData.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_collection_data.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_frame_data.html
  master/cpp_api/class/classpodio_1_1_s_i_o_block.html
  master/cpp_api/class/classpodio_1_1_s_i_o_frame_data.html
  master/cpp_api/class/classpodio_1_1_schema_evolution.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_collection_read_buffers.html
  master/cpp_api/structlist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Fix compiler warnings found with Clang 22
  include/podio/LinkCollection.h
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

Fix compiler warnings found with Clang 22 (#947)
  include/podio/LinkCollection.h
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

Fix formatting
  include/podio/ROOTWriter.h
  include/podio/Reader.h
  src/ROOTLegacyReader.cc
Due: clang-format, cppcheck, clang-tidy

Keep original code now that it's possible again
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Lift map type into a dedicated type alias
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/MiscHelpers.h
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

Remove the need for creating temporary strings in RNTupleReader
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Cleanup some internal usage where string_view is possible
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Don't create an unnecessary intermediate string
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

Use string_view keys if the underlying strings outlive the map
  include/podio/ROOTReader.h
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary temporary strings
  src/ROOTWriter.cc
Due: clang-format, cppcheck, clang-tidy

Make the interfaces more consistent re string_view usage
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/Reader.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  include/podio/Writer.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/TypeHelpers.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary headers and leftover comments
  include/podio/ROOTReader.h
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary intermediate string
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary lookups and temporary strings
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

Use string_view argument instead of constructing one
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Make maps in RNTupleReader use string_views as keys directly
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Remove cmake arguments that are covered by presets
  .github/workflows/test.yml
Due: none

style: apply clang-format
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

tests: add JSON serialization tests
  tests/unittests/CMakeLists.txt
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

Keep splitString out of root dict generation
  include/podio/RNTupleWriter.h
  include/podio/ROOTWriter.h
  include/podio/utilities/MiscHelpers.h
  include/podio/utilities/StringKeyMap.h
Due: clang-format, cppcheck, clang-tidy

Remove generated special characters
  include/podio/utilities/StringKeyMap.h
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary std::string overload
  include/podio/utilities/StringKeyMap.h
Due: clang-format, cppcheck, clang-tidy

Make interfaces use string_views more consistently (#946)
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/Reader.h
  include/podio/SIOBlock.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  include/podio/Writer.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/StringKeyMap.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_datamodel_definition_holder.html
  master/cpp_api/class/classpodio_1_1_r_n_tuple_reader.html
  master/cpp_api/class/classpodio_1_1_r_n_tuple_writer.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_legacy_reader.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_reader.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_writer.html
  master/cpp_api/class/classpodio_1_1_reader.html
  master/cpp_api/class/classpodio_1_1_s_i_o_file_t_o_c_record.html
  master/cpp_api/class/classpodio_1_1_s_i_o_legacy_reader.html
  master/cpp_api/class/classpodio_1_1_s_i_o_reader.html
  master/cpp_api/class/classpodio_1_1_s_i_o_writer.html
  master/cpp_api/class/classpodio_1_1_writer.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_reader_1_1_reader_concept.html
  master/cpp_api/struct/structpodio_1_1_reader_1_1_reader_model.html
  master/cpp_api/struct/structpodio_1_1_writer_1_1_writer_concept.html
  master/cpp_api/struct/structpodio_1_1_writer_1_1_writer_model.html
  master/cpp_api/structlist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Remove unnecessary comments and duplicate test
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

Properly check relation serialization
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

Add unit tests for JSON serialization (#941)
  tests/unittests/CMakeLists.txt
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

Add lazy reading to ROOTReader and RNTupleReader
  include/podio/RNTupleReader.h
  include/podio/ROOTFrameData.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  src/RNTupleReader.cc
  src/ROOTFrameData.cc
  src/ROOTReader.cc
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

Refactor DataSource
  include/podio/DataSource.h
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Add new and remove old tests for DataSource
  tests/root_io/CMakeLists.txt
  tests/root_io/check_datasource_output.cpp
  tests/root_io/read_datasource.py
  tests/root_io/use_datasource.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Fix compiler warning with GCC
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Use hadd for merging ROOT files with podio-merge-files
  python/podio/root_merge.py
  tools/podio-merge-files
Due: pylint, flake8
