Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Fix referenes to no longer existing member variables
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add a test case that involves manual intervention
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Make it possible to pass multiple old datamodel definitions to the generator script (#828)
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Update documentation for master
  master/py_api/podio_gen.html
Due: none

Make the python writers have the same behavior as the C++ writers
  python/podio/base_writer.py
Due: pylint, flake8

Do not read ExtraCode for old schemas
  python/podio_gen/cpp_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Add failing test case
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/drop_component/check.cpp
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/check.cpp
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Make generator generate code for old components
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
Due: pylint, flake8

Make sure generator also includes old components
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Fix more warnings
  doc/advanced_topics.md
  doc/collections_as_container.md
  doc/conf.py
  doc/contributing.md
  doc/datamodel_syntax.md
  doc/design.md
  doc/doc_title.md
  doc/examples.md
  doc/templates.md
Due: pylint, flake8

Fix tab-set using sphinx_design
  doc/advanced_topics.md
  doc/conf.py
  doc/cpp_api.rst
  doc/examples.md
Due: pylint, flake8

Add a few anchors
  doc/advanced_topics.md
  doc/collections_as_container.md
  doc/datamodel_syntax.md
  doc/links.md
  doc/templates.md
Due: none

Fix pre-commit
  doc/conf.py
Due: pylint, flake8

Fix warnings in the generation of documentation (#895)
  doc/advanced_topics.md
  doc/collections_as_container.md
  doc/conf.py
  doc/contributing.md
  doc/cpp_api.rst
  doc/datamodel_syntax.md
  doc/design.md
  doc/doc_title.md
  doc/examples.md
  doc/links.md
  doc/templates.md
Due: pylint, flake8

Update requirements for documentation building
  doc/requirements.in
  doc/requirements.txt
Due: none

Run doc-building for every pull request
  .github/workflows/publish-docs.yml
Due: none

Update documentation requirements and make doc building run on pull requests (#898)
  .github/workflows/publish-docs.yml
  doc/requirements.in
  doc/requirements.txt
Due: none

Do not read ExtraCode for old schemas (#890)
  python/podio_gen/cpp_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Update documentation for master
  master/py_api/podio_gen.html
  master/searchindex.js
Due: none

This should also be CMAKE_INSTALL_LIBDIR because that's where we install to
  cmake/podioBuild.cmake
Due: none

Fix rpaths in podio, not set correctly because ${LIBDIR} is empty
  cmake/podioBuild.cmake
Due: none

Fix rpaths in podio, not set correctly because ${LIBDIR} is empty (#896)
  cmake/podioBuild.cmake
Due: none

Update sanitizer ignore list
  tests/CTestCustom.cmake
Due: none

Make schema evolution code gen handle dropped components (#889)
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/drop_component/check.cpp
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/check.cpp
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

podio-merge-files: add progress bar and time measurement for reference
  tools/podio-merge-files
Due: none

podio-merge-files: add short option for output file
  tools/podio-merge-files
Due: none

podio-merge-files: progress bar in tqdm style
  tools/podio-merge-files
Due: none

add tqdm in requirements and readme
  README.md
  requirements.txt
Due: none

Update tools/podio-merge-files
  tools/podio-merge-files
Due: none

podio merge: : remove time measurement
  tools/podio-merge-files
Due: none

Move black to earlier in the pre-commit config
  .pre-commit-config.yaml
Due: none

Create a per ref concurrency group for doc building
  .github/workflows/publish-docs.yml
Due: none

Fix formatting
  tools/podio-merge-files
Due: none
