Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Turn off strace tests for dev3 based workflows for now as well
  .github/workflows/test.yml
Due: none

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_collection.html
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Also disable strace tests for ubuntu
  .github/workflows/ubuntu.yml
Due: none

Disable strace tests conditionally for edm4hep worflows as well
  .github/workflows/edm4hep.yaml
Due: none

Turn off strace tests for dev3 based workflows for now as well (#1039)
  .github/workflows/edm4hep.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Remove redundant handle and link test checks
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add noexcept move construction to generated handles
  include/podio/utilities/MaybeSharedPtr.h
  python/templates/macros/declarations.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add noexcept move construction and regression tests for links
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add noexcept move construction to object and link handles (#1037)
  include/podio/detail/Link.h
  include/podio/utilities/MaybeSharedPtr.h
  python/templates/macros/declarations.jinja2
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

fix(arrow): resolve leaf column indices in ArrowReader and fix cppcheck warning
  src/ArrowReader.cc
  tests/arrow_io/read_frame_arrow.cpp
Due: clang-format, cppcheck, clang-tidy

perf: selectively read requested collections in ArrowReader (#1009)
  include/podio/ArrowReader.h
  src/ArrowReader.cc
  tests/arrow_io/read_frame_arrow.cpp
Due: clang-format, cppcheck, clang-tidy

feat(arrow): reuse cached columns on expansion and preserve collection ID table
  include/podio/ArrowReader.h
  include/podio/utilities/ArrowFrameData.h
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  tests/arrow_io/read_frame_arrow.cpp
Due: clang-format, cppcheck, clang-tidy

style: use emplace_back to satisfy clang-tidy modernize check
  src/ArrowReader.cc
Due: clang-format, cppcheck, clang-tidy

style: apply review suggestions from @jmcarcell
  src/ArrowReader.cc
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_t.html
  master/cpp_api/class/classpodio_1_1utils_1_1_maybe_shared_ptr.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespace/namespacepodio_1_1utils.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

feat: track frame ownership on collections
  include/podio/CollectionBase.h
Due: clang-format, cppcheck, clang-tidy

fix: reject collections already owned by a frame
  include/podio/Frame.h
Due: clang-format, cppcheck, clang-tidy

test: reject cross-frame collection reuse
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

style: pass fullSchema by const reference in ArrowFrameData to satisfy clang-tidy
  include/podio/utilities/ArrowFrameData.h
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Add deduplication with warnings for duplicate collections in readers and writers
  include/podio/utilities/MiscHelpers.h
  src/ArrowReader.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-format, cppcheck, clang-tidy

Use ranges unique and reuse the alphabetical sorting helper
  include/podio/utilities/MiscHelpers.h
Due: clang-format, cppcheck, clang-tidy

Deduplicate collection requests before writer consistency checks
  include/podio/RNTupleWriter.h
  include/podio/ROOTWriter.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

refactor: keep frame ownership in collection state flags
  include/podio/CollectionBase.h
Due: clang-format, cppcheck, clang-tidy

refactor: pack collection state flags
  python/templates/Collection.h.jinja2
Due: none

refactor: access collection ownership directly from Frame
  include/podio/Frame.h
Due: clang-format, cppcheck, clang-tidy

test: move frame ownership regression to Python
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

test: cover frame-owned collection reuse from Python
  python/podio/test_Frame.py
Due: pylint, flake8

refactor: pack link collection state flags
  include/podio/detail/LinkCollectionImpl.h
Due: clang-format, cppcheck, clang-tidy

perf(arrow): use StringKeyMap for heterogeneous lookup in ArrowReader and ArrowWriter
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  src/ArrowReader.cc
  src/ArrowWriter.cc
Due: clang-format, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
