Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add python bindings for the reader and writer by reusing the current
  python/podio/frame_iterator.py
  python/podio/root_io.py
Due: pylint, flake8

Change to RNTuple{Reader,Writer} instead ROOTRNTuple{Reader,Writer}
  src/RNTupleWriter.cc
  src/Reader.cc
  src/Writer.cc
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Fix #ifs
  src/Reader.cc
  src/Writer.cc
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Remove std::move
  include/podio/Reader.h
Due: clang-tidy, clang-format

Add mising returns
  src/Writer.cc
Due: clang-tidy, clang-format

Exclude the new tests from running with sanitizers
  include/podio/Writer.h
  src/Writer.cc
  tests/CTestCustom.cmake
Due: clang-tidy, clang-format

Add test, reader and writer
  include/podio/Reader.h
  include/podio/Writer.h
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Clean up a few headers
  include/podio/CollectionBase.h
  include/podio/Frame.h
  include/podio/ROOTReader.h
  include/podio/UserDataCollection.h
  src/GenericParameters.cc
  src/ROOTReader.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Fix pre-commit
  python/podio/__init__.py
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Disable pylint check
  python/podio_gen/generator_base.py
Due: pylint, flake8

fix: flake8 again
  tools/podio-vis
Due: none

fix: black and flake8
  tools/podio-vis
Due: none

feat: podio-vis --upstream-edm and some tests
  tools/CMakeLists.txt
  tools/podio-vis
Due: none

fix: deduplicate code
  tools/podio-vis
Due: none

Fix python formatting and linting issues
  python/podio/__init__.py
  python/podio_gen/generator_base.py
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

feat: podio-vis --upstream-edm and some tests (#561)
  python/podio/__init__.py
  python/podio_gen/generator_base.py
  python/podio_gen/podio_config_reader.py
  tools/CMakeLists.txt
  tools/podio-vis
Due: pylint, flake8

Fix RNTuple writer after API break in ROOT
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Use preprocessor version check for selecting RNTuple functionality
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Adapt RNTupleReader to new RNTuple API
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Make sure to load the correct entry
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Use ROOT Version header that works with older versions
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Make sure to have valid fields for the Frame parameters
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Switch to more recent OS and compilers for sanitizer workflows
  .github/workflows/sanitizers.yaml
Due: none

added pythonizer base class
  python/podio/pythonizations/__init__.py
  python/podio/pythonizations/utils/__init__.py
  python/podio/pythonizations/utils/pythonizer.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

added collection subscript pythonization
  python/podio/pythonizations/collection_subscript.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

Fix typos in comments
  cmake/podioBuild.cmake
  cmake/podioMacros.cmake
  doc/templates.md
  include/podio/utilities/TypeHelpers.h
  python/podio/test_Reader.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.h.jinja2
Due: clang-tidy, clang-format, pylint, flake8

fix more typos
  .gitignore
  CMakeLists.txt
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  env.sh
  include/podio/DatamodelRegistry.h
  include/podio/utilities/TypeHelpers.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/templates/Interface.h.jinja2
  tools/podio-ttree-to-rntuple
Due: clang-tidy, clang-format, pylint, flake8

Fix more typos (#571)
  .gitignore
  CMakeLists.txt
  cmake/podioBuild.cmake
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  doc/templates.md
  env.sh
  include/podio/DatamodelRegistry.h
  include/podio/utilities/TypeHelpers.h
  python/podio/test_Reader.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/Interface.h.jinja2
  tools/podio-ttree-to-rntuple
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/class/classpodio_1_1_datamodel_registry.html
  master/cpp_api/file/_datamodel_registry_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/datamodel_syntax.html
  master/py_api/podio_gen.html
  master/searchindex.js
  master/templates.html
Due: none

Add gitlab-ci config
  .gitlab-ci.yml
Due: none

Update doxygen configuration to silence warnings
  doc/Doxyfile
Due: none

Try with cmake infrastructure
  .gitlab-ci.yml
Due: none

Cleanup gitlab ci config and update comments
  .gitlab-ci.yml
Due: none

Be more specific about excluding build folders
  doc/Doxyfile
Due: none

Cleanup sphinx config
  .gitlab-ci.yml
  doc/Doxyfile
  doc/conf.py
Due: pylint, flake8

Add infrastructure to publish documenation via CERN infrastructure (#572)
  .gitlab-ci.yml
  doc/Doxyfile
  doc/conf.py
Due: pylint, flake8

Remove outdated information from top level README
  README.md
Due: none

Improve and homogenize docstrings for the Frame
  include/podio/Frame.h
  include/podio/FrameCategories.h
Due: clang-tidy, clang-format

Update python/podio/pythonizations/__init__.py
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

collection `__getitem__` uses `at` wrapped to throw python exception
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8
