Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

collection `__getitem__` uses `at` wrapped to throw python exception
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

added collection subscript pythonization
  python/podio/pythonizations/collection_subscript.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

Update python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

Update python/podio/pythonizations/__init__.py
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

fix exception stacktrace readability
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

split pythonization callback to predicate and modifcation
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/utils/pythonizer.py
Due: pylint, flake8

added documentation
  README.md
  doc/index.rst
  doc/python.md
Due: none

Applied suggestions in docs
  doc/python.md
Due: none

CI: use different dev4 stack
  .github/workflows/test.yml
Due: none

CI: use different dev4 stack (#591)
  .github/workflows/test.yml
Due: none

Switch to more recent OS and compilers for sanitizer workflows
  .github/workflows/sanitizers.yaml
Due: none

Switch to c++20 standard
  .github/workflows/sanitizers.yaml
Due: none

Switch to more recent OS and compilers for sanitizer workflows (#568)
  .github/workflows/sanitizers.yaml
Due: none

Enable RNTuple in sanitizer CI builds
  .github/workflows/sanitizers.yaml
Due: none

Disable the tests that require python
  tests/CTestCustom.cmake
Due: none

Rename test for consistency
  tools/CMakeLists.txt
Due: none

CI: Update LCG stacks and OSs for linux workflows
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Simplify setup for linux based tests
  .github/workflows/test.yml
Due: none

CI: Update LCG stacks and OSs for linux workflows (#597)
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

python: install to a proper libdir prefix
  python/CMakeLists.txt
Due: none

minor fix
  python/CMakeLists.txt
Due: none

Add include to fix building with GCC 14
  src/DatamodelRegistryIOHelpers.cc
Due: clang-tidy, clang-format

Add include to fix building with GCC 14 (#600)
  src/DatamodelRegistryIOHelpers.cc
Due: clang-tidy, clang-format

add ExtraCode declarationFile and implementationFile directives
  .pre-commit-config.yaml
  doc/datamodel_syntax.md
  python/podio_gen/generator_base.py
  python/podio_gen/podio_config_reader.py
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/utils.jinja2
  tests/datalayout.yaml
  tests/extra_code/declarations.cc
  tests/extra_code/implementations.cc
  tests/extra_code/mutable_declarations.cc
  tests/extra_code/mutable_implementations.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add pythonizations for collection subscript (#570)
  README.md
  doc/index.rst
  doc/python.md
  python/podio/pythonizations/__init__.py
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/utils/__init__.py
  python/podio/pythonizations/utils/pythonizer.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

add declarationFile extracode for components
  python/templates/Component.h.jinja2
  tests/datalayout.yaml
  tests/extra_code/component_declarations.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

mend
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

fix pre-commit exclude
  .pre-commit-config.yaml
Due: none

add test for mutable declarationFile and implementationFile
  tests/extra_code/mutable_declarations.cc
  tests/extra_code/mutable_implementations.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

copy extra code files to root_io and sio_io for dumpmodel tests
  tests/dumpmodel/CMakeLists.txt
Due: none

revert embedding files with jinja
  python/podio_gen/generator_base.py
  python/templates/Component.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/utils.jinja2
  tests/dumpmodel/CMakeLists.txt
Due: pylint, flake8

add including implementationFile and declarationFile during parsing
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update python/CMakeLists.txt
  python/CMakeLists.txt
Due: none

Update CMakeLists.txt
  python/CMakeLists.txt
Due: none

remove trailing slash to make paths look better
  python/CMakeLists.txt
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
