Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Increase to 12k
  python/CMakeLists.txt
Due: none

Ignore test_strace with sanitizers
  tests/CTestCustom.cmake
Due: none

Fix reading all the libraries under LD_LIBRARY_PATH
  python/templates/Collection.h.jinja2
Due: none

Add a test with strace
  python/CMakeLists.txt
  python/podio/test_strace.py
Due: pylint, flake8

Set the environment
  python/CMakeLists.txt
Due: none

Add a file with a macro for the workaround
  python/templates/Collection.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/workarounds.jinja2
Due: none

Add Links and a comment
  python/podio/test_strace.py
Due: pylint, flake8

Use std::string_view instead of const char*
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

Add an option to run the strace tests
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  python/CMakeLists.txt
Due: none

Add a workaround for avoiding opening every library in LD_LIBRARY_PATH (part 2) (#808)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  include/podio/UserDataCollection.h
  python/CMakeLists.txt
  python/podio/test_strace.py
  python/templates/Collection.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/workarounds.jinja2
  tests/CTestCustom.cmake
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/file/_user_data_collection_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
  master/searchindex.js
Due: none

Use std::make_unique instead of new
  python/templates/CollectionData.h.jinja2
Due: none

Change to initializer list in GenericParameters.h
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Also simplify CollectionData's constructors
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
Due: none

Simplify Object and MutableObject constructors
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Simplify a default constructor
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: none

Simplify constructors by using the value of the default initializer list
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  src/CollectionIDTable.cc
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Simplify constructors by using member initializers (#809)
  include/podio/CollectionIDTable.h
  include/podio/GenericParameters.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  src/CollectionIDTable.cc
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_collection_i_d_table.html
  master/cpp_api/class/classpodio_1_1_generic_parameters.html
  master/cpp_api/file/_collection_i_d_table_8h.html
  master/cpp_api/file/_generic_parameters_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/objects.inv
  master/searchindex.js
Due: none

Move functionality into separate method
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Factor out check into dedicated method
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove unnecessary information that is passed to jinja
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove test that doesn't test anything
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Make function more general in light of future use
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
Due: pylint, flake8

Add clarifying comment
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove unnecessary branch
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove redundant storage of schema version
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove some code duplication
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove unused code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Collection.cc.jinja2
Due: pylint, flake8

Remove no longer necessary nolint statements
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Cleanup duplicated information
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix typo
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Rename class to better transport intent
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out filtering of changes to same datatypes
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix pylint and flake8 complaints
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Refactor schema evolution related code generation (#797)
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/julia_generator.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Add a failing test for a datatype member rename
  python/podio_gen/cpp_generator.py
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Add clarifying comments
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make sure also handle renamed members that are not components
  python/podio_gen/cpp_generator.py
  python/templates/selection.xml.jinja2
Due: pylint, flake8
