Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Improve error message
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Switch to println where possible
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Remove unnecessary empty link library
  src/CMakeLists.txt
Due: none

Add a c++ implementation for `podio-dump` (#620)
  CMakeLists.txt
  cmake/podioTest.cmake
  include/podio/utilities/MiscHelpers.h
  src/RNTupleWriter.cc
  src/ROOTWriter.cc
  src/rootUtils.h
  tests/CTestCustom.cmake
  tests/scripts/dumpModelRoundTrip.sh
  tools/CMakeLists.txt
  tools/json-to-yaml
  tools/podio-dump
  tools/podio-dump-legacy
  tools/src/argparseUtils.h
  tools/src/podio-dump-tool.cpp
  tools/src/tabulate.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/file/_misc_helpers_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Add code-gen label to unittest
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove unnecessary empty link library (#763)
  src/CMakeLists.txt
Due: none

Add types that can be used to get all the data (or links) types (#761)
  doc/templates.md
  include/podio/utilities/TypeHelpers.h
  python/podio_gen/cpp_generator.py
  python/templates/datamodel.h.jinja2
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Keep thte ROOTReader functional for older versions
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Rename struct to better match naming convention
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  src/root_selection.xml
Due: clang-tidy, clang-format

Make tuple a proper struct
  include/podio/utilities/RootHelpers.h
  src/root_selection.xml
Due: clang-tidy, clang-format

Add name to CollectionWriteInfo
  include/podio/ROOTWriter.h
  include/podio/utilities/RootHelpers.h
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

Make RNTuple output the same as TTree based one
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Cleanup and minor refactoring
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Run on all available Key4hep builds
  .github/workflows/key4hep.yml
Due: none

Check if ccache enable run-lcg-view action works
  .github/workflows/key4hep.yml
Due: none

Use ccache as compiler launcher
  .github/workflows/key4hep.yml
Due: none

Specify non-clashing ccache key
  .github/workflows/key4hep.yml
Due: none

Enable ccache for EL9 based workflows
  .github/workflows/test.yml
Due: none

Silence deprecation warnings related to RFieldBase
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Silence deprecation warnings for REntry and RNTupleWriter
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Silence deprecation warning due to RNTuple API stabilization
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Enable ccache for all workflows
  .github/workflows/edm4hep.yaml
  .github/workflows/ubuntu.yml
Due: none

Use unique ccache keys for each matrix job
  .github/workflows/edm4hep.yaml
  .github/workflows/ubuntu.yml
Due: none

Disable multiple concurrent CI jobs
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
Due: none

Transparently move RNTupleReader out of exp namespace
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Silence warnings related to RNTupleWriter
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Add storage type to meta info
  include/podio/utilities/RootHelpers.h
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Don't run on Ubuntu22 with gcc11
  .github/workflows/key4hep.yml
Due: none

Switch back to aidasoft action with proper tag
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Add ccache to workflows to speed up CI and add more Key4hep workflows (#764)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Fix CI by going to newer LCG stacks or disabling RNTuple
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
Due: none

Introduce root_compat to not open and pollute ROOT namespace
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Bump the minimum version of ROOT to 6.34 for RNTuple support
  CMakeLists.txt
Due: none
