Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Add a comparison operator for ObjectID
  include/podio/ObjectID.h
  tests/unittests/interface_types.cpp
Due: clang-format, cppcheck, clang-tidy

Clarify ObjectID comparison ordering
  include/podio/ObjectID.h
Due: clang-format, cppcheck, clang-tidy

Reword docstring once more
  include/podio/ObjectID.h
Due: clang-format, cppcheck, clang-tidy

Remove sentence about python
  include/podio/ObjectID.h
Due: clang-format, cppcheck, clang-tidy

Add a comparison operator for ObjectID (#1007)
  include/podio/ObjectID.h
  tests/unittests/interface_types.cpp
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_object_i_d.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

pin pre-commit hook revisions with SHA
  .pre-commit-config.yaml
Due: none

Include arrow headers explicitly to fix warning
  src/ArrowFrameConverter.cc
Due: clang-format, cppcheck, clang-tidy

CI: test with GCC 16
  .github/workflows/test.yml
Due: none

Revert "Include arrow headers explicitly to fix warning"
  src/ArrowFrameConverter.cc
Due: clang-format, cppcheck, clang-tidy

pin pre-commit hook revisions with SHA (#1010)
  .pre-commit-config.yaml
Due: none

Reapply "Include arrow headers explicitly to fix warning"
  src/ArrowFrameConverter.cc
Due: clang-format, cppcheck, clang-tidy

CI: test with GCC 16 (#998)
  .github/workflows/test.yml
  src/ArrowFrameConverter.cc
Due: clang-format, cppcheck, clang-tidy

clang format
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

documentation and podio_parquet
  doc/reading_writing.md
  doc/storage_details.md
  src/Reader.cc
  src/Writer.cc
  tests/arrow_io/CMakeLists.txt
  tests/arrow_io/read_and_write_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow_multithreaded.cpp
  tests/arrow_io/read_interface_arrow.cpp
  tests/arrow_io/read_python_frame_arrow.cpp
  tests/arrow_io/selected_colls_roundtrip_arrow.cpp
  tests/arrow_io/write_frame_arrow.cpp
  tests/arrow_io/write_frame_arrow_multithreaded.cpp
  tests/arrow_io/write_interface_arrow.cpp
  tests/write_frame.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: incomplete type error for FileWriter
  include/podio/ArrowWriter.h
  src/ArrowWriter.cc
Due: clang-format, cppcheck, clang-tidy

fix
  include/podio/ArrowWriter.h
  src/ArrowWriter.cc
Due: clang-format, cppcheck, clang-tidy

pre commit and correct arrow version.
  src/ArrowConverterRegistry.cc
  src/ArrowReader.cc
  src/ArrowWriter.cc
  tests/write_frame.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

miss
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

enable parquet for dev*
  .github/workflows/test.yml
Due: none

clang format
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  include/podio/utilities/ArrowFrameData.h
  src/ArrowConverterRegistry.cc
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  src/ArrowWriter.cc
  src/Reader.cc
  tests/arrow_io/read_and_write_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow_multithreaded.cpp
  tests/arrow_io/selected_colls_roundtrip_arrow.cpp
Due: clang-format, cppcheck, clang-tidy

Resolving multiple comments
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  include/podio/ArrowWriter.h
  src/ArrowReader.cc
  src/ArrowWriter.cc
  src/CMakeLists.txt
  src/Writer.cc
  tests/write_frame.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Default compression changed,
  include/podio/ArrowWriter.h
  src/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

arrow ->podioarrow
  tests/arrow_io/CMakeLists.txt
Due: none

bug fix
  src/CMakeLists.txt
Due: none

feat: writing/reading to parquet
  .gitignore
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  include/podio/utilities/ArrowFrameData.h
  include/podio/utilities/ArrowTypeRegistry.h
  python/podio/arrow_io.py
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  src/ArrowTypeRegistry.cc
  src/ArrowWriter.cc
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  src/arrow_selection.xml
  tests/CMakeLists.txt
  tests/arrow_io/CMakeLists.txt
  tests/arrow_io/read_and_write_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow_multithreaded.cpp
  tests/arrow_io/read_interface_arrow.cpp
  tests/arrow_io/read_python_frame_arrow.cpp
  tests/arrow_io/selected_colls_roundtrip_arrow.cpp
  tests/arrow_io/write_frame_arrow.cpp
  tests/arrow_io/write_frame_arrow_multithreaded.cpp
  tests/arrow_io/write_interface_arrow.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/write_frame.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: arrow c++ compilation issues
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  src/ArrowReader.cc
  src/ArrowWriter.cc
Due: clang-format, cppcheck, clang-tidy

addressing comments
  CMakeLists.txt
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  podioVersion.in.h
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  src/ArrowWriter.cc
  src/CMakeLists.txt
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

small fix.
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

fix
  src/ArrowReader.cc
Due: clang-format, cppcheck, clang-tidy

parquet to pre-commit
  .github/workflows/pre-commit.yml
Due: none

whitespace
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

defaulkt off
  CMakeLists.txt
Due: none

pre test failures
  include/podio/ArrowWriter.h
  src/ArrowFrameData.cc
  src/ArrowWriter.cc
Due: clang-format, cppcheck, clang-tidy

resolving comments.
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  python/podio/arrow_io.py
  src/ArrowReader.cc
  src/ArrowWriter.cc
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

ENABLE_PARQUET
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  tests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

ci/cd fixes
  cmake/podioMacros.cmake
  include/podio/ArrowWriter.h
  src/ArrowReader.cc
Due: clang-format, cppcheck, clang-tidy

feat: writing/reading to parquet (#1002)
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .gitignore
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  doc/reading_writing.md
  doc/storage_details.md
  include/podio/ArrowReader.h
  include/podio/ArrowWriter.h
  include/podio/utilities/ArrowFrameData.h
  include/podio/utilities/ArrowTypeRegistry.h
  podioVersion.in.h
  python/podio/arrow_io.py
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  src/ArrowTypeRegistry.cc
  src/ArrowWriter.cc
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  src/arrow_selection.xml
  tests/CMakeLists.txt
  tests/arrow_io/CMakeLists.txt
  tests/arrow_io/read_and_write_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow.cpp
  tests/arrow_io/read_frame_arrow_multithreaded.cpp
  tests/arrow_io/read_interface_arrow.cpp
  tests/arrow_io/read_python_frame_arrow.cpp
  tests/arrow_io/selected_colls_roundtrip_arrow.cpp
  tests/arrow_io/write_frame_arrow.cpp
  tests/arrow_io/write_frame_arrow_multithreaded.cpp
  tests/arrow_io/write_interface_arrow.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/write_frame.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Add compatibility with fmtlib formatting for collections
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy
