Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Add a failing test case for renaming a datatype
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Make sure builtin member types can also be renamed for ROOT (#799)
  python/podio_gen/cpp_generator.py
  python/templates/selection.xml.jinja2
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Release Notes for v01-04
  doc/ReleaseNotes.md
Due: none

Updating version to v01-04
  CMakeLists.txt
Due: none

Remove the deprecated operator-> in collections
  python/templates/Collection.h.jinja2
Due: none

Remove the deprecated operator-> in collections (#812)
  python/templates/Collection.h.jinja2
Due: none

Update documentation for master
  master/ReleaseNotes.html
  master/objects.inv
  master/searchindex.js
Due: none

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add version namespaces to components as well
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: none

Remove unnecessary datatype
  python/podio/test_CodeGen.py
  tests/datalayout.yaml
Due: pylint, flake8

Fix a wrong member name that was missed in #797
  python/podio_schema_evolution.py
Due: pylint, flake8

Fix a wrong member name that was missed in #797 (#816)
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove unnecessary datatype (#815)
  python/podio/test_CodeGen.py
  tests/datalayout.yaml
Due: pylint, flake8

Make CI run on patches branch as well
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
Due: none

Fix a wrong member name that was missed in #797 (#818)
  python/podio_schema_evolution.py
Due: pylint, flake8

Release Notes for v01-04-01
  doc/ReleaseNotes.md
Due: none

Updating version to v01-04-01
  CMakeLists.txt
Due: none

run cppcheck pre-commit hook only for c++ files
  .pre-commit-config.yaml
Due: none

run cppcheck pre-commit hook only for c++ files (#820)
  .pre-commit-config.yaml
Due: none

Fix code generation to make one-to-one relations to oneself possible
  python/podio_gen/cpp_generator.py
  tests/datalayout.yaml
Due: pylint, flake8

Fix code generation to make one-to-one relations to oneself possible
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix code generation to make one-to-one relations within a type possible (#821)
  python/podio_gen/cpp_generator.py
  tests/datalayout.yaml
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Reuse existing member function for building includes
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Reuse existing member function for building includes (#819)
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

add workaround for checking exception "type"
  include/podio/detail/Pythonizations.h
Due: clang-tidy, clang-format

replace DeprecationWarning with FutureWarning
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

replace Python callback with C++ callback for subscript pythonization
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  doc/python.md
  include/podio/detail/Pythonizations.h
  python/podio/pythonizations/collection_subscript.py
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

add docs, missing python define, split python bindings tests
  include/podio/detail/Pythonizations.h
  python/podio/test_CodeGen.py
  python/podio/test_Pythonizations.py
  python/templates/Collection.h.jinja2
Due: clang-tidy, clang-format, pylint, flake8

replace FutureWarning with DeprecationWarning
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

increase strace test limit
  python/CMakeLists.txt
Due: none

supress cppcheck complains
  .cppcheck-suppressions.txt
Due: none

bring back and deprecate collection_subscript.py
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

replace Python callback with C++ callback for subscript pythonization (#810)
  .cppcheck-suppressions.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  doc/python.md
  include/podio/detail/Pythonizations.h
  python/CMakeLists.txt
  python/podio/pythonizations/collection_subscript.py
  python/podio/test_CodeGen.py
  python/podio/test_Pythonizations.py
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/file/_pythonizations_8h.html
  master/cpp_api/filelist.html
  master/genindex.html
  master/objects.inv
  master/python.html
  master/searchindex.js
Due: none

Update LCG stacks to have root with c++23 available
  .github/workflows/test.yml
Due: none

Bump Catch2 version to 3.5.0 to compile without warnings
  .github/workflows/test.yml
  tests/unittests/CMakeLists.txt
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
