Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add document comparing collection with standard 'container' named requirement
  doc/collections_as_container.md
Due: none

Add placeholders for iterator requirements and interaction with std algorithms
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add tests for dereference assignment (and increment)
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Add to collection: `cbegin`, `cend`, `max_size`, `size_type`, `difference_type` required by container
  python/templates/Collection.h.jinja2
Due: none

fix fail message
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add clarification *mutable* in std iterators vs *mutable* in podio
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix pre-commit
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix commented test, add some comments, use static_require_false instead of ! (as suggested in catch2 docs)
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix typos
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add checks for adaptors
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add checks for move iterator adaptor
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix typos
  doc/collections_as_container.md
Due: none

Update doc/cmake.md
  doc/cmake.md
Due: none

Drop unused comparison templates
  include/podio/utilities/MaybeSharedPtr.h
Due: clang-tidy, clang-format

Drop unused comparison templates (#610)
  include/podio/utilities/MaybeSharedPtr.h
Due: clang-tidy, clang-format

Bump the patch version to 99 to signify development
  CMakeLists.txt
Due: none

Remove deprecated functionality from GenericParameters
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Add get method returning an optional value
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Make the Frame return optional parameters as well
  include/podio/Frame.h
  python/podio/frame.py
  tests/read_python_frame.h
  tests/read_test.h
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format, pylint, flake8

Make getMap private as public access is no longer necessary
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Fix comments on documentation
  include/podio/Frame.h
Due: clang-tidy, clang-format

Switch to non-deprecated usage in Frame
  include/podio/Frame.h
  python/podio/frame.py
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format, pylint, flake8

Fix unittests to use non-deprecated methods
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove test of deprecated type helper
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make map public again, as it is needed for DD4hep
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Fix link rendering.
  doc/cmake.md
Due: none

Fix the equal comparison for relations of cloned objects
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix pre-commit
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Revert previous commits
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add a parameter to clone with empty relations
  python/templates/MutableObject.cc.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add tests adding to the relations of cloned objects
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Move existing python setup / discovery into macro
  CMakeLists.txt
  cmake/podioBuild.cmake
Due: none

Find python3 explicitly via CMake
  cmake/podioBuild.cmake
Due: none

Make the python install prefix configurable and use sane defaults
  cmake/podioBuild.cmake
  python/CMakeLists.txt
Due: none

Fix param type determination on macOS
  python/podio/frame.py
Due: pylint, flake8

Completely remove dynamic determination of supported types
  python/podio/frame.py
Due: pylint, flake8

add collection vs container docs to index
  doc/index.rst
Due: none
