Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

First draft of using in-memory trees.
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

fix exception stacktrace readability
  python/podio/pythonizations/collection_subscript.py
Due: pylint, flake8

Homogenize the RNTuple reader/writer docstrings
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
Due: clang-tidy, clang-format

Make internally used only fillParams private
  include/podio/RNTupleWriter.h
Due: clang-tidy, clang-format

Improve and homogenize the docstrings for the ROOT / SIO readers & writers
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
Due: clang-tidy, clang-format

Remove unimplemented public method
  include/podio/RNTupleReader.h
Due: clang-tidy, clang-format

Homogenize the docstrings for the legacy readers
  include/podio/ROOTLegacyReader.h
  include/podio/SIOLegacyReader.h
Due: clang-tidy, clang-format

Homogenize docstrings
  include/podio/CollectionBranches.h
  include/podio/CollectionBufferFactory.h
  include/podio/CollectionBuffers.h
  include/podio/DatamodelRegistry.h
  include/podio/GenericParameters.h
  include/podio/RelationRange.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameData.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/TypeHelpers.h
  podioVersion.in.h
Due: clang-tidy, clang-format

Fix typos
  include/podio/Frame.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTWriter.h
Due: clang-tidy, clang-format

Fix RNTuple writer after API break in ROOT
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Make sure to load the correct entry
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Adapt RNTupleReader to new RNTuple API
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Use ROOT Version header that works with older versions
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Use preprocessor version check for selecting RNTuple functionality
  include/podio/RNTupleWriter.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Make sure to have valid fields for the Frame parameters
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Fix RNTuple writer after API break in ROOT (#547)
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Use float also for vectors of parameters if desired
  python/podio/frame.py
  tests/read_python_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Fix even more typos
  include/podio/CollectionBufferFactory.h
  include/podio/DatamodelRegistry.h
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/RelationRange.h
  include/podio/SIOWriter.h
  include/podio/utilities/TypeHelpers.h
  podioVersion.in.h
Due: clang-tidy, clang-format

Properly pass environment to sphinx
  cmake/podioDoxygen.cmake
  doc/conf.py
Due: pylint, flake8

Use the \note tag for highlighting notes in documentation
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOWriter.h
  include/podio/SchemaEvolution.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Use Note tag also for python API doc
  python/podio/frame.py
Due: pylint, flake8

Fix a few more typos and param argument name mismatches
  include/podio/Frame.h
  include/podio/RNTupleReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/SIOReader.h
Due: clang-tidy, clang-format

Add not about invalidating references to Frame destructor
  include/podio/Frame.h
Due: clang-tidy, clang-format

Make sure that as_type arguments are respected in Frame.put_parameters for lists of values as well (#575)
  python/podio/frame.py
  tests/read_python_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Switch to @note for more internal consistency
  include/podio/Frame.h
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOWriter.h
  include/podio/SchemaEvolution.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

[doc] Homogenize the format of the c++ docstrings and add more doxygen tags in some places (#574)
  cmake/podioDoxygen.cmake
  doc/conf.py
  include/podio/CollectionBranches.h
  include/podio/CollectionBufferFactory.h
  include/podio/CollectionBuffers.h
  include/podio/DatamodelRegistry.h
  include/podio/Frame.h
  include/podio/FrameCategories.h
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/RelationRange.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameData.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/TypeHelpers.h
  podioVersion.in.h
  python/podio/frame.py
Due: clang-tidy, clang-format, pylint, flake8

Remove outdated information from top level README
  README.md
Due: none

Update description for Catch2 setup
  README.md
Due: none

Improve error message for push_back when using an immutable type
  python/templates/Collection.cc.jinja2
Due: none

Clean up the code/comments a bit.
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Add tests for ROOTReader::openTDirectory
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_root_tdirectory.cpp
Due: clang-tidy, clang-format

Remove outdated information from top level README (#573)
  README.md
Due: none

Improve error message for push_back when using an immutable type (#577)
  python/templates/Collection.cc.jinja2
Due: none

Check if the data passed to the frame model is not a nullptr
  include/podio/Frame.h
Due: clang-tidy, clang-format

Update constructor docs and error message
  include/podio/Frame.h
Due: clang-tidy, clang-format

Use doxygen tags
  include/podio/Frame.h
Due: clang-tidy, clang-format

Check if the data passed to the frame model is not a nullptr (#578)
  include/podio/Frame.h
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/searchindex.js
Due: none

Change a few permissions to 644
  .gitignore
  CMakeLists.txt
  README.md
  doc/doc.md
  src/CMakeLists.txt
  tests/datalayout.yaml
  tests/schema_evolution/datalayout_new.yaml
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
