Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add a test for a `float` to `double` migration
  tests/schema_evolution/README.md
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

addressing review comments and code checker
  python/podio_class_generator.py
Due: pylint, flake8

move Collection::createBuffers template into macro
  python/templates/Collection.cc.jinja2
  python/templates/macros/collections.jinja2
Due: none

Fix bug re-introduced in merging master
  python/templates/macros/collections.jinja2
Due: none

Rename unittest to unittest_podio
  tests/unittests/CMakeLists.txt
Due: none

Rename unittest to unittest_podio (#481)
  tests/unittests/CMakeLists.txt
Due: none

Introduce a createBuffers macro for the jinja template (#480)
  python/templates/Collection.cc.jinja2
  python/templates/macros/collections.jinja2
Due: none

Move function implementations into .cc files for Components
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
Due: pylint, flake8

Fix preprocessor directives
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Reduce unnecessary template instantiations
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: none

Update python/podio_class_generator.py
  python/podio_class_generator.py
Due: pylint, flake8

Schema evolution based on ROOT and Reflex dictionaries (#472)
  .github/scripts/pylint.rc
  python/podio_class_generator.py
  python/podio_schema_evolution.py
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/selection.xml.jinja2
  src/SchemaEvolution.cc
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/datalayout.yaml
  tests/schema_evolution.yaml
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/README.md
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

rename CMake macro createBuffers into create_buffers
  python/templates/Collection.cc.jinja2
  python/templates/macros/collections.jinja2
Due: none

clarify error message in case of not implemented schema changes
  python/podio_class_generator.py
Due: pylint, flake8

rename CMake macro createBuffers into create_buffers (#482)
  python/templates/Collection.cc.jinja2
  python/templates/macros/collections.jinja2
Due: none

Improve import structure of podio to feel more pythonic
  .gitignore
  CMakeLists.txt
  python/__version__.py.in
  python/podio/__init__.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
Due: pylint, flake8

Make sure python bindings are usable without libs
  python/podio/__init__.py
Due: pylint, flake8

clarify error message in case of not implemented schema changes (#483)
  python/podio_class_generator.py
Due: pylint, flake8

Make import of test_utils more robust
  python/podio/__init__.py
  python/podio/test_utils.py
Due: pylint, flake8

Remove test_utils from imported modules
  python/podio/__init__.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
  tests/root_io/write_frame_root.py
Due: pylint, flake8

flake8: Fix __init__.py
  python/podio/__init__.py
Due: pylint, flake8

pylint: Fix deprecation warning for newer pylint versions
  .github/scripts/pylint.rc
Due: none

Make Frame python bindings more robust
  python/podio/frame.py
Due: pylint, flake8

pylint: Fix pylint warnings
  python/podio/__init__.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  tests/root_io/write_frame_root.py
Due: pylint, flake8

Keep test_utils in podio module to make tests work
  python/podio/__init__.py
  tests/root_io/write_frame_root.py
Due: pylint, flake8

Improve import structure of podio to feel more pythonic (#484)
  .github/scripts/pylint.rc
  .gitignore
  CMakeLists.txt
  python/__version__.py.in
  python/podio/__init__.py
  python/podio/frame.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
  tests/root_io/write_frame_root.py
Due: pylint, flake8

Default initialize ObjectIDs to untracked
  include/podio/ObjectID.h
  python/templates/Collection.cc.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/macros/implementations.jinja2
Due: clang-tidy, clang-format

Add check for existence before getting collections
  include/podio/CollectionIDTable.h
  include/podio/Frame.h
  src/CollectionIDTable.cc
Due: clang-tidy, clang-format

Switch test case from EventStore to Frame based I/O
  tests/root_io/read_and_write_associated.cpp
Due: clang-tidy, clang-format

Make CollectionIDTable return optional for some queries
  include/podio/CollectionIDTable.h
  include/podio/Frame.h
  src/CollectionIDTable.cc
  src/EventStore.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOFrameData.cc
  src/SIOReader.cc
  src/sioUtils.h
Due: clang-tidy, clang-format

Make sure that each category gets its own id table
  include/podio/ROOTNTupleReader.h
  src/ROOTNTupleReader.cc
Due: clang-tidy, clang-format

Properly lock the collection ID table
  src/CollectionIDTable.cc
Due: clang-tidy, clang-format

Do not unconditionally try to import the sio bindings
  python/podio/__init__.py
Due: pylint, flake8

Make regex a bit less error prone
  python/CMakeLists.txt
Due: none

Avoid noisy but harmless ROOT message during podio builds
  python/podio/test_utils.py
Due: pylint, flake8

Fix python imports when built without SIO support (#490)
  python/CMakeLists.txt
  python/podio/__init__.py
  python/podio/test_utils.py
Due: pylint, flake8

Print warning if requested entry not present in the file
  tools/podio-dump
Due: none

Removing unnecessary pass
  tools/podio-dump
Due: none

Print warning if requested entry not present in the file (#491)
  tools/podio-dump
Due: none

Fix reading relations to unpersisted objects (#486)
  include/podio/CollectionIDTable.h
  include/podio/Frame.h
  include/podio/ObjectID.h
  include/podio/ROOTNTupleReader.h
  python/templates/Collection.cc.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/macros/implementations.jinja2
  src/CollectionIDTable.cc
  src/EventStore.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTNTupleReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOFrameData.cc
  src/SIOReader.cc
  src/sioUtils.h
  tests/root_io/read_and_write_associated.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
