Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add first version of thread safety and tests
  include/podio/Frame.h
  tests/frame.cpp
Due: clang-tidy, clang-format

Capture thread index instead of passing it as an argument
  tests/frame.cpp
Due: clang-tidy, clang-format

Make it possible to put untyped CollectionBase into Frame
  include/podio/Frame.h
Due: clang-tidy, clang-format

Reorganize tests slightly to avoid Catch2 thread problem
  tests/frame.cpp
Due: clang-tidy, clang-format

Make earlier tests also use the name helper function
  tests/frame.cpp
Due: clang-tidy, clang-format

Add mutexes guarding the internal maps for GenericParameters
  include/podio/GenericParameters.h
  src/GenericParameters.cc
  tests/read_test.h
Due: clang-tidy, clang-format

Add test case for multithreaded parameter insertion
  tests/frame.cpp
Due: clang-tidy, clang-format

Fix clang-tidy warning
  tests/frame.cpp
Due: clang-tidy, clang-format

Update documentation
  include/podio/Frame.h
Due: clang-tidy, clang-format

Add std::string deprecation warning and make sure warnings are printed
  python/podio_class_generator.py
  python/podio_config_reader.py
Due: pylint, flake8

Release Notes for v00-14-02
  doc/ReleaseNotes.md
Due: none

Updating version to v00-14-02
  CMakeLists.txt
Due: none

Add std::string deprecation warning and make sure warnings are printed (#305)
  python/podio_class_generator.py
  python/podio_config_reader.py
Due: pylint, flake8

Make SIO collection id writing independent of EventStore (#294)
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Add an option to enable or disable the clang-format.
  CMakeLists.txt
  cmake/podioMacros.cmake
Due: none

Add documentation
  cmake/podioMacros.cmake
Due: none

Add option to generation cmake macro to control auto formatting
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
Due: none

Add option that is also available downstream
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
Due: none

Switch to f-strings for setting up parsing regexps
  python/generator_utils.py
  python/podio_config_reader.py
Due: pylint, flake8

Add parsing of user defined default values for member variables
  python/generator_utils.py
  python/podio_config_reader.py
  python/test_MemberParser.py
Due: pylint, flake8

Add test to check component default initialization
  python/test_MemberParser.py
  tests/datalayout.yaml
  tests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Remove dedicated validation again
  python/podio_config_reader.py
  python/test_MemberParser.py
Due: pylint, flake8

Add user value initialization on-the-fly validation
  python/generator_utils.py
  python/podio_config_reader.py
  python/test_MemberParser.py
Due: pylint, flake8

Remove some no longer necessary python2 compatibility
  python/podio_class_generator.py
Due: pylint, flake8

Only run init value validation if there is a user defined one
  python/podio_config_reader.py
Due: pylint, flake8

Add an actual test datatype and check that initialization works
  tests/datalayout.yaml
  tests/unittest.cpp
Due: clang-tidy, clang-format

Allow PODIO_USE_CLANG_FORMAT=AUTO
  cmake/podioMacros.cmake
Due: none

Fix trailing whitespaces
  cmake/podioMacros.cmake
Due: none

Add option to toggle the formatting via clang-format in the generator cmake macro (#282)
  cmake/podioMacros.cmake
Due: none

Work around Catch2 assertion thread safety issues
  tests/frame.cpp
Due: clang-tidy, clang-format

up
  tests/CMakeLists.txt
  tests/read_rntuple.cpp
Due: clang-tidy, clang-format

Add a few lines of documentation
  doc/datamodel_syntax.md
Due: none

hotfix for https://github.com/AIDASoft/podio/issues/290
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Try to fix clang-format issues
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Fix whitespace
  src/ROOTReader.cc
Due: clang-tidy, clang-format

hotfix for https://github.com/AIDASoft/podio/issues/290 (#307)
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

write refcolls
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

[backport] Add option to toggle the formatting via clang-format in the generator cmake macro (#282) (#308)
  cmake/podioMacros.cmake
Due: none
