Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add newline
  .gitignore
Due: none

Pass arguments by const reference to avoid making copies
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
Due: none

Change a few permissions to 644 for text files (#584)
  .gitignore
  CMakeLists.txt
  README.md
  doc/doc.md
  src/CMakeLists.txt
  tests/datalayout.yaml
  tests/schema_evolution/datalayout_new.yaml
Due: none

Add another pass by const reference
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Make it possible to get the name from a coll ID
  include/podio/Frame.h
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format

Change "Collcetion" to "Collection"
  src/SIOBlockUserData.cc
Due: clang-tidy, clang-format

Change "Collcetion" to "Collection" (#587)
  src/SIOBlockUserData.cc
Due: clang-tidy, clang-format

Use LD_LIBRARY_PATH instead of DL_PATHS for Catch2 tests
  tests/unittests/CMakeLists.txt
Due: none

Fix leak in the buffer vectorMembers when reading SIO frames
  python/templates/SIOBlock.cc.jinja2
Due: none

Fix for multiple vector members
  python/templates/SIOBlock.cc.jinja2
Due: none

Add a message when PODIO_SIOBLOCK_PATH is set but no library is found
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Set PODIO_SIOBLOCK_PATH to PROJECT_BINARY_DIR/tests where *SioBlocks.so is
  tests/unittests/CMakeLists.txt
Due: none

Remove the SKIP_CATCH_DISCOVERY option
  tests/unittests/CMakeLists.txt
Due: none

Remove unneeded part
  python/templates/SIOBlock.cc.jinja2
Due: none

Fix leak in the buffer vectorMembers when reading SIO frames (#589)
  python/templates/SIOBlock.cc.jinja2
Due: none

Make it possible to get the name from a coll ID (#586)
  include/podio/Frame.h
  tests/unittests/frame.cpp
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Set the right path for `PODIO_SIOBLOCK_PATH` and add an error message (#588)
  src/SIOBlock.cc
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

Pass arguments by const reference to avoid making copies (#585)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Fix issue with relations after reading and add test
  python/templates/Object.cc.jinja2
  python/templates/macros/implementations.jinja2
  tests/read_frame.h
Due: clang-tidy, clang-format

Clone twice when reading
  python/templates/macros/implementations.jinja2
  tests/read_test.h
Due: clang-tidy, clang-format

Fix also vector members
  python/templates/Object.cc.jinja2
  python/templates/macros/implementations.jinja2
  tests/read_frame.h
  tests/read_test.h
Due: clang-tidy, clang-format

Implement the fix in the `addX` methods
  python/templates/Object.cc.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Fix format
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Implement the fix in clone()
  python/templates/Object.cc.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Add comment and tests to unittests
  python/templates/macros/implementations.jinja2
  tests/read_test.h
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix check
  python/templates/macros/implementations.jinja2
Due: none

Fix formatting
  tests/read_frame.h
  tests/read_test.h
Due: clang-tidy, clang-format

Add a test for a collection with empty relations
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add test with rntuple
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix a leak in the implementation
  python/templates/macros/implementations.jinja2
Due: none

Use a for loop
  python/templates/macros/implementations.jinja2
Due: none

Call reserve first
  python/templates/macros/implementations.jinja2
Due: none

Add test case for SIO
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Use a constructor and emplace_back
  python/templates/macros/implementations.jinja2
Due: none

Add the [basics] label
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add test reading cloned objects
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix style
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix OneToManyRelations and VectorMembers in cloned objects (#583)
  python/templates/Object.cc.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

added pythonizer base class
  python/podio/pythonizations/__init__.py
  python/podio/pythonizations/utils/__init__.py
  python/podio/pythonizations/utils/pythonizer.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
