Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

Remove extra includes when including the collection ones
  tests/ostream_operator.cpp
Due: clang-tidy, clang-format

Remove unneeded header
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Fix format
  tests/read_frame.h
  tests/read_test.h
Due: clang-tidy, clang-format

Remove unneeded header
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

fix pythonizations trying to import local modules as pythonization.submodule (#667)
  python/podio/pythonizations/__init__.py
Due: pylint, flake8

Use .f
  tests/read_test.h
Due: clang-tidy, clang-format

Use .f
  tests/root_io/read_and_write_associated.cpp
Due: clang-tidy, clang-format

Remove extra )
  tests/read_test.h
Due: clang-tidy, clang-format

Fix remaining issues
  cmake/podioBuild.cmake
  include/podio/DataSource.h
  src/DataSource.cc
  tests/schema_evolution/read_new_data.h
Due: clang-tidy, clang-format

Fix format
  tests/read_test.h
  tests/schema_evolution/read_new_data.h
Due: clang-tidy, clang-format

Disable -Wold-style-cast for MurmurHash3.cpp
  src/MurmurHash3.cpp
Due: clang-tidy, clang-format

Don't change the flags
  cmake/podioBuild.cmake
Due: none

Fix test
  tests/schema_evolution/read_new_data.h
Due: clang-tidy, clang-format

test collection subscript return type in python
  python/podio/test_CodeGen.py
Due: pylint, flake8

improve pythonizations docs
  doc/python.md
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/freeze_class.py
Due: pylint, flake8

test mutability of objects from collection.create
  python/podio/test_CodeGen.py
Due: pylint, flake8

Improve documentation for the pythonizations, test collection subscript return type (#669)
  doc/python.md
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/freeze_class.py
  python/podio/test_CodeGen.py
Due: pylint, flake8

Update documentation for master
  master/py_api/podio.pythonizations.html
  master/python.html
  master/searchindex.js
Due: none

Change C-style casts to static_cast and remove unnecessary semicolons (#668)
  include/podio/CollectionIDTable.h
  include/podio/DataSource.h
  include/podio/Frame.h
  include/podio/UserDataCollection.h
  podioVersion.in.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  src/DataSource.cc
  src/MurmurHash3.cpp
  src/RNTupleWriter.cc
  tests/read_frame.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
  tests/schema_evolution/read_new_data.h
  tests/unittests/frame.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Reuse existing type but give it new block name
  include/podio/SIOBlock.h
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Update documentation
  doc/datamodel_syntax.md
Due: none

Add the possibility to specify a version header and variable
  include/podio/DatamodelRegistry.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/templates/DatamodelDefinition.h.jinja2
  src/DatamodelRegistry.cc
  tests/datalayout.yaml
  tests/datamodel/version.h
Due: clang-tidy, clang-format, pylint, flake8

Make datamodel versions accessible from python
  python/podio/base_reader.py
  python/podio/test_Reader.py
  tools/podio-dump
Due: pylint, flake8

Make pylint and flake8 happy
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Make the readers and writers handle datamodel versions
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tests/read_frame.h
Due: clang-tidy, clang-format

Make python API closer in name to c++ API
  python/podio/base_reader.py
  python/podio/test_Reader.py
  tools/podio-dump
Due: pylint, flake8

Add reading back version to test
  tests/read_frame.h
Due: clang-tidy, clang-format

Simplify regex for version matching
  doc/datamodel_syntax.md
  python/podio_class_generator.py
Due: pylint, flake8

Move strings once we are done with them
  src/DatamodelRegistry.cc
Due: clang-tidy, clang-format

Make sure to only encode version_info in json if available
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Make datamodel version a command line argument to the generator
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/templates/DatamodelDefinition.h.jinja2
  tests/CMakeLists.txt
  tests/datalayout.yaml
  tests/datamodel/version.h
  tests/read_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Add documentation for new version_info section
  doc/datamodel_syntax.md
Due: none

Make sure to not pollute the available categories
  src/ROOTReader.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Remove superfluous semicolons
  include/podio/SIOBlock.h
Due: clang-tidy, clang-format

Make sure roundtrip models also have version info
  tests/dumpmodel/CMakeLists.txt
Due: none

Add docstrings
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOReader.h
Due: clang-tidy, clang-format

Fix typo in documentation
  doc/datamodel_syntax.md
Due: none

Add a hook to inject datamodel version information into podio internals (#651)
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  include/podio/DatamodelRegistry.h
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  python/podio/base_reader.py
  python/podio/test_Reader.py
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/DatamodelDefinition.h.jinja2
  src/DatamodelRegistry.cc
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/read_frame.h
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Remove stray debug print
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make sure to remove any spurious whitespace
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
