Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Add a build of EDM4hep with c++23 to CI
  .github/workflows/edm4hep.yaml
Due: none

Update documentation
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add a single example for a schema evolution test
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/components_new_member/new.yaml
  tests/schema_evolution/code_gen/components_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Only pass the old model if we are not generating it
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Make macros a bit more generically usable and document
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
Due: clang-format, cppcheck, clang-tidy

Use text fixtures for test time dependency management
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add another test case
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Fix typos in docstrings and comments
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Introduce cmake function to create a full test
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Fix typo and whitespcae issues
  tests/schema_evolution/code_gen/README.md
Due: none

Add tests that require an explicit evolution file
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/components_rename_member/check.cpp
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/components_rename_member/new.yaml
  tests/schema_evolution/code_gen/components_rename_member/old.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Try to avoid triggering re-generation too often
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Move c++ helpers into common header and add documentation
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Make sure to use the right executable for the test
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Make it possible to define tests for RNTuple as well
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Remove old schema evolution tests and replace with simpler ones
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/README.md
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/datalayout_notpossible.yaml
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_change_component_type_new.yaml
  tests/schema_evolution/detection/members/dm_change_component_type_old.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-format, cppcheck, clang-tidy

Make sure dictionary generation maps are properly moved
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add test case for implicit floating point evolutions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/implicit_floating_point_change/check.cpp
  tests/schema_evolution/code_gen/implicit_floating_point_change/new.yaml
  tests/schema_evolution/code_gen/implicit_floating_point_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Update LCG stacks to have root with c++23 available (#822)
  .github/workflows/edm4hep.yaml
  .github/workflows/test.yml
  tests/unittests/CMakeLists.txt
Due: none

Enable RNTuple based schema evolution tests as support grows
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Update the sanitizer workflows to use newer compilers
  .github/workflows/sanitizers.yaml
Due: none

Use external Catch2 if possible
  .github/workflows/sanitizers.yaml
Due: none

Remove unnecessary debug output that trips UBSan
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Update the sanitizer workflows to use newer compilers (#823)
  .github/workflows/sanitizers.yaml
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

add test for link collection element access
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

fix link collection at
  include/podio/detail/LinkCollectionImpl.h
Due: clang-format, cppcheck, clang-tidy

fix typos in comments
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Fix typo causing error in non-const overload of `LinkCollection::at(size_t)` (#826)
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

add collection subscript pythonization to UserDataCollection and LinkCollection
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/podio/test_CodeGen.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

add collection subscript pythonization to UserDataCollection and LinkCollection (#824)
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/podio/test_CodeGen.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_collection.html
  master/cpp_api/class/classpodio_1_1_user_data_collection.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_link_collection_impl_8h.html
  master/cpp_api/file/_user_data_collection_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Update tests to ignore for sanitizer workflows
  tests/CTestCustom.cmake
Due: none
