Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

add reading multiple files in `get_reader`, glob utilities accessible in python
  python/podio/reading.py
  python/podio/utils.py
  src/CMakeLists.txt
  src/selection.xml
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_multiple.py
Due: pylint, flake8

import whole root in utils
  python/podio/utils.py
Due: pylint, flake8

fix typos, comments, loading glob header in python
  include/podio/utilities/Glob.h
  python/podio/reading.py
  python/podio/utils.py
Due: clang-tidy, clang-format, pylint, flake8

fix glob namespace in selection.xml
  src/selection.xml
Due: none

define PODIO_HAS_GLOB_SUPPOR
  include/podio/utilities/Glob.h
Due: clang-tidy, clang-format

Add LANGUAGES CXX to CMakeLists.txt
  CMakeLists.txt
Due: none

Add LANGUAGES CXX to CMakeLists.txt (#734)
  CMakeLists.txt
Due: none

fix setting link with interface without specific link direction
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

use always_false template to avoid compilation error in `else static_assert(false)`
  include/podio/detail/Link.h
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Harmonize comment style
  include/podio/utilities/Glob.h
Due: clang-tidy, clang-format

add globbing support in `makeReader` and `CreateDataSource` (#729)
  include/podio/DataSource.h
  include/podio/Reader.h
  include/podio/utilities/Glob.h
  python/podio/reading.py
  python/podio/utils.py
  src/CMakeLists.txt
  src/DataSource.cc
  src/Glob.cc
  src/Reader.cc
  src/selection.xml
  tests/CTestCustom.cmake
  tests/root_io/CMakeLists.txt
  tests/root_io/read_datasource.py
  tests/root_io/read_glob.cpp
  tests/root_io/read_multiple.py
  tests/root_io/write_frame_root.cpp
Due: clang-tidy, clang-format, pylint, flake8

Remove obsolete checks
  include/podio/SIOFrameData.h
  src/SIOFrameData.cc
Due: clang-tidy, clang-format

Add simple test for reusing collection names
  tests/read_frame.h
Due: clang-tidy, clang-format

Add selective collection reading to SIO
  include/podio/SIOFrameData.h
  include/podio/SIOReader.h
  src/SIOFrameData.cc
  src/SIOReader.cc
  tests/sio_io/read_frame_sio.cpp
Due: clang-tidy, clang-format

Throw an exception instead of ignoring non-existant names
  include/podio/SIOFrameData.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  tests/read_frame.h
Due: clang-tidy, clang-format

Add selective collection reading to RNTupleReader
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
  tests/root_io/read_rntuple.cpp
Due: clang-tidy, clang-format

Add test case for checking whether reading limited set works
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Make ROOTReader capable of only reading a subset
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Also check auxiliary information for RNTuple
  tests/root_io/read_rntuple.cpp
Due: clang-tidy, clang-format

Improve error message on failing tests
  tests/read_frame.h
Due: clang-tidy, clang-format

Replace a pair with a struct
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Update docstrings to inform about the exception
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
Due: clang-tidy, clang-format

Make sure that passing non-existent names doesn't break
  tests/read_frame.h
Due: clang-tidy, clang-format

Enable selective reading in Reader interface
  include/podio/Reader.h
  tests/read_frame.h
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/sio_io/read_interface_sio.cpp
Due: clang-tidy, clang-format

Move test function into header and template it
  tests/read_frame.h
  tests/root_io/read_frame_root.cpp
Due: clang-tidy, clang-format

Add basic checks for roundtripping
  tests/root_io/CMakeLists.txt
  tests/root_io/selected_colls_roundtrip_rntuple.cpp
  tests/root_io/selected_colls_roundtrip_root.cpp
  tests/selected_colls_roundtrip.h
  tests/sio_io/CMakeLists.txt
  tests/sio_io/selected_colls_roundtrip_sio.cpp
Due: clang-tidy, clang-format

Add include guards
  tests/selected_colls_roundtrip.h
Due: clang-tidy, clang-format

Improve formatting
  tests/read_frame.h
Due: clang-tidy, clang-format

Add content checks for roundtripped files with dropped collections
  tests/selected_colls_roundtrip.h
Due: clang-tidy, clang-format

Don't run tests that miss inputs for sanitizers
  tests/CTestCustom.cmake
Due: none

Remove no longer necessary special casing
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Update readme to reflect new ROOT requirements
  README.md
Due: none

Bump minimum ROOT version for RNTuple support
  CMakeLists.txt
Due: none

Add possibility to select colections to python API
  include/podio/ROOTLegacyReader.h
  include/podio/SIOLegacyReader.h
  python/podio/base_reader.py
  python/podio/frame_iterator.py
  python/podio/test_Reader.py
  src/ROOTLegacyReader.cc
  src/SIOLegacyReader.cc
Due: clang-tidy, clang-format, pylint, flake8

Remove double return
  tests/root_io/read_interface_rntuple.cpp
Due: clang-tidy, clang-format

Add possibility to limit collections to RDataSource
  include/podio/DataSource.h
  src/DataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Make it possible to read only a subset of available collections in readers (#504)
  CMakeLists.txt
  README.md
  include/podio/DataSource.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  include/podio/SIOFrameData.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  python/podio/base_reader.py
  python/podio/frame_iterator.py
  python/podio/test_Reader.py
  src/DataSource.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  tests/CTestCustom.cmake
  tests/read_frame.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_frame_root.cpp
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/root_io/read_rntuple.cpp
  tests/root_io/read_with_rdatasource_root.cpp
  tests/root_io/selected_colls_roundtrip_rntuple.cpp
  tests/root_io/selected_colls_roundtrip_root.cpp
  tests/selected_colls_roundtrip.h
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_frame_sio.cpp
  tests/sio_io/read_interface_sio.cpp
  tests/sio_io/selected_colls_roundtrip_sio.cpp
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/cpp_api/class/classpodio_1_1_data_source.html
  master/cpp_api/class/classpodio_1_1_r_n_tuple_reader.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_legacy_reader.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_reader.html
  master/cpp_api/class/classpodio_1_1_reader.html
  master/cpp_api/class/classpodio_1_1_s_i_o_frame_data.html
  master/cpp_api/class/classpodio_1_1_s_i_o_legacy_reader.html
  master/cpp_api/class/classpodio_1_1_s_i_o_reader.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_data_source_8h.html
  master/cpp_api/file/_r_n_tuple_reader_8h.html
  master/cpp_api/file/_r_o_o_t_legacy_reader_8h.html
  master/cpp_api/file/_r_o_o_t_reader_8h.html
  master/cpp_api/file/_reader_8h.html
  master/cpp_api/file/_s_i_o_frame_data_8h.html
  master/cpp_api/file/_s_i_o_legacy_reader_8h.html
  master/cpp_api/file/_s_i_o_reader_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1_r_o_o_t_reader_1_1_category_info.html
  master/cpp_api/struct/structpodio_1_1_reader_1_1_reader_concept.html
  master/cpp_api/struct/structpodio_1_1_reader_1_1_reader_model.html
  master/cpp_api/structlist.html
  master/genindex.html
  master/objects.inv
  master/py_api/podio.html
  master/searchindex.js
Due: none

fix setting link with interface without specific link direction (#736)
  include/podio/detail/Link.h
  include/podio/utilities/TypeHelpers.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
