Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Table to Frame converter and Round Trip Test
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowFrameData.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/ArrowFrameData.cc
  src/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

better naming.
  python/templates/ArrowMapper.cc.jinja2
Due: none

Addressing comments.
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

resolving comments.
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowFrameData.cc
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

Implement Arrow-to-Frame Conversion (Deserialization) for Arrow Backend (#987)
  .cppcheck-suppressions.txt
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowFrameData.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/ArrowFrameData.cc
  src/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

dynamic loading
  cmake/podioTest.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  src/ArrowConverterRegistry.cc
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

In type registry also
  src/ArrowTypeRegistry.cc
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

comments for clarification
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowTypeRegistry.h
Due: clang-format, cppcheck, clang-tidy

Apply pre-commit formatting
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Comments resolution.
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowTypeRegistry.h
  src/ArrowConverterRegistry.cc
Due: clang-format, cppcheck, clang-tidy

optimization 1
  .gitignore
  python/templates/ArrowMapper.cc.jinja2
Due: none

optimization 2.
  .gitignore
  python/templates/ArrowMapper.cc.jinja2
Due: none

Optimize Arrow Backend Read Path (#1001)
  python/templates/ArrowMapper.cc.jinja2
Due: none

resolving comments
  include/podio/utilities/BackendLibraryLoader.h
  src/ArrowConverterRegistry.cc
  src/BackendLibraryLoader.cc
  src/CMakeLists.txt
  src/SIOBlock.cc
Due: clang-format, cppcheck, clang-tidy

generic library loader
  include/podio/SIOBlock.h
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/LibraryLoader.h
  src/ArrowConverterRegistry.cc
  src/ArrowTypeRegistry.cc
  src/CMakeLists.txt
  src/LibraryLoader.cc
  src/SIOBlock.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-format, cppcheck, clang-tidy

Arrow->PodioAroow
  cmake/podioMacros.cmake
  src/ArrowConverterRegistry.cc
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

removing libpodioArrow.so
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowTypeRegistry.h
Due: clang-format, cppcheck, clang-tidy

Refactor backend library loading and rename Arrow suffix to PodioArrow (#999)
  cmake/podioMacros.cmake
  cmake/podioTest.cmake
  include/podio/SIOBlock.h
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowTypeRegistry.h
  include/podio/utilities/BackendLibraryLoader.h
  src/ArrowConverterRegistry.cc
  src/ArrowTypeRegistry.cc
  src/BackendLibraryLoader.cc
  src/CMakeLists.txt
  src/SIOBlock.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  tests/unittests/CMakeLists.txt
Due: clang-format, cppcheck, clang-tidy

test: add ASAN regression test for dangling string_view keys in RNTupleReader
  cmake/podioBuild.cmake
  cmake/podioTest.cmake
  tests/read_interface.h
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/write_interface.h
Due: clang-format, cppcheck, clang-tidy

fix(cmake): typo USE_SANITIZE => USE_SANITIZER
  cmake/podioBuild.cmake
Due: none

fix(cmake): improve comment
  cmake/podioTest.cmake
Due: none

test: fix silent-pass and non-fatal check in test_transient_category_strings
  tests/read_interface.h
Due: clang-format, cppcheck, clang-tidy

test: fix category count check and revert unconditional LD_PRELOAD
  cmake/podioTest.cmake
  tests/read_frame.h
Due: clang-format, cppcheck, clang-tidy

test: relax category count check in read_frame.h
  tests/read_frame.h
Due: clang-format, cppcheck, clang-tidy

fix(cmake): typo USE_SANITIZE => USE_SANITIZER (#1005)
  cmake/podioBuild.cmake
Due: none

fix: use m_collectionInfo[stableCategory] for consistency
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

fix: avoid dangling string_view keys in RNTupleReader maps
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

fix: use m_totalEntries for O(1) category validation in readNextEntry
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

fix: avoid dangling string_view keys in RNTupleReader maps (#1003)
  cmake/podioBuild.cmake
  cmake/podioTest.cmake
  src/RNTupleReader.cc
  tests/read_frame.h
  tests/read_interface.h
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/write_interface.h
Due: clang-format, cppcheck, clang-tidy
