Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Use constexpr and consteval when possible (#989)
  include/podio/LinkNavigator.h
  include/podio/ObjectID.h
  include/podio/RelationRange.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionIterator.h
  include/podio/detail/OrderKey.h
  include/podio/utilities/MaybeSharedPtr.h
  include/podio/utilities/StaticConcatenate.h
  podioVersion.in.h
  python/templates/macros/declarations.jinja2
  python/templates/macros/iterator.jinja2
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_link_collection_iterator_t.html
  master/cpp_api/class/classpodio_1_1_link_t.html
  master/cpp_api/class/classpodio_1_1_object_i_d.html
  master/cpp_api/class/classpodio_1_1_relation_range.html
  master/cpp_api/class/classpodio_1_1utils_1_1_maybe_shared_ptr.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespace/namespacepodio_1_1utils.html
  master/cpp_api/namespace/namespacepodio_1_1version.html
  master/cpp_api/namespacelist.html
  master/cpp_api/struct/structpodio_1_1utils_1_1static__concatenate.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Refactor DataSource
  include/podio/DataSource.h
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Add lazy reading to ROOTReader and RNTupleReader
  include/podio/RNTupleReader.h
  include/podio/ROOTFrameData.h
  include/podio/ROOTReader.h
  include/podio/Reader.h
  src/RNTupleReader.cc
  src/ROOTFrameData.cc
  src/ROOTReader.cc
  src/Reader.cc
Due: clang-format, cppcheck, clang-tidy

Add new and remove old tests for DataSource
  tests/root_io/check_datasource_output.cpp
  tests/root_io/read_datasource.py
  tests/root_io/use_datasource.py
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Fix compiler warning with GCC
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Remove the method isValid for Collections
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Let ROOT bind to the right type instead of casting to std::vector<int>
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

Expose event weight names through DataSource
  include/podio/DataSource.h
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Let ROOT bind to the right type instead of casting to std::vector<int> (#993)
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

Apply a few suggestions from clang-tidy
  python/templates/CollectionData.cc.jinja2
  python/templates/Interface.h.jinja2
  python/templates/Obj.cc.jinja2
Due: none

Apply a few suggestions from clang-tidy (#992)
  python/templates/CollectionData.cc.jinja2
  python/templates/Interface.h.jinja2
  python/templates/Obj.cc.jinja2
Due: none

comment suggestion
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
Due: none

Print only one message if support for SIO or Arrow is not enabled
  cmake/podioMacros.cmake
Due: none

cmake: fix SIO and Arrow config export
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
Due: none

rectifying messages.
  cmake/podioMacros.cmake
Due: none

Export ENABLE_ARROW in podioConfig.cmake for downstream packages
  cmake/podioConfig.cmake.in
Due: none

Clean up SIO and Arrow configuration export (#990)
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
Due: none

Extract common members into a common base
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/utilities/ReaderCommon.h
Due: clang-format, cppcheck, clang-tidy

Make sure common functionality still shows up properly in documentation
  doc/Doxyfile
Due: none

Make getAvailableCategories() also part of the common reader
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/utilities/ReaderCommon.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Use the range constructor
  include/podio/utilities/ReaderCommon.h
Due: clang-format, cppcheck, clang-tidy

Extract common members into a common base (#954)
  doc/Doxyfile
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/SIOReader.h
  include/podio/utilities/ReaderCommon.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Export Arrow target from podio config
  cmake/podioConfig.cmake.in
  doc/contributing.md
Due: none

Remove AI useless changes
  doc/contributing.md
Due: none

Export Arrow target from podio config (#994)
  cmake/podioConfig.cmake.in
Due: none

Look for lz4 quietly when finding Arrow
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

Look for lz4 quietly when finding Arrow (#995)
  CMakeLists.txt
  cmake/podioConfig.cmake.in
Due: none

CI: test with GCC 16
  .github/workflows/test.yml
Due: none

ArrowMapper jinja
  python/templates/ArrowMapper.cc.jinja2
Due: none

check unused
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

Addressing comments.
  include/podio/utilities/ArrowConverterRegistry.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowFrameConverter.cc
  src/ArrowFrameData.cc
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

common test setup
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

precommit warnings
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  src/ArrowFrameConverter.cc
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

cpp check issues
  .cppcheck-suppressions.txt
  include/podio/utilities/ArrowFrameData.h
  src/ArrowFrameData.cc
Due: clang-format, cppcheck, clang-tidy

warnings resolution
  src/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

clang format
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy

Link Collection support
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

added non zero rowindex test and cppcheck failure suppresses
  include/podio/utilities/ArrowFrameData.h
  src/ArrowFrameData.cc
  tests/unittests/test_arrow_converter.cpp
Due: clang-format, cppcheck, clang-tidy
