Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Add raise
  python/podio/__init__.py
Due: pylint, flake8

Remove else
  python/podio/__init__.py
Due: pylint, flake8

Make sure to always have the Frame python wrapper when imported
  python/podio/__init__.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
  tests/root_io/CMakeLists.txt
  tests/root_io/write_frame_root.py
  tests/sio_io/write_frame_sio.py
  tests/write_frame.py
Due: pylint, flake8

Also test the python sio writer
  tests/sio_io/CMakeLists.txt
Due: none

Restructure python parts, splitting code generation and python bindings into separate modules (#511)
  python/CMakeLists.txt
  python/podio/__init__.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
  python/podio_class_generator.py
  python/podio_gen/__init__.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/podio_gen/test_MemberParser.py
  python/podio_schema_evolution.py
  tests/root_io/CMakeLists.txt
  tests/root_io/write_frame_root.py
  tests/sio_io/CMakeLists.txt
  tests/sio_io/write_frame_sio.py
  tests/write_frame.py
  tools/podio-vis
Due: pylint, flake8

Only record the datamodel definition once
  src/ROOTFrameWriter.cc
Due: clang-tidy, clang-format

Make sure the contents of Frames in one category are consistent
  src/ROOTFrameWriter.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Ignore performance concerns on the path to an exception
  src/ROOTFrameWriter.cc
Due: clang-tidy, clang-format

Updating version to v00-17-02
  CMakeLists.txt
Due: none

Release Notes for v00-17-02
  doc/ReleaseNotes.md
Due: none

Refactor RNTupleWriter internals in preparation
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Minimize number of internal maps in RNTuple writer
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Finish refactoring to make consistent Frame writing possible
  include/podio/ROOTNTupleWriter.h
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Enforce consistency also for RNTuple writer
  src/ROOTFrameWriter.cc
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Correct docstring to match implementation
  src/rootUtils.h
Due: clang-tidy, clang-format

Add RNTuple writer unittests
  src/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Split test cases into two to tag them differently
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Always define PODIO_ENABLE_RNTUPLE with appropriate value
  src/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Include more information in exception message
  src/ROOTFrameWriter.cc
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add possibility to check consistency of frames before writing
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTNTupleWriter.h
  src/ROOTFrameWriter.cc
  src/ROOTNTupleWriter.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add more labels to exclude tests from running in sanitizer CI
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make exception messages consistent
  src/ROOTNTupleWriter.cc
Due: clang-tidy, clang-format

Use correct label for excluding Thread sanitizer
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make exception message more succinct
  src/rootUtils.h
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Remove unnecessary header
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Switch to improved binary_search
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Make sure that the ROOT writers enforce consistency for the Frame contents they write (#513)
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTNTupleWriter.h
  src/CMakeLists.txt
  src/ROOTFrameWriter.cc
  src/ROOTNTupleWriter.cc
  src/rootUtils.h
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Release Notes for v00-17-03
  doc/ReleaseNotes.md
Due: none

Updating version to v00-17-03
  CMakeLists.txt
Due: none

Add static checks to make sure return types are OK
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make member getters return builtin types by value
  python/podio_gen/generator_utils.py
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: pylint, flake8

Made changes to correct failing tests
  python/podio_class_generator.py
  python/podio_gen/test_MemberParser.py
  python/templates/CMakeLists.txt
Due: pylint, flake8

Added abstract support for builtin Vector Members
  python/templates/ParentModule.jl.jinja2
  tests/unittest.jl
Due: none

Removed redundant code from ParentModule.jl.jinja2 template
  python/templates/ParentModule.jl.jinja2
Due: none

Parsing Julia types from c++ types in yaml description (#310)
  python/podio_gen/generator_utils.py
  python/podio_gen/test_MemberParser.py
Due: pylint, flake8

add documentation for Julia code generation (#329)
  doc/templates.md
Due: none

Sorted includes and parametric types, added StaticArrays package include in CI
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  python/podio_class_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Fixed julia tests to accomodate new changes
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Fixed '.jl' file bug
  python/templates/CMakeLists.txt
  python/templates/ParentModule.jl.jinja2
Due: none

Changes related to precommit
  python/podio_class_generator.py
Due: pylint, flake8
