Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

[wip] AssociationColllection implementation
  include/podio/Association.h
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionData.h
  include/podio/AssociationCollectionIterator.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/podio_gen/cpp_generator.py
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format, pylint, flake8

[wip] Add necessary functionality for SIO backend
  include/podio/AssociationCollection.h
  include/podio/AssociationFwd.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Start working on templated associations
  include/podio/Association.h
  include/podio/AssociationObj.h
  tests/unittests/CMakeLists.txt
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Introduce macros for registering associations
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionImpl.h
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

Fix some runtime errors and cleanup code
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
  python/templates/Object.h.jinja2
  src/DatamodelRegistry.cc
Due: clang-tidy, clang-format

Make things compile again after PR revival
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/utilities/TypeHelpers.h
  tests/read_test.h
Due: clang-tidy, clang-format

Make the AssociationSIOBlock public
  include/podio/AssociationSIOBlock.h
  tests/read_test.h
  tests/sio_io/read_frame_legacy_sio.cpp
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format

[wip] Scaffolding of AssociationCollection
  include/podio/AssociationCollection.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Make associations work with Root I/O
  include/podio/AssociationCollection.h
  tests/read_test.h
  tests/write_frame.h
Due: clang-tidy, clang-format

[wip] Make things compile again after rebase
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationSIOBlock.h
  python/templates/CMakeLists.txt
Due: clang-tidy, clang-format

Bring documentation up-to-date
  doc/associations.md
Due: none

Code cleanup and addressing review comments
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/utilities/DeprecationMacros.h
  python/templates/MutableObject.h.jinja2
  tests/read_test.h
  tests/unittests/associations.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format

Make sure to cleanup cloned associations properly
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Use freed up name for standard root readers / writers
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  src/CMakeLists.txt
  src/ROOTReader.cc
  src/ROOTWriter.cc
Due: clang-tidy, clang-format

Rename the SIO default reader / writer
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  python/podio/sio_io.py
  src/CMakeLists.txt
  src/SIOReader.cc
  src/SIOWriter.cc
  src/sio_selection.xml
Due: clang-tidy, clang-format, pylint, flake8

Make edm4hep workflows pass
  .github/workflows/edm4hep.yaml
Due: none

Remove mentions of old names from existing docs
  doc/advanced_topics.md
Due: none

Remove internal usage of deprecated reader / writer
  python/podio/root_io.py
  src/CMakeLists.txt
  src/root_selection.xml
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/read_and_write_frame_root.cpp
  tests/root_io/read_frame_root.cpp
  tests/root_io/read_frame_root_multiple.cpp
  tests/root_io/read_python_frame_root.cpp
  tests/root_io/relation_range.cpp
  tests/root_io/write_frame_root.cpp
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/sio_io/read_and_write_frame_sio.cpp
  tests/sio_io/read_frame_sio.cpp
  tests/sio_io/read_python_frame_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Make clang-tidy pass
  .pre-commit-config.yaml
Due: none

fix typo in interface template
  python/templates/Interface.h.jinja2
Due: none

fix typos in tests
  tests/read_frame.h
  tests/read_frame_auxiliary.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/schema_evolution/README.md
  tests/scripts/dumpModelRoundTrip.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/frame.cpp
  tests/unittests/interface_types.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Fix typos in tests and interface template (#550)
  python/templates/Interface.h.jinja2
  tests/read_frame.h
  tests/read_frame_auxiliary.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/schema_evolution/README.md
  tests/scripts/dumpModelRoundTrip.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/frame.cpp
  tests/unittests/interface_types.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Add missing final for override
  python/templates/Interface.h.jinja2
Due: none

Switch to defaultdict
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make it possible to store interface types in maps and sets
  python/podio_gen/cpp_generator.py
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add vector<Data> classes to dictionary generation
  python/templates/selection.xml.jinja2
Due: none

Also add vector<Component> to dicts
  python/templates/selection.xml.jinja2
Due: none

Add vector<Data> and vector<Component> classes to dictionary generation (#554)
  python/templates/selection.xml.jinja2
Due: none

Make it possible to use interface types in STL containers relying on comparisons (#552)
  python/podio_gen/cpp_generator.py
  python/templates/Interface.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format, pylint, flake8

Remove the `Frame` from the default readers and writers (#549)
  .github/workflows/edm4hep.yaml
  .pre-commit-config.yaml
  doc/advanced_topics.md
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  python/podio/root_io.py
  python/podio/sio_io.py
  src/CMakeLists.txt
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/root_selection.xml
  src/sio_selection.xml
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/read_and_write_frame_root.cpp
  tests/root_io/read_frame_root.cpp
  tests/root_io/read_frame_root_multiple.cpp
  tests/root_io/read_python_frame_root.cpp
  tests/root_io/relation_range.cpp
  tests/root_io/write_frame_root.cpp
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/sio_io/read_and_write_frame_sio.cpp
  tests/sio_io/read_frame_sio.cpp
  tests/sio_io/read_python_frame_sio.cpp
  tests/sio_io/write_frame_sio.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Updating version to v00-99
  CMakeLists.txt
Due: none

Release Notes for v00-99
  doc/ReleaseNotes.md
Due: none

Change FCC stack to Key4hep
  README.md
Due: none

Change FCC stack to Key4hep (#555)
  README.md
Due: none

Update documentation for master
  master/ReleaseNotes.html
  master/objects.inv
  master/searchindex.js
Due: none

Add a schema_version for the extension datamodel
  tests/datalayout_extension.yaml
Due: none

Make schema_version mandatory in datamodel definition
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Use more pythonic approach
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
