Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Remove empty file
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Add AssociationNavigator utility class and tests
  include/podio/AssociationNavigator.h
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Rename Association to Link
  include/podio/LinkNavigator.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

Remove superfluous semicolons
  include/podio/SIOBlock.h
Due: clang-tidy, clang-format

Default initialize the internal maps
  include/podio/LinkNavigator.h
Due: clang-tidy, clang-format

Make sure to only encode version_info in json if available
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Remove unnecessary headers
  include/podio/CollectionBase.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/UserDataCollection.h
  src/GenericParameters.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  src/test_hashes.cpp
  tests/unittests/buffer_factory.cpp
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Fix pre-commit
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
Due: clang-tidy, clang-format

fix typos
  doc/examples.md
  doc/storage_details.md
  include/podio/Frame.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Use a virtualenv to install pre-commit
  .github/workflows/pre-commit.yml
Due: none

Use a virtualenv to install pre-commit (#654)
  .github/workflows/pre-commit.yml
Due: none

fix typos (#653)
  doc/examples.md
  doc/storage_details.md
  include/podio/Frame.h
  include/podio/Writer.h
Due: clang-tidy, clang-format

Add back RNTuple.hxx
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
Due: clang-tidy, clang-format

Fix order of includes
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Use a virtualenv for documentation generation
  .gitlab-ci.yml
Due: none

Remove unnecessary header includes (#652)
  include/podio/CollectionBase.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/UserDataCollection.h
  src/GenericParameters.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  src/test_hashes.cpp
  tests/unittests/buffer_factory.cpp
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Switch publish-doc workflow to virtualenv
  .github/workflows/publish-docs.yml
Due: none

Use a virtualenv for documentation generation (#656)
  .github/workflows/publish-docs.yml
  .gitlab-ci.yml
Due: none

Try to deploy to different path
  .gitlab-ci.yml
Due: none

Create an output folder depending on tag or branch
  .gitlab-ci.yml
Due: none

Choose better name for contents folder
  .gitlab-ci.yml
Due: none

Add dynamically populated version selection to documentation
  doc/_templates/versions.html
  doc/conf.py
Due: pylint, flake8

Order available versions from newest to oldest
  doc/_templates/versions.html
Due: none

Also trigger deployments on new tags
  .gitlab-ci.yml
Due: none

Add top level index.html and minimal conceptual README
  doc/web-deploy/README.md
  doc/web-deploy/index.html
Due: none

Make sure to build EDM4hep with c++20
  .github/workflows/edm4hep.yaml
Due: none

Switch LCG views to be able to build with c++20
  .github/workflows/edm4hep.yaml
Due: none

Don't use a non-existant LCG release
  .github/workflows/edm4hep.yaml
Due: none

CI: Make sure to build EDM4hep with c++20 (#658)
  .github/workflows/edm4hep.yaml
Due: none

Moving RDataSource closer to Podio/EDM4hep
  CMakeLists.txt
  include/podio/ROOTDataSource.h
  src/CMakeLists.txt
  src/ROOTDataSource.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Moving doc strings to header file
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
Due: clang-tidy, clang-format

Using /// and @ for the doxygen docs
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Clang format
  include/podio/ROOTDataSource.h
  src/ROOTDataSource.cc
  tests/root_io/read_with_rdatasource_root.cpp
Due: clang-tidy, clang-format

Another set of small adjustments
  CMakeLists.txt
  include/podio/ROOTDataSource.h
  src/CMakeLists.txt
  src/ROOTDataSource.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

Installing also utilities directory
  src/CMakeLists.txt
Due: none

Separating datasource into standalone library
  CMakeLists.txt
  include/podio/DataSource.h
  src/CMakeLists.txt
  src/DataSource.cc
  src/rds_selection.xml
  src/root_selection.xml
  tests/root_io/CMakeLists.txt
  tests/root_io/read_with_rdatasource_root.cpp
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
Due: clang-tidy, clang-format

The headers should install now
  src/CMakeLists.txt
Due: none
