Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/classlist.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Do not use ulimit in schema evolution tests run with sanitizers
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Do not use ulimit
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Do not use ulimit in schema evolution tests (#873)
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Remove unnecessary hasID check
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Remove now unnecessary hasID checks and update documentation
  doc/examples.md
  tests/read_frame.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
Due: clang-format, cppcheck, clang-tidy

Add a policy to calls to Frame::get
  include/podio/Frame.h
  include/podio/FramePolicies.h
Due: clang-format, cppcheck, clang-tidy

Remove policy and make get throw by default
  include/podio/Frame.h
  include/podio/FramePolicies.h
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Add unittests
  include/podio/FramePolicies.h
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Add check for throwing on type-mismatch and missing collection
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Remove test that didn't do anything until now
  tests/read_test.h
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary hasID check (#875)
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Choose more appropriate function for showing useless state
  doc/datamodel_syntax.md
Due: none

Choose more appropriate function for showing useless state (#874)
  doc/datamodel_syntax.md
Due: none

Update documentation for master
  master/datamodel_syntax.html
  master/searchindex.js
Due: none

Clenaup Frame::put implementation, amend docs
  include/podio/Frame.h
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Adapt python bindings and documentation, add test
  python/podio/frame.py
  python/podio/test_Frame.py
Due: pylint, flake8

Cleanup Frame::put implementation and amend docs (#876)
  include/podio/Frame.h
  python/podio/frame.py
  python/podio/test_Frame.py
  tests/unittests/frame.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_frame.html
  master/cpp_api/file/_frame_8h.html
  master/cpp_api/namespace/namespacepodio.html
  master/py_api/podio.html
  master/searchindex.js
Due: none

Don't use new for TFile where it's not necessary
  include/podio/ROOTWriter.h
  src/ROOTWriter.cc
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  include/podio/ROOTWriter.h
Due: clang-format, cppcheck, clang-tidy

Don't use new for TFile where it's not necessary (#877)
  include/podio/ROOTWriter.h
  src/ROOTWriter.cc
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/file/_r_o_o_t_writer_8h.html
  master/objects.inv
  master/searchindex.js
Due: none

Better phrasing of comment
  doc/examples.md
Due: none

Make sure to have cvmfs available
  .github/workflows/edm4eic.yml
Due: none

Turn off doxygen generation with cmake flag
  .github/workflows/edm4eic.yml
Due: none

Fix target name
  .github/workflows/edm4eic.yml
Due: none

Add a workflow that builds all the way to EDM4eic
  .github/workflows/edm4eic.yml
Due: none

Fix triggers
  .github/workflows/edm4eic.yml
Due: none

Fix superfluous paths
  .github/workflows/edm4eic.yml
Due: none

Make sure to build edm4eic tests
  .github/workflows/edm4eic.yml
Due: none

Only trigger on pushes to master
  .github/workflows/edm4eic.yml
Due: none

Add a workflow that builds all the way to EDM4eic (#872)
  .github/workflows/edm4eic.yml
Due: none

Add docstrings for the new overloads and the options
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/ReadOptions.h
  include/podio/Reader.h
  include/podio/SIOReader.h
Due: clang-format, cppcheck, clang-tidy

Adapt ignore list for sanitizer checks
  tests/CTestCustom.cmake
Due: none

Make Reader interface understand ReadOptions
  include/podio/Reader.h
Due: clang-format, cppcheck, clang-tidy

Add ReadOptions and incorporate collsToRead
  include/podio/RNTupleReader.h
  include/podio/ROOTReader.h
  include/podio/ReadOptions.h
  src/RNTupleReader.cc
  src/ROOTReader.cc
Due: clang-format, cppcheck, clang-tidy

Make the ROOTReader skip unreadable collections
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-format, cppcheck, clang-tidy

Make it possible to check non supported evolution behavior
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/datatypes_rename_relation/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_relation/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_relation/old.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Ensure header is installed
  src/CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
