Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

FrametoTable for Arrow backend (#980)
  .github/workflows/pre-commit.yml
  .gitignore
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
  include/podio/utilities/ArrowConverterRegistry.h
  include/podio/utilities/ArrowFrameConverter.h
  include/podio/utilities/ArrowTypeRegistry.h
  include/podio/utilities/ArrowUtils.h
  python/podio_gen/cpp_generator.py
  python/templates/ArrowMapper.cc.jinja2
  python/templates/ArrowMapper.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/macros/arrow.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameConverter.cc
  src/ArrowTypeRegistry.cc
  src/ArrowUtils.cc
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/unittest.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Group together tests that are small and related
  tests/unittests/frame.cpp
  tests/unittests/interface_types.cpp
  tests/unittests/links.cpp
  tests/unittests/test_json_output.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Fix format
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Group together tests that are small and related (#988)
  tests/unittests/frame.cpp
  tests/unittests/interface_types.cpp
  tests/unittests/links.cpp
  tests/unittests/test_json_output.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

feat: Implement C++20 module template generation (80% complete)
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/templates/CMakeLists.txt
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

feat: Move podio.core module to src/ and enable proper installation
  cmake/podioModules.cmake
  src/podio_core_module.ixx
  tests/CMakeLists.txt
Due: none

Clean up license header in podio_core_module.ixx
  src/podio_core_module.ixx
Due: none

fix: Implement namespace-aware module export generation (Strategy 2)
  python/podio_gen/cpp_generator.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

fix: Add global namespace prefix for non-namespaced types in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

docs: Add comprehensive C++20 modules user documentation
  doc/modules.md
Due: none

fix: Correct CollectionIterator naming pattern
  python/templates/datamodel_module.ixx.jinja2
Due: none

refactor: Move Pythonizations implementation to separate compilation unit
  src/CMakeLists.txt
Due: none

ci: Enable C++ modules in workflow for gcc15 builds
  .github/workflows/test.yml
Due: none

Remove duplicate podio_core_module.ixx from tests directory
  tests/podio_core_module.ixx
Due: none

feat: Add C++20 module support infrastructure (prototype)
  CMakeLists.txt
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioModules.cmake
  tests/CMakeLists.txt
  tests/podio_core_module.ixx
Due: none

Add experimental test for direct module imports in .cpp files
  doc/modules.md
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_direct_import.cpp
Due: clang-format, cppcheck, clang-tidy

Add C++ modules test infrastructure
  tests/unittests/CMakeLists.txt
Due: none

Add comprehensive test suite for C++ modules functionality
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

docs: podio.core: generalize from ROOT- to I/O-independent functionality
  doc/modules.md
Due: none

test: remove redundant C++ module tests, keep only import test
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_direct_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: hide Obj, Data, CollectionData in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

fix: add Threads dependency to podioConfig
  cmake/podioConfig.cmake.in
Due: none

feat: add tests/test_module_import
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/test_module_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: cpp_generator._build_type_info -> generator_utils.qualified_for_modules
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

fix: pre-commit
  cmake/podioModules.cmake
  doc/modules.md
  python/podio_gen/generator_utils.py
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Disable module import test due to compiler stdlib issues
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: consistently use PODIO_ENABLE_CXX_MODULES (incl. in CI)
  .github/workflows/test.yml
  doc/modules.md
Due: none

fix: style
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Remove cmake arguments that are covered by presets
  .github/workflows/test.yml
Due: none

fix: pylint and flake8 style
  python/podio_gen/generator_utils.py
  tests/scripts/test_module_generation.py
Due: pylint, flake8

fix: clang-format
  src/podio_core_module.ixx
  tests/test_module_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: pre-commit with -DPODIO_ENABLE_CXX_MODULES=ON
  .github/workflows/pre-commit.yml
Due: none

fix: remove generation, integration, unit tests
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: update docs to avoid podio_MODULES_AVAILABLE
  doc/modules.md
Due: none

Use constexpr and consteval when possible
  include/podio/LinkNavigator.h
  include/podio/ObjectID.h
  include/podio/RelationRange.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionIterator.h
  include/podio/detail/OrderKey.h
  include/podio/utilities/MaybeSharedPtr.h
  include/podio/utilities/StaticConcatenate.h
  podioVersion.in.h
  python/templates/macros/declarations.jinja2
  python/templates/macros/iterator.jinja2
Due: clang-format, cppcheck, clang-tidy

fix: suppress cppcheck errors for .ixx module files and pre-existing issues
  .cppcheck-suppressions.txt
Due: none

fix: exclude .ixx files and module import tests from clang-tidy
  .pre-commit-config.yaml
Due: none

fix: undef PODIO_JSON_OUTPUT in module interfaces to avoid TU-local nlohmann/json entities
  python/templates/datamodel_module.ixx.jinja2
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
