Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
      - id: cppcheck
        name: cppcheck
        entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
        types: [c++]
        language: system
        pass_filenames: false
      - id: clang-tidy
        name: clang-tidy
        entry: .github/scripts/clang-tidy-hook
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Fix CI
  tests/unittests/CMakeLists.txt
Due: none

Fix selection
  src/rds_selection.xml
Due: none

Do not use edm4hep as a namespace
  python/podio_gen/test_MemberParser.py
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
Due: pylint, flake8

Make sure libpodio is found when discovering tests
  tests/unittests/CMakeLists.txt
Due: none

Put release notes comment into selection file
  src/rds_selection.xml
Due: none

Make CI less sensitive about underlying environment (#948)
  python/podio_gen/test_MemberParser.py
  src/rds_selection.xml
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
  tests/unittests/CMakeLists.txt
Due: pylint, flake8

Remove unnecessary std::move
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Make ~SIOFrameData default
  include/podio/SIOFrameData.h
  src/SIOFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Remove deletion
  src/SIOFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Make sure what is deleted is set to nullptr
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/CollectionData.cc.jinja2
  python/templates/macros/collections.jinja2
Due: clang-format, cppcheck, clang-tidy

Make CollectionReadBuffers movable
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/ROOTFrameData.h
  include/podio/SIOBlock.h
  include/podio/SchemaEvolution.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkSIOBlock.h
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/RNTupleReader.cc
  src/ROOTFrameData.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Fix cppcheck
  src/ROOTFrameData.cc
  src/ROOTReader.cc
Due: clang-format, cppcheck, clang-tidy

Bump patch version
  CMakeLists.txt
Due: none

Move after value
  include/podio/detail/LinkSIOBlock.h
Due: clang-format, cppcheck, clang-tidy

feat: Add C++20 module support infrastructure (prototype)
  CMakeLists.txt
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioModules.cmake
  tests/CMakeLists.txt
  tests/podio_core_module.ixx
Due: none

feat: Implement C++20 module template generation (80% complete)
  PODIO_MODULES_FEASIBILITY.md
  PODIO_MODULES_PROTOTYPE_SUCCESS.md
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/templates/CMakeLists.txt
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

fix: Implement namespace-aware module export generation (Strategy 2)
  python/podio_gen/cpp_generator.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

feat: Move podio.core module to src/ and enable proper installation
  cmake/podioModules.cmake
  src/podio_core_module.ixx
  tests/CMakeLists.txt
Due: none

fix: Correct CollectionIterator naming pattern
  python/templates/datamodel_module.ixx.jinja2
Due: none

fix: Add global namespace prefix for non-namespaced types in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

refactor: Move Pythonizations implementation to separate compilation unit
  src/CMakeLists.txt
Due: none

ci: Enable C++ modules in workflow for gcc15 builds
  .github/workflows/test.yml
Due: none

docs: podio.core: generalize from ROOT- to I/O-independent functionality
  doc/modules.md
Due: none

Add comprehensive test suite for C++ modules functionality
  cmake/podioMacros.cmake
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

docs: Add comprehensive C++20 modules user documentation
  doc/modules.md
Due: none

test: remove redundant C++ module tests, keep only import test
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules.cpp
  tests/unittests/cxx_modules_direct_import.cpp
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

fix: cpp_generator._build_type_info -> generator_utils.qualified_for_modules
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/datamodel_module.ixx.jinja2
Due: pylint, flake8

Remove duplicate podio_core_module.ixx from tests directory
  tests/podio_core_module.ixx
Due: none

fix: hide Obj, Data, CollectionData in modules
  python/templates/datamodel_module.ixx.jinja2
Due: none

fix: pre-commit
  cmake/podioModules.cmake
  doc/modules.md
  python/podio_gen/generator_utils.py
  tests/CMakeLists.txt
  tests/scripts/test_module_generation.py
  tests/scripts/test_modules_integration.sh
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

feat: add tests/test_module_import
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/test_module_import.cpp
Due: clang-format, cppcheck, clang-tidy

Clean up license header in podio_core_module.ixx
  src/podio_core_module.ixx
Due: none

Disable module import test due to compiler stdlib issues
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_import.cpp
Due: clang-format, cppcheck, clang-tidy

Add experimental test for direct module imports in .cpp files
  doc/modules.md
  tests/unittests/CMakeLists.txt
  tests/unittests/cxx_modules_direct_import.cpp
Due: clang-format, cppcheck, clang-tidy

Add C++ modules test infrastructure
  tests/unittests/CMakeLists.txt
Due: none

fix: add Threads dependency to podioConfig
  cmake/podioConfig.cmake.in
Due: none

fix: pre-commit with -DPODIO_ENABLE_CXX_MODULES=ON
  .github/workflows/pre-commit.yml
Due: none

fix: pylint and flake8 style
  python/podio_gen/generator_utils.py
  tests/scripts/test_module_generation.py
Due: pylint, flake8

fix: style
  python/podio_gen/generator_utils.py
Due: pylint, flake8
