Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Make sure to have non-zero positive schema versions
  python/podio/podio_config_reader.py
  tests/datalayout.yaml
  tests/datalayout_old.yaml
  tests/schema_evolution.yaml
Due: pylint, flake8

Use meta namespace to get schema version info
  python/podio/generator_utils.py
  python/podio_class_generator.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
Due: pylint, flake8

Make SIOBlocks use the schema version appropriately
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
Due: none

[wip] Make root backend use buffer factory
  include/podio/CollectionBase.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
Due: clang-tidy, clang-format

[wip] Make SIO readers work with buffer factory
  python/templates/Collection.cc.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
Due: none

[wip] Generate creation functions for collections
  python/templates/Collection.cc.jinja2
  src/CollectionBufferFactory.cc
Due: clang-tidy, clang-format

Avoid hardcoded magic UserData schema versions
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Add schema version to datamodel meta information
  python/podio_class_generator.py
  python/templates/DatamodelDefinition.h.jinja2
Due: pylint, flake8

Remove unnecessary re-creation of data buffers
  python/templates/SIOBlock.cc.jinja2
Due: none

Add documentation
  include/podio/CollectionBufferFactory.h
  python/templates/Collection.cc.jinja2
Due: clang-tidy, clang-format

Fix dumping of UserDataCollection
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

Add unittest to cover fix
  tests/unittest.cpp
Due: clang-tidy, clang-format

Decouple the collection buffer creation from the collection (#394)
  include/podio/CollectionBase.h
  include/podio/CollectionBufferFactory.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTLegacyReader.h
  include/podio/SIOBlock.h
  include/podio/SIOBlockUserData.h
  include/podio/UserDataCollection.h
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio_class_generator.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  src/CMakeLists.txt
  src/CollectionBufferFactory.cc
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
  src/SIOBlock.cc
  src/UserDataCollection.cc
  tests/datalayout.yaml
  tests/datalayout_old.yaml
  tests/schema_evolution.yaml
Due: clang-tidy, clang-format, pylint, flake8

Fix dumping of UserDataCollection (#414)
  include/podio/UserDataCollection.h
  tests/unittest.cpp
Due: clang-tidy, clang-format

Remove figure.txt
  python/CMakeLists.txt
Due: none

Delete square when running cmake
  python/figure.txt
  python/podio_class_generator.py
Due: pylint, flake8

Fix pre-commit issues
  python/podio_class_generator.py
Due: pylint, flake8

Remove the deprecated getters and setters from the generic parameters
  include/podio/GenericParameters.h
  src/GenericParameters.cc
Due: clang-tidy, clang-format

Remove some types that are not used anymore
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Delete square when running cmake (#410)
  python/CMakeLists.txt
  python/figure.txt
  python/podio_class_generator.py
Due: pylint, flake8

Add some friends not to make public the getMap functions
  include/podio/GenericParameters.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Fix pre-commit issues (indentation and add a comment)
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove the deprecated getters and setters from the generic parameters (#415)
  include/podio/GenericParameters.h
  src/GenericParameters.cc
  src/SIOBlock.cc
Due: clang-tidy, clang-format

Remove selection rules for these classes that don't exist anymore
  src/selection.xml
Due: none

Remove selection rules for these classes that don't exist anymore (#416)
  src/selection.xml
Due: none

Add documentation for opening of files API
  include/podio/ROOTFrameReader.h
Due: clang-tidy, clang-format

Fix seg fault when reading from multiple files
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Make function name more appropriate and generic
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Add tests and properly fix file switching
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
  tests/CMakeLists.txt
  tests/read_frame_root_multiple.cpp
Due: clang-tidy, clang-format

Make string/float/int maps available again from GenericParameters
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Remove unnecessary typedefs
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Ignore new test in sanitizer runs
  tests/CTestCustom.cmake
Due: none

Revive public `getMap` functionality for `GenericParameters` (#418)
  include/podio/GenericParameters.h
Due: clang-tidy, clang-format

Fix reading of multiple files with ROOTFrameReader (#417)
  include/podio/ROOTFrameReader.h
  src/ROOTFrameReader.cc
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame_root_multiple.cpp
Due: clang-tidy, clang-format

Release Notes for v00-16-04
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-04
  CMakeLists.txt
Due: none

Fix a version check inside the ROOTReader to avoid seg faults
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Fix a version check inside the ROOTReader to avoid seg faults (#420)
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Release Notes for v00-16-05
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-05
  CMakeLists.txt
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
