Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Only build RNTUPLE schema evolution tests if enabled
  tests/schema_evolution/code_gen/CMakeLists.txt
Due: none

Add tests that require an explicit evolution file
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/components_rename_member/check.cpp
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/components_rename_member/new.yaml
  tests/schema_evolution/code_gen/components_rename_member/old.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Make sure to use the right executable for the test
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Isolate tests by running in subdirectories
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Update documentation
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Refactor the way schema evolution tests are done (#817)
  tests/CTestCustom.cmake
  tests/schema_evolution/CMakeLists.txt
  tests/schema_evolution/README.md
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/components_new_member/check.cpp
  tests/schema_evolution/code_gen/components_new_member/new.yaml
  tests/schema_evolution/code_gen/components_new_member/old.yaml
  tests/schema_evolution/code_gen/components_rename_member/check.cpp
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/components_rename_member/new.yaml
  tests/schema_evolution/code_gen/components_rename_member/old.yaml
  tests/schema_evolution/code_gen/datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/check.cpp
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/new.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/old.yaml
  tests/schema_evolution/code_gen/implicit_floating_point_change/check.cpp
  tests/schema_evolution/code_gen/implicit_floating_point_change/new.yaml
  tests/schema_evolution/code_gen/implicit_floating_point_change/old.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/datalayout_notpossible.yaml
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/members/dm_change_component_type_new.yaml
  tests/schema_evolution/detection/members/dm_change_component_type_old.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/root_io/CMakeLists.txt
  tests/schema_evolution/root_io/read_new_data_root.cpp
  tests/schema_evolution/root_io/write_old_data_root.cpp
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-format, cppcheck, clang-tidy

Only generate xml comments if necessary
  python/templates/selection.xml.jinja2
Due: none

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add schema evolution test using arrays of components
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add test for schema evolution where nothing changes
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Adapt code generation to work with new versioned classes
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/podio_schema_evolution.py
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Make sure to load the versioned namespace for components
  python/podio/test_Pythonizations.py
Due: pylint, flake8

Do not put latest version in namespace
  python/podio/test_Pythonizations.py
  python/podio_schema_evolution.py
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Add a memory limit to schema evolution tests
  .github/workflows/sanitizers.yaml
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Remove no longer used code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Add version namespaces to components as well
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/selection.xml.jinja2
Due: none

Make it possible to pass multiple old schema versions
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Generalize cmake function to handle multiple old versions
  cmake/podioMacros.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add a failing test case for renaming a datatype
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/rename_datatype/check.cpp
  tests/schema_evolution/code_gen/rename_datatype/new.yaml
  tests/schema_evolution/code_gen/rename_datatype/old.yaml
Due: clang-format, cppcheck, clang-tidy

Make ADD_SCHEMA_EVOLUTION_TEST accept multiple old versions
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add test spanning multiple versions for adding members to datatypes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Add test for confirming component member renames are propery detected
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: none

Create a dedicated class for reading custom changes
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Refactor the schema evolution detction to reduce internal state
  cmake/podioMacros.cmake
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Add machinery and a first test with multiple old versions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Add a test case that involves manual intervention
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Use new migration reader and adapt existing tests
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Adapt ignore list for sanitizers
  tests/CTestCustom.cmake
Due: none

Factor out judging of changes from detecting them
  python/podio_gen/cpp_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
