Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add I/O tests for put_parameter
  python/podio/test_utils.py
  tests/read_python_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Fix pylint complaints
  python/podio/root_io.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
  tests/root_io/write_frame_root.py
  tests/sio_io/write_frame_sio.py
Due: pylint, flake8

Add a c++ test that reads content written in python
  python/podio/base_writer.py
  python/podio/test_utils.py
  tests/read_python_frame.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_python_frame_root.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add an as_type argument to put_parameter to make explicit typing possible
  python/podio/frame.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
  tests/read_python_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Add python bindings for SIO writer and corresponding tests
  python/podio/sio_io.py
  tests/sio_io/read_python_frame_sio.cpp
  tests/sio_io/write_frame_sio.py
Due: clang-tidy, clang-format, pylint, flake8

[format] Fix flake8 complaints
  python/podio/frame.py
  python/podio/root_io.py
  python/podio/test_Frame.py
Due: pylint, flake8

[pylint] Fix / ignore warnings
  python/podio/base_writer.py
  python/podio/test_Frame.py
Due: pylint, flake8

Fixed Julia Code generation Templates
  python/templates/Constructor.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
Due: none

Removed redundant code from ParentModule.jl.jinja2 template
  python/templates/ParentModule.jl.jinja2
Due: none

Make sure that v00-16-06 files can be read with the master branch (#461)
  CMakeLists.txt
  src/ROOTFrameReader.cc
  tests/CMakeLists.txt
Due: clang-tidy, clang-format

Add python bindings for writing Frames (#447)
  python/podio/base_writer.py
  python/podio/frame.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
  tests/CTestCustom.cmake
  tests/read_python_frame.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_python_frame_root.cpp
  tests/root_io/write_frame_root.py
  tests/sio_io/read_python_frame_sio.cpp
  tests/sio_io/write_frame_sio.py
Due: clang-tidy, clang-format, pylint, flake8

Make pyton tests aware of new collection
  python/podio/test_Frame.py
Due: pylint, flake8

Only read / write vector member buffers if they exist with SIO
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/sioblocks.jinja2
Due: none

Fix typo in test output
  tests/read_frame.h
Due: clang-tidy, clang-format

Only recast vector members for non-subset collections
  python/templates/Collection.cc.jinja2
Due: none

Add tests that reproduce crash / failure
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format

[format] flake8 fixes
  python/podio/test_Frame.py
Due: pylint, flake8

Actually populate an empty test section
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Cleanup unittests
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

Make sure to only access vector members if available
  python/templates/CollectionData.cc.jinja2
Due: none

Add a test case show-casing the failure
  tests/read_and_write_frame.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_and_write_frame_root.cpp
Due: clang-tidy, clang-format

Add I/O tests to ignore list for sanitizer builds
  tests/CTestCustom.cmake
Due: none

Add tests read and write tests for SIO
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_and_write_frame_sio.cpp
Due: clang-tidy, clang-format

Fix I/O issues of subset collections with vector members (#463)
  python/podio/test_Frame.py
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/sioblocks.jinja2
  tests/CTestCustom.cmake
  tests/read_and_write_frame.h
  tests/read_frame.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_and_write_frame_root.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_and_write_frame_sio.cpp
  tests/unittests/unittest.cpp
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Modified code generation method to cater multiple namespaces
  python/podio_class_generator.py
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

Single julia file implementation for Datatypes and Components
  python/podio_class_generator.py
  python/templates/ComponentJulia.jl.jinja2
  python/templates/Constructor.jl.jinja2
  python/templates/DatatypeJulia.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

Fixed julia tests to accomodate new changes
  python/podio_class_generator.py
  python/templates/Constructor.jl.jinja2
  tests/unittest.jl
Due: pylint, flake8

Rebased with master branch
  python/podio/test_MemberParser.py
Due: pylint, flake8

Fixed rebase conflict
  python/podio_class_generator.py
Due: pylint, flake8

CI: use clang16 nightly builds
  .github/workflows/test.yml
Due: none

CI: linux: add CXX_STANDARD variable and set for builds
  .github/workflows/test.yml
Due: none

Tests: require newer catch2 version when using c++20, get latest catch2 v3 version for internal
  tests/unittests/CMakeLists.txt
Due: none

CI: key4hep: disable RNTuple for release
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
Due: none

CI: key4hep use AUTO for catch2
  .github/workflows/key4hep.yml
Due: none

CI: disable key4hep release based build
  .github/workflows/key4hep.yml
Due: none

CI: use clang16 nightly builds (#469)
  .github/workflows/key4hep.yml
  .github/workflows/test.yml
  tests/unittests/CMakeLists.txt
Due: none

add tests
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio/test_MemberParser.py
  tests/datalayout.yaml
Due: pylint, flake8

address formating check issues
  python/podio/generator_utils.py
  python/podio/test_MemberParser.py
Due: pylint, flake8

add a component with unit
  tests/datalayout.yaml
Due: none

fixing member parsing for a definition without comment but with unit
  python/podio/podio_config_reader.py
  tests/datalayout.yaml
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
