Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Make pre-commit happy
  doc/conf.py
Due: pylint, flake8

[wip] Add requirements for readthedocs
  .readthedocs.yml
  doc/requirements.txt
Due: none

Import from the correct place
  python/podio/frame_iterator.py
Due: pylint, flake8

Remove readthedocs config and use pip-compile to nail down deps
  .github/workflows/docs.yml
  .readthedocs.yml
  doc/conf.py
  doc/requirements.in
  doc/requirements.txt
Due: pylint, flake8

Integrate generation back into cmake
  .gitignore
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/conf.py
  include/podio/SIOBlockUserData.h
Due: clang-tidy, clang-format, pylint, flake8

Remove doc/conf.py from gitignore since it is no longer configured
  .gitignore
Due: none

Remove debugging branch trigger
  .github/workflows/docs.yml
Due: none

Cleanup sphinx config
  doc/conf.py
Due: pylint, flake8

Make filename and workflow name agree
  .github/workflows/publish-docs.yml
Due: none

Fix newline
  doc/conf.py
Due: pylint, flake8

Introduce the infrastructure for auto-generating API documentation via sphinx and doxygen (#383)
  .github/workflows/publish-docs.yml
  .gitignore
  cmake/FindSphinx.cmake
  cmake/podioDoxygen.cmake
  doc/Doxyfile
  doc/bootdoxy.css
  doc/bootdoxyfooter.html
  doc/bootdoxyheader.html
  doc/conf.py
  doc/cpp_api.rst
  doc/doxy-boot.js.in
  doc/index.rst
  doc/requirements.in
  doc/requirements.txt
  include/podio/SIOBlockUserData.h
  python/podio/base_writer.py
  python/podio/frame_iterator.py
  python/podio_gen/generator_base.py
Due: clang-tidy, clang-format, pylint, flake8

Make code generation process interfaces
  cmake/podioMacros.cmake
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  tests/datalayout.yaml
Due: pylint, flake8

Make checking for explicit types and if-else chain
  python/templates/macros/collections.jinja2
Due: none

Add unittests for interface types
  tests/datalayout.yaml
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Improve method name to be more interface like
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Make sure to always store the immutable handle inside
  include/podio/utilities/TypeHelpers.h
  python/templates/Interface.h.jinja2
Due: clang-tidy, clang-format

Put all type helpers into the podio namespace
  include/podio/utilities/TypeHelpers.h
Due: clang-tidy, clang-format

Implement interface types using type-erasure
  python/podio_gen/generator_base.py
  python/templates/CMakeLists.txt
  python/templates/Interface.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/interface.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

Fix easy to fix python issues
  python/podio_gen/generator_utils.py
  python/podio_gen/test_ClassDefinitionValidator.py
Due: pylint, flake8

Add documentation for interface types
  doc/datamodel_syntax.md
Due: none

make equality operators symmetric
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

Return trivial types by value for consistency
  python/templates/macros/interface.jinja2
Due: none

Make interfaces only accept interfaced types
  include/podio/utilities/TypeHelpers.h
  python/templates/Interface.h.jinja2
Due: clang-tidy, clang-format

Add .nojekyll file
  .nojekyll
Due: none

Add redirecting index file
  index.html
Due: none

Add support for interface types (#516)
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  include/podio/utilities/TypeHelpers.h
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/templates/CMakeLists.txt
  python/templates/Interface.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/interface.jinja2
  tests/datalayout.yaml
  tests/unittests/CMakeLists.txt
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format, pylint, flake8

Change ROOTNTuple{Reader,Writer} to ROOTRNTuple{Reader,Writer}
  include/podio/GenericParameters.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTRNTupleReader.h
  include/podio/ROOTRNTupleWriter.h
  python/podio/root_io.py
  src/CMakeLists.txt
  src/ROOTRNTupleReader.cc
  src/ROOTRNTupleWriter.cc
  src/root_selection.xml
  tests/root_io/read_python_frame_rntuple.cpp
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_rntuple.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

clang-format
  src/ROOTRNTupleWriter.cc
Due: clang-tidy, clang-format

Use RNTuple{Reader,Writer}
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  python/podio/root_io.py
  src/CMakeLists.txt
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/root_selection.xml
  tests/root_io/read_python_frame_rntuple.cpp
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_rntuple.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add tool to transform between TTrees and RNTuples
  tools/CMakeLists.txt
  tools/podio-ttree-to-rntuple
Due: none

Fix indentation to the very bad value of 2
  tools/podio-ttree-to-rntuple
Due: none

Change ROOTNTuple{Reader,Writer} to RNTuple{Reader,Writer} (#543)
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTFrameReader.h
  python/podio/root_io.py
  src/CMakeLists.txt
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/root_selection.xml
  tests/root_io/read_python_frame_rntuple.cpp
  tests/root_io/read_rntuple.cpp
  tests/root_io/write_rntuple.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add tool to transform between TTrees and RNTuples (#541)
  tools/CMakeLists.txt
  tools/podio-ttree-to-rntuple
Due: none

Add .flake8 config to work with black
  .flake8
Due: none

Add black to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Adapt pylint-rc to work with black
  .github/scripts/pylint.rc
Due: none
