Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Make the generation macro use the python found by CMake (#214)
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  cmake/podioMacros.cmake
Due: none

Fix memory leak of unused collections in SIOReader
  include/podio/SIOReader.h
  src/SIOReader.cc
Due: clang-tidy

Remove no longer needed ObjBase
  include/podio/ObjBase.h
  python/templates/Obj.h.jinja2
Due: clang-tidy

Fix maybe-unused warning
  tests/relation_range.cpp
Due: clang-tidy

Add MaybeSharedPtr type for managing mutable objects
  include/podio/MaybeSharedPtr.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/ConstObject.cc.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  python/templates/macros/iterator.jinja2
  tests/unittest.cpp
Due: clang-tidy

Add sanitizer build configuration and workflows
  .github/workflows/sanitizers.yml
  CMakeLists.txt
  cmake/podioBuild.cmake
  tests/CMakeLists.txt
Due: none

Improve user facing api: make Object ctor from Obj* private
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
Due: none

Add documentation for UserDataCollection
  doc/advanced_topics.md
  doc/userdata.md
Due: none

Fix MacOS version to macOS-10.15
  .github/workflows/mac.yml
Due: none

Fix MacOS version to macOS-10.15 (#225)
  .github/workflows/mac.yml
Due: none

Make clone return a mutable object
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Make docstring more clear
  python/templates/macros/declarations.jinja2
Due: none

Make clone return a mutable object (#224)
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: none

Release Notes for v00-13-02
  doc/ReleaseNotes.md
Due: none

Updating version to v00-13-02
  CMakeLists.txt
Due: none

Add documentation for UserDataCollection (#223)
  doc/advanced_topics.md
  doc/userdata.md
Due: none

add test to read a legacy root file
  tests/CMakeLists.txt
  tests/read-legacy-files.cpp
Due: clang-tidy

add regression test for mutable clones of const objects
  tests/unittest.cpp
Due: clang-tidy

Make it possible read "old" podio files
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy

Make it possible to read old SIO files
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
Due: clang-tidy

Make it possible read "old" podio files (#232)
  include/podio/SIOBlock.h
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/rootUtils.h
Due: clang-tidy

add regression test for mutable clones of const objects (#231)
  tests/unittest.cpp
Due: clang-tidy

Make sure to include <cstdint> when using fixed width ints
  python/generator_utils.py
  python/podio_class_generator.py
Due: pylint, flake8

Release Notes for v00-14-00
  doc/ReleaseNotes.md
Due: none

Updating version to v00-14-00
  CMakeLists.txt
Due: none

Make sure to include <cstdint> when using fixed width ints (#234)
  python/generator_utils.py
  python/podio_class_generator.py
Due: pylint, flake8

Release Notes for v00-14
  doc/ReleaseNotes.md
Due: none

Make sure root is on LD_LIBRARY_PATH for python tests
  tests/CMakeLists.txt
Due: none

Add LD_LIBRARY_PATH again
  tests/CMakeLists.txt
Due: none

Make sure root is on LD_LIBRARY_PATH for python tests (#236)
  tests/CMakeLists.txt
Due: none

Fix missing colon in test environment
  tests/CMakeLists.txt
Due: none

Fix missing colon in test environment (#237)
  tests/CMakeLists.txt
Due: none

Fix typo in cmake config template for downstream usage
  cmake/podioConfig.cmake.in
Due: none

Fix typo in cmake config template for downstream usage (#239)
  cmake/podioConfig.cmake.in
Due: none

Error message updated
  tools/PodioReader.cpp
Due: clang-tidy

adding eventoveview with classes and types
  CMakeLists.txt
  include/podio/ROOTReader.h
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
Due: clang-tidy

Added error message when no input file received
  include/podio/tools.h
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Added PodioReader and modified templates
  include/podio/CollectionBase.h
  include/podio/SIOReader.h
  python/templates/Collection.h.jinja2
  tools/CMakeLists.txt
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Adding looping through events or reading an specific event
  tools/PodioEventOverview.cpp
  tools/PodioReader.cpp
Due: clang-tidy

Changes to headers and to whitespaces
  include/podio/CollectionBase.h
  include/podio/tools.h
  src/SIOReader.cc
Due: clang-tidy

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
