Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Contributing: fix typo you -> your
  .github/CONTRIBUTING.md
Due: none

Contributing: Update git workflow
  .github/CONTRIBUTING.md
Due: none

Contributing: fix typo refering -> referring
  .github/CONTRIBUTING.md
Due: none

Contributing: add another example for draft PRs
  .github/CONTRIBUTING.md
Due: none

Contributing: mention `draft` PR feature
  .github/CONTRIBUTING.md
Due: none

Contributing: add note about LLMs and PR reviews
  .github/CONTRIBUTING.md
Due: none

Contributing: add note about LLMs and PR reviews (#937)
  .github/CONTRIBUTING.md
Due: none

Add suppressions for sanitizers and run as many tests as possible
  cmake/podioTest.cmake
  python/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/lsan_suppressions.txt
  tests/root_io/CMakeLists.txt
  tests/root_io/leak_sanitizer_suppressions.txt
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/sio_io/CMakeLists.txt
  tests/tsan_suppressions.txt
  tests/unittests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Try simplified version
  cmake/podioTest.cmake
Due: none

Improve comment.
  cmake/podioTest.cmake
Due: none

Add suppressions to run tests with sanitizers (#940)
  cmake/podioTest.cmake
  python/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/lsan_suppressions.txt
  tests/root_io/CMakeLists.txt
  tests/root_io/leak_sanitizer_suppressions.txt
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/test_utilities.cmake
  tests/sio_io/CMakeLists.txt
  tests/tsan_suppressions.txt
  tests/unittests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

tests: add JSON serialization tests
  tests/CMakeLists.txt
  tests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

tests: remove accidentally committed CMake generated files
  tests/CMakeFiles/4.2.3/CMakeCXXCompiler.cmake
  tests/CMakeFiles/4.2.3/CMakeDetermineCompilerABI_CXX.bin
  tests/CMakeFiles/4.2.3/CMakeSystem.cmake
  tests/CMakeFiles/4.2.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  tests/CMakeFiles/4.2.3/CompilerIdCXX/apple-sdk.cpp
  tests/CMakeFiles/CMakeConfigureLog.yaml
  tests/CMakeFiles/cmake.check_cache
Due: clang-format, cppcheck, clang-tidy

tests: remove accidentally committed CMake generated files
  tests/CMakeCache.txt
Due: none

Rename `CMAKE_{SOURCE,BIN}_DIR` to `PROJECT_{SOURCE,BIN}_DIR`
  cmake/podioDoxygen.cmake
  doc/cmake.md
Due: none

Rename `CMAKE_{SOURCE,BIN}_DIR` to `PROJECT_{SOURCE,BIN}_DIR` (#942)
  cmake/podioDoxygen.cmake
  doc/cmake.md
Due: none

Update documentation for master
  master/cmake.html
  master/searchindex.js
Due: none

Add move constructor and assignment to {ROOT,RNTuple}{Reader,Writer}
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
Due: clang-format, cppcheck, clang-tidy

Add move constructor and assignment to {ROOT,RNTuple}{Reader,Writer} (#943)
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
Due: clang-format, cppcheck, clang-tidy

Update documentation for master
  master/cpp_api/class/classpodio_1_1_r_n_tuple_reader.html
  master/cpp_api/class/classpodio_1_1_r_n_tuple_writer.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_reader.html
  master/cpp_api/class/classpodio_1_1_r_o_o_t_writer.html
  master/cpp_api/classlist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

tests: simplify json dependency configuration
  tests/CMakeLists.txt
Due: none

Make CollectionReadBuffers movable
  include/podio/CollectionBuffers.h
  include/podio/Frame.h
  include/podio/ROOTFrameData.h
  include/podio/SIOBlock.h
  include/podio/SchemaEvolution.h
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkSIOBlock.h
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/RNTupleReader.cc
  src/ROOTFrameData.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/SIOFrameData.cc
  src/SchemaEvolution.cc
  src/UserDataCollection.cc
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Make sure what is deleted is set to nullptr
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/CollectionData.cc.jinja2
  python/templates/macros/collections.jinja2
Due: clang-format, cppcheck, clang-tidy

Remove deletion
  src/SIOFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Make ~SIOFrameData default
  include/podio/SIOFrameData.h
  src/SIOFrameData.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary std::move
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Fix selection
  src/rds_selection.xml
Due: none

Fix cppcheck
  src/ROOTFrameData.cc
  src/ROOTReader.cc
Due: clang-format, cppcheck, clang-tidy

Bump patch version
  CMakeLists.txt
Due: none

Do not use edm4hep as a namespace
  python/podio_gen/test_MemberParser.py
  tests/schema_evolution/code_gen/drop_component/new.yaml
  tests/schema_evolution/code_gen/drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/new.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/old.yaml
  tests/schema_evolution/code_gen/multi_schema_drop_component/oldest.yaml
Due: pylint, flake8

Make the interfaces more consistent re string_view usage
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/Reader.h
  include/podio/SIOLegacyReader.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  include/podio/Writer.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/TypeHelpers.h
  src/DatamodelRegistryIOHelpers.cc
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOLegacyReader.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Lift map type into a dedicated type alias
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/utilities/MiscHelpers.h
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

Cleanup some internal usage where string_view is possible
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary intermediate string
  src/RNTupleReader.cc
Due: clang-format, cppcheck, clang-tidy

Don't create an unnecessary intermediate string
  src/RNTupleWriter.cc
Due: clang-format, cppcheck, clang-tidy

tests: address review comments for JSON serialization tests
  tests/unittests/test_json_output.cpp
Due: clang-format, cppcheck, clang-tidy

Make sure libpodio is found when discovering tests
  tests/unittests/CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
