Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

Try with key4hep nightlies
  .github/workflows/pre-commit.yml
Due: none

Remove the lcio datalayout (#448)
  lcio/datalayout.yaml
Due: none

Allow git to run necessary commands for pre-commit
  .github/workflows/pre-commit.yml
Due: none

Fix clang-format complaints
  src/SIOBlockUserData.cc
Due: clang-tidy, clang-format

Fix clang-tidy complaints
  src/EventStore.cc
  src/ROOTReader.cc
  src/SchemaEvolution.cc
Due: clang-tidy, clang-format

Reorder some imports to make pylint happy again
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio_class_generator.py
Due: pylint, flake8

Enbale building RNTuple support in more workflows
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

Fix the pre-commit workflow (#449)
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio_class_generator.py
  src/EventStore.cc
  src/ROOTReader.cc
  src/SIOBlockUserData.cc
  src/SchemaEvolution.cc
Due: clang-tidy, clang-format, pylint, flake8

add description and author to components
  python/podio/podio_config_reader.py
  python/podio/test_ClassDefinitionValidator.py
  python/templates/Component.h.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

add description and author to components (#450)
  python/podio/podio_config_reader.py
  python/podio/test_ClassDefinitionValidator.py
  python/templates/Component.h.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

Make ROOTLegacyReader handle older versions correctly
  src/ROOTLegacyReader.cc
Due: clang-tidy, clang-format

Fix reading of v00-16 files and adapt tests to expected contents
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  tests/read_frame.h
  tests/read_frame_auxiliary.h
Due: clang-tidy, clang-format

Backport some fixes for a v00-16-06 patch release (#451)
  python/podio/frame.py
  src/ROOTFrameReader.cc
  src/ROOTLegacyReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  tests/read_frame.h
  tests/read_frame_auxiliary.h
Due: clang-tidy, clang-format, pylint, flake8

Hide the JSON output functionality from CLING
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
Due: none

Hide the JSON output functionality from CLING (#452)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
Due: none

Hide the JSON output functionality from CLING (#453)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
Due: none

Release Notes for v00-16-06
  doc/ReleaseNotes.md
Due: none

Updating version to v00-16-06
  CMakeLists.txt
Due: none

Rename CMAKE_{SOURCE,BIN}_DIR PROJECT_{SOURCE,BIN}_DIR
  cmake/podioCPack.cmake
  cmake/podioCreateConfig.cmake
  cmake/podioTest.cmake
  doc/Doxyfile.in
  python/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
Due: none

Rename CMAKE_{SOURCE,BIN}_DIR PROJECT_{SOURCE,BIN}_DIR (#454)
  cmake/podioCPack.cmake
  cmake/podioCreateConfig.cmake
  cmake/podioTest.cmake
  doc/Doxyfile.in
  python/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
Due: none

Rename CMAKE_BINARY_DIR to PROJECT_BINARY_DIR
  cmake/podioDoxygen.cmake
  cmake/podioMacros.cmake
  cmake/podioTest.cmake
  doc/Doxyfile.in
  python/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Cache podio_PYTHON_DIR
  tests/CMakeLists.txt
Due: none

Fixed '.jl' file bug
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/ParentModule.jl.jinja2
Due: pylint, flake8

Also use categories in tests
  tests/read_frame_auxiliary.h
Due: clang-tidy, clang-format

Codify some of the implicitly assumed conventions
  include/podio/Frame.h
  include/podio/FrameCategories.h
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Rename CMAKE_BINARY_DIR to PROJECT_BINARY_DIR (#455)
  cmake/podioDoxygen.cmake
  cmake/podioMacros.cmake
  cmake/podioTest.cmake
  doc/Doxyfile.in
  python/CMakeLists.txt
  tests/CMakeLists.txt
  tests/dumpmodel/CMakeLists.txt
  tests/root_io/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Cache podio_PYTHON_DIR (#456)
  tests/CMakeLists.txt
Due: none

Codify some of the implicitly assumed conventions (#439)
  include/podio/Frame.h
  include/podio/FrameCategories.h
  tests/read_frame.h
  tests/read_frame_auxiliary.h
  tests/write_frame.h
Due: clang-tidy, clang-format

Make building SIO tests depend on ENABLE_SIO
  tests/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: none

Make building SIO tests depend on ENABLE_SIO (#457)
  tests/CMakeLists.txt
  tests/sio_io/CMakeLists.txt
Due: none

Make the reader read v00-16-06 files correctly
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Add v00-16-06 test files
  tests/CMakeLists.txt
Due: none

Bump patch version to 99 for development
  CMakeLists.txt
Due: none

Add a put_parameter method to the python Frame
  python/podio/frame.py
  python/podio/test_Frame.py
Due: pylint, flake8

Update documentation
  python/podio/frame.py
Due: pylint, flake8

Add a test that writes a file via the python bindings and ROOT
  python/podio/base_writer.py
  python/podio/root_io.py
  python/podio/test_utils.py
  tests/root_io/CMakeLists.txt
  tests/root_io/write_frame_root.py
Due: pylint, flake8

Ignore new tests in sanitizer builds
  tests/CTestCustom.cmake
Due: none

Remove unnecessary lines
  python/podio/frame.py
Due: pylint, flake8

Add put method to Frame python bindings
  python/podio/frame.py
  python/podio/test_Frame.py
  python/podio/test_utils.py
Due: pylint, flake8
