Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Actually set the correct version in CMake
  CMakeLists.txt
Due: none

Bump the patch version to 8 where it should be
  CMakeLists.txt
Due: none

Remove leftover Python include dirs from PODIO_ADD_ROOT_IO_DICT
  cmake/podioMacros.cmake
Due: none

fix: take the upstream EDM into account when reading old schemas
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Report podio version in CMake package discovery
  cmake/podioConfig.cmake.in
Due: none

Report podio version in CMake package discovery (#1016)
  cmake/podioConfig.cmake.in
Due: none

Make sure to accept mutable handles as well
  include/podio/detail/Link.h
Due: clang-format, cppcheck, clang-tidy

Add a test case to trigger compilation failure
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Make it possible to use the templated Link::set with mutable handles (#1014)
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Remove leftover Python include dirs from PODIO_ADD_ROOT_IO_DICT (#1017)
  cmake/podioMacros.cmake
Due: none

fix: add nlohmann_json_VERSION to find_dependency
  cmake/podioConfig.cmake.in
Due: none

Also forward the Arrow and Parquet versions
  cmake/podioConfig.cmake.in
Due: none

fix: propagate dependency versions downstream via CMake (#1015)
  cmake/podioConfig.cmake.in
Due: none

Switch python tooling to ruff
  .flake8
  .github/scripts/pylint.rc
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
  python/podio/arrow_io.py
  python/podio/base_reader.py
  python/podio/frame.py
  python/podio/sio_io.py
  python/podio/test_ReaderSio.py
  python/podio/test_strace.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  setup.cfg
  tools/podio-dump-legacy
  tools/podio-vis
Due: pylint, flake8

Use modern ROOT RVersion header
  include/podio/RNTupleReader.h
Due: clang-format, cppcheck, clang-tidy

style: format Python sources with Black
  doc/conf.py
  python/podio/base_reader.py
  python/podio/test_CodeGen.py
  python/podio/test_Frame.py
  python/podio/test_strace.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_schema_evolution.py
  tests/root_io/param_reading_rdataframe.py
Due: pylint, flake8

ci: fix pre-commit with latest LCG tools
  .cppcheck-suppressions.txt
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  doc/conf.py
  include/podio/CollectionIDTable.h
  include/podio/ObjectID.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  include/podio/SchemaEvolution.h
  python/podio/base_reader.py
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/freeze_class.py
  python/podio/pythonizations/utils/pythonizer.py
  python/podio_gen/schema_evolution.py
  src/CollectionIDTable.cc
  tools/src/podio-dump-tool.cpp
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

fix: use CMake Threads target
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  src/CMakeLists.txt
Due: none

fix: remove redundant Threads lookup
  tests/unittests/CMakeLists.txt
Due: none

style: label the dependency section consistently
  CMakeLists.txt
Due: none

Update documentation for master
  master/cpp_api/class/classpodio_1_1_collection_i_d_table.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/struct/structpodio_1_1_schema_evolution_1_1_map_index.html
  master/objects.inv
  master/searchindex.js
Due: none

Switch python tooling to ruff
  .flake8
  .github/scripts/pylint.rc
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
  python/podio/arrow_io.py
  python/podio/frame.py
  python/podio/sio_io.py
  python/podio/test_ReaderSio.py
  python/podio_gen/julia_generator.py
  setup.cfg
  tools/podio-dump-legacy
Due: pylint, flake8

Drop the pylint suppressions
  doc/conf.py
  python/podio/arrow_io.py
  python/podio/base_writer.py
  python/podio/data_source.py
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/link_navigator.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio/test_Pythonizations.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/version.py
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_MemberParser.py
  tests/root_io/read_datasource.py
  tests/write_empty_collections.py
  tests/write_frame.py
  tools/podio-dump-legacy
  tools/podio-merge-files
Due: pylint, flake8

Move force-exclude into the ruff configuration
  .pre-commit-config.yaml
  .ruff.toml
Due: none

Reformat with ruff format
  python/podio_gen/cpp_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  tools/podio-vis
Due: pylint, flake8

Flag unused noqa directives with RUF100
  .ruff.toml
  doc/conf.py
  python/podio/arrow_io.py
  python/podio/frame.py
  python/podio/link_navigator.py
  python/podio/pythonizations/collection_subscript.py
  python/podio/pythonizations/freeze_class.py
  python/podio/pythonizations/utils/pythonizer.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/version.py
  python/podio_gen/schema_evolution.py
  tests/write_frame.py
  tools/podio-merge-files
Due: pylint, flake8

Run ruff format before ruff check
  .pre-commit-config.yaml
Due: none

Use ruff in the python format targets
  cmake/pythonFormat.cmake
Due: none

Fix cppcheck 2.22.0 warnings
  .cppcheck-suppressions.txt
  include/podio/detail/LinkCollectionData.h
  src/DataSource.cc
Due: clang-format, cppcheck, clang-tidy

Use const auto& for references to const collections in tests
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/unittests/frame.cpp
  tests/write_frame.h
Due: clang-format, cppcheck, clang-tidy

Use const auto* for pointers to buffers that are only read in tests
  tests/unittests/buffer_factory.cpp
Due: clang-format, cppcheck, clang-tidy

Use std::ranges::all_of in checkConsistentColls
  src/rootUtils.h
Due: clang-format, cppcheck, clang-tidy

Fix warnings found by cppcheck 2.22.0 (#1029)
  .cppcheck-suppressions.txt
  include/podio/detail/LinkCollectionData.h
  src/DataSource.cc
  src/rootUtils.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/unittests/buffer_factory.cpp
  tests/unittests/frame.cpp
  tests/write_frame.h
Due: clang-format, cppcheck, clang-tidy

Move STL headers below podio and third party headers
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/ArrowFrameData.cc
  src/ArrowReader.cc
  src/DatamodelRegistryIOHelpers.cc
  src/SIOWriter.cc
  tests/unittests/buffer_factory.cpp
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Use specific arrow headers in the library and arrow/api.h in tests
  python/templates/ArrowMapper.cc.jinja2
  src/ArrowConverterRegistry.cc
  src/ArrowFrameData.cc
  src/ArrowTypeRegistry.cc
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Remove Mutable headers already included by the Collection headers
  tests/ostream_operator.cpp
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
  tests/unittests/frame.cpp
  tests/unittests/interface_types.cpp
  tests/unittests/links.cpp
  tests/unittests/test_arrow_converter.cpp
  tests/unittests/test_json_output.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
