Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

use `always_false` to fail static assertions in `constexpr if`
  src/rootUtils.h
Due: clang-tidy, clang-format

use `always_false` to fail static assertions in `constexpr if` (#737)
  src/rootUtils.h
Due: clang-tidy, clang-format

Fix formatting
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Add std::hash<podio::ObjectID> specialization
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Add std::hash<podio::ObjectID> specialization (#733)
  include/podio/ObjectID.h
Due: clang-tidy, clang-format

Bump the patch version to signify development version
  CMakeLists.txt
Due: none

Remove always false and use `sizeof(T) && false` instead
  include/podio/detail/Link.h
  include/podio/utilities/TypeHelpers.h
  src/rootUtils.h
Due: clang-tidy, clang-format

Remove another always_false
  src/rootUtils.h
Due: clang-tidy, clang-format

Remove include
  src/rootUtils.h
Due: clang-tidy, clang-format

Use sizeof(T) == 0
  include/podio/detail/Link.h
  src/rootUtils.h
Due: clang-tidy, clang-format

Remove warning about C++17 that is now obsolete
  CMakeLists.txt
Due: none

Remove warning about C++17 that is now obsolete (#741)
  CMakeLists.txt
Due: none

fix quote escape in diff args
  tests/scripts/dumpModelRoundTrip.sh
Due: none

fix quote escape in diff args (#742)
  tests/scripts/dumpModelRoundTrip.sh
Due: none

Bump the patch version to signify development version (#739)
  CMakeLists.txt
Due: none

add reverse iterators methods to `LinkCollection` and `UserDataCollection`
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

add support for `std::random_access_iterator`
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

make `LinkCollectionIterator` fulfill `std::forward_iterator`
  include/podio/detail/LinkCollectionIterator.h
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix forward_iterator multpass-guarantee test
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix tags in LinkCollection tests for iterators and ranges
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

make `LinkCollectionIterator` fulfill `std::random_access_iterator`
  include/podio/detail/LinkCollectionIterator.h
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add reverse begin and end methods to collection
  python/templates/Collection.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

fix format
  doc/collections_as_container.md
  python/templates/Collection.h.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix note forward iterator note
  doc/collections_as_container.md
Due: none

add note and support for `std::forward_iterator`
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add more detailed checks for `contiguous_iterator`
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

make `LinkCollectionIterator` fulfill `std::bidirectional_iterator`
  include/podio/detail/LinkCollectionIterator.h
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add support for `std::bidirectional_iterator`
  doc/collections_as_container.md
  python/templates/macros/iterator.jinja2
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

expand forward iterator fulfilment note
  doc/collections_as_container.md
Due: none

Make collection iterators `forward_iterator`* and beyond (#720)
  doc/collections_as_container.md
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/detail/LinkCollectionIterator.h
  python/templates/Collection.h.jinja2
  python/templates/macros/iterator.jinja2
  tests/unittests/links.cpp
  tests/unittests/std_interoperability.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

test interface and interfaced object having the same hash
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

add hash properties test for links
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

improve tests with unordered associative containers
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format

add `std::hash` for interfaces
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

add `std::hash` for links
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-tidy, clang-format

test hash properties
  python/podio/test_CodeGen.py
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

add hash properties test for interfaces
  tests/unittests/interface_types.cpp
Due: clang-tidy, clang-format

fix link hash internal object access
  include/podio/detail/Link.h
Due: clang-tidy, clang-format

add `std::hash` for datatypes
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format
