Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Start to version Data classes properly
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Create a dedicated class for reading custom changes
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
Due: pylint, flake8

Use new migration reader and adapt existing tests
  python/podio_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Simplify and streamline grammar
  python/podio_gen/schema_evolution.py
  python/podio_gen/test_schema_evolution.py
  tests/schema_evolution/code_gen/components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/datatypes_rename_member/evolution.yaml
Due: pylint, flake8

Do not access optional if it's empty
  src/ioUtils.h
Due: clang-format, cppcheck, clang-tidy

Add test for schema evolution where nothing changes
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, cppcheck, clang-tidy

Add schema evolution test using arrays of components
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
Due: clang-format, cppcheck, clang-tidy

Only generate xml comments if necessary
  python/templates/selection.xml.jinja2
Due: none

Adapt code generation to work with new versioned classes
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Remove no longer used code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Clean up comments and code
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Generate old POD versions into a version namespace (#803)
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/templates/Collection.h.jinja2
  python/templates/Component.cc.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/selection.xml.jinja2
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/array_component_new_member/check.cpp
  tests/schema_evolution/code_gen/array_component_new_member/new.yaml
  tests/schema_evolution/code_gen/array_component_new_member/old.yaml
  tests/schema_evolution/code_gen/no_change/check.cpp
  tests/schema_evolution/code_gen/no_change/new.yaml
  tests/schema_evolution/code_gen/no_change/old.yaml
Due: clang-format, pylint, flake8, cppcheck, clang-tidy

Make it possible to pass multiple old schema versions
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Generalize cmake function to handle multiple old versions
  cmake/podioMacros.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Make ADD_SCHEMA_EVOLUTION_TEST accept multiple old versions
  tests/CTestCustom.cmake
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: none

Add machinery and a first test with multiple old versions
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/README.md
  tests/schema_evolution/code_gen/check_base.h
  tests/schema_evolution/code_gen/multi_schema_component_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_component_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_component_new_member/oldest.yaml
  tests/schema_evolution/code_gen/test_utilities.cmake
Due: clang-format, cppcheck, clang-tidy

Add test for confirming component member renames are propery detected
  tests/schema_evolution/detection/CMakeLists.txt
  tests/schema_evolution/detection/component_members/dm_rename_new.yaml
  tests/schema_evolution/detection/component_members/dm_rename_old.yaml
Due: none

Add test spanning multiple versions for adding members to datatypes
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_datatypes_new_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Add a test case that involves manual intervention
  tests/schema_evolution/code_gen/CMakeLists.txt
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/check.cpp
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/evolution.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/new.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/old.yaml
  tests/schema_evolution/code_gen/multi_schema_components_rename_member/oldest.yaml
Due: clang-format, cppcheck, clang-tidy

Adapt ignore list for sanitizers
  tests/CTestCustom.cmake
Due: none

Add documentation about some of the existing tools
  doc/index.rst
  doc/tools.md
  doc/userdata.md
Due: none

Add the possibility to extract collections from a Frame
  include/podio/Frame.h
  tests/unittests/frame.cpp
Due: clang-format, cppcheck, clang-tidy

Add documentation about some of the existing tools (#854)
  doc/index.rst
  doc/tools.md
  doc/userdata.md
Due: none

Release Notes for v01-05
  doc/ReleaseNotes.md
Due: none

Updating version to v01-05
  CMakeLists.txt
Due: none

Import later for faster help messages and use get_reader
  tools/podio-merge-files
Due: none

Import later for faster help messages and use get_reader (#857)
  tools/podio-merge-files
Due: none

Add an indicator for subset collections to podio-dump
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Change indicator to s
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Also add indicator for detailed printing
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add an indicator for subset collections to podio-dump (#855)
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Deprecate isValid() since it does not provide useful information
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Add a hasID member function
  doc/datamodel_syntax.md
  doc/examples.md
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  src/DataSource.cc
  tests/read_frame.h
  tests/read_test.h
  tests/root_io/read_and_write_associated.cpp
  tests/root_io/relation_range.cpp
Due: clang-format, cppcheck, clang-tidy

Fix pre-commit
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
