Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Fixes for new pylint config
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
  python/test_EventStore.py
  python/test_MemberParser.py
  tests/read.py
Due: pylint, flake8

[cmake] fix test dependencies
  tests/CMakeLists.txt
Due: none

a collection is considered valid if attached to an event store/having a proper collection ID
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: none

Add support for fixed width integers (#186)
  doc/datamodel_syntax.md
  python/generator_utils.py
  python/test_MemberParser.py
  tests/datalayout.yaml
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy, pylint, flake8

a collection is considered valid if attached to an event store/having a proper collection ID (#191)
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: none

Make EventStore metadata access const correct
  include/podio/EventStore.h
  include/podio/IMetaDataProvider.h
  src/EventStore.cc
Due: clang-tidy

Make indexed collection access const-correct
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: none

Make collection iterators const-correct
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/iterator.jinja2
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy

Add some static checks to enforce const correctness
  tests/unittest.cpp
Due: clang-tidy

Make PythonEventStore return const collections
  include/podio/PythonEventStore.h
  src/PythonEventStore.cc
Due: clang-tidy

Const correct collection access (#193)
  include/podio/PythonEventStore.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/iterator.jinja2
  src/PythonEventStore.cc
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy

Make EventStore metadata access const correct (#192)
  include/podio/EventStore.h
  include/podio/IMetaDataProvider.h
  src/EventStore.cc
Due: clang-tidy

Add indexed access to the RelationRange
  include/podio/RelationRange.h
  python/test_EventStore.py
  tests/relation_range.cpp
Due: clang-tidy, pylint, flake8

Avoid creating circular includes in generated headers
  python/podio_class_generator.py
Due: pylint, flake8

Add RefCollections to generated classes
  .gitignore
  python/podio_class_generator.py
  python/templates/Collection.h.jinja2
  python/templates/ConstObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/RefCollection.cc.jinja2
  python/templates/RefCollection.h.jinja2
  python/templates/macros/collections.jinja2
  tests/unittest.cpp
Due: clang-tidy, pylint, flake8

Make ROOT handle reference collections
  include/podio/CollectionBase.h
  include/podio/ROOTReader.h
  python/templates/Collection.h.jinja2
  python/templates/RefCollection.h.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
  src/selection.xml
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

Make SIO backend handle reference collections
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  python/templates/macros/sioblocks.jinja2
  src/SIOBlock.cc
  src/SIOReader.cc
Due: clang-tidy

Avoid creating circular includes in generated headers (#195)
  python/podio_class_generator.py
Due: pylint, flake8

Add indexed access to the RelationRange (#194)
  include/podio/RelationRange.h
  python/test_EventStore.py
  tests/relation_range.cpp
Due: clang-tidy, pylint, flake8

Disentangle storage and collection interface
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  python/podio_class_generator.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/macros/collections.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/rootUtils.h
Due: clang-tidy, pylint, flake8

Implement reference collection functionality
  include/podio/CollectionBase.h
  include/podio/ROOTReader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/sioblocks.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/selection.xml
  tests/read_test.h
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy

Release Notes for v00-13-01
  doc/ReleaseNotes.md
Due: none

Updating version to v00-13-01
  CMakeLists.txt
Due: none

Make all Collection::create functions behave the same
  python/templates/Collection.h.jinja2
  tests/unittest.cpp
Due: clang-tidy

Create cmake lists file with generated files
  cmake/podioMacros.cmake
  python/podio_class_generator.py
Due: pylint, flake8

Make templates and yaml file changes retrigger cmake
  .gitignore
  cmake/podioMacros.cmake
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
Due: pylint, flake8

Switch to Catch2 v3 for unittests
  CMakeLists.txt
  cmake/podioBuild.cmake
  tests/CMakeLists.txt
  tests/catch.hpp
  tests/unittest.cpp
Due: clang-tidy

Make assignment operator increase ref count
  python/templates/macros/implementations.jinja2
  tests/unittest.cpp
Due: clang-tidy

Enable using an external Catch2 by default
  .github/workflows/coverity.yml
  .github/workflows/key4hep.yml
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakeLists.txt
Due: none

Add some clangd tooling to .gitignore
  .gitignore
Due: none

Make assignment operator increase ref count (#201)
  python/templates/macros/implementations.jinja2
  tests/unittest.cpp
Due: clang-tidy

Update README to include Catch2
  README.md
Due: none

Remove Python 2 from docs
  README.md
Due: none

Switch to Catch2 v3 (#206)
  .github/workflows/coverity.yml
  .github/workflows/key4hep.yml
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  .gitignore
  CMakeLists.txt
  README.md
  cmake/podioBuild.cmake
  tests/CMakeLists.txt
  tests/catch.hpp
  tests/unittest.cpp
Due: clang-tidy

Rename reference collection to subset collection
  include/podio/CollectionBase.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy

Remove commented code from templates
  include/podio/CollectionBase.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  src/ROOTReader.cc
Due: clang-tidy

Add subset collection test with multiple collections
  tests/read_test.h
  tests/write_test.h
Due: clang-tidy

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
