Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

[format] Apply black formatting to all python sources
  .flake8
  doc/conf.py
  python/podio/__init__.py
  python/podio/base_reader.py
  python/podio/base_writer.py
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/reading.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_Frame.py
  python/podio/test_Reader.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
  python/podio_class_generator.py
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/podio_gen/generator_utils.py
  python/podio_gen/julia_generator.py
  python/podio_gen/podio_config_reader.py
  python/podio_gen/test_ClassDefinitionValidator.py
  python/podio_gen/test_DataModelJSONEncoder.py
  python/podio_gen/test_MemberParser.py
  python/podio_schema_evolution.py
  tests/write_frame.py
  tools/podio-dump
  tools/podio-ttree-to-rntuple
  tools/podio-vis
Due: pylint, flake8

Add black to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add .flake8 config to work with black
  .flake8
Due: none

Adapt pylint-rc to work with black
  .github/scripts/pylint.rc
Due: none

Add git ref ignore file to ignore formatting changes
  .git-blame-ignore-revs
Due: none

Add Python formating targets
  CMakeLists.txt
  cmake/pythonFormat.cmake
Due: none

Handle not finding formatter more gracefully
  cmake/pythonFormat.cmake
Due: none

Python formatting status and exclude from all
  cmake/pythonFormat.cmake
Due: none

Delete irrelevant comment
  cmake/pythonFormat.cmake
Due: none

Use CMake found binary path
  cmake/pythonFormat.cmake
Due: none

Make sure that flake8 works and only run on source python files
  cmake/pythonFormat.cmake
Due: none

Add Python formatting targets (black, flake8) (#544)
  CMakeLists.txt
  cmake/pythonFormat.cmake
Due: none

Remove unnecessary usage of TClass from RNTupleReader
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Remove unnecessary usage of TClass from RNTupleReader (#548)
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Make Association I/O work with python
  tests/CMakeLists.txt
  tests/DatamodelAssociations.cc
Due: clang-tidy, clang-format

"fix" legacy sio frame test
  tests/sio_io/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format

[wip] unit tests for subset collection functionality
  include/podio/Association.h
  include/podio/AssociationCollection.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Bump patch version and make all tests run
  CMakeLists.txt
  tests/read_frame_auxiliary.h
  tests/read_test.h
Due: clang-tidy, clang-format

Move all but the public one into detail directory
  include/podio/AssociationCollection.h
  include/podio/detail/Association.h
  include/podio/detail/AssociationCollectionImpl.h
  include/podio/detail/AssociationCollectionIterator.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

Fix clang-tidy warning
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Simplify and fortify SFINAE logic for mutable associations
  include/podio/detail/Association.h
Due: clang-tidy, clang-format

Make association read tests version dependent
  python/templates/AssociationsSIOBlock.cc.jinja2
  tests/read_test.h
Due: clang-tidy, clang-format

Generate SIOBlocks instantiations for associations
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
Due: pylint, flake8

Add json output support for associations
  include/podio/Association.h
  include/podio/AssociationCollection.h
Due: clang-tidy, clang-format

Fix include guards to comply with clang-tidy
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

[wip] Proper move semantics
  include/podio/AssociationCollection.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Move non public headers to detail folder
  include/podio/Association.h
  include/podio/AssociationCollection.h
  include/podio/AssociationCollectionIterator.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationObj.h
  include/podio/detail/AssociationSIOBlock.h
  include/podio/utilities/DeprecationMacros.h
Due: clang-tidy, clang-format

[wip] clang-tidy fixes
  include/podio/Association.h
  include/podio/AssociationSIOBlock.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Fix tests after Frame
  tests/read_test.h
Due: clang-tidy, clang-format

Introduce typedefs for consistency with other types
  include/podio/Association.h
Due: clang-tidy, clang-format

Add templated get/set and structured bindings to Associations
  include/podio/Association.h
  include/podio/detail/AssociationFwd.h
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

[wip] Make SIO Frame reading (almost) work again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
  python/podio_gen/cpp_generator.py
  python/templates/AssociationsRootDict.h.jinja2
  python/templates/AssociationsSIOBlock.cc.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  tests/read_test.h
  tests/sio_io/write_frame_sio.cpp
Due: clang-tidy, clang-format, pylint, flake8

Generate all possible combinations for root dicts
  python/podio_gen/cpp_generator.py
  python/templates/Associations.h.jinja2
  python/templates/CMakeLists.txt
  python/templates/selection.xml.jinja2
  src/CMakeLists.txt
Due: pylint, flake8

Add writing of Association collection to Frame I/O tests
  python/podio/test_Frame.py
  tests/frame_test_common.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Add markdown documentation describing usage and some implemenation details
  doc/associations.md
Due: none

[wip] Make everything compile again
  include/podio/AssociationCollection.h
  include/podio/detail/AssociationCollectionData.h
  include/podio/detail/AssociationFwd.h
  include/podio/detail/AssociationSIOBlock.h
Due: clang-tidy, clang-format

[wip] Almost complete implementation of Association
  include/podio/Association.h
  include/podio/AssociationFwd.h
  include/podio/AssociationObj.h
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  tests/unittests/associations.cpp
Due: clang-tidy, clang-format

Default initialize weight to 1
  include/podio/detail/AssociationObj.h
Due: clang-tidy, clang-format

Avoid unnecessary string copies, add documentation
  include/podio/detail/AssociationFwd.h
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
