Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add possibility to dump parsed EDMs to JSON
  python/podio/generator_utils.py
  python/podio/test_DataModelJSONEncoder.py
Due: pylint, flake8

Write definition and read it back afterwards (ROOT)
  include/podio/EDMDefinitionRegistry.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOFrameReader.h
  src/EDMDefinitionRegistry.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/rootUtils.h
  src/selection.xml
  tests/read_frame.h
Due: clang-tidy, clang-format

Add documentation for EDM definition embedding
  doc/advanced_topics.md
Due: none

Make dumped models look more like inputs
  python/podio/generator_utils.py
  tests/CMakeLists.txt
  tests/scripts/get_test_inputs.sh
  tools/podio-dump
Due: pylint, flake8

Refactor EDM defintion I/O functionality for less code duplication
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/utilities/EDMRegistryIOHelpers.h
  src/CMakeLists.txt
  src/EDMRegistryIOHelpers.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/SIOFrameReader.cc
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Add roundtrip tests for stored EDM definitions
  src/SIOBlock.cc
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/scripts/dumpModelRoundTrip.sh
Due: clang-tidy, clang-format

Fix documentation
  doc/advanced_topics.md
  include/podio/CollectionBase.h
Due: clang-tidy, clang-format

Add warnings output when trying to retrieve non existant EDMs
  include/podio/EDMDefinitionRegistry.h
  python/templates/Collection.cc.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/EDMDefinitionRegistry.cc
Due: clang-tidy, clang-format

Read and write EDM definitions in SIO
  include/podio/SIOBlock.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/utilities/TypeHelpers.h
  src/SIOBlock.cc
  src/SIOFrameReader.cc
  src/SIOFrameWriter.cc
  src/sioUtils.h
  tests/read_frame.h
Due: clang-tidy, clang-format

Add first version of model dumping
  include/podio/utilities/EDMRegistryIOHelpers.h
  python/podio/base_reader.py
  src/EDMRegistryIOHelpers.cc
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Rename EDMDefinitionRegistry and clarify documentation
  include/podio/CollectionBase.h
  include/podio/DatamodelRegistry.h
  include/podio/EDMDefinitionRegistry.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/UserDataCollection.h
  include/podio/utilities/EDMRegistryIOHelpers.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/CMakeLists.txt
  src/DatamodelRegistry.cc
  src/EDMRegistryIOHelpers.cc
  src/ROOTFrameWriter.cc
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Fix python bindings and rename tests
  python/podio/base_reader.py
  tests/CMakeLists.txt
  tools/podio-dump
Due: pylint, flake8

Make utility classes members instead of using them as mixin
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/utilities/EDMRegistryIOHelpers.h
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/SIOFrameReader.cc
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Rename header file to match new terminology
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  src/CMakeLists.txt
  src/DatamodelRegistryIOHelpers.cc
  src/ROOTFrameReader.cc
  src/SIOFrameReader.cc
  src/SIOFrameWriter.cc
Due: clang-tidy, clang-format

Update documentation to match implementation again
  doc/advanced_topics.md
Due: none

Add implicit conversion to std::string for podio::version::Version
  podioVersion.in.h
Due: none

Update test names also in ignored tests list
  tests/CTestCustom.cmake
Due: none

podioVersion.h: mark conversion operator as `explicit`
  podioVersion.in.h
Due: none

Add a conversion operator to std::string for podio::version::Version (#384)
  podioVersion.in.h
Due: none

Store the model definition into files that are written (#358)
  doc/advanced_topics.md
  include/podio/CollectionBase.h
  include/podio/DatamodelRegistry.h
  include/podio/ROOTFrameReader.h
  include/podio/ROOTFrameWriter.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameReader.h
  include/podio/SIOFrameWriter.h
  include/podio/UserDataCollection.h
  include/podio/utilities/DatamodelRegistryIOHelpers.h
  include/podio/utilities/TypeHelpers.h
  python/podio/base_reader.py
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio/test_DataModelJSONEncoder.py
  python/podio_class_generator.py
  python/templates/CMakeLists.txt
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/CMakeLists.txt
  src/DatamodelRegistry.cc
  src/DatamodelRegistryIOHelpers.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/SIOBlock.cc
  src/SIOFrameReader.cc
  src/SIOFrameWriter.cc
  src/rootUtils.h
  src/selection.xml
  src/sioUtils.h
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/scripts/dumpModelRoundTrip.sh
  tests/scripts/get_test_inputs.sh
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Update src/selection.xml
  src/selection.xml
Due: none

remove unneeded indirection
  python/podio_schema_evolution.py
Due: pylint, flake8

add missing classmethod
  python/podio/podio_config_reader.py
Due: pylint, flake8

remove clangformat dependency in tests
  tests/scripts/dumpModelRoundTrip.sh
Due: none

address flake8
  python/podio/generator_utils.py
  python/podio_schema_evolution.py
Due: pylint, flake8

unify naming of schema_version; restore clang_format in test
  python/podio/podio_config_reader.py
  python/podio_schema_evolution.py
  tests/datalayout.yaml
  tests/datalayout_old.yaml
  tests/schema_evolution.yaml
  tests/scripts/dumpModelRoundTrip.sh
Due: pylint, flake8

fix errors reported by new flake8
  python/podio_schema_evolution.py
Due: pylint, flake8

fix errors reported by new flake8
  python/podio_class_generator.py
Due: pylint, flake8

fix clang-format
  include/podio/ASCIIWriter.h
  include/podio/CollectionBase.h
  include/podio/SchemaEvolution.h
  include/podio/UserDataCollection.h
  src/ROOTFrameWriter.cc
  src/ROOTReader.cc
Due: clang-tidy, clang-format

change pylint setting to allow tree of definition classes to parse
  .github/scripts/pylint.rc
Due: none

address more pylint issues
  python/podio_class_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

Add .cache to the gitignore
  .gitignore
Due: none

more pylint fixes
  python/podio_class_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

relax pylint checks for the big parser class
  .github/scripts/pylint.rc
Due: none

Modify initial clang check
  python/podio_class_generator.py
Due: pylint, flake8

Add .cache to the gitignore (#389)
  .gitignore
Due: none

fix more code checker issues
  .github/scripts/pylint.rc
  python/podio_class_generator.py
  python/podio_schema_evolution.py
Due: pylint, flake8

split up heuristics
  python/podio_schema_evolution.py
Due: pylint, flake8

make passing of schema_version to DataTypes obligatory
  python/podio/generator_utils.py
  python/podio_class_generator.py
Due: pylint, flake8

make passing of schema_version to DataTypes obligatory
  python/podio_class_generator.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
