Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

move to Apache 2.0 license as discussed in #324
  LICENSE
  NOTICE
Due: none

Fix missing setting of relations in nested get calls
  include/podio/Frame.h
  tests/read_test.h
Due: clang-tidy, clang-format

Fix missing setting of relations in nested get calls (#349)
  include/podio/Frame.h
  tests/read_test.h
Due: clang-tidy, clang-format

Ensure correct handling of parametes in python bindings
  python/podio/frame.py
  python/podio/test_Frame.py
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Only install files that are present
  CMakeLists.txt
Due: none

Python bindings for Frame (#343)
  .gitignore
  CMakeLists.txt
  include/podio/Frame.h
  include/podio/ROOTFrameReader.h
  include/podio/SIOBlock.h
  include/podio/SIOFrameReader.h
  python/CMakeLists.txt
  python/EventStore.py
  python/__init__.py.in
  python/podio/EventStore.py
  python/podio/base_reader.py
  python/podio/frame.py
  python/podio/frame_iterator.py
  python/podio/generator_utils.py
  python/podio/podio_config_reader.py
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_ClassDefinitionValidator.py
  python/podio/test_EventStore.py
  python/podio/test_EventStoreRoot.py
  python/podio/test_EventStoreSio.py
  python/podio/test_Frame.py
  python/podio/test_MemberParser.py
  python/podio/test_Reader.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  python/podio/test_utils.py
  python/podio_class_generator.py
  src/CMakeLists.txt
  src/ROOTFrameReader.cc
  src/SIOBlock.cc
  src/SIOFrameReader.cc
  src/root_selection.xml
  src/sio_selection.xml
  tests/CMakeLists.txt
  tests/read.py
  tests/write_frame.h
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Add python bindings for legacy reader
  python/podio/root_io.py
  python/podio/test_ReaderRoot.py
Due: pylint, flake8

Fix header guards to make clang-tidy happy
  include/podio/SIOLegacyReader.h
  src/sioUtils.h
Due: clang-tidy, clang-format

Add python bindings for SIOLegacyReader
  python/podio/sio_io.py
  python/podio/test_Reader.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
Due: pylint, flake8

Add legacy sio reader
  include/podio/SIOLegacyReader.h
  src/CMakeLists.txt
  src/SIOLegacyReader.cc
  src/sio_selection.xml
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format

Lift an existing root legacy frame reader from git
  include/podio/ROOTLegacyReader.h
  src/CMakeLists.txt
  src/ROOTLegacyReader.cc
  src/root_selection.xml
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame_legacy_root.cpp
Due: clang-tidy, clang-format

Move utility function into separate header for reuse
  src/CMakeLists.txt
  src/SIOFrameReader.cc
  src/sioUtils.h
Due: clang-tidy, clang-format

Update/add docstrings
  include/podio/ROOTLegacyReader.h
  include/podio/SIOLegacyReader.h
Due: clang-tidy, clang-format

Add a Frame reader for legacy files (#345)
  include/podio/ROOTLegacyReader.h
  include/podio/SIOLegacyReader.h
  python/podio/root_io.py
  python/podio/sio_io.py
  python/podio/test_Reader.py
  python/podio/test_ReaderRoot.py
  python/podio/test_ReaderSio.py
  src/CMakeLists.txt
  src/ROOTLegacyReader.cc
  src/SIOFrameReader.cc
  src/SIOLegacyReader.cc
  src/root_selection.xml
  src/sioUtils.h
  src/sio_selection.xml
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame_legacy_root.cpp
  tests/read_frame_legacy_sio.cpp
Due: clang-tidy, clang-format, pylint, flake8

Add a few basic tests for podio-dump
  CMakeLists.txt
  tests/CTestCustom.cmake
  tools/CMakeLists.txt
Due: none

Add functionality to instantiate the correct reader
  tools/podio-dump
Due: none

Rename legacy functionality
  tools/podio-dump
Due: none

Make podio-dump use the LegacyReaders instead of EventStore
  python/podio/reading.py
  tools/podio-dump
Due: pylint, flake8

Rename event to entries in preparation for Frame
  tools/podio-dump
Due: none

Add dumping functionality for Frames
  python/podio/frame.py
  tools/podio-dump
Due: pylint, flake8

Add information that file is read with a legacy reader
  python/podio/base_reader.py
  python/podio/root_io.py
  python/podio/sio_io.py
  tools/podio-dump
Due: pylint, flake8

Make podio-dump work again with latest changes
  python/podio/frame.py
  tools/podio-dump
Due: pylint, flake8

Frame support for `podio-dump` (#344)
  CMakeLists.txt
  python/podio/base_reader.py
  python/podio/frame.py
  python/podio/reading.py
  python/podio/root_io.py
  python/podio/sio_io.py
  tests/CTestCustom.cmake
  tools/CMakeLists.txt
  tools/podio-dump
Due: pylint, flake8

Handle missing SIO backend more gracefully in podio-dump
  python/podio/reading.py
  tools/podio-dump
Due: pylint, flake8

Fix erroneously considering empty collections as not present
  python/podio/frame.py
  python/podio/test_Frame.py
  tests/read_frame.h
  tests/write_frame.h
Due: clang-tidy, clang-format, pylint, flake8

Fix a few smaller issues with Frame python bindings and podio-dump (#351)
  python/podio/frame.py
  python/podio/reading.py
  python/podio/test_Frame.py
  tests/read_frame.h
  tests/write_frame.h
  tools/podio-dump
Due: clang-tidy, clang-format, pylint, flake8

Change == to = and tabs to spaces
  env.sh
  init.sh
Due: none

Add /include to ROOT_INCLUDE_PATH
  env.sh
Due: none

Update env.sh
  env.sh
Due: none

Make scripts POSIX compliant and fix mix of tabs and spaces (#354)
  env.sh
  init.sh
Due: none

Fix README with the new path
  README.md
Due: none

Use the choices from argparse for the handlers
  python/podio_class_generator.py
Due: pylint, flake8

Make sure <prefix>/bin is on path after env.sh
  env.sh
Due: none

Make sure <prefix>/bin is on path after env.sh (#357)
  env.sh
Due: none

Remove unneeded commands in the README
  README.md
Due: none

Fix python format
  python/podio_class_generator.py
Due: pylint, flake8

Fix path in the README and simplify option parsing (#356)
  README.md
  python/podio_class_generator.py
Due: pylint, flake8

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
