Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

remove checks for not yet implemented extra code, fix space
  python/podio_gen/podio_config_reader.py
Due: pylint, flake8

add documentation of file paths
  doc/datamodel_syntax.md
Due: none

add DEPENDS option to datamodel generating macro and use it with extra code files
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  tests/CMakeLists.txt
Due: none

Fix style
  include/podio/Reader.h
Due: clang-tidy, clang-format

Let clang 12 fail
  include/podio/Reader.h
Due: clang-tidy, clang-format

Return the reader and writer by value
  include/podio/Reader.h
  include/podio/Writer.h
  src/Reader.cc
  src/Writer.cc
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Make sure test exclusion matches new test names
  tests/CTestCustom.cmake
Due: none

Fix also the RNTupleReader
  include/podio/RNTupleReader.h
  src/RNTupleReader.cc
Due: clang-tidy, clang-format

Update after a rebase
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/Reader.cc
  src/Writer.cc
Due: clang-tidy, clang-format

Add test, reader and writer
  include/podio/Reader.h
  include/podio/Writer.h
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  tests/root_io/CMakeLists.txt
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Add a new podioIO library
  src/CMakeLists.txt
  src/io_selection.xml
  tests/read_interface.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_interface_root.cpp
  tests/root_io/write_interface.cpp
  tests/root_io/write_interface_root.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_interface_sio.cpp
  tests/sio_io/write_interface_sio.cpp
  tests/write_interface.h
Due: clang-tidy, clang-format

Fix style
  tests/read_interface.h
  tests/write_interface.h
Due: clang-tidy, clang-format

Change to RNTuple{Reader,Writer} instead ROOTRNTuple{Reader,Writer}
  src/RNTupleWriter.cc
  src/Reader.cc
  src/Writer.cc
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Add sio files to gitignore
  .gitignore
Due: none

Remove a few methods from the concept and model
  include/podio/Reader.h
  src/Reader.cc
Due: clang-tidy, clang-format

Move unique_ptr instead of releasing and acquiring it
  include/podio/Reader.h
  src/Reader.cc
Due: clang-tidy, clang-format

Remove changes in python
  python/podio/frame_iterator.py
  python/podio/root_io.py
Due: pylint, flake8

Use std::unique_ptr<T>
  include/podio/Reader.h
Due: clang-tidy, clang-format

Use RNTuple{Reader,Writer}
  include/podio/GenericParameters.h
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Add python bindings for the reader and writer by reusing the current
  python/podio/frame_iterator.py
  python/podio/root_io.py
Due: pylint, flake8

Link with podioRootIO
  src/CMakeLists.txt
Due: none

Don't check type for SIO
  src/Writer.cc
Due: clang-tidy, clang-format

Use final, make error messages a bit more verbose
  include/podio/Reader.h
  include/podio/Writer.h
  src/Reader.cc
  src/Writer.cc
Due: clang-tidy, clang-format

Exclude the new tests from running with sanitizers
  include/podio/Writer.h
  src/Writer.cc
  tests/CTestCustom.cmake
Due: clang-tidy, clang-format

clang-format
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Split RTNtuple based interface tests off to make sanitizers run on them
  tests/root_io/CMakeLists.txt
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/write_interface_rntuple.cpp
Due: clang-tidy, clang-format

Change ROOTNTuple{Reader,Writer} to ROOTRNTuple{Reader,Writer}
  include/podio/GenericParameters.h
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Fix clang 12
  include/podio/Reader.h
Due: clang-tidy, clang-format

Fix the RNTupleWriter header
  include/podio/RNTupleWriter.h
Due: clang-tidy, clang-format

Remove std::move
  include/podio/Reader.h
Due: clang-tidy, clang-format

Fix pre-commit
  python/podio/frame_iterator.py
  python/podio/root_io.py
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format, pylint, flake8

Fix #ifs
  src/Reader.cc
  src/Writer.cc
  tests/root_io/read_interface.cpp
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Add another fix
  include/podio/RNTupleWriter.h
Due: clang-tidy, clang-format

Add read_interface_sio to be excluded when using the Address sanitizer
  tests/CTestCustom.cmake
Due: none

Remove public definitions
  src/CMakeLists.txt
Due: none

Add mising returns
  src/Writer.cc
Due: clang-tidy, clang-format

Push some changes needed for tests
  include/podio/Reader.h
  include/podio/Writer.h
  src/root_selection.xml
  tests/root_io/write_interface.cpp
Due: clang-tidy, clang-format

Address comments
  src/CMakeLists.txt
  src/io_selection.xml
  src/root_selection.xml
Due: none

Fix a few more issues
  src/CMakeLists.txt
Due: none
