Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Factor out filtering of changes to same datatypes
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove unnecessary information that is passed to jinja
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove some code duplication
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Add clarifying comment
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove unused code
  python/podio_gen/cpp_generator.py
  python/podio_gen/generator_base.py
  python/templates/Collection.cc.jinja2
Due: pylint, flake8

Remove unnecessary branch
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Remove no longer necessary nolint statements
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Move functionality into separate method
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Cleanup duplicated information
  python/podio_schema_evolution.py
Due: pylint, flake8

Factor out check into dedicated method
  python/podio_schema_evolution.py
Due: pylint, flake8

Remove test that doesn't test anything
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Add a failing test case for renaming a datatype
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format

Add a failing test for a datatype member rename
  python/podio_gen/cpp_generator.py
  tests/schema_evolution/datalayout_new.yaml
  tests/schema_evolution/read_new_data.h
  tests/schema_evolution/schema_evolution.yaml
  tests/schema_evolution/write_old_data.h
Due: clang-tidy, clang-format, pylint, flake8

Add clarifying comments
  python/podio_gen/cpp_generator.py
Due: pylint, flake8

Make sure also handle renamed members that are not components
  python/podio_gen/cpp_generator.py
  python/templates/selection.xml.jinja2
Due: pylint, flake8

Make operator[] return an immutable object using cppyy callbacks
  CMakeLists.txt
  cmake/podioMacros.cmake
  python/podio/pythonizations/collection_subscript.py
  python/podio/test_CodeGen.py
  python/podio/test_cppyy.py
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
Due: pylint, flake8

Fix line
  python/podio/test_cppyy.py
Due: pylint, flake8

Remove import
  python/podio/test_cppyy.py
Due: pylint, flake8

Fix pre-commit
  python/podio/test_cppyy.py
Due: pylint, flake8

Simplify tests, use explicit_pythonize
  python/podio/test_cppyy.py
  python/templates/Collection.h.jinja2
Due: pylint, flake8

Simplify a bit
  python/templates/Collection.h.jinja2
Due: none

Add a couple of comments
  python/podio/test_CodeGen.py
  python/podio/test_cppyy.py
Due: pylint, flake8

Remove find_package(Python3)
  CMakeLists.txt
Due: none

Add test with namespace
  python/podio/test_cppyy.py
Due: pylint, flake8

Raise IndexError from the Python API
  python/podio/test_CodeGen.py
  python/templates/Collection.h.jinja2
Due: pylint, flake8

Fix function
  python/templates/Collection.h.jinja2
Due: none

Replace the re-implementation with a call to the original
  cmake/podioMacros.cmake
Due: none

Remove overlength-strings warning again
  cmake/podioMacros.cmake
Due: none

Make PODIO_GENERATE_DICTIONARY a thin wrapper around REFLEX_GENERATE_DICTIONARY (#807)
  cmake/podioMacros.cmake
Due: none
