Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add a reader and writer interface (#522)
  .gitignore
  include/podio/Reader.h
  include/podio/Writer.h
  src/CMakeLists.txt
  src/Reader.cc
  src/Writer.cc
  src/io_selection.xml
  tests/CTestCustom.cmake
  tests/read_interface.h
  tests/root_io/CMakeLists.txt
  tests/root_io/read_interface_rntuple.cpp
  tests/root_io/read_interface_root.cpp
  tests/root_io/write_interface_rntuple.cpp
  tests/root_io/write_interface_root.cpp
  tests/sio_io/CMakeLists.txt
  tests/sio_io/read_interface_sio.cpp
  tests/sio_io/write_interface_sio.cpp
  tests/write_interface.h
Due: clang-tidy, clang-format

Fix typo in documentation
  doc/datamodel_syntax.md
Due: none

Add ExtraCode declarationFile and implementationFile directives (#601)
  .pre-commit-config.yaml
  cmake/podioMacros.cmake
  doc/datamodel_syntax.md
  python/podio_gen/podio_config_reader.py
  tests/CMakeLists.txt
  tests/datalayout.yaml
  tests/extra_code/component_declarations.cc
  tests/extra_code/declarations.cc
  tests/extra_code/implementations.cc
  tests/extra_code/mutable_declarations.cc
  tests/extra_code/mutable_implementations.cc
  tests/unittests/unittest.cpp
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/datamodel_syntax.html
  master/genindex.html
  master/objects.inv
  master/py_api/modules.html
  master/py_api/podio_gen.html
  master/searchindex.js
Due: none

Don't format templates and test extra_code
  python/templates/.clang-format
  tests/extra_code/.clang-format
Due: none

add cmake doc
  doc/cmake.md
Due: none

remove whitespace
  doc/cmake.md
Due: none

Don't format templates and test extra_code (#605)
  python/templates/.clang-format
  tests/extra_code/.clang-format
Due: none

Update doc/cmake.md
  doc/cmake.md
Due: none

include first PR feedback
  doc/cmake.md
  doc/index.rst
Due: none

add comment on algorithms and ranges
  doc/collections_as_container.md
Due: none

fix iterators are not swappable
  doc/collections_as_container.md
Due: none

rename check macro, check dereference assignment, duplicate tests for const_iterator
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add short note on AllocatorAwareContainer, simplify comments
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix contextually convertible, add multipass guarantee
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix typo
  doc/collections_as_container.md
Due: none

add mention the rest of legacy iterators
  doc/collections_as_container.md
Due: none

rename pre-increment and post-increment
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Return type aliases in UserDataContainer begin and end methods
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

update documentation with container like methods and aliases
  doc/collections_as_container.md
Due: none

fix cv and ref qualifiers, add traits for * and ->
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add comment on expression and statements in AllocatorAwareContainer
  doc/collections_as_container.md
Due: none

fix not needed requirement, fix typo
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

don't create separate target for tests
  tests/unittests/CMakeLists.txt
Due: none

Don't use decltype in UserDataCollection type aliases
  include/podio/UserDataCollection.h
Due: clang-tidy, clang-format

add check iterator_category
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix trait consistency
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

fix consistency, add macro to indicate checks that may need updating docs, add more checks
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add missing `max_size` implementation, add collection methods and aliases to `UserDataCollection`
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: clang-tidy, clang-format

add placeholders for LegacyOutputIterator
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add singularity iterators check
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

check Erasable, fix consistency, add links to reference
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

updated adaptors
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add iterator concepts table, move iterator concepts to separate test
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

reorder sections, fix consistency and typos
  doc/collections_as_container.md
Due: none

add comments, reorganize test sections
  doc/collections_as_container.md
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

add adaptors table, algorithms table
  doc/collections_as_container.md
Due: none

Add basic tests for collection compliance with container named requirement
  tests/unittests/CMakeLists.txt
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
