Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, pylint, flake8, cppcheck, clang-tidy

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8 --config=.flake8
  language: system

cppcheck:
  name: cppcheck
  entry: cppcheck --project=build/compile_commands.json --enable=all --std=c++20 --cppcheck-build-dir=build --config-exclude="build/src/" --suppressions-list=.cppcheck-suppressions.txt -i "build/_deps/*" --error-exitcode=1 --check-level=exhaustive -j 4
  language: system
  ...

clang-tidy:
  name: clang-tidy
  entry: .github/scripts/clang-tidy-hook
  language: system

Remove unused and unimplemented constructor
  python/templates/Collection.h.jinja2
Due: none

Mark Link constructor with weight explicit
  include/podio/detail/Link.h
Due: clang-format, cppcheck, clang-tidy

Add a tagged ranges constructor to the LinkCollection
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add tagged constructor to UserDataCollection
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Fix typo in docstring
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

Use presets and update build commands in top level README
  README.md
Due: none

Add first version of LinkNavigator python utility
  python/podio/__init__.py
  python/podio/link_navigator.py
  python/podio/test_LinkNavigator.py
Due: pylint, flake8

Add CMake presets and start to use them in CI (#905)
  .github/workflows/edm4eic.yml
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-docs.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  .github/workflows/ubuntu.yml
  CMakePresets.json
  README.md
Due: none

Make UserDataCollections constructible from an input range
  include/podio/UserDataCollection.h
  include/podio/utilities/TypeHelpers.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add tagged constructor for generated collections
  python/templates/Collection.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add range construction to LinkCollection
  include/podio/detail/LinkCollectionImpl.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Simplify the to_vector polyfill to work with c++23 and c++20
  include/podio/UserDataCollection.h
  include/podio/utilities/TypeHelpers.h
Due: clang-format, cppcheck, clang-tidy

Add short documentation
  doc/examples.md
Due: none

Add range constructor to generated collections
  python/templates/Collection.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Make from implementation more generic
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
Due: clang-format, cppcheck, clang-tidy

Add clarification warning about potential usage issues
  doc/examples.md
Due: none

Make it possible to construct collections from ranges of handles (#923)
  doc/examples.md
  include/podio/UserDataCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  include/podio/utilities/TypeHelpers.h
  python/templates/Collection.h.jinja2
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add compatibility with fmtlib formatting for collections
  CMakeLists.txt
  cmake/podioConfig.cmake.in
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.h.jinja2
  src/CMakeLists.txt
  tests/unittests/links.cpp
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for ObjectID
  include/podio/ObjectID.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmtlib compatibility for Links
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for generated objects
  python/templates/MutableObject.h.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for generated components
  python/templates/Component.h.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt compatibility for interface types
  python/templates/Interface.h.jinja2
  tests/unittests/interface_types.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt support for LinkCollections
  include/podio/detail/LinkCollectionImpl.h
Due: clang-format, cppcheck, clang-tidy

Add fmt support for Version
  podioVersion.in.h
  tools/src/podio-dump-tool.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt support for Links
  include/podio/detail/Link.h
  tests/unittests/links.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt support for ObjectId
  include/podio/ObjectID.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Make UserDataCollection formattable as range
  include/podio/UserDataCollection.h
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Ensure Links and LinkCollections remain formattable
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
Due: clang-format, cppcheck, clang-tidy

Add proper fmt support for user facing handles
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/unittests/unittest.cpp
Due: clang-format, cppcheck, clang-tidy

Add fmt support for collections
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/macros/collections.jinja2
Due: none

Implement CollectionBase::print in terms of format
  include/podio/UserDataCollection.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.cc.jinja2
Due: clang-format, cppcheck, clang-tidy

Implement GenericParamters::print in terms of format
  src/GenericParameters.cc
Due: clang-format, cppcheck, clang-tidy

Remove unnecessary template parameter specification
  include/podio/ObjectID.h
  include/podio/UserDataCollection.h
  include/podio/detail/Link.h
  include/podio/detail/LinkCollectionImpl.h
  podioVersion.in.h
  python/templates/Collection.cc.jinja2
  python/templates/Object.cc.jinja2
Due: clang-format, cppcheck, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
