Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Add basic building blocks for versioning
  .gitignore
  CMakeLists.txt
  podioVersion.h
  podioVersion.in.h
  tests/unittest.cpp
Due: clang-tidy

Make SIO write the build_version
  include/podio/SIOBlock.h
  src/SIOBlock.cc
Due: clang-tidy

Add documentation
  podioVersion.in.h
Due: clang-tidy

Get input files for legacy tests via wget
  tests/CMakeLists.txt
  tests/get_test_inputs.sh
  tests/read-legacy-files.cpp
Due: clang-tidy

Make read tests version dependent
  tests/read_and_write.cpp
  tests/read_and_write_sio.cpp
  tests/read_test.h
Due: clang-tidy

add test to read a legacy root file
  tests/CMakeLists.txt
  tests/read-legacy-files.cpp
Due: clang-tidy

Add a bit of preprocessor functionality
  podioVersion.in.h
  tests/unittest.cpp
Due: clang-tidy

Ignore new test (#256)
  tests/CTestCustom.cmake
Due: none

add inline namespace for datamodel versioning
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/Data.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/SIOBlock.cc.jinja2
  python/templates/SIOBlock.h.jinja2
  python/templates/macros/utils.jinja2
  python/templates/selection.xml.jinja2
  tests/datalayout.yaml
Due: pylint, flake8

make schema_version visible to ROOT and I/O
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/selection.xml.jinja2
Due: pylint, flake8

add macro to control versions
  podioVersion.h
Due: none

Remove compatible function again
  podioVersion.in.h
  tests/unittest.cpp
Due: clang-tidy

Add build version and utilities to work with it (#238)
  .gitignore
  CMakeLists.txt
  include/podio/IReader.h
  include/podio/ROOTReader.h
  include/podio/SIOBlock.h
  include/podio/SIOReader.h
  include/podio/TimedReader.h
  podioVersion.h
  podioVersion.in.h
  src/CMakeLists.txt
  src/ROOTReader.cc
  src/ROOTWriter.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/selection.xml
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/get_test_inputs.sh
  tests/read-legacy-files.cpp
  tests/read.cpp
  tests/read_and_write.cpp
  tests/read_and_write_sio.cpp
  tests/read_sio.cpp
  tests/read_test.h
  tests/unittest.cpp
Due: clang-tidy

regex based on file name, not complete path
  python/CMakeLists.txt
Due: none

regex based on file name, not complete path (#259)
  python/CMakeLists.txt
Due: none

Make fixed width integer type arrays pass the validation
  python/generator_utils.py
  python/test_MemberParser.py
  tests/datalayout.yaml
Due: pylint, flake8

Make fixed width integer type arrays pass the validation (#261)
  python/generator_utils.py
  python/test_MemberParser.py
  tests/datalayout.yaml
Due: pylint, flake8

Release Notes for v00-14-01
  doc/ReleaseNotes.md
Due: none

Updating version to v00-14-01
  CMakeLists.txt
Due: none

CI: update compilers for dev builds
  .github/workflows/test.yml
Due: none

CI: update compilers for dev builds (#265)
  .github/workflows/test.yml
Due: none

Remove python workflow as this is covered by pre-commit now
  .github/workflows/python.yml
Due: none

Add pylint rcfile and setup.cfg from ilcdirac
  .github/scripts/pylint.rc
  .pre-commit-config.yaml
  setup.cfg
Due: none

Fixes for new pylint config
  .github/scripts/pylint.rc
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_ClassDefinitionValidator.py
  python/test_EventStore.py
  python/test_MemberParser.py
  tests/read.py
Due: pylint, flake8

Fix trailing whitespace
  README.md
  cmake/podioBuild.cmake
  doc/contributing.md
  doc/design.md
  doc/doc.md
  doc/userdata.md
  include/podio/ASCIIWriter.h
  include/podio/GenericParameters.h
  include/podio/IMetaDataProvider.h
  include/podio/PythonEventStore.h
  setup.cfg
  src/ASCIIWriter.cc
  src/EventStore.cc
  src/GenericParameters.cc
  tests/read_and_write.cpp
  tests/read_and_write_associated.cpp
  tests/relation_range.cpp
  tests/unittest.cpp
  tests/write_ascii.cpp
Due: clang-tidy

Remove unused podio_create_package script
  python/podio_create_package.py
Due: pylint, flake8

Add pre-commit workflow running using lcg-view installation
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Allow test_*.py as module name for unittests and ignore ROOT imports
  .github/scripts/pylint.rc
Due: none

Remove no longer necessary pylint rc file
  .github/scripts/podio.pylint.py3k.rc
  .pre-commit-config.yaml
Due: none

Remove --py3k option from pylint checker
  .pre-commit-config.yaml
Due: none

Remove duplicated printing of component members
  python/templates/macros/implementations.jinja2
  tests/datalayout.yaml
Due: none

Remove duplicated printing of component members (#270)
  python/templates/macros/implementations.jinja2
  tests/datalayout.yaml
Due: none

Apply clang-tidy
  include/podio/ASCIIWriter.h
  include/podio/BenchmarkRecorder.h
  include/podio/BenchmarkUtil.h
  include/podio/CollectionBase.h
  include/podio/CollectionBranches.h
  include/podio/CollectionBuffers.h
  include/podio/CollectionIDTable.h
  include/podio/EventStore.h
  include/podio/GenericParameters.h
  include/podio/ICollectionProvider.h
  include/podio/IMetaDataProvider.h
  include/podio/IReader.h
  include/podio/ObjBase.h
  include/podio/ObjectID.h
  include/podio/PythonEventStore.h
  include/podio/ROOTReader.h
  include/podio/ROOTWriter.h
  include/podio/SIOBlock.h
  include/podio/SIOBlockUserData.h
  include/podio/SIOReader.h
  include/podio/SIOWriter.h
  include/podio/TimedReader.h
  include/podio/TimedWriter.h
  include/podio/UserDataCollection.h
  podioVersion.in.h
  src/EventStore.cc
  src/GenericParameters.cc
  src/ROOTReader.cc
  src/SIOBlock.cc
  src/SIOReader.cc
  src/SIOWriter.cc
  src/rootUtils.h
  tests/read-legacy-files.cpp
  tests/read_and_write.cpp
  tests/read_and_write_associated.cpp
  tests/read_and_write_sio.cpp
  tests/read_test.h
  tests/relation_range.cpp
  tests/unittest.cpp
  tests/write_test.h
Due: clang-tidy

Fix unneeded-internal-declaration warning from clang
  include/podio/SIOBlockUserData.h
Due: clang-tidy

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/*.(h|cc)|podioVersion.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
