Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

clang-tidy:
  name: clang-tidy
  entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
  language: system

clang-format:
  name: clang-format
  entry: .github/scripts/clang-format-hook
  language: system

pylint:
  name: pylint
  entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Make retrieval of parameters more robust in Frame python bindings
  python/podio/frame.py
Due: pylint, flake8

Make retrieval of parameters more robust in Frame python bindings (#422)
  python/podio/frame.py
Due: pylint, flake8

Introduce version subdirectory for legacy tests
  tests/CMakeLists.txt
  tests/scripts/get_test_inputs.sh
Due: none

Introduce macro to cleanup CMakeLists slightly
  tests/CMakeLists.txt
Due: none

Rename executable and add more legacy versions for testing
  tests/CMakeLists.txt
  tests/read-legacy-files-root.cpp
  tests/scripts/get_test_inputs.sh
Due: clang-tidy, clang-format

Fix reading of v00-16 files and adapt tests to expected contents
  src/ROOTFrameReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  tests/read_frame.h
  tests/read_frame_auxiliary.h
Due: clang-tidy, clang-format

Don't check build versions in legacy files
  tests/read_frame.h
  tests/read_frame_root.cpp
Due: clang-tidy, clang-format

Make sure to properly configure CTestCustom.cmake
  tests/CMakeLists.txt
Due: none

Add legacy file reading test to ignore list for sanitizer builds
  tests/CTestCustom.cmake
Due: none

Add frame reading tests for legacy files
  tests/CMakeLists.txt
  tests/read_frame_root.cpp
Due: clang-tidy, clang-format

Rename frame reading test
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read_frame_root.cpp
Due: clang-tidy, clang-format

wip: change std::vector to std::pmr::vector
  include/podio/CollectionBuffers.h
  include/podio/UserDataCollection.h
  python/templates/CollectionData.h.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

wip: change std::vector to std::pmr::vector
  include/podio/CollectionBuffers.h
  include/podio/RelationRange.h
  python/templates/Collection.cc.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: clang-tidy, clang-format

Add more tests for legacy files (#423)
  src/ROOTFrameReader.cc
  src/ROOTReader.cc
  src/rootUtils.h
  tests/CMakeLists.txt
  tests/CTestCustom.cmake
  tests/read-legacy-files-root.cpp
  tests/read_frame.cpp
  tests/read_frame.h
  tests/read_frame_auxiliary.h
  tests/read_frame_root.cpp
  tests/scripts/get_test_inputs.sh
Due: clang-tidy, clang-format

Write branches with proper names in ROOTFrameWriter
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  include/podio/DatamodelRegistry.h
  include/podio/UserDataCollection.h
  python/podio_class_generator.py
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/DatamodelRegistry.cc
  src/ROOTFrameWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format, pylint, flake8

Make sure that the names are populated when they are used
  python/templates/DatamodelDefinition.h.jinja2
Due: none

Fix legacy reading
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Make sure that the EDM always is in the registry
  python/templates/DatamodelDefinition.h.jinja2
Due: none

Make it possible to read index based files as well
  include/podio/CollectionBranches.h
  src/ROOTFrameReader.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Add RelationNames and code gen to populate it
  include/podio/CollectionBase.h
  include/podio/CollectionBuffers.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
Due: clang-tidy, clang-format

Make the Frame reader use the registry to get branch names
  src/DatamodelRegistry.cc
  src/ROOTFrameReader.cc
Due: clang-tidy, clang-format

Make relation branch names start with an underscore
  src/rootUtils.h
Due: clang-tidy, clang-format

Manually increase patch to make if clause work properly
  CMakeLists.txt
Due: none

Make branch names for relations more legible for ROOT based I/O (#405)
  CMakeLists.txt
  include/podio/CollectionBase.h
  include/podio/CollectionBranches.h
  include/podio/CollectionBuffers.h
  include/podio/DatamodelRegistry.h
  python/podio_class_generator.py
  python/templates/Collection.h.jinja2
  python/templates/DatamodelDefinition.h.jinja2
  src/DatamodelRegistry.cc
  src/ROOTFrameReader.cc
  src/ROOTFrameWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format, pylint, flake8

Move functionality to rootUtils.h
  src/ROOTFrameWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

Sort the branches alphabetically when writing Frames
  src/ROOTFrameWriter.cc
Due: clang-tidy, clang-format

Sort the branches alphabetically when writing Frames (#421)
  src/ROOTFrameWriter.cc
  src/rootUtils.h
Due: clang-tidy, clang-format

move collectionID from mix of int/unsigned to consistent uint64_t
  include/podio/CollectionBase.h
  include/podio/CollectionIDTable.h
  include/podio/EventStore.h
  include/podio/Frame.h
  include/podio/ICollectionProvider.h
  include/podio/IMetaDataProvider.h
  include/podio/ObjectID.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/UserDataCollection.h
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/implementations.jinja2
  src/CollectionIDTable.cc
  src/EventStore.cc
  src/rootUtils.h
  src/selection.xml
Due: clang-tidy, clang-format

[clang-tidy] Fix warnings in MurmurHash3
  src/MurmurHash3.cpp
  src/MurmurHash3.h
Due: clang-tidy, clang-format

fix fallthrough warnings
  src/MurmurHash3.cpp
Due: clang-tidy, clang-format

include clang-format
  src/MurmurHash2.cpp
  src/MurmurHash2.h
Due: clang-tidy, clang-format

add hashing feature to CollectionID table
  src/CMakeLists.txt
  src/CollectionIDTable.cc
  src/MurmurHash2.cpp
  src/MurmurHash2.h
Due: clang-tidy, clang-format

fix fallthrough warnings
  src/MurmurHash2.cpp
Due: clang-tidy, clang-format

Change SIO parts back to 32 bits
  include/podio/SIOBlock.h
  src/sioUtils.h
Due: clang-tidy, clang-format

fix murmurhash fallthrough; remove colllectionID optimizations assuming non-hashing
  include/podio/EventStore.h
  src/EventStore.cc
  src/MurmurHash2.cpp
Due: clang-tidy, clang-format

use 32 bit hash; use murmurhash3
  include/podio/CollectionBase.h
  include/podio/CollectionIDTable.h
  include/podio/EventStore.h
  include/podio/Frame.h
  include/podio/ICollectionProvider.h
  include/podio/IMetaDataProvider.h
  include/podio/ObjectID.h
  include/podio/ROOTFrameWriter.h
  include/podio/ROOTLegacyReader.h
  include/podio/ROOTReader.h
  include/podio/UserDataCollection.h
  python/templates/Collection.h.jinja2
  python/templates/CollectionData.cc.jinja2
  python/templates/CollectionData.h.jinja2
  src/CMakeLists.txt
  src/CollectionIDTable.cc
  src/EventStore.cc
  src/MurmurHash2.cpp
  src/MurmurHash3.cpp
  src/MurmurHash3.h
  src/rootUtils.h
Due: clang-tidy, clang-format

Ignore tests in UB sanitizer runs
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Make dictionary genertion go back to 32 bit IDs
  src/selection.xml
Due: none

[clang-format] Format MurmurHash3 after fallthrough fixes
  src/MurmurHash3.cpp
Due: clang-tidy, clang-format

Add standalone executable for collision detection
  src/CMakeLists.txt
  src/test_hashes.cpp
Due: clang-tidy, clang-format

Path conditions:
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
  pylint: any of: \.py$
  flake8: any of: \.py$
