Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*' -p compile_commands.json
        types: [c++]
        exclude: (tests/(datamodel|src)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system

[backport] hotfix for https://github.com/AIDASoft/podio/issues/290 (#307) (#309)
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Updating version to v00-14-03
  CMakeLists.txt
Due: none

Release Notes for v00-14-03
  doc/ReleaseNotes.md
Due: none

Make prepareForWrite thread safe and mark it as const (#295)
  include/podio/CollectionBase.h
  include/podio/UserDataCollection.h
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  tests/CMakeLists.txt
  tests/unittest.cpp
Due: clang-tidy, clang-format

Fix a few smaller issues flagged by newer versions of clang-tidy (#299)
  include/podio/CollectionBase.h
  src/SIOBlock.cc
Due: clang-tidy, clang-format

changed readme file
  python/podio_class_generator.py
Due: pylint, flake8

Pylint configuration fixes for newer versions of pylint (#300)
  .github/scripts/pylint.rc
  python/EventStore.py
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/test_EventStore.py
Due: pylint, flake8

Release Notes for v00-14-02
  doc/ReleaseNotes.md
Due: none

adding cpp type parsing functionality to generator_utils
  python/generator_utils.py
  python/podio_class_generator.py
  python/templates/Collection.jl.jinja2
  python/templates/CollectionData.jl.jinja2
  python/templates/MutableObject.jl.jinja2
  python/templates/Obj.jl.jinja2
  python/templates/Object.jl.jinja2
Due: pylint, flake8

Make SIO collection id writing independent of EventStore (#294)
  include/podio/SIOBlock.h
  src/SIOBlock.cc
  src/SIOReader.cc
  src/SIOWriter.cc
Due: clang-tidy, clang-format

Default initialize array (#303)
  python/templates/macros/collections.jinja2
Due: none

Fetch the Catch2 3.0.1 release now that it is available (#304)
  tests/CMakeLists.txt
Due: none

Add option to toggle the formatting via clang-format in the generator cmake macro (#282)
  cmake/podioMacros.cmake
Due: none

Make sure vector member buffers point to the correct place even if a collection has been moved (#286)
  python/templates/CollectionData.cc.jinja2
  tests/unittest.cpp
Due: clang-tidy, clang-format

Updating version to v00-14-02
  CMakeLists.txt
Due: none

hotfix for https://github.com/AIDASoft/podio/issues/290 (#307)
  include/podio/ROOTReader.h
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Add std::string deprecation warning and make sure warnings are printed (#305)
  python/podio_class_generator.py
  python/podio_config_reader.py
Due: pylint, flake8

fixing problem whitespaces and removing jl loading from class generator
  python/generator_utils.py
  python/podio_class_generator.py
Due: pylint, flake8

update parse_julia_type to get_julia_type
  python/generator_utils.py
Due: pylint, flake8

small_Change
  python/generator_utils.py
Due: pylint, flake8

fixing precommit-pylint
  python/generator_utils.py
Due: pylint, flake8

adding tests with minor changes to generator_utils
  python/generator_utils.py
  python/templates/Collection.jl.jinja2
  python/templates/CollectionData.jl.jinja2
  python/templates/MutableObject.jl.jinja2
  python/templates/Obj.jl.jinja2
  python/templates/Object.jl.jinja2
  python/test_MemberParser.py
Due: pylint, flake8

fixing GlobalType test and updating generator_utils
  python/generator_utils.py
  python/test_MemberParser.py
Due: pylint, flake8

Parsing Julia types from c++ types in yaml description (#310)
  python/generator_utils.py
  python/podio_class_generator.py
  python/test_MemberParser.py
Due: pylint, flake8

adding pre-processing/"include" logic for julia
  python/generator_utils.py
  python/podio_class_generator.py
Due: pylint, flake8

fix linting error
  python/podio_class_generator.py
Due: pylint, flake8

Adding template, Reading template, writing Julia file
  python/podio_class_generator.py
  python/templates/Julia.jl.jinja2
Due: pylint, flake8

minor fixes module for julia preprocessing
  python/podio_class_generator.py
  python/templates/Julia.jl.jinja2
  python/templates/MutableStruct.jl.jinja2
Due: pylint, flake8

Add basic support for converting EDMs to JSON
  python/templates/Collection.cc.jinja2
  python/templates/Collection.h.jinja2
  python/templates/Component.h.jinja2
  python/templates/MutableObject.cc.jinja2
  python/templates/MutableObject.h.jinja2
  python/templates/Object.cc.jinja2
  python/templates/Object.h.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  tests/CMakeLists.txt
Due: none

Add tests for JSON output
  tests/unittest.cpp
Due: clang-tidy, clang-format

Avoid unnecessary copy (flagged by CI)
  python/templates/macros/implementations.jinja2
Due: none

Only add JSON support if library is compatible
  tests/CMakeLists.txt
Due: none

Remove std::string from the list of builtin types
  python/generator_utils.py
Due: pylint, flake8

Make ROOTReader not crash on missing dictionary entries
  src/ROOTReader.cc
Due: clang-tidy, clang-format

Remove generator code that dealt with std::string members
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/SIOBlock.cc.jinja2
Due: pylint, flake8

Remove ExampleWithString datatype and make tests compile again
  tests/datalayout.yaml
  tests/read_test.h
  tests/write_ascii.cpp
  tests/write_test.h
Due: clang-tidy, clang-format

Remove the macOS CI workflow because they will no longer work
  .github/workflows/mac.yml
Due: none

Make flag behave as intuition suggests
  python/podio_class_generator.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
Due: pylint, flake8

Remove no longer necessary warnings
  python/podio_class_generator.py
  python/podio_config_reader.py
Due: pylint, flake8

Remove support for having std::string members in datatypes and components (#276)
  python/generator_utils.py
  python/podio_class_generator.py
  python/podio_config_reader.py
  python/templates/SIOBlock.cc.jinja2
  src/ROOTReader.cc
  tests/datalayout.yaml
  tests/read_test.h
  tests/write_ascii.cpp
  tests/write_test.h
Due: clang-tidy, clang-format, pylint, flake8
