Repository AIDASoft/podio: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, clang-format, pylint, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: (doc/ReleaseNotes.md)
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy -warnings-as-errors='*,-clang-diagnostic-deprecated-declarations' -p compile_commands.json --extra-arg=-I$(realpath $(dirname $(which sio-dump))/../include)
        types: [c++]
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)|podioVersion.in.h)
        language: system
      - id: clang-format
        name: clang-format
        entry: .github/scripts/clang-format-hook
        exclude: (tests/(datamodel|src|extra_code)/.*(h|cc)$|podioVersion.in.h)
        types: [c++]
        language: system
      - id: pylint
        name: pylint
        entry: 'pylint --rcfile=.github/scripts/pylint.rc --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"'
        types: [python]
        language: system
      - id: flake8
        name: flake8
        entry: 'flake8 --config=.flake8'
        types: [python]
        language: system
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

Keep RNTuple API compatibility down to ROOT v6.34 (#757)
  .github/workflows/edm4hep.yaml
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  .github/workflows/sanitizers.yaml
  .github/workflows/test.yml
  CMakeLists.txt
  include/podio/RNTupleReader.h
  include/podio/RNTupleWriter.h
  src/RNTupleReader.cc
  src/RNTupleWriter.cc
Due: clang-tidy, clang-format

Re-enable RNTuple support for ROOT 6.32
  CMakeLists.txt
Due: none

Enable CI with RNTuple support for Key4hep again
  .github/workflows/key4hep.yml
Due: none

Re-enable RNTuple support for pre-commit
  .github/workflows/pre-commit.yml
Due: none

Re-enable RNTuple support for ROOT 6.32 (#768)
  .github/workflows/key4hep.yml
  .github/workflows/pre-commit.yml
  CMakeLists.txt
Due: none

Update the sanitizers workflows to use ccache and only run once per ref
  .github/workflows/sanitizers.yaml
Due: none

Update the sanitizers workflows to use ccache and only run once per ref (#769)
  .github/workflows/sanitizers.yaml
Due: none

Make sure to use ccache for compilation
  .github/workflows/sanitizers.yaml
Due: none

Remove double locking in `prepareForWrite`
  python/templates/Collection.cc.jinja2
Due: none

Remove the double locking also in LinkCollectionImpl.h
  include/podio/detail/LinkCollectionImpl.h
Due: clang-tidy, clang-format

Set the PODIO_SET_RPATH option to True by default
  CMakeLists.txt
Due: none

Remove double locking in `prepareForWrite` (#771)
  include/podio/detail/LinkCollectionImpl.h
  python/templates/Collection.cc.jinja2
Due: clang-tidy, clang-format

Add const when possible for function arguments
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  python/templates/CollectionData.cc.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format

Update doc/templates.md
  doc/templates.md
Due: none

Pass by const reference in the object constructor and member setters
  python/podio_gen/generator_utils.py
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
Due: pylint, flake8

Update signature and documentation
  doc/templates.md
  python/podio_gen/generator_utils.py
Due: pylint, flake8

Pass by const reference in the object constructor and member setters (#767)
  doc/templates.md
  include/podio/detail/LinkCollectionData.h
  include/podio/detail/LinkCollectionImpl.h
  python/podio_gen/generator_utils.py
  python/templates/CollectionData.cc.jinja2
  python/templates/Obj.cc.jinja2
  python/templates/Obj.h.jinja2
  python/templates/macros/collections.jinja2
  python/templates/macros/declarations.jinja2
  python/templates/macros/implementations.jinja2
  src/UserDataCollection.cc
Due: clang-tidy, clang-format, pylint, flake8

Update documentation for master
  master/searchindex.js
  master/templates.html
Due: none

Remove unnecessary checks of cpp standard
  tests/unittests/CMakeLists.txt
Due: none

Remove unnecessary checks of cpp standard (#774)
  tests/unittests/CMakeLists.txt
Due: none

Remove unnecessary changes entirely
  .github/workflows/key4hep.yml
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Make tests compatible with gcc11
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Skip failing test instead of working around it
  tests/unittests/CMakeLists.txt
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Chose a string_view constructor that works with gcc11
  .github/workflows/key4hep.yml
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Properly guard against clang pretending to be gcc
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Remove unnecessary tag
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Version check has to be done at compile time
  tests/unittests/CMakeLists.txt
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Document failure for gcc11 properly
  tests/unittests/std_interoperability.cpp
Due: clang-tidy, clang-format

Move string splitting into separate function
  include/podio/utilities/MiscHelpers.h
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Use an LCG release for checking gcc11 compatibility
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
Due: none

Bring back DL_PATHS to avoid problems with test discovery
  tests/unittests/CMakeLists.txt
Due: none

Switch back to Key4hep release for checking gcc11 compat
  .github/workflows/key4hep.yml
  .github/workflows/ubuntu.yml
Due: none

Use RPATH to fix dynamic linking issues
  .github/workflows/key4hep.yml
  tests/unittests/CMakeLists.txt
Due: none

Mention reason for workflow
  .github/workflows/key4hep.yml
Due: none

Restore compatibility with gcc 11 (#773)
  .github/workflows/key4hep.yml
  include/podio/utilities/MiscHelpers.h
  tests/unittests/CMakeLists.txt
  tests/unittests/std_interoperability.cpp
  tools/src/podio-dump-tool.cpp
Due: clang-tidy, clang-format

Update documentation for master
  master/cpp_api/file/_misc_helpers_8h.html
  master/cpp_api/filelist.html
  master/cpp_api/namespace/namespacepodio.html
  master/cpp_api/namespace/namespacepodio_1_1utils.html
  master/cpp_api/namespacelist.html
  master/genindex.html
  master/objects.inv
  master/searchindex.js
Due: none

Add a workaround for avoiding opening every library in LD_LIBRARY_PATH
  python/templates/Object.h.jinja2
Due: none

Ignore more warnings for clang
  python/templates/Object.h.jinja2
Due: none

Rename NOTICE to LICENSE
  CMakeLists.txt
  LICENSE
Due: none
